@model VMPersonALLInformation
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <a class="word-export" href="#" id="cvSave">CV OLUŞTUR</a>

    <div id="page-content" data-selector="page-content">


<table class="MsoTableGrid" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:none;mso-border-insidev:none">
            <tbody>
                <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
                    <td width="302" valign="top" style="width:226.55pt;padding:0cm 5.4pt 0cm 5.4pt">
                        <p style="tab-stops:10.8pt 21.3pt">
                            <strong>
                                <span style="font-size:11.0pt;font-family:&quot;Arial&quot;,sans-serif">@(Model.firstname != null ? Model.firstname : "") @(Model.lastname != null ? Model.lastname : "")<span style="mso-tab-count:1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span>
</strong>
</p>
</td>
<td width="302" valign="top" style="width:226.55pt;padding:0cm 5.4pt 0cm 5.4pt">
    <p align="right" style="text-align:right;tab-stops:10.8pt 21.3pt">
        <span style="mso-no-proof:yes">
            <img width="129" height="143" src="@(Model.ProfilePhoto != null ? Model.ProfilePhoto : "/Content/Themes/img/unknown.jpg")" v:shapes="Resim_x0020_1"><!--[endif]-->
        </span><strong><span style="font-size:11.0pt;font-family:&quot;Arial&quot;,sans-serif"><o:p></o:p></span></strong>
    </p>
</td>
</tr>
</tbody>
</table>

<h2 style="tab-stops: 0cm right dotted 453.55pt; background: #E6E6E6; margin: 24.0pt 0cm 18.0pt 0cm;"><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">KİŞİSEL BİLGİLER </span></strong></h2>
<p><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">Uyruk&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;"> TC </span></p>
<p><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">Doğum Tarihi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;"> @(Model.birthday.HasValue ? Model.birthday.Value.ToString("dd.MM.yyyy") : "") </span></p>
<p><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">Doğum Yeri&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;"> @(Model.PersonInformation == null ? "" : Model.PersonInformation.IDBornTownLocation != null ? Model.PersonInformation.IDBornTownLocation : "" )  </span></p>
<p><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">Askerlik Durumu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;"> @(Model.PersonInformation == null ? "" : Model.PersonInformation.Military_Title != null ? Model.PersonInformation.Military_Title : "") </span></p>
<p><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">Cep Tel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;"> @(Model.cellphone != null ? Model.cellphone : "") </span></p>
<p><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">Mail&nbsp;Adresi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;"> @(Model.email != null ? Model.email : "") </span></p>
<p><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">Adres&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;"> @(Model.address != null ? Model.address : "") </span></p>
<h2 style="tab-stops: 0cm right dotted 453.55pt; background: #E6E6E6; margin: 24.0pt 0cm 18.0pt 0cm;"><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">EĞİTİM BİLGİLERİ </span></strong></h2>
@for (int i = 0; i < Model.PersonSchools.Count(); i++)
            {
    <p>
        <span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">
            @(Model.PersonSchools[i].StartDate.HasValue ? Model.PersonSchools[i].StartDate.Value.Year : DateTime.Now.Year) - @(Model.PersonSchools[i].EndDate.HasValue ? Model.PersonSchools[i].EndDate.Value.Year : DateTime.Now.Year) @(Model.PersonSchools[i].School_Title != null ? Model.PersonSchools[i].School_Title : "") - @(Model.PersonSchools[i].Branch != null ? Model.PersonSchools[i].Branch : "")
        </span>
    </p>
}
<h2 style="tab-stops: 0cm right dotted 453.55pt; background: #E6E6E6; margin: 24.0pt 0cm 18.0pt 0cm;"><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">İŞ TECR&Uuml;BESİ </span></strong></h2>
@for (int i = 0; i < Model.PersonWorkExperience.Count(); i++)
            {
    <p>
        <strong>
            <span style="font-size: 12.0pt; font-family: 'Arial',sans-serif;">
                @(Model.PersonWorkExperience[i].CompanyName != null ? Model.PersonWorkExperience[i].CompanyName : "")
            </span>
        </strong>
    </p>
            <p>
                <span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">
                    @(Model.PersonWorkExperience[i].JobStartDate.HasValue ? Model.PersonWorkExperience[i].JobStartDate.Value.ToString("dd.MM.yyyy") : "") @(Model.PersonWorkExperience[i].JobEndDate.HasValue ?  Model.PersonWorkExperience[i].JobEndDate.Value.ToString("dd.MM.yyyy") : "Devam" )   @(Model.PersonWorkExperience[i].WorkingPosition != null ? Model.PersonWorkExperience[i].WorkingPosition : "")
                </span>
            </p>

                <p>
                    <span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: black;">
                        &nbsp;
                    </span>
                </p>

                <p>
                    <span style="font-size: 11.0pt; font-family: 'Arial',sans-serif; color: black;">
                        @(Model.PersonWorkExperience[i].JobDescription != null ? Model.PersonWorkExperience[i].JobDescription : "")
                    </span>
                </p>
}
<h2 style="tab-stops: 0cm right dotted 453.55pt; background: #E6E6E6; margin: 24.0pt 0cm 18.0pt 0cm;"><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">BİLGİSAYAR BİLGİLERİ </span></strong></h2>
@for (int i = 0; i < Model.PersonCompetencies.Count(); i++)
            {
    <p>
        <span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">@(Model.PersonCompetencies[i].Competencies_Title != null ? Model.PersonCompetencies[i].Competencies_Title : "") @(Model.PersonCompetencies[i].CompetenciesLevel_Title != null ? "(" + Model.PersonCompetencies[i].CompetenciesLevel_Title + ")" : "" )</span>
    </p>
}
<h2 style="tab-stops: right dotted 453.55pt; background: #E6E6E6; margin: 24.0pt 0cm 18.0pt 0cm;"><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">YABANCI DİL </span></strong></h2>
@for (int i = 0; i < Model.PersonLanguages.Count(); i++)
            {
    <p style="margin-top: 3.0pt; tab-stops: 87.1pt;">
        <span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">
            @(Model.PersonLanguages[i].Languages_Title != null ? Model.PersonLanguages[i].Languages_Title : "" ) @(Model.PersonLanguages[i].Speak_Title != null ? "(" + Model.PersonLanguages[i].Speak_Title + ")" : "")
        </span>
    </p>
}
<h2 style="tab-stops: right dotted 453.55pt; background: #E6E6E6; margin: 24.0pt 0cm 18.0pt 0cm;"><strong><span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">EĞİTİM VE SERTİFİKALAR </span></strong></h2>
@for (int i = 0; i < Model.PersonCertificate.Count(); i++)
            {
    <p style="margin-top: 3.0pt; tab-stops: 87.1pt;">
        <span style="font-size: 11.0pt; font-family: 'Arial',sans-serif;">@(Model.PersonCertificate[i].CertificateType_Title != null ? Model.PersonCertificate[i].CertificateType_Title : "")</span>
    </p>
}
</div>


<script src="~/Content/Custom/wordjs/jquery.js"></script>
<script src="~/Content/Custom/wordjs/FileSaver.js"></script>
<script src="~/Content/Custom/js/wordexport.js"></script>
<script type="text/javascript">
    $(document).ready(function ($) {
        $("a.word-export").click(function (event) {
            $("#page-content").wordExport('@Model.firstname' + " " + '@Model.lastname');
        });

        $('#cvSave').trigger('click');
        window.setTimeout(function(){
            window.close();
        },50)
    });
</script>

</body>
</html>