@using Infoline.WorkOfTime.BusinessAccess
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infoline - WorkOfTime | @ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@TenantConfig.Tenant.Favicon">
    <link href="/Content/Themes/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/Content/Themes/css/style.css" rel="stylesheet">
    <link href="~/Content/2048-master/css/2048.css" rel="stylesheet" />
    @RenderSection("Css", false)
    <style type="text/css">
        .middle-box h1 {
            font-size: 120px;
        }

        * {
            padding: 0;
            margin: 0;
        }

        .middle-box {
            padding-top: 0px !important;
            text-align: center;
            margin-bottom: 60px;
            max-width: 460px !important;
        }

            .middle-box .btn {
                padding: 10px;
                text-decoration: none;
                margin: 5px;
            }

        .error-desc {
            height: 70px;
            overflow: auto;
            margin-bottom: 20px;
            margin-top: 15px;
        }

        .dialog-fail {
            line-height: 30px;
            margin: 140px auto;
        }

        .fail {
            font-size: 16px;
        }

        .yazi {
            font-size: 18px;
            text-align: justify;
        }

        .img-stil {
            width: 100px;
            float: left;
            margin-right: 16px;
        }
    </style>

</head>

<body class="gray-bg">
    @RenderBody()
    <header class="m-t-lg" style="display:none;">
        <a href="javascript:newgame()" id="newgame">YENİDEN BAŞLA</a>
        <p style="display:none;">SKOR:<span id="score">0</span></p>
    </header>
    <div id="grid-container">
        <div class="grid-cell" id="grid-cell-0-0"></div>
        <div class="grid-cell" id="grid-cell-0-1"></div>
        <div class="grid-cell" id="grid-cell-0-2"></div>
        <div class="grid-cell" id="grid-cell-0-3"></div>

        <div class="grid-cell" id="grid-cell-1-0"></div>
        <div class="grid-cell" id="grid-cell-1-1"></div>
        <div class="grid-cell" id="grid-cell-1-2"></div>
        <div class="grid-cell" id="grid-cell-1-3"></div>

        <div class="grid-cell" id="grid-cell-2-0"></div>
        <div class="grid-cell" id="grid-cell-2-1"></div>
        <div class="grid-cell" id="grid-cell-2-2"></div>
        <div class="grid-cell" id="grid-cell-2-3"></div>

        <div class="grid-cell" id="grid-cell-3-0"></div>
        <div class="grid-cell" id="grid-cell-3-1"></div>
        <div class="grid-cell" id="grid-cell-3-2"></div>
        <div class="grid-cell" id="grid-cell-3-3"></div>
        <div class="dialog-success">
            <div class="success">Tamamladığınız için tebrikler 2048</div>
            <div><a href="javascript:again()" id="newgame">Yeniden</a></div>
            <div><a href="javascript:conti()" id="continue">Meydan okumaya devam et</a></div>
        </div>
        <div class="dialog-fail">
            <div class="fail">Üzgünüm başarısız oldun. Şimdi çalışma zamanı</div>
            <div><a href="javascript:again()" id="newgame">YENİDEN BAŞLA</a></div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="middle-box text-center animated fadeInDown yazi">
            <b> NASIL OYNANIR:</b> Döşemeleri hareket ettirmek için <img class="img-stil" src="~/Content/Custom/img/arrow-all.png" />
            kullanabilirsiniz. Aynı numaraya sahip iki kutucuğa bir kez dokunduğunuzda, bir kutuya birleşir ve sayı 2'ye katlanır!
        </div>
    </div>

    <script src="/Content/Themes/js/jquery-2.1.1.js"></script>
    <script src="/Content/Themes/js/bootstrap.min.js"></script>
    <script src="~/Content/2048-master/js/main2048.js"></script>
    <script src="~/Content/2048-master/js/showanimation2048.js"></script>
    <script src="~/Content/2048-master/js/support2048.js"></script>


    @RenderSection("Javascript", false)


</body>
</html>
