@{
	ViewBag.Title = "Avans Talepleri";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var userStatus = (PageSecurity)Session["userStatus"];
	var userId = userStatus.user.id;

	var query = "(confirmationUserIds~contains~'" + userId + "'))~and~";
	query += "((confirmationStatus~eq~'" + (Int16)EnumPA_AdvanceConfirmationStatus.Onay + "')~or~";
	query += "(confirmationStatus~eq~'" + System.UIHelper.Int32.Null + "'))";
}

<script type="text/javascript" data-selector="modalContainer">
    $(document)
        .on("selected:grid", "#VWPA_Advance", function (e, res) {
            $('[data-id="approve"]').removeClass("hide");

            if (res.direction == '@((int)EnumPA_AdvanceDirection.Cikis)' || res.direction == '2') {
                $('[data-id="approve"]').addClass("hide");
            }

            var grid = $('#VWPA_Advance').data("kendoGrid");
            var _selectedRows = $.Enumerable.From(grid.select().map(function (i, elem) { return grid.dataItem(elem)["id"]; }).toArray()).GroupBy(a => a).Select(a => a.Key());
            $('[data-selector="approveData"]')
                .attr("data-href", "/PA/VWPA_Advance/AllApprovalAdvance?ids=" + _selectedRows.ToArray().join(","));
        })


        .on("load:grid", "#VWPA_Advance", function (e, data) {
            var grid = $("#VWPA_Advance").data("kendoGrid");
            var _selectedRows = $.Enumerable.From(grid.select().map(function (i, elem) { return grid.dataItem(elem)["id"]; }).toArray()).GroupBy(a => a).Select(a => a.Key()).ToArray().join(",");
            var filter = grid.dataSource.transport.parameterMap({ filter: grid.dataSource.filter() }).filter;

            $('[data-selector="approveData"]')
                .attr("data-href", "/PA/VWPA_Advance/AllApprovalAdvance?filter=" + filter + "&ids=" + _selectedRows);
        })
</script>

<div class="row">
	<div class="col-md-2">
		<div class="ibox ">
			<div class="ibox-content mailbox-content">
				<div class="file-manager">
					<div class="space-25"></div>
					<h5>DURUMA GÖRE</h5>
					<ul class="folder-list m-b-md" style="padding: 0">
                        <li class="clearfix">
                            <a href="#" data-grid="VWPA_Advance" data-switch="radio" data-category="1" data-query="((direction~eq~@((int)EnumPA_AdvanceDirection.Talep))~and~(@query))">
                                <i class="fa fa-spinner text-warning"></i>  Onay Bekleyenler
                                <span data-counturl="/PA/VWPA_Advance/DataSourceCount?filter=((direction~eq~@((int)EnumPA_AdvanceDirection.Talep))~and~(@query))" class="badge badge-warning pull-right">0</span>
                            </a>
                            <a href="#" data-grid="VWPA_Advance" data-switch="radio" data-category="1" data-query="((confirmUserIds~contains~'@userId.ToString()')~or~((direction~eq~@((int)EnumPA_AdvanceDirection.Cikis))~and~(@query)))">
                                <i class="fa fa-check text-primary"></i>  Onaylananlar
                                <span data-counturl="/PA/VWPA_Advance/DataSourceCount?filter=((confirmUserIds~contains~'@userId.ToString()')~or~((direction~eq~@((int)EnumPA_AdvanceDirection.Cikis))~and~(@query)))" class="badge badge-primary pull-right">0</span>
                            </a>

                            <a href="#" data-grid="VWPA_Advance" data-switch="radio" data-category="1" data-query="((direction~eq~3)~and~(@query))">
                                <i class="fa fa-refresh text-warning"></i>  Düzeltme Bekleyenler
                                <span data-counturl="/PA/VWPA_Advance/DataSourceCount?filter=((direction~eq~3)~and~(@query))" class="badge badge-warning pull-right">0</span>
                            </a>

                            <a href="#" data-grid="VWPA_Advance" data-switch="radio" data-category="1" data-query="((rejectedUserIds~contains~'@userId.ToString()')~or~((direction~eq~2)~and~(@query)))">
                                <i class="fa fa-times text-danger"></i>  Reddedilenler
                                <span data-counturl="/PA/VWPA_Advance/DataSourceCount?filter=((rejectedUserIds~contains~'@userId.ToString()')~or~((direction~eq~2)~and~(@query)))" class="badge badge-danger pull-right">0</span>
                            </a>
                        </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-10">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Avans Talepleri Listesi</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content no-padding">

				@(Html.Akilli()
                        .Grid<Infoline.WorkOfTime.BusinessData.VWPA_Advance>("VWPA_Advance")
                        .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWPA_Advance", new { area = "PA" }))
                        .Filter(a => a.confirmationUserIds.Contains(userStatus.user.id.ToString()) && a.rejectedUserIds == System.UIHelper.String.Null && a.hasReject != 1 &&
                        (a.confirmationStatus == (Int16)EnumPA_AdvanceConfirmationStatus.Onay || a.confirmationStatus == System.UIHelper.Int32.Null)
                        )
                        .PageSize(25))
                        .Columns(x =>
                        {
                            x.Bound(y => y.id).GridSelector(GridSelectorType.Checkbox).ClientTemplate("#=TemplateEngine('VWPA_AdvanceExpense',data)#").Width(600);
                            x.Bound(y => y.createdby_Title).Title("Talep Eden").Width(150).Hidden(false);
                            x.Bound(y => y.type_Title).Title("İşlem Tipi").Hidden(false).Width(130);
                            x.Bound(y => y.amount).Title("Miktar").Hidden(false).Width(130);
                            x.Bound(y => y.currencyId_Title).Title("Para Birimi").Hidden(false).Width(130);
                            x.Bound(y => y.created).Title("Talep Tarihi").Hidden(false).Width(130).Format(Extensions.DateFormatShort(false));
                            x.Bound(y => y.progressDate).Title("Avans Tarihi").Hidden(false).Width(130).Format(Extensions.DateFormatShort(true));
                            x.Bound(y => y.description).Title("Açıklama").Hidden(false).Width(130);
                        })
                        .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                        .Scrollable(s => s.Height(650))
                        .ToolBar(x =>
                        {
                            x.Custom().Text("<i data-original-title='Avans Onayla-Reddet' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-id", "approve" }, { "data-default", "" }, { "data-method", "GET" } }).Url(Url.Action("UpdateExpense", "VWPA_Advance", new { area = "PA" }));
                            x.Custom().Text("<i data-original-title='Avans Detayı' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-id", "detail" } }).Url(Url.Action("Detail", "VWPA_Advance", new { area = "PA" }));


                            x.Custom().Text("<i data-original-title='Tümünü Onayla' class='fa fa-check'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-selector", "approveData" }, { "data-ask", "Avansları onaylamak istiyor musunuz?" } }).Url(Url.Action("AllApprovalAdvance", "VWPA_Advance", new { area = "PA" }));
                        }))
			</div>
		</div>
	</div>
</div>

