@model Infoline.WorkOfTime.BusinessData.VWPA_Account
@{
    var title = Model.type == (int)EnumPA_AccountType.Banka ? "Banka" : "Kasa";
    ViewBag.Title = title + " Hesabını Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" data-selector="modalContainer">

    var accountModel = @(Html.Raw(Infoline.Helper.Json.Serialize(Model)));

    $(document)
        .on('change', '[name="type"]', function (e) {
            var value = $('[name="type"]:checked').val();

            if (value == "@((int)EnumPA_AccountType.Banka)") {
                $('[for="iban"]').addClass("req");
                $("#iban").attr('required', 'required');
                $("#bankType").slideDown();
            }
            else if (value == "@((int)EnumPA_AccountType.Kasa)") {
                $("#bankType").slideUp();
                $('[for="iban"]').removeClass("req");
                $("#iban").removeAttr('required');
            }

            $('form').validator("validate");
        })

    function currencyDataBound(e) {

        if (accountModel.isDefault == true) {
            $('[for="isDefault_1"]').trigger("click");
        } else {
            $('[for="isDefault_0"]').trigger("click");
        }

        if (accountModel.status == true) {
            $('[for="status_1"]').trigger("click");
        } else {
            $('[for="status_0"]').trigger("click");
        }

        $('[name="type"]').trigger("change");
    }

</script>

@using (Html.BeginForm("Update", "VWPA_Account", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.dataId)
    @Html.HiddenFor(model => model.dataTable)

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="name">Hesap Kodu</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.code, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Hesap Kodu giriniz.."}
            }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="name">Hesap Adı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.name, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Hesap Adı giriniz.."}
            }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="priority">Hesap Tipi</label>
        </div>
        <div class="col-md-8">
            @(Html.Akilli().RadioButtonGroupFor(a => a.type).Value(EnumPA_AccountType.Kasa))
        </div>
    </div>

    <div id="bankType" style="display:none;">

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="bankId">Banka</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.bankId)
                    .OptionLabel("Lütfen Banka seçiniz..")
                    .DataTextField("name")
                    .DataValueField("id")
                    .Action(b => b.Action("DataSourceDropDown", "VWUT_Bank", new { area = "UT" }))
                    .Sort(x => x.Add("name").Ascending())
                    .Execute()
                )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="iban">IBAN</label>
            </div>
            <div class="col-md-8">

                @Html.TextBoxFor(model => model.iban, new Dictionary<string, object>()
                {
                    {"class", "form-control"},
                    {"placeholder", "Lütfen IBAN giriniz.."}
                }).Validate(Validations.Text09Space(true, 0, 26))
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="currencyId">Döviz Tipi</label>
        </div>
        <div class="col-md-8">
            @(
                Html.Akilli()
                .DropDownListFor(model => model.currencyId)
                .OptionLabel("Lütfen Döviz Tipi seçiniz..")
                .DataTextField("name")
                .DataValueField("id")
                .Readonly(true)
                .Action(b => b.Action("DataSourceDropDown", "UT_Currency", new { area = "UT" }))
                .Events(a => { a.DataBound("currencyDataBound"); })
                .Sort(x => x.Add("name").Ascending())
                .Validate(Validations.Required)
                .Execute()
            )
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-8">
                    <label class="control-label label-md req">Hesap Durumu</label>
                </div>
                <div class="col-md-4">
                    <div class="radio akilliRadioGrup clearfix">
                        <input checked="" id="status_1" name="status" type="radio" value="true">
                        <label for="status_1" tabindex="0" class="radio-label">
                            Aktif
                        </label>
                        <input id="status_0" name="status" type="radio" value="false">
                        <label for="status_0" tabindex="0" class="radio-label">
                            Pasif
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label col-md-6 label-md req">Varsayılan Hesap Mı?</label>
                <div class="col-md-6">

                    <div class="radio akilliRadioGrup clearfix">
                        <input checked="" id="isDefault_1" name="isDefault" type="radio" value="1">
                        <label for="isDefault_1" tabindex="0" class="radio-label">
                            Evet
                        </label>
                        <input id="isDefault_0" name="isDefault" type="radio" value="0">
                        <label for="isDefault_0" tabindex="0" class="radio-label">
                            Hayır
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}
