@model Infoline.WorkOfTime.BusinessData.VWINV_PermitSummary
@{
    ViewBag.Title = "Kayıt Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="PermitYearlyDeserved">PermitYearlyDeserved</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.PermitYearlyDeserved, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="PermitYearlyUsed">PermitYearlyUsed</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.PermitYearlyUsed, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="PermitExcuseDeserved">PermitExcuseDeserved</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.PermitExcuseDeserved, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="PermitExcuseUsed">PermitExcuseUsed</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.PermitExcuseUsed, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Name">Name</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Name, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="IsPaidPermit">IsPaidPermit</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.IsPaidPermit, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="PaidPermitDay">PaidPermitDay</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.PaidPermitDay, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="CanHourly">CanHourly</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.CanHourly, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Descriptions">Descriptions</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Descriptions, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="BeDocumented">BeDocumented</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.BeDocumented, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="RequestStaff">RequestStaff</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.RequestStaff, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ViewStaff">ViewStaff</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ViewStaff, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="IsPaidPermit_Title">IsPaidPermit_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.IsPaidPermit_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="CanHourly_Title">CanHourly_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.CanHourly_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="BeDocumented_Title">BeDocumented_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.BeDocumented_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="userId_Title">userId_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.userId_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="companyId_Title">companyId_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.companyId_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="departmentId_Title">departmentId_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.departmentId_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="permitTypeId">permitTypeId</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.permitTypeId, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="employeeJobStartDate">employeeJobStartDate</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.employeeJobStartDate, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="employeeDateOfBirth">employeeDateOfBirth</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.employeeDateOfBirth, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="employeeStatus">employeeStatus</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.employeeStatus, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Type_Title">Type_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Type_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Status_Title">Status_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Status_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
