@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("yellow").Text("Örnek Veri Başlığı").Value("0 Adet").IconClass("fa fa-home")
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("navy").Text("Örnek Veri Başlığı").Value("0 Adet").IconClass("fa fa-home")
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("blue").Text("Örnek Veri Başlığı").Value("0 Adet").IconClass("fa fa-home")
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("red").Text("Örnek Veri Başlığı").Value("0 Adet ").IconClass("fa fa-home")
    </div>
</div>


@(Html.Akilli()
    .Grid<Infoline.WorkOfTime.BusinessData.VWPRD_CompanyBasedPrice>("VWPRD_CompanyBasedPrice")
    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWPRD_CompanyBasedPrice", new { area = "PRD" })).PageSize(25))
    .Columns(x =>
    {
        x.Bound(y => y.id).GridSelector(GridSelectorType.Checkbox);
        x.Bound(y => y.isSingle).Title("isSingle").Width(180);
        x.Bound(y => y.toFilterSpecified).Title("toFilterSpecified").Width(180);
        x.Bound(y => y.minAmount).Title("minAmount").Width(180);
        x.Bound(y => y.isPrice).Title("isPrice").Width(180);
        x.Bound(y => y.installmentAmount).Title("installmentAmount").Width(180);
        x.Bound(y => y.price).Title("price").Width(180);
        x.Bound(y => y.discount).Title("discount").Width(180);
        x.Bound(y => y.createdby_Title).Title("createdby_Title").Width(180);
        x.Bound(y => y.changedby_Title).Title("changedby_Title").Width(180);
        x.Bound(y => y.productId_Title).Title("productId_Title").Width(180);
        x.Bound(y => y.companyId_Title).Title("companyId_Title").Width(180);
        x.Bound(y => y.sellingType).Title("sellingType").Width(180);
    })
    .Selectable(x => x.Mode(GridSelectionMode.Multiple))
    .ToolBar(x =>
    {
        x.Custom().Text("Ekle").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("Insert", "VWPRD_CompanyBasedPrice", new { area = "PRD" }));
        x.Custom().Text("Düzenle").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWPRD_CompanyBasedPrice", new { area = "PRD" }));
        x.Custom().Text("Detay").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWPRD_CompanyBasedPrice", new { area = "PRD" }));
        x.Custom().Text("Sil").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWPRD_CompanyBasedPrice", new { area = "PRD" }));
    }))
