@model Infoline.WorkOfTime.BusinessData.VWSH_PersonLanguages
@{
    ViewBag.Title = "Personel Yabancı Dil Bilgisi Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="User_Title">Personel</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.User_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Languages_Title">Konuştuğu Dil</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Languages_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Reads_Title">Okuma</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Reads_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Write_Title">Yazma</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Write_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Speak_Title">Konuşma</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Speak_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
