@model Infoline.WorkOfTime.WebProject.Areas.HR.Models.VMDetailPlanPersonAndPds
@{
    ViewBag.Title = "Değerlendirme Detayı (" + Model.HR_Person.Name + " " + Model.HR_Person.SurName +")";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}


<style type="text/css" data-selector="modalContainer">
    group + group {
        margin-top: 20px;
    }

    group input {
        cursor: pointer;
    }

    .inline-radio {
        display: flex;
        border-radius: 3px;
        overflow: hidden;
        border: 1px solid #b6b6b6;
    }

        .inline-radio div {
            position: relative;
            flex: 1;
        }

        .inline-radio input {
            width: 100%;
            height: 30px;
            opacity: 0;
        }

        .inline-radio label {
            position: absolute;
            top: 0;
            left: 0;
            color: #b6b6b6;
            width: 100%;
            height: 100%;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            border-right: 1px solid #b6b6b6;
        }

        .inline-radio div:last-child label {
            border-right: 0;
        }

        .inline-radio input:checked + label {
            font-weight: 500;
            color: #fff;
        }

        .inline-radio div:nth-child(5) input:checked + label {
            background: #007900;
        }

        .inline-radio div:nth-child(4) input:checked + label {
            background: #FFC200;
        }

        .inline-radio div:nth-child(3) input:checked + label {
            background: #FF6A00;
        }

        .inline-radio div:nth-child(2) input:checked + label {
            background: #FF2C2C;
        }

        .inline-radio div:nth-child(1) input:checked + label {
            background: #84002F;
        }

        .inline-radio div:nth-child(6) input:checked + label {
            background: #000;
        }

    #questionContent textarea {
        min-height: 60px !important;
    }
</style>
<script type="text/javascript" data-selector="modalContainer">
        $(':radio:not(:checked)').attr('disabled', true);
</script>

<div class="form-horizontal" data-selector="modalContainer">
    <fieldset>
        <legend>DEĞERLENDİRMELER</legend>
        @if (Model.HR_Plan.PdsEvulateFormResultId != null)
        {
            foreach (var itemOut in Model.questions.GroupBy(x => x.groupName))
            {
                <fieldset>
                    <legend>@itemOut.Key</legend>

                    <div id="questionContent">
                        @foreach (var item in Model.questions.Where(x => x.groupName == itemOut.Key).ToArray())
                        {
                            <div class="form-group" data-content="questDiv">
                                <div class="col-md-6">
                                    <div class="">
                                        <label class="control-label label-md"> @Model.questions[i].question  </label>

                                    </div>
                                    <div class="" style="text-align:center;">
                                        <group class="inline-radio" data-x="'+ elm.factor +'" data-name="radioGroup" data-question="@Model.questions[i].question" data-qFormId="@Model.questions[i].id">
                                            <div><input name="questionResult[@i].score" value="1" @(Model.questionResult[i].score == 1 ? "checked" : "") type="radio" readonly><label>Çok Kötü</label></div>
                                            <div><input name="questionResult[@i].score" value="2" @(Model.questionResult[i].score == 2 ? "checked" : "") type="radio" readonly><label>Kötü</label></div>
                                            <div><input name="questionResult[@i].score" value="3" @(Model.questionResult[i].score == 3 ? "checked" : "") type="radio" readonly><label>Orta</label></div>
                                            <div><input name="questionResult[@i].score" value="4" @(Model.questionResult[i].score == 4 ? "checked" : "") type="radio" readonly><label>İyi</label></div>
                                            <div><input name="questionResult[@i].score" value="5" @(Model.questionResult[i].score == 5 ? "checked" : "") type="radio" readonly><label>Çok İyi</label></div>
                                            <div><input name="questionResult[@i].score" value="0" @(Model.questionResult[i].score == 0 ? "checked" : "") type="radio" readonly><label>D. Dışı</label></div>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <label class="label-md">Varsa Yorumunuz</label>
                                    <textarea data-name="comment" style="width:100%;" name="questionResult[@i].comment" readonly>@(Model.questionResult[i].comment)</textarea>
                                </div>
                            </div>
                            i++;
                        }
                    </div>
                </fieldset>
            }
        }
        else
        {
            <div class="alert alert-warning text-center m-t-sm m-b-sm" style="text-align: center;padding:10px;">
                <strong> DEĞERLENDİRME BULUNAMADI. </strong>
            </div>
        }
    </fieldset>

        <div class="buttons">
            <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        </div>
</div>
