@{
    ViewBag.Title = "Prim Hakediş Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="ibox">
        <div class="ibox-content clearfix">
            <div class="col-sm-6">
                <label>Cari Seçiniz</label>
                @(
		Html.Akilli()
		.DropDownList("companyId")
		.OptionLabel("Lütfen Firma Cari seçiniz..")
		.DataValueField("id")
		.DataTextField("fullName")
		.Template("#=TemplateEngine('companyTemplate',data)#")
		.Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
		.Sort(x => x.Add("fullName").Ascending())
		.Validate(Validations.Required)
		.Execute()
            )
            </div>
            <div class="col-sm-2">
                <label>Ay Seçiniz</label>
                @(
               Html.Akilli()
             .DropDownList("month")
               .OptionLabel("Ay Seçiniz..")
               .DataValueField("id")
               .DataTextField("title")
               .Action(b => b.Action("GetMonths", "General", new { area = "" }))
               .Validate(Validations.Required)
               .Value(DateTime.Now.Month.ToString())
               .Execute()
             )
            </div>
            <div class="col-sm-2">
                <label>Yıl Seçiniz</label>
                @(
               Html.Akilli()
             .DropDownList("year")
               .OptionLabel("Lütfen Yıl Seçiniz..")
               .DataValueField("id")
               .DataTextField("title")
               .Action(b => b.Action("GetYears", "General", new { area = "" }))
               .Validate(Validations.Required)
               .Value(DateTime.Now.Year.ToString())
               .Execute()
             )
            </div>
            <div class="col-sm-2">
                <button onclick="page.load()" id="queryButton" style="margin-bottom:10px;width:100%" class="btn btn-primary btn-large">Sorgula</button><br />
                <a href="#" style="width:100%" data-task="Insert" data-import="Excel" data-modal="true" title="Excel'den İşletme Ekle" class="btn btn-info btn-block" data-gridRefresh="VWSH_User"
                   data-properties="@ExcelHelper.GetSchema(typeof(PRD_EntegrationImportExcel))" data-post="@Url.Action("Import","VWPRD_EntegrationImport", new { area = "PRD" })">
                    <i class="fa fa-file-excel-o"></i> Excel'den Ham Veri Ekle
                </a>

            </div>
        </div>
    </div>
</div>

<div class="ibox" id="info"  >
    <div class="alert alert-warning text-center m-t-sm m-b-sm" style="text-align: center;padding:10px;">
        Bilgilendirme : <strong> Yukarıdan verileri seçerek sorgula butonuna basınız... </strong>
    </div>
</div>


<div class="row" id="boxes" style="display:none">
    <div class="col-sm-3">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-mobile-phone fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Beyan Edilen Toplam Cihaz Sayısı </span><br>
                    <h2 id="total" class="font-bold">0</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="widget style1 blue-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-mobile-phone fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Aktif Edilmiş Toplam Cihaz Sayısı</span><br>
                    <h2 id="titan" class="font-bold">0</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-mobile-phone fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Distribütör Tarafından Onaylanmış Cihaz Sayısı </span><br>
                    <h2 id="dist" class="font-bold">0</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-mobile-phone fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span> Envanterde Karşılığı Olan Cihaz Sayısı</span><br>
                    <h2 id="env" class="font-bold">0</h2>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-sm-12 mb-10">
        <div id="reportGrid"></div>
    </div>
    <div class="col-sm-12" style="margin-top:10px">
        <div id="totalGrid"></div>
    </div>
</div>

<script>
    var page = {
        qButton: $("queryButton"),
        load: function () {
           
            var companyId = $("#companyId").data("kendoDropDownList").dataItem();
            var month = $("#month").data("kendoDropDownList").dataItem();
            var year = $("#year").data("kendoDropDownList").dataItem();
            var validate = page.inputValidate(companyId, month, year);
            if (validate.length > 0) {
                return;
            }
            GetJsonDataFromUrl("/PRD/VWPRD_EntegrationImport/ClaimReportDataSource", { companyId: companyId.id, year: year.id, month: month.id }, function (data) {
                if (data.Result != undefined && !data.Result) {
                    if (data.Object == "0") {
                        swal("Böyle bir cari yoktur", "", "warning");
                        return;
                    }
                    if (data.Object == "1") {
                        swal("", "Cariye veya distribütöre atanmış seçilen ay ve yıla ait prim tanımı yoktur.", "warning");
                        return;
                    }
                    if (data.Object == "2") {
                        swal("Cariye ait her hangi bir veri yoktur.", "", "warning");
                        return;
                    }
                    debugger
                    if (data.Object == "3") {
                        swal(" Ürüne ait prim tanımı yoktur", data.FeedBack.message, "warning");
                        return;
                      
                    }
                }

                if (data.grid == null) {
                    swal("Veri yok!", "", "warning");
                    return;
                }
                if (data.total == null) {
                    swal("Veri yok!", "", "warning");
                    return;
                }
                $("#info").hide();
                $("#boxes").show();
                var grid = $("#reportGrid").data("kendoGrid");
                if (grid != undefined) {
                    grid.destroy();
                }
                var gridTotal = $("#reportGridTotal").data("kendoGrid");
                if (gridTotal != undefined) {
                    gridTotal.destroy();
                }
                var cols = [
                    { field: 'productName', title: 'Ürün Adı', width: 250 },
                    { field: 'serialNo', title: 'Seri Numarası ', width: 150, format: '{0:N0}' },
                    {
                        field: 'distControl', width: 60, attributes: { class: "text-center" }, title: 'Distribütör Tarafından Eşleşiyor mu ?', template: function (dataItem) {
                            if (dataItem.distControl) {
                                return '<span class="text-center"><i class="fa fa-check fa-2x text-primary" ><i/></span>';
                            }
                            return '<span class="text-center"><i class="fa fa-times text-danger fa-2x" ><i/></span>';
                        }
                    },
                    {
                        field: 'activationControl', width: 60, attributes: { class: "text-center" }, title: 'Cihaz Aktive Edilmiş Mi?', template: function (dataItem) {
                            if (dataItem.activationControl) {
                                return '<span class="text-center"><i class="fa fa-check fa-2x text-primary" ><i/></span>';
                            }
                            return '<span class="text-center"><i class="fa fa-times text-danger fa-2x" ><i/></span>';
                        }
                    },
                    {
                        field: 'inventoryControl', width: 60, attributes: { class: "text-center" }, title: 'Envanterde Karşılığı Var mı?', template: function (dataItem) {
                            if (dataItem.inventoryControl) {
                                return '<span class="text-center"><i class="fa fa-check fa-2x text-primary" ><i/></span>';
                            }
                            return '<span class="text-center"><i class="fa fa-times fa-2x text-danger" ><i/></span>';
                        }
                    },
                ];
                var totalCols = [
                    { field: 'bountyProduct', title: 'Ürün Adı', width: 250 },
                    {
                        field: 'bountyAmount', title: 'Prim Tutarı', width: 150, format: '{0:N0}', template: function (item) {
                            return item.bountyAmount + " ₺";
                        }
                    },
                    {
                        field: 'totalCount', title: 'Beyan Edilen Satış Miktarı', width: 150, format: '{0:N0}', template: function (item) {
                            return item.totalCount + " Adet";
                        }
                    },
                    {
                        field: 'totalAmount', title: 'Beyana Göre Toplam Tutar', width: 150, format: '{0:N0}', template: function (item) {
                            return item.totalAmount + "₺";
                        }
                    },
                    { field: 'distCount', title: 'Distribütör Tarafından Onaylanan Miktar', width: 150, format: '{0:N0}' },
                    {
                        field: 'distAmount', title: 'Distribütör Tarafından Onaylanan Toplam Tutar', width: 150, format: '{0:N0}', template: function (item) {
                            return item.distAmount + "₺";
                        }
                    },
                    { field: 'titanCount', title: 'Aktifleştirilmeye  Satış Miktarı', width: 150, format: '{0:N0}' },
                    {
                        field: 'titanAmount', title: 'Aktifleştirilmeye Göre Toplam Tutar', width: 150, format: '{0:N0}', template: function (item) {
                            return item.titanAmount + "₺";
                        }
                    },

                ];
                $("#reportGrid").kendoGrid({
                    toolbar: [{ name: "excel", text: "" }],
                    excel: {
                        fileName: "Kullanilan_Urunler.xlsx"
                    },
                    dataSource: data.grid,
                    pageSize: 100,
                    height: 540,
                    sortable: true,
                    resizable: true,
                    selectable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: cols
                });
                var grid = $("#reportGrid").data("kendoGrid");
                grid.dataSource.page(1);
                $("#totalGrid").kendoGrid({
                    toolbar: [{ name: "excel", text: "" }],
                    excel: {
                        fileName: "Kullanilan_Urunler.xlsx"
                    },
                    dataSource: data.total,
                    pageSize: 100,
                    height: 540,
                    sortable: true,
                    resizable: true,
                    selectable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: totalCols
                });
                var totalG = $("#totalGrid").data("kendoGrid");
                totalG.dataSource.page(1);

                $("#total").text(data.counts.total);
                $("#titan").text(data.counts.titan);
                $("#dist").text(data.counts.dist);
                $("#env").text(data.counts.env);
            });
        },
        inputValidate: function (companyId, month, year) {
            var errorList = [];
            if (companyId == undefined || companyId.id == '') {
                errorList.push("Cari Boş Olamaz");
            }
            if (month == undefined || month.id == '') {
                errorList.push("Ay Boş Olamaz");
            }
            if (year == undefined || year.id == '') {
                errorList.push("Yıl Boş Olamaz");
            }
            if (errorList.length > 0) {
                swal("Boş Alanlar Var", errorList.join("\n"), "warning");
            }
            return errorList;
        }

    }
</script>
