@model Infoline.WorkOfTime.BusinessData.VWPRD_EntegrationImport
@{
    ViewBag.Title = "Kayıt Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="customerName">customerName</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.customerName, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="customerCode">customerCode</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.customerCode, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="productModel">productModel</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.productModel, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="distributorName">distributorName</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.distributorName, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="distributorConfirmationDate">distributorConfirmationDate</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.distributorConfirmationDate, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="imei">imei</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.imei, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="customerType">customerType</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.customerType, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="contractStartDate">contractStartDate</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.contractStartDate, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="contractEndDate">contractEndDate</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.contractEndDate, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="contractCode">contractCode</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.contractCode, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="productGroup">productGroup</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.productGroup, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="sellingChannelType">sellingChannelType</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.sellingChannelType, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="distributorCode">distributorCode</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.distributorCode, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="sellingQuantity">sellingQuantity</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.sellingQuantity, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="month">month</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.month, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="year">year</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.year, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="createdby_Title">createdby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.createdby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="changedby_Title">changedby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.changedby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
