@model Infoline.WorkOfTime.BusinessAccess.VMCMP_CompanyModel
@{
    ViewBag.Title = "Firma&Cari Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" data-selector="modalContainer">

    $(document)
        .on("change", "#openAddressLocationId", function (e, resp) {
            var dropdown = $("#openAddressLocationId").data("kendoDropDownList");
            var value = dropdown.dataItem(dropdown.selectedIndex);
            if (value.pid_Title && value.pid_Title != "") {
                $("#openAddress").val(value.pid_Title);
            }
        })

        .on("change", "#invoiceAddressLocationId", function (e, resp) {
            var dropdown = $("#invoiceAddressLocationId").data("kendoDropDownList");
            var value = dropdown.dataItem(dropdown.selectedIndex);
            if (value.pid_Title && value.pid_Title != "" && $("#invoiceAddress").val() == "") {
                $("#invoiceAddress").val(value.pid_Title);
            }
        })

        .on("change", "#location", function () {
            var location = $(this).val();
            if (location != "") {
                GetJsonDataFromUrl("/General/GetVWUT_LocationByLocationInterSect", { location: location }, function (resp) {
                    if (resp != null) {
                        DropDownSetValue($("#openAddressLocationId").data("kendoDropDownList"), resp.id);
                        DropDownSetValue($("#invoiceAddressLocationId").data("kendoDropDownList"), resp.id);
                        $("#openAddress").val(resp.pid_Title);
                        $("#invoiceAddress").val(resp.pid_Title);
                    }
                });
            }
        })

</script>


@using (Html.BeginForm("Insert", "VWCMP_Company", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "id", "VWCMP_CompanyInsertForm"},
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.type)
    @Html.HiddenFor(model => model.pid)
    @Html.HiddenFor(model => model.hasRelation)
    <input type="hidden" name="id" value="@Model.id" />

    <div class="panel-group" id="accordionCompany" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordionCompany" href="#generalInfo" aria-expanded="true" aria-controls="collapseOne">
                        <i class="text-success icon-info-4"></i> Genel Bilgileri
                    </a>
                </h4>
            </div>
            <div id="generalInfo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md req" for="code">Kodu</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.code, new Dictionary<string, object>()
                             {
                                 {"class", "form-control"},
                                 {"placeholder", "Lütfen İşletme Kodunu Giriniz.."}
                             }).Validate(Validations.TextEverywhere(true))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md req" for="name">İsmi</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.name, new Dictionary<string, object>()
                             {
                                 {"class", "form-control"},
                                 {"placeholder", "Lütfen İşletme İsmini Giriniz.."}
                             }).Validate(Validations.TextEverywhere(true, 0, 150))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="sector">Sektör Bilgisi</label>
                        </div>
                        <div class="col-md-8">
                            @if (TenantConfig.Tenant.TenantCode == 1174 || TenantConfig.Tenant.TenantCode == 1187)
                            {
                                @(
                                Html.Akilli().
                                MultiSelect("sector").
                                Placeholder("Lütfen Sektör Seçiniz..").
                                DataTextField("fullname").
                                DataValueField("id").
                                BasicInsert(Url.Action("Insert", "VWUT_Sector", new { area = "UT"}), "name", true).
                                Action(b => b.Action("DataSourceDropDown", "VWUT_Sector", new { area = "UT" })).
                                Execute("id")
                            )
                            }
                            else
                            {
                                @(
                                Html.Akilli().
                                MultiSelect("sector").
                                Placeholder("Lütfen Sektör Seçiniz..").
                                DataTextField("fullname").
                                DataValueField("id").
                                BasicInsert(Url.Action("Insert", "VWUT_Sector", new { area = "UT"}), "name", true).
                                Action(b => b.Action("DataSourceDropDown", "VWUT_Sector", new { area = "UT" })).
                                Filter<VWUT_Sector>(a => a.generation > 1).
                                Execute("id")
                            )
                            }

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="location">Konum</label>
                        </div>
                        <div class="col-md-8">
                            @(
                                Html.Akilli().MapInputFor(a => a.location).
                                HelpText("Lütfen Lokasyon Seçiniz.").
                                HtmlAttributes(new Dictionary<string, object>()
                                {
                                    {"class", "form-control"},
                                    {"placeholder", "Lütfen Lokasyon Giriniz.."}
                                }).
                                Opened(false).
                                ZoomLevel(5).
                                Navigation(false).
                                Searchable(true)
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="İşletme Türü">Cari Durumu</label>
                        </div>
                        <div class="col-md-8">
                            @(Html.Akilli().RadioButtonGroupFor(a => a.isActive).Value(EnumCMP_CompanyIsActive.Aktif))
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="CMP_Types">Cari Tipi</label>
                        </div>
                        <div class="col-md-8">
                            @(Html.Akilli()
                                         .MultiSelect("CMP_TypeIds")
                                         .Placeholder("Lütfen Cari Tipi Seçiniz..")
                                         .DataTextField("typeName")
                                         .DataValueField("id")
                                         .Action(b => b.Action("DataSourceDropDown", "CMP_Types", new { area = "CMP" }))
                                         .Sort(x => x.Add("typeName").Ascending())
                                         .BasicInsert(Url.Action("Insert", "CMP_Types", new { area = "CMP" }), "typeName")
                                         .Execute("id")
                                    )
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md">Logo</label>
                        </div>
                        <div class="col-md-8">
                            @(
                                Html.Akilli().FileUpload()
                                .DataTable("CMP_Company")
                                .DataId(Model.id)
                                .DataKey(x => x.fileGroup == "İşletme Logosu").PreviewMode(false)
                            )
                        </div>
                    </div>

                    @if (TenantConfig.Tenant.TenantCode == 1133)
                    {
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label label-md" for="description">Açıklama</label>
                            </div>
                            <div class="col-md-8">
                                @Html.TextAreaFor(a => a.description, new Dictionary<string, object>()
                                {
                                    {"class", "form-control"},
                                    {"placeholder", "Lütfen Açıklama Giriniz." }
                                }).Validate(Validations.TextTurkceSpace09(false, 0, 1000))
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionCompany" href="#contactInfo" aria-expanded="false">
                        <i class="text-success icon-map-signs"></i> İletişim Bilgileri
                    </a>
                </h4>
            </div>
            <div id="contactInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="Email">Email</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.email, new Dictionary<string, object>()
                             {
                                 {"class", "form-control"},
                                 {"placeholder", "Lütfen Email Giriniz.."}
                             }).Validate(Validations.EMail(false))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="Telefon">Telefon</label>
                        </div>
                        <div class="col-md-8">
                            @(Html.Kendo().MaskedTextBoxFor(a => a.phone).HtmlAttributes(new Dictionary<string, object>()
                             {
                                 { "style", "width: 100%"},
                                 {"class", "form-control"},
                                 {"placeholder", "Lütfen Telefon Giriniz."},
                             })
                             .Mask("0 (000) 000 00 00")
                             .UnmaskOnPost(true)
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="Faks">Faks</label>
                        </div>
                        <div class="col-md-8">
                            @(Html.Kendo().MaskedTextBoxFor(a => a.fax).HtmlAttributes(new Dictionary<string, object>()
                             {
                                 { "style", "width: 100%"},
                                 {"class", "form-control"},
                                 {"placeholder", "Lütfen Faks Giriniz."},
                             })
                             .Mask("0 (000) 000 00 00")
                             .UnmaskOnPost(true)
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="mersisNo">Mersis No</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.mersisNo, new Dictionary<string, object>()
                             {
                                 {"class", "form-control"},
                                 {"placeholder", "Lütfen Mersis No Giriniz.."}
                             }).Validate(Validations.Number(false, 16, 16, "Geçerli Bir İşletme Mersis Numarısı Giriniz(16 Rakamdan Oluşur)."))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="Lokasyon (İletişim)">Ülke,İl,İlçe</label>
                        </div>
                        <div class="col-md-8">
                            @(
                                Html.Akilli()
                                .DropDownListFor(model => model.openAddressLocationId)
                                .OptionLabel("Lütfen Ülke,İl,İlçe Seçiniz..")
                                .DataTextField("pid_Title")
                                .DataValueField("id")
                                .Action(b => b.Action("DataSourceDropDown", "VWUT_Location", new { area = "UT" }))
                                .Filter<VWUT_Location>(a => (a.code == "TR" && (a.type == (int)EnumUT_LocationType.İlce)) || (a.code != "TR" && a.type == (int)EnumUT_LocationType.Sehir))
                                .Sort(x => x.Add("pid_Title").Ascending())
                                .Execute()
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="Adres (İletişim)">Açık Adresi</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.openAddress, new Dictionary<string, object>()
                            {
                                {"class", "form-control"},
                                {"placeholder", "Lütfen Adres (İletişim) Giriniz.."}
                            }).Validate(Validations.TextEverywhere(false, 0, 500))
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionCompany" href="#taxInfo" aria-expanded="false">
                        <i class="text-success icon-newspaper-1"></i>  Fatura Bilgileri
                    </a>
                </h4>
            </div>
            <div id="taxInfo" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="İşletme Türü">İşletme Türü</label>
                        </div>
                        <div class="col-md-8">
                            @(Html.Akilli().RadioButtonGroupFor(a => a.taxType).Value(EnumCMP_CompanyTaxType.TuzelKisi))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="Vergi Dairesi">Vergi Dairesi</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.taxOffice, new Dictionary<string, object>()
                             {
                                 {"class", "form-control"},
                                 {"placeholder", "Lütfen Vergi Dairesi giriniz.."}
                             }).Validate(Validations.TextEverywhere(false, 0, 250))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="Vergi Numarası">Vergi No</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.taxNumber, new Dictionary<string, object>()
                            {
                                {"class", "form-control"},
                                {"placeholder", "Lütfen Vergi Numarası giriniz.."}
                            }).Validate(Validations.Number(false, 9, 11, "Geçerli Bir Vergi Numarası Giriniz."))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="commercialTitle">Faturadaki Ünvanı</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.commercialTitle, new Dictionary<string, object>()
                             {
                                 {"class", "form-control"},
                                 {"placeholder", "Lütfen Faturadaki Ünvanı Giriniz.."}
                             }).Validate(Validations.TextEverywhere(false, 0, 150))
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="Lokasyon (Fatura)">Fatura Ülke,İl,İlçe</label>
                        </div>
                        <div class="col-md-8">
                            @(
                                Html.Akilli()
                                .DropDownListFor(model => model.invoiceAddressLocationId)
                                .OptionLabel("Lütfen Ülke,İl,İlçe Seçiniz..")
                                .DataTextField("pid_Title")
                                .DataValueField("id")
                                .Action(b => b.Action("DataSourceDropDown", "VWUT_Location", new { area = "UT" }))
                                .Filter<VWUT_Location>(a => (a.code == "TR" && (a.type == (int)EnumUT_LocationType.İlce)) || (a.code != "TR" && a.type == (int)EnumUT_LocationType.Sehir))
                                .Sort(x => x.Add("pid_Title").Ascending())
                                .Execute()
                            )
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label label-md" for="Adres (Fatura)">Fatura Açık Adres</label>
                        </div>
                        <div class="col-md-8">
                            @Html.TextAreaFor(model => model.invoiceAddress, new Dictionary<string, object>()
                            {
                                {"class", "form-control"},
                                {"placeholder", "Lütfen Adres Giriniz.."}
                            }).Validate(Validations.TextEverywhere(false, 0, 500))
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.type == (Int32)EnumCMP_CompanyType.Diger)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionCompany" href="#userInfo" aria-expanded="false">
                            <i class="text-success icon-user-1"></i> Yetkili Bilgileri
                        </a>
                    </h4>
                </div>
                <div id="userInfo" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label label-md" for="user_firstname">Adı</label>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.user.firstname, new Dictionary<string, object>()
                                {
                                    {"class", "form-control"},
                                    {"placeholder", "Lütfen Ad Giriniz.."}
                                }).Validate(Validations.TextEverywhere(false, 0, 250))
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label label-md" for="user_lastname">Soyadı</label>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.user.lastname, new Dictionary<string, object>()
                                {
                                    {"class", "form-control"},
                                    {"placeholder", "Lütfen Soyad Giriniz.."}
                                }).Validate(Validations.TextEverywhere(false, 0, 250))
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label label-md" for="user_title">Departman / Ünvan</label>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.user.title, new Dictionary<string, object>()
                                 {
                                     {"class", "form-control"},
                                     {"placeholder", "Lütfen Ünvan Giriniz.."}
                                 }).Validate(Validations.TextEverywhere(false, 0, 250))
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label label-md" for="user_email">Email</label>
                            </div>
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.user.email, new Dictionary<string, object>()
                                 {
                                     {"class", "form-control"},
                                     {"placeholder", "Lütfen Email Giriniz.."}
                                 }).Validate(Validations.EMail(false))
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label label-md" for="user_phone">Sabit Telefon</label>
                            </div>
                            <div class="col-md-8">
                                @(Html.Kendo().MaskedTextBoxFor(a => a.user.phone).HtmlAttributes(new Dictionary<string, object>()
                                 {
                                     { "style", "width: 100%"},
                                     {"class", "form-control"},
                                     {"placeholder", "Lütfen Telefon Giriniz."},
                                 })
                                 .Mask("0 (000) 000 00 00")
                                 .UnmaskOnPost(true)
                                )
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="control-label label-md" for="user_cellphone">Cep Telefonu</label>
                            </div>
                            <div class="col-md-8">
                                @(Html.Kendo().MaskedTextBoxFor(a => a.user.cellphone).HtmlAttributes(new Dictionary<string, object>()
                                 {
                                     { "style", "width: 100%"},
                                     {"class", "form-control"},
                                     {"placeholder", "Lütfen Cep Telefonu Giriniz."},
                                 })
                                 .Mask("0 (000) 000 00 00")
                                 .UnmaskOnPost(true)
                                )
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }

        @if (TenantConfig.Tenant.Config.CustomProperty.ContainsKey("CMP_Company") && TenantConfig.Tenant.Config.CustomProperty["CMP_Company"].Length > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionCompany" href="#otherInfo" aria-expanded="false" aria-controls="collapseThree">
                            <i class="text-success icon-star-1"></i> Ek Bilgileri
                        </a>
                    </h4>
                </div>
                <div id="otherInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        @Html.Action("Index", "VWSYS_TableAdditionalProperty", new { area = "SYS", dataId = Model.id, dataTable = "CMP_Company" })
                    </div>
                </div>
            </div>
        }


    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}


