@model Infoline.WorkOfTime.BusinessData.VWPRD_CompanyBasedPriceDetail
@{
    ViewBag.Title = "Kayıt Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="minCondition">minCondition</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.minCondition, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="type">type</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.type, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="discount">discount</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.discount, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="monthCount">monthCount</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.monthCount, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="startDate">startDate</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.startDate, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="endDate">endDate</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.endDate, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="createdby_Title">createdby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.createdby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="changedby_Title">changedby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.changedby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="CompanyId_Title">CompanyId_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.CompanyId_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="productId_Title">productId_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.productId_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="categoryId_Title">categoryId_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.categoryId_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
