@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("yellow").Text("Örnek Veri Başlığı").Value("0 Adet").IconClass("fa fa-home")
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("navy").Text("Örnek Veri Başlığı").Value("0 Adet").IconClass("fa fa-home")
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("blue").Text("Örnek Veri Başlığı").Value("0 Adet").IconClass("fa fa-home")
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        @Html.Akilli().Card().Color("red").Text("Örnek Veri Başlığı").Value("0 Adet ").IconClass("fa fa-home")
    </div>
</div>


@(Html.Akilli()
    .Grid<Infoline.WorkOfTime.BusinessData.VWPRD_CompanyBasedPriceDetail>("VWPRD_CompanyBasedPriceDetail")
    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWPRD_CompanyBasedPriceDetail", new { area = "PRD" })).PageSize(25))
    .Columns(x =>
    {
        x.Bound(y => y.id).GridSelector(GridSelectorType.Checkbox);
        x.Bound(y => y.minCondition).Title("minCondition").Width(180);
        x.Bound(y => y.type).Title("type").Width(180);
        x.Bound(y => y.discount).Title("discount").Width(180);
        x.Bound(y => y.monthCount).Title("monthCount").Width(180);
        x.Bound(y => y.startDate).Title("startDate").Width(180).Format(Extensions.DateFormatShort(true));
        x.Bound(y => y.endDate).Title("endDate").Width(180).Format(Extensions.DateFormatShort(true));
        x.Bound(y => y.createdby_Title).Title("createdby_Title").Width(180);
        x.Bound(y => y.changedby_Title).Title("changedby_Title").Width(180);
        x.Bound(y => y.CompanyId_Title).Title("CompanyId_Title").Width(180);
        x.Bound(y => y.productId_Title).Title("productId_Title").Width(180);
        x.Bound(y => y.categoryId_Title).Title("categoryId_Title").Width(180);
    })
    .Selectable(x => x.Mode(GridSelectionMode.Multiple))
    .ToolBar(x =>
    {
        x.Custom().Text("Ekle").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("Insert", "VWPRD_CompanyBasedPriceDetail", new { area = "PRD" }));
        x.Custom().Text("Düzenle").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWPRD_CompanyBasedPriceDetail", new { area = "PRD" }));
        x.Custom().Text("Detay").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWPRD_CompanyBasedPriceDetail", new { area = "PRD" }));
        x.Custom().Text("Sil").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWPRD_CompanyBasedPriceDetail", new { area = "PRD" }));
    }))
