@model Infoline.WorkOfTime.BusinessData.VWPRD_CompanyBasedPriceDetail
@{
    ViewBag.Title = "Özel Fiyat Belirleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<script>
    var page = {};
    page = {
        defines: {
            isAllCompanies: 1,
            productTarget: 2
        },
        functions: {
            changeForAllCompanies: function (i) {
                if (i == 1 && page.defines.isAllCompanies != 1) {
                    $("#companyId").data("kendoDropDownList").value("");
                    $("#companyId").data("kendoDropDownList").readonly()
                    page.defines.isAllCompanies = 1;
                    $("#companyDropDown").find(".k-input").text("Tüm Şirketlere Uygula");
                    $("#companyDropDown").find(".k-dropdown-wrap").attr("style", "background-color:#ececec !important;");

                } else if (i == 0 && page.defines.isAllCompanies != 0) {
                    $("#companyId").data("kendoDropDownList")?.readonly(false);
                    page.defines.isAllCompanies = 0;
                    $("#companyDropDown").find(".k-input").text("Lütfen Şirket Seçiniz");
                    $("#companyDropDown").find(".k-dropdown-wrap").removeAttr("style");

                }
            },
            changeProductTarget: function (i) {
                var grid = $("#grid").data("kendoGrid");
                if (i == 2 && page.defines.productTarget != 2) {
                    $("#productId").data("kendoDropDownList").value("");
                    $("#categoryId").data("kendoDropDownList").value("");
                    $("#productId").data("kendoDropDownList").readonly()
                    $("#productDropDown").find(".k-input").text("Tüm Ürünlere Uygula");
                    $("#productDropDown").find(".k-dropdown-wrap").attr("style", "background-color:#ececec !important;");
                    $("#productDropDown").removeAttr("style");
                    $("#categoryDropDown").attr("style", "display:none;");
                    $("#priceorDiscountDiv").hide();
                    grid.hideColumn("price");
                    grid.showColumn("discount");

                    page.defines.productTarget = 2;
                } else if (i == 1 && page.defines.productTarget != 1) {
                    $("#productId").data("kendoDropDownList").value("");
                    $("#categoryDropDown").removeAttr("style");
                    $("#productDropDown").attr("style", "display:none;");
                    page.defines.productTarget = 1;
                    $("#priceorDiscountDiv").hide();
                    grid.hideColumn("price");
                    grid.showColumn("discount");
                } else if (i == 0 && page.defines.productTarget != 0) {
                    $("#productId").data("kendoDropDownList").value("");
                    $("#categoryId").data("kendoDropDownList").value("");
                    $("#productDropDown").find(".k-input").text("Seçili Ürünlere Uygula");
                    $("#productDropDown").find(".k-dropdown-wrap").removeAttr("style");
                    $("#productDropDown").removeAttr("style");
                    $("#categoryDropDown").attr("style", "display:none;");
                    $("#productId").data("kendoDropDownList").readonly(false);
                    page.defines.productTarget = 0;
                    $("#priceorDiscountDiv").show();
                    grid.showColumn("price");
                    grid.hideColumn("discount");


                }
            },
            setCompanyDropDownTitle: function (e) {
                $("#companyDropDown").find(".k-input").text("Tüm Şirketlere Uygula");
                $("#companyDropDown").find(".k-dropdown-wrap").attr("style", "background-color:#ececec !important;");
            },
            setProductDropDownTitle: function (e) {
                $("#productDropDown").find(".k-input").text("Tüm Ürünlere Uygula");
                $("#productDropDown").find(".k-dropdown-wrap").attr("style", "background-color:#ececec !important;");
            },
            setSellingTypeCheckbox: function () {
                $(document).on("change", "[name='sellingType']", function () {
                    let value = $("[name='sellingType']:checked").val();
                    if (value == 0 || value == 1) {
                        $("#month").hide();
                    }
                    else {
                        if (value == 2) {
                            $("#vadeay").text("Taksit Sayısı")
                            $("#monthCount").attr("placeholder", "Lütfen taksit sayısını giriniz");
                        }
                        if (value == 3) {
                            $("#vadeay").text("Vade Sayısı")
                            $("#monthCount").attr("placeholder", "Lütfen vade sayısını giriniz");
                        }
                        $("#month").show();
                    }
                });
            },
            setconditionTypeCheckbox: function () {
                $(document).on("change", "[name='conditionType']", function () {
                    let value = $("[name='conditionType']:checked").val();
                    if (value == 0) {
                        $("#minConditionDiv").hide();

                    }
                    else {
                        $("#minConditionDiv").show();
                        if (value == 1) {
                            $("#minCondition").attr("placeholder", "Lütfen minimum satış fiyatını sayısını giriniz");
                            $("#minConLabel").text("Minimum Satış Miktarı")
                        }
                        if (value == 2) {
                            $("#minCondition").attr("placeholder", "Lütfen minimum adet sayısını giriniz");
                            $("#minConLabel").text("Minimum Adet Sayısı")
                        }


                    }
                });
            },
            setGridDiscountOrPrice() {
                $(document).on("change", "[name='isPrice']", function () {
                    let value = $("[name='isPrice']:checked").val();
                    var grid = $("#grid").data("kendoGrid");
                    if (value == 0) {
                        grid.hideColumn("discount");
                        grid.showColumn("price");
                    }
                    else {
                        grid.hideColumn("price");
                        grid.showColumn("discount");
                    }


                });
            },
            onChangeProduct(e) {
                var value = this;
                var grid = $("#grid").data("kendoGrid");
                var dataitem = value.dataItem();
                var price = dataitem.currentSellingPrice;
                $("#basePrice").val(price);
                
            }
        }
    }
    page.functions.setSellingTypeCheckbox();
    page.functions.setconditionTypeCheckbox();
    page.functions.setCompanyDropDownTitle();
    page.functions.setGridDiscountOrPrice();







</script>

@using (Html.BeginForm("Insert", "VWPRD_CompanyBasedPriceDetail", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.companyBasedPriceId)


    <div class="form-group">
        <div class="col-md-5">
            <div class="radio akilliRadioGrup clearfix">
                <input type="radio" class="bg-focus" name="isForAllCompany" checked id="all_company_check_1" value="1">
                <label tabindex="0" onClick="page.functions.changeForAllCompanies(1)" class="radio-label bg-focus" for="all_company_check_1">
                    Tüm Şirketlere
                </label>
                <input type="radio" name="isForAllCompany" id="all_company_check_0" value="0">
                <label tabindex="0" onClick="page.functions.changeForAllCompanies(0)" class="radio-label" for="all_company_check_0">
                    Seçili Şirkete
                </label>
            </div>
        </div>
        <div class="col-md-7" id="companyDropDown">
            @(Html.Akilli()
                .DropDownListFor(model => model.companyId)
                .OptionLabel("Lütfen Şirket Seçiniz..")
                .DataTextField("name")
                .DataValueField("id")
                .Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
                .Sort(x => x.Add("name").Ascending())
                .Readonly(true)
                .Execute()
                )
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            <div class="radio akilliRadioGrup clearfix">
                <input type="radio" class="bg-focus" name="target" id="all_products" checked value="2">
                <label tabindex="0" onClick="page.functions.changeProductTarget(2)" class="radio-label bg-focus" for="all_products">
                    Tüm Ürünlere
                </label>
                <input type="radio" name="target" id="all_categories" value="1">
                <label tabindex="0" onClick="page.functions.changeProductTarget(1)" class="radio-label" for="all_categories">
                    Seçili Kategoriye
                </label>
                <input type="radio" name="target" id="spesific_product" value="0">
                <label tabindex="0" onClick="page.functions.changeProductTarget(0)" class="radio-label" for="spesific_product">
                    Seçili Ürüne
                </label>
            </div>
        </div>

        <div class="col-md-7" id="productDropDown">
            @(
            Html.Akilli()
            .DropDownListFor(model => model.productId)
            .OptionLabel("Lütfen Ürün seçiniz..")
            .DataTextField("fullName")
            .DataValueField("id")
            .Template("#=TemplateEngine('productTemplate',data)#")
            .Action(b => b.Action("DataSourceDropDown", "VWPRD_Product", new { area = "PRD" }))
            .Sort(x => x.Add("code").Ascending())
            .Events(x => x.DataBound("page.functions.setProductDropDownTitle").Change("page.functions.onChangeProduct"))
            .Readonly(true)
            .Execute()
            )
        </div>

        <div class="col-md-7" id="categoryDropDown" style="display:none;">
            @(
            Html.Akilli()
            .DropDownListFor(model => model.categoryId)
            .OptionLabel("Lütfen Kategori seçiniz..")
            .DataTextField("fullname")
            .DataValueField("id")
            .Action(b => b.Action("DataSourceDropDown", "VWPRD_Category", new { area = "PRD" }))
            //.Filter<VWPRD_Category>(a => a.generation > 0)
            .Sort(x => x.Add("fullname").Ascending())
            .BasicInsert(Url.Action("Insert", "VWPRD_Category", new { area = "PRD" }), "name", true)
            .Execute("id")
        )
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div class="">
                @(Html.Akilli().RadioButtonGroupFor(a => a.sellingType).Value(EnumPRD_CompanyBasedPriceSellingType.Genel))

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <div class="">
                @(Html.Akilli().RadioButtonGroupFor(a => a.conditionType).Value(EnumPRD_CompanyBasedPriceConditionType.Genel))
            </div>
        </div>
    </div>

    <div class="form-group" id="minConditionDiv" style="display:none">
        <div class="col-md-4">
            <label class="control-label label-md" id="minConLabel" for="minCondition">Minimum Koşul</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.minCondition, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen minCondition Girin.."},
            })
        </div>
    </div>
    <div class="form-group" id="priceorDiscountDiv" style="display:none">
        <div class="col-md-12">
            <div class="radio akilliRadioGrup clearfix">
                <input type="radio" class="bg-focus" name="isPrice" checked  id="priceDiscount0" value="0">
                <label tabindex="0"  class="radio-label bg-focus"  for="priceDiscount0" >
                    Fiyat
                </label>
                <input type="radio"  name="isPrice" id="priceDiscount1" value="1">
                <label tabindex="0"   class="radio-label" for="priceDiscount1">
                    İskonto
                </label>
            </div>
        </div>
    </div>
   


    <div class="form-group">
        <div class="col-sm-12">
            @(Html.Kendo().Grid<Infoline.WorkOfTime.BusinessData.Specific.VWPRD_CompanyBasedPriceDetailDto>()
    .Name("grid")
    .Columns(columns =>
    {
        //columns.Bound(p => p.basePrice).Title("Fiyat");
        columns.Bound(p => p.monthCount).Title("Taksit Sayısı");
        columns.Bound(p => p.minCondition).Title("Minimum Satış Adeti");
        columns.Bound(p => p.discount).Title("Iskonto Oranı");
        columns.Bound(p => p.price).Title("Fiyat").Hidden(true);
        //columns.Bound(p => p.afterPrice).Title("Iskonto Sonrası Fiyat");
        columns.Bound(p => p.startDate).Format("{0:dd/MM/yyyy}").Title("Başlangıç Tarihi");
        columns.Bound(p => p.endDate).Width(120).Title("Bitiş Tarihi").Format("{0:dd/MM/yyyy}");
        columns.Bound(p => p.companyBasedPriceId);
        columns.Command(command => { command.Edit().Text(" "); command.Destroy().Text(" "); }).Width(250);
    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InCell).ConfirmDelete("Continue to delete this record?").DisplayDeleteConfirmation("Continue to delete this record?"))
    .Pageable()
    .Sortable()
    .Filterable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => model.Id(p => p.companyBasedPriceId))
        .Create(update => update.Action("EditingInline_Create", "Grid"))
        .Read(read => read.Action("GetVWCompanyBasedPriceDetailByCompanyBasedPriceId", "VWPRD_CompanyBasedPriceDetail",new {id=new Guid("4c304bc6-f842-47f2-95fa-933c94acd87c") }))
        .Update(update => update.Action("EditingInline_Update", "Grid"))
        .Destroy(update => update.Action("EditingInline_Destroy", "Grid"))
    )
)



        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}

<script>
    model = {
        
    }
</script>