@model Infoline.WorkOfTime.BusinessData.VWSYS_Email
@{
    ViewBag.Title = "Kayıt Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .form-horizontal .form-group {
        padding-right: 112px !important;
    }
</style>

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-3">
            <label class="control-label label-md" for="SendingTitle">Konu</label>
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.SendingTitle, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            }).Validate(Validations.EMail(true))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label class="control-label label-md" for="SendingMail">Kime</label>
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.SendingMail, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            }).Validate(Validations.TextTurkceSpace09(true))
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-3">
            <label class="control-label label-md" for="created">Tarih</label>
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.created, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label class="control-label label-md" for="Result">Sonuç</label>
        </div>
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.Result, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label class="control-label label-md" for="SendingMessage">Gönderilen Mesaj</label>
        </div>
        <div class="col-md-9">
            <div class="clearfix">
                @Html.Raw(Model.SendingMessage != null ? Model.SendingMessage : " - ")
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
