@model VWFTM_TaskFormResult
@{
    ViewBag.Title = "Görev Formu Düzenle";
}
<script src="~/Content/Plugins/formBuilder/form-render.min.js"  data-selector="modalContainer"></script>
<script type="text/javascript" data-selector="modalContainer">

    var pageUpdate = {
        data: @Html.Raw(Infoline.Helper.Json.Serialize(Model)),
        fnc:{
            submit: function(e){
                $('#markup').validator("validate");
                if (!$('#markup').data('bs.validator').hasErrors()) {
                    var updatedData = $('#markup').formRender("userData");
                    $('#jsonResult').val(JSON.stringify(updatedData));
                    $(e).parents("form").trigger("submit");
                } else {
                    MesajWarning("Lütfen formdaki zorunlu alanları doldurunuz.", "Bildilendirme");
                }
            },
            renderForm: function () {
                var data = JSON.parse(pageUpdate.data.jsonResult);
                $("#markup").formRender({ formData: data });
                $.each(data, function (i, item) { if (item.type === "checkbox-group" || item.type === "radio-group") { if (typeof item.required !== 'undefined' && item.required === true) { if (item.userData.length > 0) { $('.field-' + item.name).find('input').each(function (i, e) { if ($.inArray(e.value, item.userData) !== -1) { $(e).trigger("click"); } }); } } } });

            }
        }
    }

    $(document).ready(function () {
        pageUpdate.fnc.renderForm();
    })

</script>

@using (Html.BeginForm("Update", "VWFTM_TaskFormResult", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "id", "VWFTM_TaskFormResultUpdate" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.jsonResult)

    <div class="hide">
        @(Html.Akilli().MapInput().Name("location").Navigation(true))
    </div>

    <fieldset>
        <legend id="formName">Görev Formu</legend>
        <div id="markup"></div>
    </fieldset>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="button" onclick="pageUpdate.fnc.submit(this)">Kaydet</button>
    </div>
}


<style type="text/css" data-selector="modalContainer">
    .rendered-form .form-group {
        margin-right: 0px !important;
    }
</style>

