@{
    var now = DateTime.Now;
    var startOfWeek = now.AddDays(((int)(now.DayOfWeek) * -1) + 1).Date;
    var endOfWeek = startOfWeek.AddDays(7).Date;
    var startOfMonth = new DateTime(now.Year, now.Month, 1).Date;
    var endOfMonth = startOfMonth.AddMonths(1).Date;
    var startOfLastMonth = new DateTime(now.Year, now.Month, 1).AddMonths(-1).Date;
    var userStatus = (PageSecurity)Session["userStatus"];
}

<div class="row">
    <div class="col-md-2">
        <div class="ibox ">
            <div class="ibox-content mailbox-content">

                <div class="file-manager">
                    <h5>BAŞLANGIÇ TARİHİNE GÖRE </h5>
                    <ul class="folder-list m-b-md" style="padding: 0">

                        <li class="clearfix">
                            <a class="pull-left active" href="#" data-grid="VWCRM_Contact" data-switch="radio" data-category="0" data-query="(createdby~eq~'@userStatus.user.id')">
                                <i class="fa fa-align-justify" style="color:black;"></i>  Tümü
                            </a>
                            <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:black;" data-counturl="/CRM/VWCRM_Contact/DataSourceCount?filter=(createdby~eq~'@userStatus.user.id')" data-query="(createdby~eq~'@userStatus.user.id')">0</span>
                        </li>

                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCRM_Contact" data-switch="radio" data-category="0" data-query="(ContactStartDate~gt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@now.AddDays(1).ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">
                                <i class="fa text-primary fa-clock-o"></i> Bugün
                            </a>
                            <span class="badge badge-primary pull-right m-l-md  m-t-xs" data-counturl="/CRM/VWCRM_Contact/DataSourceCount?filter=(ContactStartDate~gt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@now.AddDays(1).ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCRM_Contact" data-switch="radio" data-category="0" data-query="(ContactStartDate~gt~datetime'@startOfWeek.ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@endOfWeek.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">
                                <i class="fa text-success fa-clock-o"></i> Bu Hafta
                            </a>
                            <span class="badge badge-success pull-right m-l-md  m-t-xs" data-counturl="/CRM/VWCRM_Contact/DataSourceCount?filter=(ContactStartDate~gt~datetime'@startOfWeek.ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCRM_Contact" data-switch="radio" data-category="0" data-query="(ContactStartDate~gt~datetime'@startOfMonth.ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@endOfMonth.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">
                                <i class="fa text-success fa-clock-o"></i> Bu Ay
                            </a>
                            <span class="badge badge-success pull-right m-l-md  m-t-xs" data-counturl="/CRM/VWCRM_Contact/DataSourceCount?filter=(ContactStartDate~gt~datetime'@startOfMonth.ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCRM_Contact" data-switch="radio" data-category="0" data-query="(ContactStartDate~gt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">
                                <i class="fa text-success fa-clock-o"></i> Gelecek
                            </a>
                            <span class="badge badge-success pull-right m-l-md  m-t-xs" data-counturl="/CRM/VWCRM_Contact/DataSourceCount?filter=(ContactStartDate~gt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCRM_Contact" data-switch="radio" data-category="0" data-query="(ContactStartDate~gt~datetime'@now.AddDays(-1).ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">
                                <i class="fa text-danger fa-clock-o"></i>  Dün
                            </a>
                            <span class="badge badge-danger pull-right m-l-md  m-t-xs" data-counturl="/CRM/VWCRM_Contact/DataSourceCount?filter=(ContactStartDate~gt~datetime'@now.AddDays(-1).ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCRM_Contact" data-switch="radio" data-category="0" data-query="(ContactStartDate~gt~datetime'@startOfWeek.AddDays(-7).ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@startOfWeek.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">
                                <i class="fa text-danger fa-clock-o"></i>  Geçen Hafta
                            </a>
                            <span class="badge badge-danger pull-right m-l-md  m-t-xs" data-counturl="/CRM/VWCRM_Contact/DataSourceCount?filter=(ContactStartDate~gt~datetime'@startOfWeek.AddDays(-7).ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@startOfWeek.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCRM_Contact" data-switch="radio" data-category="0" data-query="(ContactStartDate~gt~datetime'@startOfLastMonth.ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@startOfMonth.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">
                                <i class="fa text-danger fa-clock-o"></i>  Geçen Ay
                            </a>
                            <span class="badge badge-danger pull-right m-l-md  m-t-xs" data-counturl="/CRM/VWCRM_Contact/DataSourceUserCount?filter=(ContactStartDate~gt~datetime'@startOfLastMonth.ToString("yyyy-MM-ddT00-00-00")'~and~ContactStartDate~lt~datetime'@startOfMonth.ToString("yyyy-MM-ddT00-00-00")'~and~(createdby~eq~'@userStatus.user.id'))">0</span>
                        </li>
                    </ul>


                    <div class="space-25"></div>

                    <h5>AKTİVİTE/RANDEVU TİPİNE GÖRE </h5>
                    <ul class="tag-list clearfix m-b-md" style="padding: 0">
                        @foreach (var item in Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumCRM_ContactContactType>())
                        {
                            <li class="clearfix">
                                <a class="pull-left" href="#" data-grid="VWCRM_Contact" data-category="1" data-query="(ContactType_Title~eq~'@item.Value')">
                                    @item.Value
                                </a>
                            </li>
                        }
                    </ul>

                    <div class="space-25"></div>

                    <h5>AKTİVİTE/RANDEVU DURUMUNA GÖRE </h5>
                    <ul class="tag-list clearfix m-b-md" style="padding: 0">
                        @foreach (var item in Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumCRM_ContactContactStatus>())
                        {
                            <li class="clearfix">
                                <a class="pull-left" href="#" data-grid="VWCRM_Contact" data-category="2" data-query="(ContactStatus_Title~eq~'@item.Value')">
                                    @item.Value
                                </a>
                            </li>
                        }
                    </ul>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Aktivite ve Randevu Listesi </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                @(Html.Akilli()
                    .Grid<Infoline.WorkOfTime.BusinessData.VWCRM_ContactUser>("VWCRM_Contact")
                    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWCRM_Contact", new { area = "CRM" })).Filter(a=>a.createdby == userStatus.user.id)
                    .PageSize(25)
                    .Sort(u => u.Add(b => b.ContactStartDate).Descending()))
                    .Columns(x =>
                    {
                        x.Bound(y => y.PresentationStageId_Title).Title("Aşaması").Width(180);
                        x.Bound(y => y.PresentationAndCustomer_Titles).Title("Potansiyel/Müşteri").ClientTemplate("#=contactTemp(data)#").Locked(true).Width(300);
                        x.Bound(y => y.ContactType_Title).Title("Aktivite/Randevu Tipi").Width(180);
                        x.Bound(y => y.ContactStatus_Title).Title("Aktivite/Randevu Durumu").Width(180);
                        x.Bound(y => y.ContactStartDate).Title("Başlangıç Tarihi").Width(180).Format(Extensions.DateFormatFull(true));
                        x.Bound(y => y.ContactEndDate).Title("Bitiş Tarihi").Width(180).Format(Extensions.DateFormatFull(true));
                        x.Bound(y => y.Description).Title("Aktivite/Randevu Notu").ClientTemplate("#=First50Char(data.Description)#").Width(180);
                        x.Bound(y => y.createdby_Title).Title("Oluşturan").Width(180);
                        x.Bound(y => y.created).Title("Oluşturulma Tarihi").Width(180).Format(Extensions.DateFormatFull(true));
                    })
                    .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                    .Scrollable(x => x.Height(670))
                    .ToolBar(x =>
                    {
                        x.Custom().Text("<i data-original-title='Aktivite/Randevu Tanımla' class='fa fa-plus-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" }, { "data-id", "insertContact" } }).Url(Url.Action("Insert", "VWCRM_Contact", new { area = "CRM" , all = true }));
                        x.Custom().Text("<i data-original-title='Aktivite/Randevu Düzenle' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWCRM_Contact", new { area = "CRM"}));
                        x.Custom().Text("<i data-toggle='tooltip' title='Detay' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" }, { "data-modal", "false" }, { "data-blank", "" } }).Url(Url.Action("Detail", "VWCRM_Contact", new { area = "CRM" }));
                    }))
            </div>
        </div>
    </div>
</div>

