@{
    ViewBag.Title = "SellOut Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var now = DateTime.Now;
    var startOfWeek = now.AddDays(DayOfWeek.Monday-now.DayOfWeek).Date;
    var endOfWeek = startOfWeek.AddDays(7).Date;
    var startOfMonth = new DateTime(now.Year, now.Month, 1).Date;
    var endOfMonth = startOfMonth.AddMonths(1).Date;
    var startOfLastMonth = new DateTime(now.Year, now.Month, 1).AddMonths(-1).Date;
    var startDateAll = new DateTime(now.Year, now.Month, 1).AddYears(-50).Date;
    var endDateAll = new DateTime(now.Year, now.Month, 1).AddYears(50).Date;
}
<style type="text/css">
    .filterButtonActive {
        background-color: #2f96b4;
        border-color: #2f96b4;
        color: white;
    }
    .filterButtonPassive {
        background-color: #49afcd;
        border-color: #2f96b4;
        color: white;
    }
    ul, li {
        list-style-type: none;
    }
    .active {
        color: black !important;
    }
    .btn-group .btn + .btn {
        margin-left: -9px !important;
    }
</style>
<div class="row">
    <div class="ibox">
        <div class="col-sm-12">
            <div class="ibox-content clearfix">
                <div class="pull-left" style="margin-top:17px">
                    <div class="btn-group rounded" role="group" aria-label="Basic example">
                        <button type="button" data-id="all" data-selector="created" data-query="" data-startDate="@startDateAll.Date" data-endDate="@endDateAll.Date" class="btn btn-rounded filterButtonPassive"><span></span> TÜMÜ</button>
                        <button type="button" data-id="lastMonth" data-query="" data-startDate="@startOfLastMonth.Date" data-endDate="@startOfMonth.Date" data-selector="created" data-name="filterDate" class="btn filterButtonPassive"><span></span>GEÇEN AY</button>
                        <button type="button" data-id="lastWeek" data-query="" data-startDate="@startOfWeek.AddDays(-7).Date" data-endDate="@startOfWeek.Date" data-selector="created" data-name="filterDate" class="btn filterButtonPassive"><span></span>GEÇEN HAFTA</button>
                        <button type="button" data-id="yesterday" data-selector="created" data-query="" data-startDate="@now.AddDays(-1).Date" data-endDate="@now.Date" data-name="filterDate" class="btn filterButtonPassive"><span></span>DÜN</button>
                        <button type="button" data-id="today" data-selector="created" data-query="" data-startDate="@now.Date" data-endDate="@now.Date.AddDays(1)" data-name="filterDate" class="btn filterButtonPassive"><span></span>BUGÜN</button>
                        <button type="button" data-query="" data-startDate="@startOfWeek" data-endDate="@endOfWeek.Date" data-id="thisWeek" data-selector="created" data-name="filterDate" class="btn filterButtonPassive"><span></span>BU HAFTA</button>
                        <button type="button" data-id="thisMonth" data-query="" data-startDate="@startOfMonth.Date" data-endDate="@endOfMonth.Date" data-selector="created" data-name="filterDate" class="btn btn-rounded filterButtonActive"><span class="fa fa-check"></span>BU AY</button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="col-sm-5">
                        <label class="">Başlangıç Tarihi</label>
                        @Html.Akilli().DatePicker("startDate").Value(DateTime.Now.AddDays(-30)).Max(DateTime.Now)
                    </div>
                    <div class="col-sm-5">
                        <label class="">Bitiş Tarihi</label>
                        @Html.Akilli().DatePicker("endDate").Value(DateTime.Now).Max(DateTime.Now)
                    </div>
                    <div class="col-sm-2">
                        
                       <button id="query" style="margin-top:27px" class="btn btn-primary">Sorgula</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12  " style="margin-top:10px">
            <div class="col-sm-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-mobile-phone fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Toplam Cihaz Sayısı </span><br />
                            <small>Envanterde Karşılığı Olan</small>
                            <h2 id="total" class="font-bold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>Bugün Aktif Olan Cihaz Sayısı</span>
                            <h2 id="today" class="font-bold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-level-up fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>Son 7 Günde Aktif Olan Cihaz Sayısı</span>
                            <h2 id="seven" class="font-bold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget style1 blue-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-arrow-up fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Son  30 Günde Aktif Olan Cihaz Sayısı</span>
                            <h2 id="thirty" class="font-bold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox-title">
                <h4>Ürün Bazlı Toplam Kanal Sell-Out Raporu</h4>
            </div>
            <div class="ibox-content clearfix" style="min-height:350px;max-height:500px;overflow:auto">
                <ul class="folder-list m-b-md" style="padding: 0; font-size: 14px;" id="sellOutProduct">
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox-title">
                <h4>Distribütör Bazlı Toplam Kanal Sell-Out Raporu</h4>
            </div>
            <div class="ibox-content clearfix" style="min-height: 350px; max-height: 500px; overflow: scroll">
                <ul class="folder-list m-b-md" style="padding: 0; font-size: 14px;" id="sellOutDist">
                </ul>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top:25px">
            <div class="ibox-content clearfix">
                <div id="chart"></div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top:25px">
            <div class="ibox-content clearfix">
                <div id="chart1"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var page = {
        randomColorNumber:-1,
        colorArray: ["badge-primary",  "badge-danger", "badge-warning", "badge-info"],
        getRandomColor: function () {
            if (page.randomColorNumber >= page.colorArray.length-1) {
                page.randomColorNumber = 0;
                return page.colorArray[page.randomColorNumber];
            }
            page.randomColorNumber++;
            return page.colorArray[page.randomColorNumber];
        },
        setIndexData: function () {
            GetJsonDataFromUrl("/PRD/VWPRD_TitanDeviceActivated/GetIndexData", {}, function (data) {
                $("#total").text(data.All);
                $("#today").text(data.Today);
                $("#seven").text(data.Seven);
                $("#thirty").text(data.Month);
            });
        },
        removeAllLis: function () {
            $("#sellOutProduct li").remove();
            $("#sellOutDist li").remove();
        },
        setDataSourceForProductSellOut: function (startDate, endDate) {
            GetJsonDataFromUrl("/PRD/VWPRD_TitanDeviceActivated/GetProductSellOut", { startDate: startDate, endDate: endDate }, function (data) {
                var count = 0;
                $("#sellOutProduct li").remove();
                $.each(data.objects, function (i, item) {
                    count = count + parseInt(item.Count);
                    $("#sellOutProduct").append(
                        '<li class= "clearfix">' +
                        '<span class="pull-left" data-category="0">' +
                        '<i class="fa fa-mobile-phone" style="color:gray"></i>' + item.Name +
                        '</span>' +
                        '<span id="allTasks" class="badge ' + page.getRandomColor() + ' text-white pull-right m-l-md  m-t-xs" >' + item.Count + '</span>' +
                        '</li>'
                    );
                });
                $("#sellOutProduct").append(
                    '<li class= "clearfix">' +
                    '<span class="pull-left" data-category="0">' +
                    '<i class="fa fa-plus" style="color:gray"></i>Toplam' +
                    '</span>' +
                    '<span id="allTasks" class="badge ' + page.getRandomColor() + ' text-white pull-right m-l-md  m-t-xs" ">' + count + '</span>' +
                    '</li>'
                );
            });
        },
        setDataSourceForDistSellOut: function (startDate, endDate) {
            GetJsonDataFromUrl("/PRD/VWPRD_TitanDeviceActivated/GetDistSellOut", { startDate: startDate, endDate: endDate }, function (data) {
                var count = 0;
                var countSelling = 0;
                $("#sellOutDist li").remove();
                $.each(data.objects, function (i, item) {
                    var isCompanyDistributor = false;
                    if (item.Types != null) {
                        isCompanyDistributor = item.Types.toLowerCase().includes("distribütör");
                    }
                    count = count + parseInt(item.Count);
                    countSelling += item.SellingCount;
                    if (isCompanyDistributor == true) {
                        $("#sellOutDist").append(
                            '<li class= "clearfix" >' +
                            '<a target="_blank" href="/PRD/VWPRD_EntegrationAction/SellerReport?DistributorId=' + item.Id + '"' +
                            '<span class="pull-left" data-category="0">' +
                            '<i class="fa fa-building"  style="color:gray"></i>' + item.Name +
                            '</span></a>' +
                            '<span id="allTasks" class="badge ' + page.getRandomColor() + ' text-white pull-right m-l-md  m-t-xs" data-original-title="Aktive Olan Miktar" >' + item.Count + '</span>' +
                            '</li>'
                        );
                    }
                    else {
                        $("#sellOutDist").append(
                            '<li class= "clearfix" >' +
                            '<span class="pull-left" data-category="0">' +
                            '<i class="fa fa-building" style="color:gray"></i>' + item.Name +
                            '</span>'+
                            '<span id="allTasks" class="badge ' + page.getRandomColor() + ' text-white pull-right m-l-md  m-t-xs" data-original-title="Toplam Aktive Olan Miktar"  >' + item.Count + '</span>' +

                            '</li>'
                        );
                    }
                  
                });
                $("#sellOutDist").append(
                    '<li class= "clearfix">' +
                    '<span class="pull-left" data-category="0">' +
                    '<i class="fa fa-plus" style="color:gray"></i>Toplam' +
                    '</span>' +
                    '<span id="allTasks" class="badge ' + page.getRandomColor() + ' text-white pull-right m-l-md  m-t-xs"  data-original-title="Toplam Aktive Olan Miktar" ">' + count + '</span> / ' +
                    '</li>'
                );
            });
        },
        createProductChart(startDate,endDate) {
            GetJsonDataFromUrl("/PRD/VWPRD_TitanDeviceActivated/GetProductSellOutProductChartData", { startDate: startDate, endDate: endDate }, function (data) {
                var obj = data.objects;
                $("#chart").kendoChart({
                    title: {
                        text: "Ürün Bazlı SellOut Grafiği"
                    },
                    legend: {
                        position: "bottom"
                    },
                    chartArea: {
                        background: ""
                    },
                    seriesDefaults: {
                        type: "line",
                        style: "smooth"
                    },
                    series: obj.data.Series,
                    valueAxis: {
                        labels: {
                            format: "{0}"
                        },
                        line: {
                            visible: false
                        },
                        axisCrossingValue: -10
                    },
                    categoryAxis: {
                        categories: obj.data.Dates,
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    pannable: {
                        lock: "y"
                    },
                    zoomable: {
                        mousewheel: {
                            lock: "y"
                        },
                        selection: {
                            lock: "y"
                        }
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}%",
                        template: "#= series.name #: #= value #"
                    }
                });
            });
        },
        createDistChart(startDate, endDate) {
              GetJsonDataFromUrl("/PRD/VWPRD_TitanDeviceActivated/GetProductSellOutDistChartData", { startDate: startDate, endDate: endDate }, function (data) {
                var obj = data.objects;
                $("#chart1").kendoChart({
                    title: {
                        text: "Distribütör Bazlı SellOut Grafiği"
                    },
                    legend: {
                        position: "bottom"
                    },
                    chartArea: {
                        background: ""
                    },
                    seriesDefaults: {
                        type: "line",
                        style: "smooth"
                    },
                    series: obj.data.Series,
                    valueAxis: {
                        labels: {
                            format: "{0}"
                        },
                        line: {
                            visible: false
                        },
                        axisCrossingValue: -10
                    },
                    categoryAxis: {
                        categories: obj.data.Dates,
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    pannable: {
                        lock: "y"
                    },
                    zoomable: {
                        mousewheel: {
                            lock: "y"
                        },
                        selection: {
                            lock: "y"
                        }
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}%",
                        template: "#= series.name #: #= value  # Adet"
                    }
                });
            });
        }
    }
    page.setIndexData();
    page.setDataSourceForProductSellOut('@startOfMonth','@endOfMonth');
    page.setDataSourceForDistSellOut('@startOfMonth', '@endOfMonth');
    $(document).ready(page.createProductChart('@startOfMonth', '@endOfMonth'));
    $(document).ready(page.createDistChart('@startOfMonth', '@endOfMonth'));
    $('[data-query]').on("click", function (e) {
        if ($(this).attr("data-selector") == "created") {
            var _this = $(this);
            $('.filterButtonActive').removeClass("filterButtonActive").addClass("filterButtonPassive");
            $('.fa-check').removeClass('fa fa-check');
            $('.fa-check').removeClass('fa fa-check');
            _this.removeClass("filterButtonPassive").addClass("filterButtonActive");
            _this.find('span').addClass("fa fa-check");
            $('#check').addClass("fa fa-check");
        } else if ($(this).attr("data-selector") == "priority") {
            $('[data-selector="priority"]').each(function (e) {
                $(this).addClass('text-info');
            })
            $(this).toggleClass("active");
        }
        else {
            $('[data-selector="type"]').each(function (e) {
                $(this).addClass('text-info');
            })
            $(this).toggleClass("active");
        }
        var startDate = $(this).attr("data-startdate");
        var endDate = $(this).attr("data-enddate");
        page.createProductChart(startDate, endDate)
        page.createDistChart(startDate, endDate);
        page.setDataSourceForProductSellOut(startDate, endDate);
        page.setDataSourceForDistSellOut(startDate, endDate);
    });
    $(document).on("click", "#query", function () {
        var startDate = $("#startDate").val();
        var endDate = $("#endDate").val();
        page.setDataSourceForDistSellOut(startDate, endDate);
        page.setDataSourceForProductSellOut(startDate, endDate);
        page.createProductChart(startDate, endDate)
        page.createDistChart(startDate, endDate);
    });
</script>