@{
    ViewBag.Title = "SellOut Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var now = DateTime.Now;
    var startOfWeek = now.AddDays(((int)(now.DayOfWeek) * -1) + 1).Date;
    var endOfWeek = startOfWeek.AddDays(7).Date;
    var startOfMonth = new DateTime(now.Year, now.Month, 1).Date;
    var endOfMonth = startOfMonth.AddMonths(1).Date;
    var startOfLastMonth = new DateTime(now.Year, now.Month, 1).AddMonths(-1).Date;
    var startDateAll = new DateTime(now.Year, now.Month, 1).AddYears(-50).Date;
    var endDateAll = new DateTime(now.Year, now.Month, 1).AddYears(50).Date;
}
<style type="text/css">
    #vertical-timeline::before {
        left: 37px;
    }

    #vertical-timeline-content {
        background-color: #f5f5f5;
    }

    #vertical-timeline {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }

    .vertical-container {
        width: auto;
    }

    .vertical-timeline-icon {
        background-color: #e7e7e7;
    }

    .k-grid-content #VWFTM_TaskOperation {
        height: 750px !important;
    }

    .filterButtonActive {
        background-color: #2f96b4;
        border-color: #2f96b4;
        color: white;
    }

    .filterButtonPassive {
        background-color: #49afcd;
        border-color: #2f96b4;
        color: white;
    }

    ul, li {
        list-style-type: none;
    }

    .noContent {
        color: #21B9BB;
        text-align: center;
        font-weight: bold;
        padding-top: 25%;
        font-size: 16px;
    }

    .active {
        color: black !important;
    }

    .btn-group .btn + .btn {
        margin-left: -9px !important;
    }
</style>
<div class="row">
    <div class="ibox">
        <div class="col-sm-12">
            <div class="ibox-content clearfix">
                <div class="pull-left" style="margin-top:17px">
                    <div class="btn-group rounded" role="group" aria-label="Basic example">
                        <button type="button" data-id="all" data-selector="created" data-query="" data-startDate="@startDateAll.Date" data-endDate="@endDateAll.Date" class="btn btn-rounded filterButtonPassive"><span></span> TÜMÜ</button>
                        <button type="button" data-id="lastMonth" data-query="" data-startDate="@startOfLastMonth.Date" data-endDate="@endOfMonth.Date"  data-selector="created" data-name="filterDate" class="btn filterButtonPassive"><span></span>GEÇEN AY</button>
                        <button type="button" data-id="lastWeek" data-query="" data-startDate="@startOfWeek.AddDays(-7).Date" data-endDate="@startOfWeek.Date"  data-selector="created" data-name="filterDate" class="btn filterButtonPassive"><span></span>GEÇEN HAFTA</button>
                        <button type="button" data-id="yesterday" data-selector="created" data-query="" data-startDate="@now.AddDays(-1).Date" data-endDate="@now.Date"   data-name="filterDate" class="btn filterButtonPassive"><span></span>DÜN</button>
                        <button type="button" data-id="today" data-selector="created" data-query="" data-startDate="@now.Date" data-endDate="@now.Date" data-name="filterDate" class="btn filterButtonPassive"><span></span>BUGÜN</button>
                        <button type="button" data-query="startDate=@startOfWeek&&endDate=@endOfWeek.Date"  data-startDate="@startOfWeek" data-endDate="@endOfWeek.Date" data-id="thisWeek" data-selector="created" data-name="filterDate" class="btn filterButtonPassive"><span></span>BU HAFTA</button>
                        <button type="button" data-id="thisMonth" data-query="" data-startDate="@startOfMonth.Date" data-endDate="@endOfMonth.Date" data-selector="created" data-name="filterDate" class="btn btn-rounded filterButtonActive"><span class="fa fa-check"></span>BU AY</button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="col-sm-6">
                        <label class="">Başlangıç Tarihi</label>
                        @Html.Akilli().DatePicker("startDate").Value(DateTime.Now.AddDays(-30))
                    </div>
                    <div class="col-sm-6">
                        <label class="">Bitiş Tarihi</label>
                        @Html.Akilli().DatePicker("endDate").Value(DateTime.Now)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12  " style="margin-top:10px" >
            <div class="col-sm-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-mobile-phone fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Toplam Cihaz Sayısı </span>
                            <h2 id="total" class="font-bold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>Bugün Aktif Olan Cihaz Sayısı</span>
                            <h2 id="today" class="font-bold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-level-up fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>Son 7 Günde Aktif Olan Cihaz Sayısı</span>
                            <h2 id="seven" class="font-bold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget style1 blue-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-arrow-up fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Son  30 Günde Aktif Olan Cihaz Sayısı</span>
                            <h2 id="thirty" class="font-bold">0</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox-title">
                <h4>Ürün Bazlı Toplam Kanal Sell-Out Raporu</h4>
            </div>
            <div class="ibox-content clearfix">
                <div class="" id="sellOutProduct"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox-title">
                <h4>Distribütör Bazlı Sell-Out Raporu</h4>
            </div>
            <div class="ibox-content clearfix">
                <div class="" id="sellOutDist"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var page = {
        setIndexData: function () {
            GetJsonDataFromUrl("/PRD/VWPRD_TitanDeviceActivated/GetIndexData", {}, function (data) {
                $("#total").text(data.All);
                $("#today").text(data.Today);
                $("#seven").text(data.Seven);
                $("#thirty").text(data.Month);
            });
        },
        setTableForProductSellOut: function () {
            var cols = [
                { field: 'Name', title: 'Ürün Adı', },
                { field: 'Count', title: 'Toplam', template: function (data) { return kendo.toString(data.Count, "N0") } },
            ];
            $("#sellOutProduct").kendoGrid({
                toolbar: [
                    { name: "excel", text: "" },
                ], excel: {
                    fileName: "Sell-Out Products.xlsx"
                },
                dataSource: "",
                pageSize: 100,
                height: 540,
                sortable: true,
                resizable: true,
                selectable: 'Single, Row',
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: cols
            });

        },
        setDataSourceForProductSellOut: function (startDate, endDate) {
            GetJsonDataFromUrl("/PRD/VWPRD_TitanDeviceActivated/GetProductSellOut", { startDate: startDate, endDate: endDate }, function (data) {

                var dataSource = new kendo.data.DataSource({ data: data.objects });
                var grid = $("#sellOutProduct").data("kendoGrid");
                dataSource.read();
                grid.setDataSource(dataSource);
            });
        },
        setTableForDistSellOut: function () {
            var cols = [
                { field: 'Name', title: 'Distribütör Adı', },
                { field: 'Count', title: 'Toplam', template: function (data) { return kendo.toString(data.Count, "N0") } },
            ];
            $("#sellOutDist").kendoGrid({
                toolbar: [
                    { name: "excel", text: "" },
                ], excel: {
                    fileName: "Sell-Out Products.xlsx"
                },
                dataSource: "",
                pageSize: 100,
                height: 540,
                sortable: true,
                resizable: true,
                selectable: 'Single, Row',
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: cols
            });
        },
        setDataSourceForDistSellOut: function (startDate, endDate) {
            GetJsonDataFromUrl("/PRD/VWPRD_TitanDeviceActivated/GetDistSellOut", { startDate: startDate, endDate: endDate }, function (data) {
                var dataSource = new kendo.data.DataSource({ data: data.objects });
                var grid = $("#sellOutDist").data("kendoGrid");
                dataSource.read();
                grid.setDataSource(dataSource);
            });
        },
    }
    page.setIndexData();
    page.setDataSourceForProductSellOut('@startOfMonth','@endOfMonth');
    page.setDataSourceForDistSellOut('@startOfMonth','@endOfMonth');
    page.setTableForProductSellOut();
    page.setTableForDistSellOut();
    $('[data-query]').on("click", function (e) {
        if ($(this).attr("data-selector") == "created") {
            var _this = $(this);
            $('.filterButtonActive').removeClass("filterButtonActive").addClass("filterButtonPassive");
            $('.fa-check').removeClass('fa fa-check');
            $('.fa-check').removeClass('fa fa-check');
            _this.removeClass("filterButtonPassive").addClass("filterButtonActive");
            _this.find('span').addClass("fa fa-check");
            $('#check').addClass("fa fa-check");
        } else if ($(this).attr("data-selector") == "priority") {
            $('[data-selector="priority"]').each(function (e) {
                $(this).addClass('text-info');
            })
            $(this).toggleClass("active");
        }
        else {
            $('[data-selector="type"]').each(function (e) {
                $(this).addClass('text-info');
            })
            $(this).toggleClass("active");
        }
        var startDate = $(this).attr("data-startdate");
        var endDate = $(this).attr("data-enddate");
        page.setDataSourceForProductSellOut(startDate, endDate);
        page.setDataSourceForDistSellOut(startDate, endDate);
    });
    $(document).on("change", "#startDate", function () {
        var startDate = $(this).val();
        var endDate = $("#endDate").val();
        page.setDataSourceForDistSellOut(startDate, endDate);
        page.setDataSourceForProductSellOut(startDate, endDate);

    }).on("change", "#endDate", function () {

        var startDate = $("#startDate").val();
        var endDate = $(this).val();
        page.setDataSourceForDistSellOut(startDate, endDate);
        page.setDataSourceForProductSellOut(startDate, endDate);
    });
      

</script>