@model Infoline.WorkOfTime.BusinessAccess.VMPA_TransactionModel
@{
    ViewBag.Title = Model.type_Title + " İşlem Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.type == (Int16)EnumPA_TransactionType.Masraf)
{
    if (Model.TransactionHistory != null && Model.TransactionHistory.Count() > 0)
    {
        <style type="text/css" data-selector="modalContainer">
            .modal-body {
                height: 800px;
            }

            .scroller {
                height: 180px;
                overflow-y: scroll;
                scrollbar-color: rebeccapurple green;
                scrollbar-width: thin;
            }

            .scroller-list {
                height: 152px;
                overflow-y: scroll;
                scrollbar-color: rebeccapurple green;
                scrollbar-width: thin;
            }
        </style>
    }
    <div class="row" data-selector="modalContainer">
        <div class="col-sm-12">
            <div class="ibox ">
                <div>
                    <div class="client-detail" style="height:500px;">
                        <ul class="list-group clear-list">

                            <li class="list-group-item">
                                <span class="pull-right">
                                    @if (Model.dataTable == "FTM_Task")
                                    {
                                        if (Model.ProjectId != null)
                                        {
                                            <a href="/PRJ/VWPRJ_Project/Detail?id=@Model.ProjectId" target="_blank" data-original-title="Proje detayına gitmek için tıklayın"><i class="fa fa-briefcase"></i> @Model.Project_Title </a>
                                        }
                                        <a modal="true" href="/FTM/VWFTM_Task/Detail?id=@Model.dataId" target="_blank" data-original-title="Görev detayına gitmek için tıklayın" data-placement="right"> <i class="fa fa-wrench"></i> Saha Görevi</a>
                                    }
                                    else if (Model.dataTable == "CRM_Presentation")
                                    {
                                        <a href="/CRM/VWCRM_Presentation/Detail?id=@Model.dataId" target="_blank" data-original-title="Potansiyel gitmek için tıklayın"><i class="fa fa-dollar"></i> Potansiyel </a>
                                    }
                                    else if (Model.dataTable == "PRJ_Project")
                                    {
                                        <a href="/PRJ/VWPRJ_Project/Detail?id=@Model.dataId" target="_blank" data-original-title="Proje detayına gitmek için tıklayın"><i class="fa fa-briefcase"></i> Proje </a>
                                    }
                                    else if (Model.dataTable == "INV_Commissions")
                                    {
                                        if (Model.ProjectId != null)
                                        {
                                            <a href="/PRJ/VWPRJ_Project/Detail?id=@Model.ProjectId" target="_blank" data-original-title="Proje detayına gitmek için tıklayın"><i class="fa fa-briefcase"></i> @Model.Project_Title </a>
                                        }
                                        <a href="/INV/VWINV_Commissions/Detail?id=@Model.dataId" target="_blank" data-original-title="Görevlendirme detayına gitmek için tıklayın"><i class="fa fa-car"></i> Görevlendirme </a>
                                    }
                                    else
                                    {

                                    }

                                </span>
                                Talep Yeri
                            </li>
                            @if (!string.IsNullOrEmpty(Model.dataId_Title))
                            {
                                <li class="list-group-item">
                                    <span class="pull-right"> @Model.dataId_Title </span>
                                    Proje
                                </li>
                            }


                            <li class="list-group-item">
                                <span class="pull-right"> @Model.createdby_Title </span>
                                Talep Eden
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> @Model.type_Title </span>
                                İşlem Tipi
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> @Model.accountDataId_Title </span>
                                Tedarikçi Hesap
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> @String.Format("{0:dd.MM.yyyy}", Model.progressDate) </span>
                                Talep Tarihi
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right"> @String.Format("{0:N2}", Model.amount) @Model.Currency_Symbol </span>
                                Tutar
                            </li>

                            <li class="list-group-item">
                                <span class="pull-right">  @(Model.description != null ? Model.description : "-") </span>
                                Açıklama
                            </li>
                            @if (!String.IsNullOrEmpty(Model.statusDescription))
                            {
                                <li class="list-group-item">
                                    <span class="pull-right">  @Model.statusDescription </span>
                                    Red/Düzeltme Açıklaması
                                </li>
                            }

                            <li class="list-group-item">
                                Kalan
                                @if (Model.debt == 0)
                                {
                                    <span style="color: green;" class="pull-right"> <i class="fa fa-check"></i> Ödendi </span>
                                }
                                else
                                {
                                    <span class="pull-right"> @String.Format("{0:N2}", Model.debt) @Model.Currency_Symbol </span>
                                }
                            </li>
                            <li class="list-group-item scroller-list">
                                @(
				                          Html.Akilli().FileUpload()
				                          .DataTable("PA_Transaction")
				                          .DataId(Model.id)
				                          .DataKey(x => x.fileGroup == "Masraf Dosyası")
				                          .PreviewMode(true)
				                     )
                            </li>
                        </ul>
                        @if (Model.TransactionHistory != null && Model.TransactionHistory.Count() > 0)
                        {
                            <strong>Masraf Onay Geçmişi</strong>
                            <hr />
                            <div id="vertical-timeline" class="vertical-container dark-timeline scroller">
                                <div class="full-height-scroll">

                                    @foreach (var transactionHistory in Model.TransactionHistory)
                                    {
                                        if (transactionHistory.status == null)
                                        {
                                            <div class="vertical-timeline-block">
                                                <div class="vertical-timeline-icon gray-bg">
                                                    <i class="fa fa-spinner"></i>
                                                </div>
                                                <div class="vertical-timeline-content">
                                                    <p>
                                                        @Html.Raw(transactionHistory.userId_Title + " tarafından onaylanmayı beklemektedir.").
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                        else if (transactionHistory.status == (Int16)EnumPA_TransactionConfirmationStatus.Onay)
                                        {
                                            <div class="vertical-timeline-block">
                                                <div class="vertical-timeline-icon navy-bg">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="vertical-timeline-content">
                                                    <p>
                                                        @Html.Raw(transactionHistory.userId_Title + " tarafından onaylanmıştır.").
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                        else if (transactionHistory.status == (Int16)EnumPA_TransactionConfirmationStatus.YenidenTalep)
                                        {
                                            <div class="vertical-timeline-block">
                                                <div class="vertical-timeline-icon orange-bg" style="background-color:orange;color:white;">
                                                    <i class="fa fa-refresh"></i>
                                                </div>
                                                <div class="vertical-timeline-content">
                                                    <p>
                                                        @Html.Raw(transactionHistory.userId_Title + " tarafından düzeltme talebinde bulunuldu.").
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="vertical-timeline-block">
                                                <div class="vertical-timeline-icon red-bg">
                                                    <i class="fa fa-times"></i>
                                                </div>
                                                <div class="vertical-timeline-content">
                                                    <p>
                                                        @Html.Raw(transactionHistory.userId_Title + " tarafından reddedilmiştir.").
                                                    </p>
                                                </div>
                                            </div>
                                            break;
                                        }
                                    }

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ibox">
                                <div id="bilgi" class="alert alert-warning text-center m-t-sm m-b-sm" style="text-align: center;padding:10px;">
                                    <strong> Masraf Onay Geçmişi Bulunmamaktadır </strong>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="form-horizontal" data-selector="modalContainer">

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="Type_Title">İşlem Tipi</label>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.type_Title, new Dictionary<string, object>()
                {
                    {"class", "form-control"},
                    {"readonly", "readonly"}
                })
            </div>
        </div>

        @if (Model.accountDataId_Title != null)
        {
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md" for="accountDataId_Title">Tedarikçi Hesap</label>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.accountDataId_Title, new Dictionary<string, object>()
                    {
                        {"class", "form-control"},
                        {"readonly", "readonly"}
                    })
                </div>
            </div>
        }


        @if (Model.type == (int)EnumPA_TransactionType.Masraf)
        {
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md" for="Title">Talep Tarihi</label>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.progressDate, "{0:dd.MM.yyyy}", new Dictionary<string, object>()
                    {
                        {"class", "form-control"},
                        {"readonly", "readonly"}
                    })
                </div>
            </div>
        }
        else
        {

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md" for="Title">Ödenecek Tarihi</label>
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.date, "{0:dd.MM.yyyy}", new Dictionary<string, object>()
                    {
                        {"class", "form-control"},
                        {"readonly", "readonly"}
                    })
                </div>
            </div>
        }



        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="totalAmount">Tutar</label>
            </div>
            <div class="col-md-8">
                <div class="input-group m-b">
                    @(Html
                    .Akilli().NumericTextBoxFor(model => model.amount)
                    .Spinners(false)
                    .Decimals(2)
                    .Format("N2")
                    .HtmlAttributes(new Dictionary<string, object>() {
                        {"readonly", "readonly" },
                        {"style", "width:100%" }
                    }))
                    <span class="input-group-addon">@Model.Currency_Symbol</span>
                </div>
            </div>
        </div>

        @if (Model.Currency_Symbol != "₺")
        {
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md" for="rateExchange">Bugünkü Kur</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group m-b">
                        @(Html
                        .Akilli().NumericTextBox("rateExchange")
                        .Spinners(false)
                        .Decimals(2)
                        .Format("N2")
                        .HtmlAttributes(new Dictionary<string, object>() {
                            {"readonly", "readonly" },
                            {"style", "width:100%" }
                        }))
                        <span class="input-group-addon">₺</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md" for="rateExchange">TL Karşılığı</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group m-b">
                        @(Html
                        .Akilli().NumericTextBox("TL")
                        .Spinners(false)
                        .Decimals(2)
                        .Format("N2")
                        .HtmlAttributes(new Dictionary<string, object>() {
                            {"readonly", "readonly" },
                            {"style", "width:100%" }
                        }))
                        <span class="input-group-addon">₺</span>
                    </div>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="Description">Dosya</label>
            </div>
            <div class="col-md-8">
                @if (Model.type == (int)EnumPA_TransactionType.BankaGideri)
                {
                    @(
                    Html.Akilli().FileUpload()
                    .DataTable("PA_Transaction")
                    .DataId(Model.id)
                    .DataKey(x => x.fileGroup == "Banka Gideri Dosyası")
                    .PreviewMode(true)
                )
                }
                else if (Model.type == (int)EnumPA_TransactionType.Vergi)
                {
                    @(
                    Html.Akilli().FileUpload()
                    .DataTable("PA_Transaction")
                    .DataId(Model.id)
                    .DataKey(x => x.fileGroup == "Vergi Dosyası")
                    .PreviewMode(true)
                )
                }
                else if (Model.type == (int)EnumPA_TransactionType.FisFatura)
                {
                    @(
                    Html.Akilli().FileUpload()
                    .DataTable("PA_Transaction")
                    .DataId(Model.id)
                    .DataKey(x => x.fileGroup == "Fiş/Fatura Dosyası")
                    .PreviewMode(true)
                )
                }
                else if (Model.type == (int)EnumPA_TransactionType.Masraf)
                {
                    @(
                    Html.Akilli().FileUpload()
                    .DataTable("PA_Transaction")
                    .DataId(Model.id)
                    .DataKey(x => x.fileGroup == "Masraf Dosyası")
                    .PreviewMode(true)
                )
                }
            </div>
        </div>


        @if (Model.debt == 0)
        {
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md" for="debt">Kalan</label>
                </div>
                <div class="col-md-8">
                    <span style="font-size:20px;color: green;"> <i class="fa fa-check"></i> Ödendi </span>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md" for="debt">Kalan</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group m-b">
                        @(Html
                        .Akilli().NumericTextBoxFor(model => model.debt)
                        .Spinners(false)
                        .Decimals(2)
                        .Format("N2")
                        .HtmlAttributes(new Dictionary<string, object>() {
                            {"readonly", "readonly" },
                            {"style", "width:100%" }
                        }))
                        <span class="input-group-addon">@Model.Currency_Symbol</span>
                    </div>
                </div>
            </div>
        }



        <div class="buttons">
            <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        </div>

    </div>
}
