@model Infoline.WorkOfTime.BusinessAccess.VMPA_TransactionModel
@{
    if (Model.IsCopy == true)
    {
        ViewBag.Title = Model.type_Title + "ını Yeniden Talep Et";
    }
    else if (Model.dataTable == "FTM_Task")
    {
        ViewBag.Title = "Göreve Masraf Ekle";
    }
    else
    {
        ViewBag.Title = Model.type_Title + " Ekle";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css" data-selector="modalContainer">

    .filterButtonActive {
        background-color: #168a73;
        border-color: #168a73;
        color: white;
    }

    .filterButtonPassive {
        background-color: #1ab394;
        border-color: #168a73;
        color: white;
    }
</style>

<script type="text/javascript" data-selector="modalContainer">

    var expense = {
        loaded : false,
        model: @Html.Raw(Infoline.Helper.Json.Serialize(Model)),
        events: {
            currencyDataBound: function (e) {
                if (expense.loaded == false) {
                    var tl = $.Enumerable.From(e.sender.dataItems()).Where(a => a.code == "TL").FirstOrDefault();
                    e.sender.value(tl.id);
                    e.sender.trigger("change");
                    $('[for="status_1"]').trigger("click");
                    $('#amount').trigger("keyup");
                    expense.loaded = true;
                }
            },
            currencyChange: function (e) {
                $('[data-transaction="currency"]').text(e.sender.dataItem().symbol);
            },
        }
    }

    $(document)
        .on("click", '[data-name="filterDate"]', function (e) {
            var _this = $(this);
            $('.filterButtonActive').removeClass("filterButtonActive").addClass("filterButtonPassive");
            _this.removeClass("filterButtonPassive").addClass("filterButtonActive");
            var attr = _this.attr("data-id");
            var issueDate = $('#progressDate').data("kendoDatePicker").value();
            var newDate = new Date(issueDate).addDays(parseInt(attr));
            $('#date').data("kendoDatePicker").value(newDate);
        })
        .on("change", '[name="status"]', function (e) {
            var value = $('[name="status"]:checked').val();
            $('[data-id="status"]').addClass("hide");
            $('#statusDiv_' + value).removeClass("hide");
        })
        .on("keyup", "#amount, #tax", function (e, res) {
            var amount = $('#amount').val();
            var tax = $('#tax').val();

            amount = amount && amount != null && amount != "" ? parseFloat(amount): 0;
            tax = tax && tax != null && tax != "" ? parseFloat(tax): 0;

            $('#totalAmount').text(kendo.toString(amount + tax, "N2"));
        })

</script>

@using (Html.BeginForm("Insert", "VWPA_Transaction", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" },
    {"id", "VWPA_InsertExpenseForm" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.direction)
    @Html.HiddenFor(model => model.type)
    @Html.HiddenFor(model => model.dataTable)
    @Html.HiddenFor(model => model.dataId)
    @Html.HiddenFor(model => model.IsCopy)





    Html.RenderPartial("~/Areas/PA/Views/VWPA_Transaction/Expense/Action" + Model.type + ".cshtml", Model);

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">@(Model.IsCopy == true ? "Yeniden Talep Et" : "Kaydet")</button>
    </div>

}
