@model Infoline.WorkOfTime.BusinessData.VWCSM_Activity
@{
    ViewBag.Title = "Görüşme Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-selector="modalContainer" class="form-horizontal">

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="studentId">Öğrenci</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.studentId_Title, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"},
            })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="type">Görüşme Tipi</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.type_Title, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"},
            })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="date">Görüşme Zamanı/Süresi(dk)</label>
        </div>
        <div class="col-md-6">
            @(
                Html.Akilli().
                DatePickerFor(model => model.date).
                Format(Extensions.DateFormatShort()).
                Value(Model.date.HasValue ? Model.date.Value : DateTime.Now).
                Enable(false)
            )
        </div>
        <div class="col-md-2">
            @(Html.Akilli().NumericTextBoxFor(model => model.duration).Min(0).Decimals(0).Format("N0").Placeholder("dk").Enable(false).Spinners(false))
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="stageId">Görüşme Aşaması</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.stageId_Title, new Dictionary<string, object>()
             {
                 {"class", "form-control"},
                {"readonly", "readonly"},
             })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="contactDate">Varsa Randevu Tarihi</label>
        </div>
        <div class="col-md-8">
            @(
                Html.Akilli().
                DateTimePickerFor(model => model.contactDate).
                Enable(false).
                Format(Extensions.DateFormatFull())
            )
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="description">Açıklama</label>
        </div>
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.description, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"},
            })
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>
</div>
