@model Infoline.WorkOfTime.BusinessAccess.VMPRD_TransactionModel
@{
    ViewBag.Title = "Stok Envanter İşlemi Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var types = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumPRD_TransactionType>();
    var count = types.Count();
}


<script type="text/javascript" data-selector="modalContainer">
    function CalculateFunction(price, quantity) {
    
    };

	function alternativeQuantityFunc(data) {
		var span = '<span data-placement="left" data-toggle="tooltip" title="İşlem Yapılan Miktar"';
		if (data.alternativeQuantity < 0 || data.quantity < 0) {
			span += ' style="color:red">-';
		}
		else {
			span += ' style="color:green">';
		}

		span += kendo.toString(data.alternativeQuantity, 'n2');
		span += " ";
		span += data.alternativeUnitId_Title;

		span += "</span>";


		return span;

	}

	function quantityFunc(data) {

		var span = '<span data-placement="right" data-toggle="tooltip" title="Ürünün Varsayılan Birim Karşılığı"';
		if (data.quantity < 0) {
			span += ' style="color:red">';
		}
		else {
			span += ' style="color:green">';
		}

		span += kendo.toString(data.quantity, 'n2');
		span += " ";
		span += data.unitId_Title;

		span += "</span>";

		return span;
	}


</script>
<style type="text/css" data-selector="modalContainer">

    .form-group {
        margin-bottom: 10px;
    }

    .modal-lg {
        width: 95%;
    }

    table.table-custom {
        table-layout: fixed;
    }

        table.table-custom thead {
            background-color: #d6d5d4;
            font-size: 11px;
        }

        table.table-custom tr {
            border-bottom: 1px #d6d5d4 solid;
        }

        table.table-custom tbody tr:last-child {
            border-bottom: none;
        }

        table.table-custom tbody td {
            padding: 6px !important;
        }
</style>

<div class="form-horizontal" data-selector="modalContainer">
    <div class="ibox">
        <div class="ibox-content clearfix" style="border:none;">
            <div class="row">
                <div class="col-md-4">

                    <div class="row">
                        <div class="col-md-4 text-right">
                            <strong>Evrak Kodu</strong>
                        </div>
                        <div class="col-md-8">
                            :  @Model.code
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right">
                            <strong>Evrak Tarihi (Fiil'i)</strong>
                        </div>
                        <div class="col-md-8">
                            : @string.Format("{0:dd.MM.yyyy HH:mm}", Model.date)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right">
                            <strong>Evrak Açıklaması</strong>
                        </div>
                        <div class="col-md-8">
                            : @Model.description
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-5 text-right">
                            <strong>İşlemi Gerçekleştiren</strong>
                        </div>
                        <div class="col-md-7">
                            : @Model.createdby_Title
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 text-right">
                            <strong>Evrak Kayıt Tarihi</strong>
                        </div>
                        <div class="col-md-7">
                            : @string.Format("{0:dd.MM.yyyy HH:mm}", Model.created)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 text-right">
                            <strong>İşlem Tipi</strong>
                        </div>
                        <div class="col-md-7">
                            : @Model.type_Title
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <label class="control-label label-md" for="File">İşlem Dosyası</label>
                    </div>
                    <div class="col-md-8">
                        @(
                             Html.Akilli().FileUpload()
                            .DataTable("PRD_Transaction")
                            .DataId(Model.id)
                            .DataKey(x => x.fileGroup == "İşlem Dosyası")
                            .PreviewMode(true)
                        )
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="hr-line-dashed"></div>
                </div>
                @switch ((EnumPRD_TransactionType)Model.type)
                {
                    case EnumPRD_TransactionType.GidenIrsaliye:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Çıkış Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.outputCompanyId_Title - @Model.outputId_Title
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>Müşteri Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.inputCompanyId_Title - @Model.inputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.GelenIrsaliye:
                        <div class="clearfix">
                            <div class="col-md-4">

                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Giriş Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        :  @Model.inputCompanyId_Title - @Model.inputId_Title @Model.inputId_Adress
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>Tedarikçi/Cari</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.outputCompanyId_Title  @(Model.outputId_Title ?? "")
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.Kiralama:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Giriş Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.inputCompanyId_Title - @Model.inputId_Title
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>Tedarikçi/Cari ve Depo/Şubesi</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.outputCompanyId_Title - @Model.outputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Sözleşme Başlangıç Tarihi</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.startDate
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>Sözleşme Bitiş Tarihi</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.endDate
                                    </div>
                                </div>
                            </div>
                        </div>

                        break;
                    case EnumPRD_TransactionType.KiralayaVerme:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Çıkış Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.outputCompanyId_Title - @Model.outputId_Title
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>Kiraya Verilen Cari ve Depo/Şubesi</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.inputCompanyId_Title - @Model.inputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Sözleşme Başlangıç Tarihi</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.startDate
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>Sözleşme Bitiş Tarihi</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.endDate
                                    </div>
                                </div>
                            </div>
                        </div>

                        break;
                    case EnumPRD_TransactionType.AcilisFisi:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Giriş Yapılacak Şube/Depo</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.inputCompanyId_Title - @Model.inputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.SarfFisi:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Çıkış Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.outputCompanyId_Title - @Model.outputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.FireFisi:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Çıkış Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.outputCompanyId_Title - @Model.outputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.SayimEksigi:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Giriş Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.outputCompanyId_Title - @Model.outputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.SayimFazlasi:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Giriş Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.inputCompanyId_Title - @Model.inputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.UretimFisi:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Giriş Yapılacak Depo</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.inputId_Title
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>Üretimi Gerçekleştiren</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.createdby_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.ZimmetVerme:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Çıkış Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.outputCompanyId_Title - @Model.outputId_Title
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>Zimmet Yapılacak Personel</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.inputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.ZimmetAlma:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Giriş Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.inputCompanyId_Title - @Model.inputId_Title
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>İade Eden Personel</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.outputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    case EnumPRD_TransactionType.Transfer:
                        <div class="clearfix">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4 text-right">
                                        <strong>Çıkış Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-8">
                                        : @Model.outputCompanyId_Title - @Model.outputId_Title
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-5 text-right">
                                        <strong>Giriş Yapılacak Depo/Şube</strong>
                                    </div>
                                    <div class="col-md-7">
                                        : @Model.inputCompanyId_Title - @Model.inputId_Title
                                    </div>
                                </div>
                            </div>
                        </div>
                        break;
                    default:
                        break;
                }

            </div>

            <div class="clearfix m-t-md" id="productTable">
                @*<table class="table table-custom" cellpadding="1" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:40%">ÜRÜN</th>
                                <th style="width:36%">SERİ NUMARALARI</th>
                                <th style="width:10%">MİKTAR </th>
                                <th style="width:10%">BİRİM FİYAT</th>
                                <th style="width:10%">TOPLAM FİYAT</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var action in Model.items.Select((item, index) => new { item = item, index = index }))
                            {
                                <tr>
                                    <td>
                                        @action.item.productId_Title
                                    </td>
                                    @if (action.item.serialCodes != null)
                                    {
                                        <td style="overflow-wrap: break-word;">
                                            @(action.item.serialCodes.Count() > 0 ? string.Join(", ", action.item.serialCodes) : "-")
                                        </td>
                                    }
                                    else
                                    {
                                        <td> - </td>
                                    }

                                    <td>
                                        @String.Format("{0:N2}", action.item.quantity)  @action.item.unitId_Title
                                    </td>
                                    <td>
                                        @String.Format("{0:N2}", action.item.unitPrice) @action.item.currencyTitle
                                    </td>
                                    <td>
                                        @String.Format("{0:N2}", action.item.quantity * action.item.unitPrice)  @action.item.currencyTitle
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>*@

                @(Html.Kendo().Grid(Model.items)
					.Name("Grid")
					.Columns(columns =>
					{
						columns.Bound(p => p.productId_Title).Title("Ürün").Width(180);
						columns.Bound(p => p.serialCodes).Title("Seri Numaraları").Width(130);
						columns.Bound(y => y.alternativeQuantity).Title("İşlem Yapılan Miktar").ClientTemplate("#=alternativeQuantityFunc(data)#").Width(150);
						columns.Bound(y => y.quantity).Title("Varsayılan Birim Karşılığı").ClientTemplate("#=quantityFunc(data)#").Width(150);
						columns.Bound(p => p.unitPrice).Title("Birim Fiyat").ClientTemplate("<span> #=kendo.toString(unitPrice!=null ? unitPrice : '0,00','n2')# #=currencyTitle!=null ? currencyTitle : ''#</span>").Width(130);
						columns.Bound(p => p.quantity).Title("Toplam Fiyat").ClientTemplate(" #=kendo.toString((unitPrice*quantity),'n2')# #=currencyTitle!=null ? currencyTitle : ''#").Width(130);
						columns.Bound(p => p.transactionTypeTitle).Title("İşlem Tipi").Hidden(true);
						columns.Bound(p => p.inputCompanyId_Title).Title("Giriş Yapılan Cari").Hidden(true);
						columns.Bound(p => p.inputId_Title).Title("Giriş Yapılan Depo").Hidden(true);
						columns.Bound(p => p.outputCompanyId_Title).Title("Çıkış Yapılan Cari").Hidden(true);
						columns.Bound(p => p.outputId_Title).Title("Çıkış Yapılan Depo").Hidden(true);
					})
					.Pageable( pageable => pageable
						.Input(true)
						.Numeric(false)
					 )
					.Sortable()
					.Scrollable(scr=>scr.Height(300))
					.Filterable()
					.DataSource(dataSource => dataSource
						.Ajax()
						.PageSize(20)
						.ServerOperation(false)
					 )
					.ToolBar(x=> {
						x.Excel().Text("Excel'e Aktar");
					})
					 .Excel(excel => excel
					 .FileName("Stok Envanter İşlemi Detay.xlsx")
				  )
					 .Events(x =>
					 {
						 x.ExcelExport("Kendo_ExcelExport");
					 }))
            </div>


            <div class="buttons">
                <div class="hr-line-dashed"></div>
                <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
            </div>

        </div>
    </div>
</div>