@model Infoline.WorkOfTime.BusinessData.VWUT_Template
@{
    ViewBag.Title = "Şablon Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Plugins/ckeditor5.1/ckeditor.js" data-selector="modalContainer"></script>

<style type="text/css" data-selector="modalContainer">
    .modelDropDown {
        width: 133px;
    }
        .modelDropDown > a > .cke_combo_inlinelabel {
            width: 95px;
        }
</style>
@using (Html.BeginForm("Insert", "VWUT_Template", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)


    <div class="row">
        <div class="form-group col-md-8">
            <label for="code" class="req">Şablon Kodu</label>
            @Html.TextBoxFor(model => model.code, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Şablon Kodu giriniz.."}
            }).Validate(Validations.TextEverywhere(true))
        </div>

        <div class="form-group col-md-3 pull-right">
            <label class="req" for="status">Şablon Durumu</label>
            @(Html.Akilli().RadioButtonGroupFor(a=>a.status).Value(EnumUT_TemplateStatus.active))
        </div>

    </div>

    <div class="form-group">
        <label for="title" class="req">Şablon Tipi</label>
        @(
            Html.Akilli().
            DropDownListFor(model => model.type).
            OptionLabel("Lütfen Şablon Tipi İşlemi Seçiniz..").
            DataTextField("enumDescription").
            DataValueField("Id").
            Action(b => b.Action("GetEnums", "General", new { area = string.Empty })).
            Filter<Infoline.WorkOfTime.BusinessData.SYS_Enums>(a => a.tableName == "UT_Template" && a.fieldName == "type").
            Sort(x => x.Add("enumKey").Ascending()).
            Validate(Validations.Required).
            Execute("enumKey")
        )
    </div>

    <div class="form-group">
        <label for="title" class="req">Şablon Başlığı</label>
        @Html.TextBoxFor(model => model.title, new Dictionary<string, object>()
        {
            {"class", "form-control"},
            {"placeholder", "Lütfen Şablon Başlığı giriniz.."}
        }).Validate(Validations.TextEverywhere(true))
    </div>

    <div class="form-group">
        <label for="content" class="req" style="text-transform:uppercase;font-weight:bold;font-size:12px;color:rgb(0 0 0 / 70%);">Şablon İçeriği</label>
        @Html.HiddenFor(a => a.template)
        @Html.TextArea("templateFakeElement", HttpUtility.HtmlDecode(Model.template))
        <script type="text/javascript">
            var editor = CKEDITOR.replace('templateFakeElement', {
                language: 'tr',
                height: 320,
                htmlEncodeOutput: true,
                removeButtons: 'Save',
                removePlugins: 'Save'
            });

            editor.on('instanceReady', function () { $("#template").val(new Option(editor.getData()).innerHTML);});
            editor.on('change', function () { $("#template").val(new Option(editor.getData()).innerHTML); });


            editor.ui.addRichCombo('myparameters', {
                label: "Personel Bilgileri",
                title: "Personel Bilgileri",
                voiceLabel: "Personel Bilgileri",
                className: 'cke_format modelDropDown',
                multiSelect: false,
                panel:
                {
                    css: [CKEDITOR.config.contentsCss, CKEDITOR.getUrl("skins/moono-lisa/" + 'editor.css')],
                    multiSelect: false,
                },
                init: function () {
                    var list = this;
                    list.add('Personel(Model.firstname != null ? Model.firstname : "-")', "Personel İsmi");
                    list.add('Personel(Model.lastname != null ? Model.lastname : "-")', "Personel Soyismi");
                    list.add('Personel(Model.birthday != null ? Model.birthday.ToString("dd.MM.yyyy") : "-")', "Doğum Tarihi");
                    list.add('Personel(Model.address != null ? Model.address : "-")', "Adresi");
                    list.add('Personel(Model.phone != null ? Model.phone : "-")', "Telefon Numarası");
                    list.add('Personel(Model.email != null ? Model.email : "-")', "Mail Adresi");
                    list.add('Personel(Model.Company_Title != null Model.Company_Title : "-")', "Çalıştığı Firma");

                },
                onClick: function (value) {
                    editor.focus();
                    editor.fire('saveSnapshot');
                    editor.insertHtml("<span style='color:#ff0001'>" + value + "</span>");
                    editor.fire('saveSnapshot');
                }
            });

            editor.ui.addRichCombo('myProjectParameters', {
                label: "Proje Bilgileri",
                title: "Proje Bilgileri",
                voiceLabel: "Proje Bilgileri",
                className: 'cke_format modelDropDown',
                multiSelect: false,
                panel:
                {
                    css: [CKEDITOR.config.contentsCss, CKEDITOR.getUrl("skins/moono-lisa/" + 'editor.css')],
                    multiSelect: false,
                },
                init: function () {
                    var list = this;
                    list.add('Proje(Model.ProjectName != null ? Model.ProjectName : "-")', "Proje İsmi");
                    list.add('Proje(Model.ProjectCode != null ? Model.ProjectCode : "-")', "Proje Kodu");
                },
                onClick: function (value) {
                    editor.focus();
                    editor.fire('saveSnapshot');
                    editor.insertHtml("<span style='color:#ff0001'>" + value + "</span>");
                    editor.fire('saveSnapshot');
                }
            });

            editor.ui.addRichCombo('myTaskParameters', {
                label: "Görev Bilgileri",
                title: "Görev Bilgileri",
                voiceLabel: "Görev Bilgileri",
                className: 'cke_format modelDropDown',
                multiSelect: false,
                panel:
                {
                    css: [CKEDITOR.config.contentsCss, CKEDITOR.getUrl("skins/moono-lisa/" + 'editor.css')],
                    multiSelect: false,
                },
                init: function () {
                    var list = this;
                    list.add('Görev(Model.code != null ? Model.code : "-")', "Görev Kodu");
                },
                onClick: function (value) {
                    editor.focus();
                    editor.fire('saveSnapshot');
                    editor.insertHtml("<span style='color:#ff0001'>" + value + "</span>");
                    editor.fire('saveSnapshot');
                }
            });


            editor.ui.addRichCombo('myWordHelpers', {
                label: "Word Eklentileri",
                title: "Word Eklentileri",
                voiceLabel: "Word Eklentileri",
                className: 'cke_format modelDropDown',
                multiSelect: false,
                panel:
                {
                    css: [CKEDITOR.config.contentsCss, CKEDITOR.getUrl("skins/moono-lisa/" + 'editor.css')],
                    multiSelect: false,
                },
                init: function () {
                    var list = this;
                    list.add('{%Ust_Bilgi_Baslangic%} - {%Ust_Bilgi_Bitis%}', "Üst Bilgi");
                    list.add('{%Alt_Bilgi_Baslangic%} - {%Alt_Bilgi_Bitis%}', "Alt Bilgi");
                    list.add('{%Sayfa_Sonu%}', "Sayfa Sonu");
                },
                onClick: function (value) {
                    editor.focus();
                    editor.fire('saveSnapshot');
                    editor.insertHtml("<span style='color:#ff0001'>" + value + "</span>");
                    editor.fire('saveSnapshot');
                }
            });

        </script>
    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}
