@model Infoline.WorkOfTime.BusinessData.VWHR_StaffNeedsRequester
@{
    ViewBag.Title = "Kayıt Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="RequestDate">RequestDate</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.RequestDate, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ArrivalType">ArrivalType</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ArrivalType, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Education">Education</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Education, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="MilitaryStatus">MilitaryStatus</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.MilitaryStatus, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Language">Language</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Language, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="LanguageType">LanguageType</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.LanguageType, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DriverLicense">DriverLicense</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DriverLicense, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ExprienceYear">ExprienceYear</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ExprienceYear, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ReasonForStaffDemand">ReasonForStaffDemand</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ReasonForStaffDemand, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="EmploymentStatus">EmploymentStatus</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.EmploymentStatus, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Gender">Gender</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Gender, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="MaritalStatus">MaritalStatus</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.MaritalStatus, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Travelability">Travelability</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Travelability, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Description">Description</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Description, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="RetirementDate">RetirementDate</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.RetirementDate, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="IkApproval">IkApproval</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.IkApproval, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="NeedCode">NeedCode</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.NeedCode, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="SalaryRangeMin">SalaryRangeMin</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.SalaryRangeMin, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="SalaryRangeMax">SalaryRangeMax</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.SalaryRangeMax, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Comment">Comment</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Comment, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="lastStatus">lastStatus</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.lastStatus, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="LocationId_Title">LocationId_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.LocationId_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="lastStatus_Title">lastStatus_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.lastStatus_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ReasonForStaffDemand_Title">ReasonForStaffDemand_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ReasonForStaffDemand_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Education_Title">Education_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Education_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DriverLicense_Title">DriverLicense_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DriverLicense_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="TotalYonlendirme">TotalYonlendirme</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.TotalYonlendirme, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="HrPosition_Title">HrPosition_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.HrPosition_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="HrKeywords_Title">HrKeywords_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.HrKeywords_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
