@model Infoline.WorkOfTime.BusinessAccess.VMPRD_TransactionModel

<div class="row hide" data-type="12">
    <div class="hr-line-dashed"></div>
    <div class="col-md-6">
        <div class="form-group req">
            <div class="col-md-4">
                <label class="control-label label-md req" for="startDate12">Sözleşme Başlangıç Tarihi</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli().
                    DatePickerFor(model => model.startDate).
                    Id("startDate12").
                    Enable(false).
                    Value(DateTime.Now).
                    Placeholder("Lütfen Başlangıç Tarihi Giriniz..").
                    Format("dd.MM.yyyy").
                    MaxDateElement("endDate12")
                )
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group ">
            <div class="col-md-4">
                <label class="control-label label-md req" for="endDate12">Sözleşme Bitiş Tarihi</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli().
                    DatePickerFor(model => model.endDate).
                    Id("endDate12").
                    Enable(false).
                    Value(DateTime.Now.AddYears(1)).
                    Placeholder("Lütfen Bitiş Tarihi Giriniz..").
                    Format("dd.MM.yyyy")
                    .MinDateElement("startDate12")
                )
            </div>
        </div>
    </div>
</div>
<div class="row hide" data-type="12">
    <div class="hr-line-dashed"></div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md req" for="outputId12">Çıkış Yapılacak Depo</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.outputId)
                    .Id("outputId12")
                    .OptionLabel("Lütfen Seçim Yapınız..")
                    .DataTextField("fullName")
                    .DataValueField("id")
                    .Template("#=TemplateEngine('storageTemplate',data)#")
                    .ValueTemplate("#=companyId_Title# | #=fullName#)")
                    .Action(b => b.Action("DataSourceDropDown", "VWCMP_Storage", new { area = "CMP" }))
                    .Events(a => a.Change("page.events.outputChange"))
                    .AddAttribute("data-change", "true")
                    .Filter<VWCMP_Storage>(a => a.myStorage == true)
                    .Sort(x => x.Add("fullName").Ascending())
                    .Enable(false)
                    .AutoBind(false)
                    .Execute()
                )
                @Html.Hidden("outputTable", "CMP_Storage", new { id = "outputTable12", disabled = "true" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md req" for="inputCompanyId12">Müşteri/Alıcı Cari</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.inputCompanyId)
                    .Id("inputCompanyId12")
                    .OptionLabel("Lütfen Seçim Yapınız..")
                    .DataTextField("name")
                    .DataValueField("id")
                    .Template("#=TemplateEngine('companyTemplate',data)#")
                    .Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
                    .Sort(x => x.Add("name").Ascending())
                    .Enable(false)
                    .AutoBind(false)
                    .Execute()
                )
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md req" for="inputId12">Müşteri/Alıcı Şube/Depo</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.inputId)
                    .Id("inputId12")
                    .OptionLabel("Lütfen Seçim Yapınız..")
                    .DataTextField("name")
                    .DataValueField("id")
                    .Template("#=TemplateEngine('storageTemplate',data)#")
                    .ValueTemplate("#=companyId_Title# | #=fullName#)")
                    .Action(b => b.Action("DataSourceDropDown", "VWCMP_Storage", new { area = "CMP" }))
                    .Events(a => a.Change("page.events.inputChange"))
                    .Sort(x => x.Add("name").Ascending())
                    .CascadeFrom("inputCompanyId12")
                    .CascadeFromField("companyId")
                    .Enable(false)
                    .AutoBind(false)
                    .Execute()
                )
                @Html.Hidden("inputTable", "CMP_Storage", new { id = "inputTable10", disabled = "true" })
            </div>
        </div>
    </div>
</div>

