@model Infoline.WorkOfTime.BusinessAccess.VMPRD_TransactionModel

<div class="row hide" data-type="0">
    <div class="hr-line-dashed"></div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md req" for="outputCompanyId0">Gönderici Cari</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.outputCompanyId)
                    .Id("outputCompanyId0")
                    .OptionLabel("Lütfen Seçim Yapınız..")
                    .DataTextField("name")
                    .DataValueField("id")
                    .Template("#=TemplateEngine('companyTemplate',data)#")
                    .Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
                    .BasicInsert(Url.Action("Insert", "VWCMP_Company", new { area = "CMP", type = (int)EnumCMP_CompanyType.Diger }), "name", true)
                    .Events(a => a.Change("page.events.outputCompanyChange"))
                    .AddAttribute("data-change","true")
                    .Sort(x => x.Add("name").Ascending())
                    .Enable(false)
                    .AutoBind(false)
                    .Execute()
                )
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="outputId0">Gönderici Şube/Depo</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.outputId)
                    .Id("outputId0")
                    .OptionLabel("Lütfen Seçim Yapınız..")
                    .DataTextField("name")
                    .DataValueField("id")
                    .Template("#=TemplateEngine('storageTemplate',data)#")
                    .ValueTemplate("#=companyId_Title# | #=fullName#)")
                    .Action(b => b.Action("DataSourceDropDown", "VWCMP_Storage", new { area = "CMP" }))
                    .Events(a => a.Change("page.events.outputChange"))
                    .AddAttribute("data-change", "true")
                    .Sort(x => x.Add("name").Ascending())
                    .CascadeFrom("outputCompanyId0")
                    .CascadeFromField("companyId")
                    .Enable(false)
                    .AutoBind(false)
                    .Execute()
                )
                @Html.Hidden("outputTable", "CMP_Storage", new { id = "outputTable0", disabled = "true" })
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md req" for="inputId0">Giriş Yapılacak Şube/Depo</label>
            </div>
            <div class="col-md-8">
                @(
                    Html.Akilli()
                    .DropDownListFor(model => model.inputId)
                    .Id("inputId0")
                    .OptionLabel("Lütfen Seçim Yapınız..")
                    .DataTextField("name")
                    .DataValueField("id")
                    .Template("#=TemplateEngine('storageTemplate',data)#")
                    .ValueTemplate("#=companyId_Title# | #=fullName#)")
                    .Action(b => b.Action("DataSourceDropDown", "VWCMP_Storage", new { area = "CMP" }))
                    .Filter<VWCMP_Storage>(a=>a.myStorage == true)
                    .Sort(x => x.Add("name").Ascending())
                    .Enable(false)
                    .AutoBind(false)
                    .Execute()
                )
                @Html.Hidden("inputTable", "CMP_Storage", new { id = "inputTable0", disabled = "true" })
            </div>
        </div>
    </div>



</div>
