@model Infoline.WorkOfTime.BusinessData.VWSYS_Notification
@{
    ViewBag.Title = "Bildirim Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="userId">Gönderen Kullanıcı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.createdby_Title, new Dictionary<string, object>()
             {
                 {"class", "form-control"},
                 {"readonly", "readonly"}
             })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="userId">Gönderilen Kullanıcı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.userId_Title, new Dictionary<string, object>()
             {
                 {"class", "form-control"},
                 {"readonly", "readonly"}
             })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="title">Başlık</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.title, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            }).Validate(Validations.Required)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="message">İçerik</label>
        </div>
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.message, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="url">URL</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.url, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="paramaters">Parametre</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.paramaters, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>





    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
