@model Infoline.WorkOfTime.BusinessData.VWSYS_Notification
@{
    ViewBag.Title = "Bildirim Gönder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Insert", "VWSYS_Notification", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="userId">Gönderilecek Kullanıcı Seçiniz</label>
        </div>
        <div class="col-md-8">
            @(Html.Akilli()
            .DropDownList("userId")
            .DataTextField("FullName")
            .DataValueField("id")
            .Action(b => b.Action("DataSourceDropDown", "VWSH_User", new { area = "SH" })))
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="title">Başlık</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.title, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Başlık Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="message">İçerik</label>
        </div>
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.message, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen İçerik Girin.."},
            })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="url">URL</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.url, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen URL Girin.."},
            })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="paramaters">Parametre</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.paramaters, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Parametre Girin.."},
            })
        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Gönder</button>
    </div>
}
