@model Infoline.WorkOfTime.BusinessAccess.VMPRD_TransactionModel
@{
    ViewBag.Title = "Print";
    var sayac = 0;
    var logo = "https://" + Request.Url.Authority + "" + TenantConfig.Tenant.Config.Logo;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="@TenantConfig.Tenant.Config.Favicon">
    <script type='text/javascript'>
        function ImageError(element, image) {
            element.onerror = '';
            element.src = image;
        }
    </script>
    <style type="text/css" data-selector="modalContainer">
        table {
            width: 100%;
        }

        td.stil {
            height: 28px;
            width: 280px;
            padding-left: 5px;
            font-weight: bold;
        }

        .space-left {
            padding-left: 5px;
        }

        .demo-section {
            position: absolute;
            top: 11px;
            left: 805px;
        }

        td {
            width: 320px;
        }

        table#sub tr td {
            text-align: center;
            line-height: 20px;
            font-size: 15px;
        }

        table#headerTable {
            margin-bottom: 20px;
        }

        .stil-padding {
            padding: 7px 7px 7px 7px;
        }

        .footer {
            position: fixed;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 50px;
            padding: 15px;
            background-color: #ffffff;
        }
    </style>

</head>
<body>
    <div>
        <table id="headerTable" class="m-b-sm" style="width:100%" border="1" cellpadding="0" cellspacing="0" data-selector="modalContainer">
            <thead>
                <tr>
                    <td style="padding-right: 5px;width: 16%;text-align: center;">
                        <img src="@logo" width="98" alt="image" onerror="ImageError(this,'@logo')">

                    </td>
                    <td>
                        <table id="sub" class="m-b-sm" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="5" class="stil" style="text-align: center; border-bottom: 1px solid gray;font-size: 18px;line-height: 52px;"><b>@Model.type_Title</b></td>
                            </tr>
                            <tr>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">DOK. NO</td>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">YÜRÜRLÜK TARİHİ</td>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">REVİZYON NO</td>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">REVİZYON TARİHİ</td>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">S.NO</td>
                            </tr>
                            <tr>
                                <td class="stil" style="border-right: 1px solid gray">SRC-13-FRM-12</td>
                                <td class="stil" style="border-right: 1px solid gray">20.11.2017</td>
                                <td class="stil" style="border-right: 1px solid gray">02</td>
                                <td class="stil" style="border-right: 1px solid gray">05.09.2018</td>
                                <td class="stil" style="border-right: 1px solid gray">1/1</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </thead>
        </table>
        <table class="m-b-sm" border="1" cellpadding="0" cellspacing="0" style="max-width:100%" data-selector="modalContainer">
            <tr>
                <td colspan="12" align="left" valign="middle" class="stil" style="background: #80808038;"><strong>Personel Bilgileri</strong></td>
            </tr>
            <tr>
                <td class="stil" colspan="5"> Kimlik No</td>
                <td colspan="7" data-prop="Adress" class="space-left">@(Model.printInfo.user.loginname)</td>
            </tr>
            <tr>
                <td class="stil" colspan="5">Ad - Soyad </td>
                <td colspan="7" data-prop="Adress" class="space-left">@Model.printInfo.user.FullName</td>
            </tr>
            <tr>
                <td class="stil" colspan="5">Departman </td>
                <td colspan="7" data-prop="Adress" class="space-left">@(Model.printInfo.user.Department_Title)</td>
            </tr>
            <tr>
                <td class="stil" colspan="5">Pozisyon </td>
                <td colspan="7" data-prop="Adress" class="space-left">@(Model.printInfo.user.title)</td>
            </tr>
            <tr>
                <td class="stil" colspan="5">İşe Giriş Tarihi</td>
                <td colspan="7" data-prop="Adress" class="space-left">@string.Format("{0:dd.MM.yyyy}", Model.printInfo.user.JobStartDate)</td>
            </tr>
            <tr>
                <td colspan="12" class="stil"></td>
            </tr>
            <tr>
                <td colspan="12" align="left" valign="middle" class="stil" style="background: #80808038;"><strong>Depo Bilgileri</strong></td>
            </tr>
            <tr>
                <td class="stil" colspan="5"> Depo Adı</td>
                <td colspan="7" data-prop="Adress" class="space-left">@(Model.inputId_Title)</td>
            </tr>
            <tr>
                <td colspan="12" class="stil"></td>
            </tr>
            <tr>
                <td colspan="12" align="left" valign="middle" class="stil" style="background: #80808038;"><strong>Envanter Bilgileri</strong></td>
            </tr>
            <tr>
                <th>Sıra No</th>
                <th>Seri Numaraları</th>
                <th>Envanter Adı</th>
                <th>Miktar</th>
                <th>Teslim Edilen Tarih</th>
                <th>Kullanım Durumu</th>
                <th>Kusur Durumu</th>
                <th>Kusur Açıklaması</th>
            </tr>
            @foreach (var item in Model.items.ToList())
            {
                sayac += 1;
                <tr>
                    <td style="text-align:center; padding:1px">@sayac</td>
                    <td style="text-align:center; padding:1px;word-break: break-word;">@(item.serialCodes != null ? item.serialCodes : "-")</td>
                    <td style="text-align:center; padding:1px">@item.productId_Title</td>
                    <td style="text-align:center; padding:1px">@item.quantity @item.unitId_Title</td>
                    <td style="text-align:center; padding:1px">@string.Format("{0:dd.MM.yyyy}", Model.date)</td>
                    <td style="text-align:center; padding:1px"></td>
                    <td style="text-align:center; padding:1px"></td>
                    <td style="text-align:center; padding:1px;word-break: break-word;  width:25%;"></td>
                </tr>
            }
            <tr>
                <td colspan="12" class="stil"></td>
            </tr>
            <tr>
                <td colspan="12" class="stil-padding" style="height: 90px; padding-top: -5px; text-align: justify; padding-bottom: 45px;">
                    <font>
                        Envanter/Taşınabilir Cihaz, Araç ve Gereç olarak aldığım bu malzemeyi; şirket içinde yayınlanan
                        Zimmet Yönetmeliği şartlarına uygun olarak kullandım ve eksiksiz, çalışır durumda iade ettim.
                        Zimmet Yönetmeliğinden doğacak tüm sorumlukları kabul ediyorum.<br /><br />
                        Ad-Soyad/Tarih/İmza
                    </font>
                </td>
            </tr>
            

        </table>

        <table class="m-b-sm" border="1" cellpadding="0" cellspacing="0" style="max-width:100%" >
            <tr>
                <td style="border-bottom:1px solid !important;" colspan="6" align="left" valign="middle">
                    <strong> Teslim Alan</strong> <br /><br />
                    Ad Soyad: @Model.createdby_Title <br /><br />
                    İmza:<br /><br />
                    Tarih:
                </td>
                <td style="border-bottom:1px solid !important;" colspan="6" align="left" valign="middle">
                    <strong>Teslim Eden</strong> <br /><br />
                    Ad Soyad: @(Model.outputId_Title)<br /><br />
                    İmza: <br /><br />
                    Tarih:
                </td>
            </tr>
        </table>

        <footer class="footer">
            <table class="m-b-sm" cellpadding="0" cellspacing="0" data-selector="modalContainer" style="font-size: 10px;border-top: 1px solid gray;border-bottom: 1px solid gray;border-right: none;border-left: none;">
                <tr>
                    <td style="line-height:15px;text-align: center;border: none;">[ ] ÇOK GİZLİ</td>
                    <td style="line-height:15px;text-align: center;border: none;">[ ] GİZLİ</td>
                    <td style="line-height:15px;text-align: center;border: none;">[ X ] HİZMETE ÖZEL</td>
                    <td style="line-height:15px;text-align: center;border: none;">[ ] ANONİM</td>
                    <td style="line-height:15px;text-align: center;border: none;">[ X ] DAHİLİ</td>
                    <td style="line-height:15px;text-align: center;border: none;">[   ] HARİCİ</td>
                </tr>
            </table>
        </footer>
    </div>
</body>
</html>
