@model Infoline.WorkOfTime.BusinessAccess.VWPRD_ProductionSchemaModel
@{
    ViewBag.Title = "Üretim Şeması Tanımla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Insert", "VWPRD_ProductionSchema", FormMethod.Post, new Dictionary<string, object>() {  
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    if (Model.productId!=null)
    {
        @Html.HiddenFor(model=>model.productId)
    }

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="code">Kod</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.code, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Üretim Şeması Kodu Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="name">Şema İsmi</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.name, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Üretim Şeması İsmi Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>
    if (Model.productId == null)
    {
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="productId">Ürün Seçiniz</label>
        </div>
        <div class="col-md-8">
            @(
                    Html.Akilli()
                    .DropDownListFor(model => model.productId)
                    .OptionLabel("Lütfen Ürün Seçiniz..")
                    .DataTextField("fullName")
                    .DataValueField("id")
                    .Action(b => b.Action("DataSourceDropDown", "VWPRD_Product", new { area = "PRD" }))
                    .BasicInsert(Url.Action("Insert", "VWPRD_Product", new { area = "PRD" }), "name", true)
                    .Sort(x => x.Add("fullName").Ascending())
                    .Validate(Validations.Required)
                    .Execute()
                )
        </div>
    </div>
    }

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}
