@model Infoline.WorkOfTime.BusinessData.VWPRD_StocktakingItem
@{
    ViewBag.Title = "Stok Sayım İşlemi Ürünleri Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Insert", "VWPRD_StocktakingItem", FormMethod.Post, new Dictionary<string, object>() {  
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="stocktakingId">Sayım id'si</label>
        </div>
        <div class="col-md-8">
			  @(
			      Html.Akilli()
			      .DropDownListFor(model => model.stocktakingId)
			      .OptionLabel("Lütfen Sayım id'si seçiniz..")
			      .DataTextField("code")
			      .DataValueField("id")
			      .Action(b => b.Action("DataSourceDropDown", "VWPRD_Stocktaking", new { area = "PRD" }))
			      .Sort(x => x.Add("code").Ascending())
			      .Validate(Validations.Required)
			      .Execute()
			)
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="productId">Ürün id'si</label>
        </div>
        <div class="col-md-8">
			  @(
			      Html.Akilli()
			      .DropDownListFor(model => model.productId)
			      .OptionLabel("Lütfen Ürün id'si seçiniz..")
			      .DataTextField("name")
			      .DataValueField("id")
			      .Action(b => b.Action("DataSourceDropDown", "VWPRD_Product", new { area = "PRD" }))
			      .Sort(x => x.Add("name").Ascending())
			      .Validate(Validations.Required)
			      .Execute()
			)
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="serialNumber">Envanter Seri Numarası</label>
        </div>
        <div class="col-md-8">
			 @Html.TextBoxFor(model => model.serialNumber, new Dictionary<string, object>()
			 {
			     {"class", "form-control"},
			     {"placeholder", "Lütfen Envanter Seri Numarası giriniz.."}
			 }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="quantity">Miktar</label>
        </div>
        <div class="col-md-8">
			 @Html.TextBoxFor(model => model.quantity, new Dictionary<string, object>()
			 {
			     {"class", "form-control"},
			     {"placeholder", "Lütfen Miktar giriniz.."}
			 }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="unitId">Sayım birimi</label>
        </div>
        <div class="col-md-8">
			  @(
			      Html.Akilli()
			      .DropDownListFor(model => model.unitId)
			      .OptionLabel("Lütfen Sayım birimi seçiniz..")
			      .DataTextField("name")
			      .DataValueField("id")
			      .Action(b => b.Action("DataSourceDropDown", "VWUT_Unit", new { area = "UT" }))
			      .Sort(x => x.Add("name").Ascending())
			      .Validate(Validations.Required)
			      .Execute()
			)
        </div>
    </div>



    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}
