@model Infoline.WorkOfTime.BusinessAccess.VMCMP_InvoiceModels
@{
    ViewBag.Title = Model.serialNumber + '/' + Model.rowNumber + " Seri Numaralı Alış Faturasının Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var paymentDate = Model.paymentType == (Int32)EnumCMP_InvoicePaymentType.Pesin ? Model.issueDate :
                      Model.paymentType == (Int32)EnumCMP_InvoicePaymentType.Vadeli ? Model.expiryDate : Model.created;

    var EnumProperties = ((IEnumerable<Item>)ViewBag.EnumProperties).ToArray();

    var userStatus = (PageSecurity)Session["userStatus"];
    var transactionSelected = Model.Transactions.Where(a => a.debt > 0).ToArray();

}

<style type="text/css" data-selector="modalContainer">
    #VWCMP_InvoiceItem .k-grid-toolbar {
        display: none;
    }

    #calendar .party {
        color: #ff4081;
        font-weight: bold;
    }

    #VWCMP_InvoiceItem .fileupload-container {
        background: #fff !important;
    }

    #detailInvoice .list-group {
        margin-bottom: 0px !important;
    }

    @@font-face {
        font-family: 'Crasng';
        src: url('/Content/Custom/fonts/Crasng.ttf') format('truetype');
    }

    .serialNo {
        font-family: serif;
    }
</style>

<script type="text/javascript" data-selector="modalContainer">

    var invDetail = {
        dfn: {
            model: @(Html.Raw(Infoline.Helper.Json.Serialize(Model))),
            //exchangeRates: $.ajax({
            //    url: '/General/GetExchangeRatesByDate',
            //    data: { date: new Date().toLocaleString() },
            //    type: "POST",
            //    dataType: "JSON",
            //    async: false
            //}).responseJSON,
        },
        events: {
            addNote: function (_this) {
                var note = $('#note').val();

                if (!note || note == null || note == "") {
                    MesajWarning("Lütfen önce not giriniz.")
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: '/CMP/VWCMP_Invoice/InsertNote',
                    data: { invoiceId: invDetail.dfn.model.id, note: note },
                    success: function (response) {
                        if (response.result) {
                            var html = invDetail.fnc.getNoteHtml(response.objects);
                            $('#vertical-timeline').prepend(html);
                            $('#note').val("");
                        }
                    }
                });
            }
        },
        fnc: {
            getNoteHtml: function (note) {
                return `<div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-bolt"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p style="margin:0 !important;"> ${ note.objects.description} </p>
                                <span class="vertical-date small text-muted"> ${ new Date(note.objects.created).toLocaleString() } </span>
                                <span class="vertical-date small text-muted"> İşlemi Yapan : ${ note.objects.createdby_Title} </span>
                            </div>
                        </div>`;
            },
            //showCurrency: function () {
            //    var curEx = invDetail.dfn.exchangeRates[invDetail.dfn.model.Currency_Code].BanknoteSelling;
            //    var title = '<p>Fatura Eklendiğinde Kur : ' + kendo.toString(invDetail.dfn.model.rateExchange, "N4") + ' ₺</p>'+
            //        '<p>Şu Anki Kur : ' + kendo.toString(curEx, "N4") + ' ₺</p>';

            //    $('#contentTooltip').append('<span class="fa fa-info-circle" rel="tooltip" data-original-title="' + title + '"></span>');

            //    $("[rel=tooltip]").tooltip({
            //        html:true
            //    });
            //},
        },
        templates: {
            descriptionTemp: function(data) {
                if (data.description && data.description != null && data.description != "") {
                    return `<i class="fa fa-info-circle" data-original-title="${ data.description }" data-placement="bottom"></i>`;
                }

                return "";
            },
            quantityTemp: function (item) {
                var unit = !item.Unit_Title ? "" : item.Unit_Title;
                if(unit == "ADET"){
                    return kendo.toString(item.quantity, "N0") + " " + unit;
                }

                return kendo.toString(item.quantity, "N2") + " " + unit;
            },
            currencyTemp: function (item, data) {
                if (!data) {  return "-"; }

                return kendo.toString(data, "N2") + " " + item.Currency_Symbol;
            },
            discountTemp: function (data) {
                if (data.discountType == '@((int)EnumCMP_InvoiceItemDiscountType.Tutar)') {
                    return kendo.toString(data.discount, "N2") + ' ' + data.Currency_Symbol;
                }

                var price = data.quantity * data.price;
                var subTotal = ((price * data.discount) / 100);
                return kendo.toString(subTotal, "N2") + " " + data.Currency_Symbol;
            }
        }
    }

    $(document)
        .on("ready", function () {
            //if (invDetail.dfn.model.Currency_Code != "TL") {
            //    invDetail.fnc.showCurrency();
            //}
        })
        .on("load:grid", '#VWCMP_InvoiceItem', function (e) {
            $(this).find('table').toggleClass("k-selectable");

            var productIds = invDetail.dfn.model.InvoiceItems.map(a => a.productId).join(",");
            $('[data-button="stock"]').attr("data-href", "/PRD/VWPRD_StockSummary/StockDetailProducts?productIds=" + productIds);
            $('[data-button="stock"]').removeClass("hide");
        })
        .on("success", "#VWPA_LedgerInsertForm", function (e, resp) {
            if (resp.Result) {
                location.reload();
            }
        })

</script>

<div class="row" id="detailInvoice">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="col-lg-9">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5> <i style="color: #ed5565;" class="fa fa-file-pdf-o"></i> Fatura Bilgileri </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="label label-primary"><i class="fa fa-exchange"></i></span>
                                        <a href="/CMP/VWCMP_Company/Detail?id=@(Model.supplierId)" target="_blank">
                                            @(Model.Supplier_Title)
                                            <img src="~/Content/Custom/img/right-arrow.png" />
                                        </a>

                                        <span class=""> @(Model.Customer_Title) </span>
                                        <span>
                                            <a href="/CMP/VWCMP_Company/Detail?id=@(Model.customerId)" target="_blank" class="text-navy"> <i class="fa fa-link"></i> </a>
                                        </span>
                                    </li>
                                    <li class="list-group-item fist-item">
                                        <span class="label label-primary"><i class="fa fa-barcode"></i></span>  Seri/Sıra No :
                                        <strong class="serialNo">
                                            @(Model.SerialNumber_Title)
                                        </strong>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6" style="border-left: 1px solid #e7eaec;">
                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="label label-primary"><i class="fa fa-calendar"></i></span>  Düzenleme Tarihi :
                                        <strong>
                                            @String.Format("{0:dd.MM.yyyy HH:mm}", Model.issueDate)
                                        </strong>
                                    </li>
                                    <li class="list-group-item fist-item">
                                        <span class="label label-primary"><i class="fa fa-user"></i></span> Düzenleyen :
                                        <strong>
                                            @(Model.createdby_Title)
                                        </strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Faturaya Eklenen Ürün Kalemleri</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">

                        @(Html.Akilli()
                            .Grid<Infoline.WorkOfTime.BusinessData.VWCMP_InvoiceItem>("VWCMP_InvoiceItem")
                            .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWCMP_InvoiceItem", new { area = "CMP" })).Sort(s => s.Add(a => a.itemOrder).Descending())
                            .Filter(a => a.invoiceId == Model.id).PageSize(999))
                            .Columns(x =>
                            {
                                x.Bound(y => y.Product_Title).Title("Ürün/Hizmet").Width(250).Filterable(false);
                               x.Bound(y => y.price).Title("Birim Fiyat").Width(100).Filterable(false).ClientTemplate("#=invDetail.templates.currencyTemp(data, data.price)#")
                               .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });

                                x.Bound(y => y.Unit_Title).Title("Birim").Hidden(true);

                               x.Bound(y => y.quantity).Title("Miktar").Width(120).Filterable(false).ClientTemplate("#=invDetail.templates.quantityTemp(data)#")
                                   .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });

                               x.Bound(y => y.discount).Title("İndirim").Width(120).Filterable(false).ClientTemplate("#=invDetail.templates.discountTemp(data)#")
                                   .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });


                               x.Bound(y => y.totalTax).Title("Toplam Vergi").Width(120).Filterable(false).ClientTemplate("#=invDetail.templates.currencyTemp(data, data.totalTax)#")
                                   .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });

                               x.Bound(y => y.totalAmount).Title("Toplam Fiyat").Width(100).Filterable(false).ClientTemplate("#=invDetail.templates.currencyTemp(data, data.totalAmount)#")
                               .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });

                                x.Bound(y => y.Currency_Symbol).Title("Para Birimi").Hidden(true);

                                x.Bound(y => y.id).Title("").Width(30).Filterable(false).ClientTemplate("#=invDetail.templates.descriptionTemp(data)#");
                            })
                            .Selectable(x => x.Mode(GridSelectionMode.Single))
                            .Scrollable(s => s.Height(250))
                        )
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        @if (userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.MuhasebeAlis)))
                        {
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>Fatura Dosyaları</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content clearfix">
                                    @Html.Action("Index", "Files", new { area = "", DataId = Model.id, DataTable = "CMP_Invoice", FileGroup = "Fatura Dosyası" })

                                </div>
                            </div>
                        }
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Fatura Açıklaması</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <span>@(Model.description)</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        @if (userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.MuhasebeAlis)))
                        {
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>Faturaya Not Ekleme</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content clearfix">
                                    <div class="form-group">
                                        <input type="text" id="note" class="form-control" />
                                    </div>
                                    <button type="button" onclick="invDetail.fnc.addNote(this)" class="btn btn-md btn-primary pull-right">Ekle</button>
                                </div>
                            </div>
                        }
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Fatura Geçmişi</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div id="vertical-timeline" class="vertical-container dark-timeline">
                                    @foreach (var item in Model.InvoiceActions.OrderByDescending(a => a.created))
                                    {
                                        var statusProps = EnumProperties.Where(a => Convert.ToInt32(a.Key) == item.type.Value).FirstOrDefault();

                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon gray-bg">
                                                <i class="fa fa-bolt"></i>
                                            </div>
                                            <div class="vertical-timeline-content" style="background-color: @statusProps.Generic["color"];">
                                                <p style="margin:0 !important;word-break: break-word;">
                                                    @(item.description)
                                                </p>
                                                <span class="vertical-date small text-muted"> @String.Format("{0:dd.MM.yyyy HH:mm}", item.created) </span> <br />
                                                <span class="vertical-date small text-muted"> İşlem Yapan : @String.Format("{0:dd.MM.yyyy HH:mm}", item.createdby_Title) </span>

                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-title" style="text-align:center;">
                        <a style="color: #ffffff;" class="btn btn-md btn-danger" data-task="Insert" data-blank="true" data-method="GET" data-modal="false" data-show="single" data-href="/CMP/VWCMP_Invoice/InsertBuying?&id=@Model.id&IsCopy=true">
                            <i class="fa fa-edit"></i> Kopyala
                        </a>
                    </div>
                </div>

                @if (transactionSelected.Count() == 1)
                {
                    <div class="ibox ">
                        <div class="ibox-title">
                            <div class="ibox-tools">

                                @if (transactionSelected[0].accountDataTable == "SH_User")
                                {
                                    <a style="color:white;" data-modal="true" data-href="/PA/VWPA_Ledger/Insert?transactionId=@transactionSelected[0].id&type=@((int)EnumPA_LedgerType.CalisanaOdeme)"
                                       data-task="Insert" class="btn btn-xs btn-success">
                                        <i class="fa fa-credit-card"></i> Çalışana Geri Öde
                                    </a>
                                }
                                else
                                {
                                    <a style="color:white;" data-modal="true" data-href="/PA/VWPA_Ledger/Insert?transactionId=@transactionSelected[0].id&type=@((int)EnumPA_LedgerType.Odeme)"
                                       data-task="Insert" class="btn btn-xs btn-success">
                                        <i class="fa fa-credit-card"></i> Ödeme Yap
                                    </a>
                                }

                            </div>
                        </div>

                        <div class="ibox-content ibox-heading" style="background-color: #fffbc9;">
                            <h3>KALAN<span class="pull-right">@(string.Format("{0:N2}", transactionSelected.Sum(a => a.debt)))   @(Model.Currency_Symbol)</span></h3>
                        </div>
                    </div>
                }
                else
                {
                    if (Model.Transactions.Count() != 0)
                    {
                        <div class="ibox ">
                            <div class="ibox-content">
                                <h4 class="font-bold text-center">
                                    <i class="fa fa-check-circle text-primary"></i> Ödendi
                                </h4>
                            </div>
                        </div>
                    }

                }

                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Özet</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding clearfix">
                        <table class="table" style="margin-bottom: 0px !important;">
                            <tbody>
                                @if (Model.discount > 0)
                                {
                                    <tr>
                                        <td>
                                            <div class="col-md-6"><h4>Ara Toplam İndirimi</h4></div>
                                            <div class="col-md-6">
                                                <h3 class="font-bold text-right">
                                                    @(string.Format("{0:N2}", Model.discount))   @(Model.discountType_Title)
                                                </h3>
                                            </div>
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td>
                                        <div class="col-md-6"><h4>Brüt Toplam</h4></div>
                                        <div class="col-md-6">
                                            <h3 class="font-bold text-right">
                                                @(string.Format("{0:N2}", Model.totalSubAmount))   @(Model.Currency_Symbol)
                                            </h3>
                                        </div>
                                    </td>
                                </tr>

                                @if (Model.stopaj > 0)
                                {
                                    <tr>
                                        <td>
                                            <div class="col-md-6"><h4>Stopaj</h4></div>
                                            <div class="col-md-6">
                                                <h3 class="font-bold text-right">
                                                    @(string.Format("{0:N0}", Model.stopaj))   %
                                                </h3>
                                            </div>
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td>
                                        <div id="totalOTVDiv">
                                            <div class="col-md-6"><h4>Toplam Vergi</h4></div>
                                            <div class="col-md-6">
                                                <h3 class="font-bold text-right">
                                                    @(string.Format("{0:N2}", Model.totalTax))   @(Model.Currency_Symbol)
                                                </h3>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                @if (Model.tevkifat > 0)
                                {

                                    <tr>
                                        <td>
                                            <div class="col-md-6"><h4>KDV Tevkifat</h4></div>
                                            <div class="col-md-6">
                                                <h3 class="font-bold text-right">
                                                    @(string.Format("{0:N0}", Model.tevkifat)) / 10
                                                </h3>
                                            </div>
                                        </td>
                                    </tr>

                                }
                                <tr>
                                    <td>
                                        <div class="col-md-6"><h4>Genel Toplam</h4></div>
                                        <div class="col-md-6">
                                            <h2 class="font-bold text-right" style="color:#ff6a00;">
                                                @(string.Format("{0:N2}", Model.totalAmount))   @(Model.Currency_Symbol)
                                            </h2>
                                        </div>
                                    </td>
                                </tr>

                                @if (Model.Currency_Symbol != "₺")
                                {
                                    <tr>
                                        <td>
                                            <div class="col-md-6"><h4>TL Karşılığı <span id="contentTooltip"></span></h4></div>
                                            <div class="col-md-6" data-result="TLequality">
                                                <h3 class="font-bold text-right" style="color:#ff6a00;">@(string.Format("{0:N2}", Model.totalAmountAsTL) + " ₺")</h3>
                                            </div>
                                        </td>
                                    </tr>
                                }


                                @if (Model.TransformFrom != null)
                                {
                                    <tr>
                                        <td style="padding-top: 20px;" class="text-center">
                                            @if (Model.TransformFrom.typeFrom == (int)EnumCMP_InvoiceType.Siparis)
                                            {
                                                <a href="/CMP/VWCMP_Order/DetailBuying?id=@Model.TransformFrom.invoiceIdFrom&transform=true" target="_blank" class="btn btn-md btn-success">
                                                    <i class="fa fa-arrow-right"></i> İlgili Siparişe Git
                                                </a>
                                            }
                                            @if (Model.TransformFrom.typeFrom == (int)EnumCMP_InvoiceType.Teklif)
                                            {
                                                <a href="/CMP/VWCMP_Tender/DetailBuying?id=@Model.TransformFrom.invoiceIdFrom&transform=true" target="_blank" class="btn btn-md btn-success">
                                                    <i class="fa fa-arrow-right"></i> İlgili Teklife Git
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }


                                @if (Model.TransformFrom != null && Model.type == (short)EnumCMP_InvoiceType.Teklif)
                                {
                                    <tr>
                                        <td style="text-align:center;">
                                            <a href="/CMP/VWCMP_Request/Detail?id=@Model.TransformFrom.invoiceIdFrom&transform=true" target="_blank" class="btn btn-md btn-success">
                                                <i class="fa fa-arrow-right"></i> İlgili Satın Alma Talebine Git
                                            </a>
                                        </td>
                                    </tr>
                                }

                                @if (Model.TransformTo != null && Model.type == (short)EnumCMP_InvoiceType.Talep)
                                {
                                    <tr>
                                        <td style="text-align:center;">
                                            <a href="/CMP/VWCMP_Tender/DetailBuying?id=@Model.TransformTo.invoiceIdTo&transform=true" target="_blank" class="btn btn-md btn-success">
                                                <i class="fa fa-arrow-right"></i> İlgili Satın Alma Teklifine Git
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>