@model VMUT_RulesModel
@{
	ViewBag.Title = "Kural Ekle";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Insert", "VWUT_Rules", FormMethod.Post, new Dictionary<string, object>() {
	{ "class", "form-horizontal" },
	{ "role", "form" },
	{ "data-selector", "modalContainer" },
	{ "data-formType", "Ajax" }
}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.id)



	<div class="form-group">
		<div class="col-md-4">
			<label class="control-label label-md req" for="name">Kural</label>
		</div>
		<div class="col-md-8">
			@Html.TextBoxFor(model => model.name, new Dictionary<string, object>()
			{
				{"class", "form-control"},
				{"placeholder", "Lütfen kural adı giriniz.."}
			}).Validate(Validations.TextEverywhere(true))
		</div>
	</div>



	<div class="form-group">
		<div class="col-md-4">
			<label class="control-label label-md req" for="type">Kural Tipi</label>
		</div>
		<div class="col-md-8">
			@(
                    Html.Akilli().
                    DropDownListFor(model => model.type).
                    OptionLabel("Lütfen kural tipi Seçiniz..").
                    DataTextField("enumDescription").
                    DataValueField("Id").
                    Action(b => b.Action("GetEnums", "General", new { area = string.Empty })).
                    Filter<Infoline.WorkOfTime.BusinessData.SYS_Enums>(a => a.tableName == "UT_Rules" && a.fieldName == "type").
                    Validate(Validations.Required).
                    Sort(x => x.Add("enumKey").Ascending()).
                    Execute("enumKey")
                )
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-4">
			<label class="control-label label-md" for="isDefault">Varsayılan Kural mı?</label>
		</div>
		<div class="col-md-8">
			@(Html.Kendo().CheckBoxFor(a => a.isDefault).Checked(false))
		</div>
	</div>

	<div class="buttons">
		<button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
		<button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
	</div>

}
