@model Infoline.WorkOfTime.BusinessData.VWSH_PersonReferences
@{
    ViewBag.Title = "Personel Referans Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="form-horizontal" data-selector="modalContainer">
   
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ReferenceUserName">Referansın Adı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ReferenceUserName, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ReferencePosition">Referansın Pozisyonu</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ReferencePosition, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ReferenceMail">Referansın E-Posta Adresi</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ReferenceMail, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ReferencePhone">Referansın Telefonu</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ReferencePhone, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ReferenceWorkingCompany">Referansın Çalıştığı Firma</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ReferenceWorkingCompany, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>








    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>


</div>


  