@model Infoline.WorkOfTime.BusinessData.INV_PermitType[]
@using Infoline.WorkOfTime.BusinessAccess
@{
    ViewBag.Title = "İzin Taleplerim";
    var userStatus = (PageSecurity)Session["userStatus"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userid = userStatus.user.id;
}


<script type="text/javascript" data-selector="modalContainer">
    $(document)
        .on("selected:grid", "#VWINV_Permit", function (e, resp) {
            $('[data-href="/INV/VWINV_Permit/Update"],[data-href="/INV/VWINV_Permit/Delete"]').addClass('hide');

            if (resp && (resp.ApproveStatus == 5 || resp.ApproveStatus == 10)) {
                $('[data-href="/INV/VWINV_Permit/Update"]').removeClass('hide');
            }

            if (resp && resp.ApproveStatus == 0) {
                $('[data-href="/INV/VWINV_Permit/Delete"]').removeClass('hide');
            }

            if (resp.ApproveStatus != 5) {
                $('[data-href="/INV/VWINV_Permit/PermitForm"]').addClass('hide');
            }
        })


     function statusTemplate(data) {
        if(data.ApproveStatus == 0 || data.ApproveStatus == 1 || data.ApproveStatus == 3){
            return '<i class="fa text-warning fa-spinner">';
        }else if(data.ApproveStatus == 5){
            return '<i class="fa text-success fa-upload"></i>';
        }else if(data.ApproveStatus == 7 || data.ApproveStatus == 8 || data.ApproveStatus == 9 || data.ApproveStatus == 10){
            return '<i class="fa text-navy fa-check">';
        }else{
            return '<i class="fa text-danger fa-times-circle"></i>';
        }
     }





</script>


<div class="row">
    <div class="col-md-2">
        <div class="ibox ">
            <div class="ibox-content mailbox-content">
                <div class="file-manager">
                    <a class="btn btn-block btn-primary" data-task="Insert" data-modal="false" data-method="GET" data-href="@Url.Action("Insert", "VWINV_Permit", new { area = "INV" })"><i class="fa fa-plus-circle"></i> Yeni İzin Talebi</a>
                    <div class="space-25"></div>
                    <h5> DURUMUNA GÖRE </h5>
                    <ul class="folder-list m-b-md" style="padding: 0">

                        <li class="clearfix">
                            <a class="pull-left active" href="#" data-grid="VWINV_Permit" data-switch="radio" data-category="0" data-query="(IdUser~eq~'@userStatus.user.id')">
                                <i class="fa fa-align-justify" style="color:black;"></i>  Tümü
                            </a>
                            <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:black;" data-counturl="/INV/VWINV_Permit/DataSourceCount?filter=(IdUser~eq~'@userStatus.user.id')">0</span>
                        </li>


                        <li class="clearfix">
                            <a class="pull-left " href="#" data-grid="VWINV_Permit" data-switch="radio" data-category="0" data-query="(IdUser~eq~'@userStatus.user.id')~and~((ApproveStatus~eq~0~or~ApproveStatus~eq~1)~or~ApproveStatus~eq~3)">
                                <i class="fa text-warning fa-spinner"></i>  Onay Beklenen
                            </a>
                            <span class="badge badge-warning pull-right m-l-md  m-t-xs" data-counturl="/INV/VWINV_Permit/DataSourceCount?filter=(IdUser~eq~'@userStatus.user.id')~and~((ApproveStatus~eq~0~or~ApproveStatus~eq~1)~or~ApproveStatus~eq~3))">0</span>
                        </li>

                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWINV_Permit" data-switch="radio" data-category="0" data-query="(IdUser~eq~'@userStatus.user.id')~and~(ApproveStatus~eq~5)">
                                <i class="fa text-success fa-upload"></i> Imzalı Dosya Beklenen
                            </a>
                            <span class="badge badge-success pull-right m-l-md  m-t-xs" data-counturl="/INV/VWINV_Permit/DataSourceCount?filter=(IdUser~eq~'@userStatus.user.id')~and~(ApproveStatus~eq~5)">0</span>
                        </li>

                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWINV_Permit" data-switch="radio" data-category="0" data-query="(IdUser~eq~'@userStatus.user.id')~and~(((ApproveStatus~eq~7~or~ApproveStatus~eq~8)~or~ApproveStatus~eq~9)~or~ApproveStatus~eq~10)">
                                <i class="fa  text-navy fa-check"></i>   Süreci Tamamlanmış
                            </a>
                            <span class="badge badge-primary pull-right m-l-md  m-t-xs" data-counturl="/INV/VWINV_Permit/DataSourceCount?filter=(IdUser~eq~'@userStatus.user.id')~and~(((ApproveStatus~eq~7~or~ApproveStatus~eq~8)~or~ApproveStatus~eq~9)~or~ApproveStatus~eq~10)">0</span>
                        </li>

                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWINV_Permit" data-switch="radio" data-category="0" data-query="(IdUser~eq~'@userStatus.user.id')~and~((ApproveStatus~eq~2~or~ApproveStatus~eq~4)~or~ApproveStatus~eq~6)">
                                <i class="fa text-danger fa-times-circle"></i>  Reddedilmiş
                            </a>
                            <span class="badge badge-danger pull-right m-l-md  m-t-xs" data-counturl="/INV/VWINV_Permit/DataSourceCount?filter=(IdUser~eq~'@userStatus.user.id')~and~((ApproveStatus~eq~2~or~ApproveStatus~eq~4)~or~ApproveStatus~eq~6)">0</span>
                        </li>
                    </ul>


                    <div class="space-25"></div>
                    <h5> TİPİNE GÖRE </h5>
                    <ul class="tag-list clearfix m-b-md" style="padding: 0">
                        @foreach (var item in Model.OrderBy(a => a.created))
                        {
                            <li class="clearfix">
                                <a class="pull-left" href="#" data-grid="VWINV_Permit" data-category="1" data-query="(PermitTypeId~eq~'@item.id')">
                                    @item.Name
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-10">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>İzin Listesi</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                @(Html.Akilli()
                .Grid<Infoline.WorkOfTime.BusinessData.VWINV_Permit>("VWINV_Permit")
                .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWINV_Permit", new { area = "INV" }))
                .Filter(c => c.IdUser == userStatus.user.id)
                .Sort(a => a.Add("created").Descending())
                .PageSize(25))
                .Scrollable(a => a.Height(650))
                .Columns(x =>
                {
                    x.Bound(y => y.ApproveStatus_Title).Title("").ClientTemplate("#=statusTemplate(data)#").Filterable(a => a.Enabled(false)).Width(40); 
                    x.Bound(y => y.created).Title("Talep Tarihi").Width(170).Format(Extensions.DateFormatFull(true));
                    x.Bound(y => y.PermitCode).Title("İzin Kodu").Width(200);
                    x.Bound(y => y.PermitType_Title).Title("İzin Tipi").Width(180);
                    x.Bound(y => y.StartDate).Title("İzin Başlangıç Tarihi").Width(170).Format(Extensions.DateFormatFull(true));
                    x.Bound(y => y.EndDate).Title("İzin Bitiş Tarihi").Width(160).Format(Extensions.DateFormatFull(true));
                    x.Bound(y => y.TotalHoursText).Title("İzin Süresi").Format("{0:#}").Width(190).Filterable(false);
                })
                .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                .ToolBar(x =>
                {
                    x.Custom().Text("<i class='fa fa-info-circle' data-original-title='İzin Detayı'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-modal", "false" }, { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWINV_Permit", new { area = "INV" }));
                    x.Custom().Text("<i class='fa fa-upload' data-original-title='Islak imzalı dosya yükle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-modal", "false" }, { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWINV_Permit", new { area = "INV" }));
                    x.Custom().Text("<i class='fa fa-print' data-original-title='Formu Yazdır'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-modal", "false" }, { "data-show", "single" }, { "data-blank", "true" }, { "data-method", "GET" } }).Url(Url.Action("PermitForm", "VWINV_Permit", new { area = "INV" }));
                    x.Custom().Text("<i class='fa fa-trash' data-original-title='İzin Sil'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" }, { "data-show", "single" }, }).Url(Url.Action("Delete", "VWINV_Permit", new { area = "INV" }));
                }))
            </div>
        </div>
    </div>
</div>