@model Infoline.WorkOfTime.BusinessAccess.VWINV_PermitForm
@using System.Globalization
@using Infoline.WorkOfTime.BusinessAccess

<html>
<head>
    <title>&nbsp;&nbsp;</title>
    <script src="~/Content/2048-master/js/jquery.min.js"></script>
    <script src="~/Content/Kendo/js/kendo.all.min.js"></script>

    <style type="text/css" data-selector="modalContainer">
        #page {
            width: 842px !important;
        }

        table {
            width: 100%;
        }


        td.stil {
            height: 28px;
            width: 280px;
            padding-left: 5px;
            font-weight: bold;
        }

        .space-left {
            padding-left: 5px;
        }

        .demo-section {
            position: absolute;
            top: 11px;
            left: 805px;
        }

        td {
            width: 320px;
        }



        #wizard {
            width: 100%;
            position: relative;
            margin-top: 50px;
        }

            #wizard img {
                width: 100%;
            }

            #wizard .adim {
                position: absolute;
                width: 25%;
                color: #000 !important;
                font-family: verdana;
                font-size: 8px;
                font-weight: bold;
                top: 46%;
                z-index: 99;
            }

            #wizard .adim1 {
                left: 3%;
            }

            #wizard .adim2 {
                left: 28%;
            }

            #wizard .adim3 {
                left: 52%;
            }

            #wizard .adim4 {
                left: 77%;
            }

            #wizard .tarih {
                position: absolute;
                width: 25%;
                color: #000 !important;
                font-family: verdana;
                font-size: 8px;
                font-weight: bold;
                top: 31%;
                z-index: 199;
            }

            #wizard .tarih1 {
                left: 3%;
            }

            #wizard .tarih2 {
                left: 28%;
                top: 62%;
            }

            #wizard .tarih3 {
                left: 52%;
            }

            #wizard .tarih4 {
                left: 77%;
                top: 62%;
            }

        table#sub tr td {
            text-align: center;
            line-height: 20px;
            font-size: 15px;
        }

        table#headerTable {
            margin-bottom: 20px;
        }
    </style>

</head>
<body>

    <div id="page">
        <table id="headerTable" class="m-b-sm" border="1" cellpadding="0" cellspacing="0" data-selector="modalContainer">
            <thead>
                <tr>
                    <td class="stil" style="padding: 14px;width: 16%; border-left: 1px solid gray;border-bottom: 1px solid gray;border-top: 1px solid gray;"><img src="@(Model.LogoPath != null ? Model.LogoPath : "")" width="98" alt="" title="" /></td>
                    <td>
                        <table id="sub" class="m-b-sm" cellpadding="0" cellspacing="0">
                            <tr>
                                <td colspan="5" class="stil" style="text-align: center; border-bottom: 1px solid gray;font-size: 18px;line-height: 52px;"><b>İZİN TALEP FORMU</b></td>
                            </tr>
                            <tr>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">DOK. NO</td>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">YÜRÜRLÜK TARİHİ</td>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">REVİZYON NO</td>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">REVİZYON TARİHİ</td>
                                <td class="stil" style="border-bottom: 1px solid gray;border-right: 1px solid gray">S.NO</td>
                            </tr>
                            <tr>
                                <td class="stil" style="border-right: 1px solid gray">SRC-13-FRM-09</td>
                                <td class="stil" style="border-right: 1px solid gray">20.11.2017</td>
                                <td class="stil" style="border-right: 1px solid gray">01</td>
                                <td class="stil" style="border-right: 1px solid gray">12.03.2018</td>
                                <td class="stil" style="border-right: 1px solid gray">1/1</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </thead>
        </table>

        <table class="m-b-sm" border="1" cellpadding="0" cellspacing="0" data-selector="modalContainer">
            <tr>
                <td colspan="4" align="left" valign="middle" class="stil" style="background: #808080;"><strong>Personel Bilgileri</strong></td>
            </tr>
            <tr>
                <td class="stil"> Kimlik No</td>
                <td colspan="3" data-prop="Adress" class="space-left">@(Model.User.loginname)</td>
            </tr>
            <tr>
                <td class="stil">Ad - Soyad </td>
                <td colspan="3" data-prop="Adress" class="space-left">@Model.Person_Title</td>
            </tr>
            <tr>
                <td class="stil">Departman </td>
                <td colspan="3" data-prop="Adress" class="space-left">@(Model.Department.PID_Title)</td>
            </tr>
            <tr>
                <td class="stil">Pozisyon </td>
                <td colspan="3" data-prop="Adress" class="space-left">@(Model.Department.Title)</td>
            </tr>
            <tr>
                <td class="stil">İşe Giriş Tarihi</td>
                <td colspan="3" data-prop="Adress" class="space-left">@string.Format("{0:dd.MM.yyyy}", Model.User.JobStartDate)</td>
            </tr>
            <tr>
                <td class="stil">İzin Hakediş Tarihi</td>
                <td colspan="3" data-prop="Adress" class="space-left">@(Model.User.JobStartDate.HasValue ? Model.User.JobStartDate.Value.AddYears(1).ToString("dd.MM.yyyy") : "")</td>
            </tr>

            <tr>
                <td colspan="4" class="stil"></td>
            </tr>


            <tr>
                <td colspan="4" align="left" valign="middle" class="stil" style="background: #80808038;"><strong>İzin Bilgileri</strong></td>
            </tr>

            <tr>
                <td class="stil">İzin Türü</td>
                <td colspan="3" data-prop="Adress" class="space-left">@Model.PermitType_Title</td>
            </tr>

            <tr>
                <td class="stil">İzin Başlangıç Tarihi</td>
                <td class="space-left">@string.Format("{0:dd.MM.yyyy}", Model.StartDate)</td>
                <td class="space-left"><b>Saat:</b> @string.Format("{0:HH:mm}", Model.StartDate)</td>
            </tr>
            <tr>
                <td class="stil">İzin Bitiş Tarihi</td>
                <td class="space-left">@string.Format("{0:dd.MM.yyyy}", Model.EndDate)</td>
                <td class="space-left"><b>Saat:</b> @string.Format("{0:HH:mm}", Model.EndDate)</td>
            </tr>
            <tr>
                <td class="stil">İşe Başlama Tarihi</td>
                <td class="space-left">@string.Format("{0:dd.MM.yyyy}", Model.Calc.CommencementDate)</td>
                <td class="space-left"><b>Saat:</b> @string.Format("{0:HH:mm}", Model.Calc.CommencementDate)</td>
            </tr>
            <tr>
                <td class="stil">İzin Süresi</td>
                <td colspan="3" class="space-left">@Model.Calc.Text</td>
            </tr>
            <tr>
                <td class="stil">Açıklama</td>
                <td colspan="3" class="space-left" style="height: 102px">@Model.Detail </td>
            </tr>
            <tr>
                <td colspan="4" class="stilBuyuk" style="height: 90px; padding-top: -5px; text-align: center; padding-bottom: 45px;">
                    <font>
                        Yukarda bilgileri bulunan iznimi belirtilen tarihlerde kullanmak istiyorum.<br />
                        Ad-Soyad/Tarih/İmza
                    </font>
                </td>
            </tr>

            <tr>
                <td colspan="4" class="stil"></td>
            </tr>

            <tr>
                <td style="font-weight: bold;" align="center" class="stil">Birinci Yöneticisi</td>
                <td style="font-weight: bold;" align="center" class="space-left">İkinci Yöneticisi</td>
                <td style="font-weight: bold;" align="center" class="space-left">İnsan Kaynakları</td>
            </tr>
            <tr>
                <td class="space-left" align="center" height="30px">@(Model.Manager1Approval.HasValue ? Model.Manager1Approval_Title : "1.Yönetici Yok")</td>
                <td class="space-left" align="center" height="30px">@(Model.Manager2Approval.HasValue ? Model.Manager2Approval_Title : "2.Yönetici Yok")</td>
                <td class="space-left" align="center" height="30px">@(Model.IkApproval.HasValue ? Model.IkApproval_Title : "IK Yöneticisi Yok")</td>
            </tr>
            <tr>
                <td class="space-left" align="center" height="30px">@(Model.Manager1ApprovalDate.HasValue ? (Model.ApproveStatus == (Int32)EnumINV_PermitApproveStatus.Yonetici1Red ? "REDDEDİLDİ" : Model.ApproveStatus == (Int32)EnumINV_PermitApproveStatus.GecmisIzin || Model.Manager1Approval.HasValue ? "ONAYLANDI" : "Otomatik Onay") : "Onay Bekleniyor")</td>
                <td class="space-left" align="center" height="30px">@(Model.Manager2ApprovalDate.HasValue ? (Model.ApproveStatus == (Int32)EnumINV_PermitApproveStatus.Yonetici2Red ? "REDDEDİLDİ" : Model.ApproveStatus == (Int32)EnumINV_PermitApproveStatus.GecmisIzin || Model.Manager1Approval.HasValue ? "ONAYLANDI" : "Otomatik Onay") : "Onay Bekleniyor")</td>
                <td class="space-left" align="center" height="30px">@(Model.IkApprovalDate.HasValue ? (Model.ApproveStatus == (Int32)EnumINV_PermitApproveStatus.IkKontrolRed ? "REDDEDİLDİ" : Model.ApproveStatus == (Int32)EnumINV_PermitApproveStatus.GecmisIzin || Model.Manager1Approval.HasValue ? "ONAYLANDI" : "Otomatik Onay") : "Onay Bekleniyor")</td>
            </tr>
            <tr>
                <td class="space-left" align="center" height="30px">@(Model.Manager1ApprovalDate.HasValue ? Model.Manager1ApprovalDate.Value.ToString("d", new CultureInfo("tr-TR")) : "")</td>
                <td class="space-left" align="center" height="30px">@(Model.Manager2ApprovalDate.HasValue ? Model.Manager2ApprovalDate.Value.ToString("d", new CultureInfo("tr-TR")) : "")</td>
                <td class="space-left" align="center" height="30px">@(Model.IkApprovalDate.HasValue ? Model.IkApprovalDate.Value.ToString("d", new CultureInfo("tr-TR")) : "")</td>
            </tr>
        </table>
        <div style="top: 10px; padding: 0px;float: right">
            <div id="qrUrl"></div>
        </div>
        <div style="height: 300px"></div>
        <table class="m-b-sm" cellpadding="0" cellspacing="0" data-selector="modalContainer" style="font-size: 10px;border-top: 1px solid gray;border-bottom: 1px solid gray;border-right: none;border-left: none;">
            <tr>
                <td style="line-height:15px;text-align: center;border: none;">[ ] ÇOK GİZLİ</td>
                <td style="line-height:15px;text-align: center;border: none;">[ ] GİZLİ</td>
                <td style="line-height:15px;text-align: center;border: none;">[ X ] HİZMETE ÖZEL</td>
                <td style="line-height:15px;text-align: center;border: none;">[ ] ANONİM</td>
                <td style="line-height:15px;text-align: center;border: none;">[ X ] DAHİLİ</td>
                <td style="line-height:15px;text-align: center;border: none;">[   ] HARİCİ</td>
            </tr>
        </table>


    </div>
    <script type='text/javascript'>
        window.print();

        $("#qrUrl").kendoQRCode({
            value: "@Model.Url/INV/VWINV_Permit/Detail?id=@Model.id",
            errorCorrection: "M",
            size: 100,
        });
    </script>
</body>
</html>