
@{
    ViewBag.Title = "Personel İzin Özet Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Custom/css/FixedButtons2.css" rel="stylesheet" />
<style type="text/css">
    .fix-buttons {
        bottom: 22px !important;
        right: 15px !important;
    }

    .fixedStart .nav-link {
        width: auto !important;
        background-color: unset !important;
        color: unset !important;
        margin-top: -20px;
    }

    .fixedStart input#fixed {
        display: normal !important;
    }

    .fixedStart .nav-link.active {
        border-bottom: 1px solid #5c1ac3 !important;
    }

    .fixedStart .tab-content {
        max-height: 602px !important;
        overflow: hidden;
        overflow-y: scroll;
    }

    .fixedStart .underline-content .nav-tabs {
    }

    #reportFields fieldset {
        position: relative;
    }

    #reportFields .selectAll {
        position: absolute;
        top: -20px;
        right: 10px;
    }

        #reportFields .selectAll label {
            color: #1b55e2;
        }

    #VWEMP_Employee .k-grid-content-locked {
        /*height: auto !important;*/
    }

    .fixedStart #fixed i {
        padding: 14px 14px 14px 14px;
        line-height: 47px;
    }

        .fixedStart #fixed i > .icon-grid {
            position: absolute;
            top: 8px;
            right: 8px;
            padding: 0px;
            width: auto;
            font-size: 16px;
        }

    .fixedStart #fixed ~ .fix-buttons {
        cursor: default;
    }

    .fixedStart fieldset legend {
        font-weight: bold;
        text-transform: uppercase;
    }

    .fixedStart .statbox {
        margin-bottom: 0px !important;
        overflow: hidden;
        background-color: #fff;
        padding: 15px;
        border-radius: 0px !important;
    }

    .fixedStart input ~ #fixed ~ .fix-buttons {
        display: none;
    }

    .fixedStart input:checked ~ #fixed ~ .fix-buttons {
        display: inline-block !important;
    }

    #filterArea {
        overflow-y: scroll;
        padding-right: 15px;
        transition: all .2s linear;
    }

    .fixedStart .form-horizontal {
        width: unset;
    }

    .filterArea::-webkit-scrollbar {
        width: 5px;
    }
</style>
@section Javascript{
    <script type="text/javascript">
        var page = {
            data: null,
            filters: function () {
                var grid = $('#VWEMP_LeaveSummary').data('handler');
                var arr = new Array();
                arr.push({ field: "userId", value: $("#userId").val() });
                arr.push({ field: "companyId", value: $("#companyId").val() });
                arr.push({ field: "departmentId", value: $("#departmentId").val() });
                arr.push({ field: "id", value: $("#type").val() });
                var filterArr = new Array();
                //var defaultFilter = grid.dataSource.transport.parameterMap({ filter: { logic: "and", filters: grid.options.dataSource.filter } }).filter;

                //if (defaultFilter != null && defaultFilter != "") {
                //    filterArr.push(defaultFilter);
                //};

                arr.filter(a => a.value != null).forEach(function (c) {
                    filterArr.push("(" + c.value.map(function (e) { return c.field + "~eq~'" + e + "'"; }).join("~or~") + ")");
                });

                if ($('[data-grid="VWEMP_LeaveSummary"][data-query].active').length > 0) {
                    var query = $('[data-grid="VWEMP_LeaveSummary"][data-query].active').data("query");
                    filterArr.push(query);
                }

                var filter = "(" + filterArr.map(function (a) { return a }).join("~and~") + ")";
                var parserFilter = kendo.filterParser(filter);

                grid.dataSource.filter(parserFilter);
            },
        }
        $(document)
            .on('ready', function () {
                setTimeout(function () {
                    page.filters();
                }, 1500)
            });
    </script>
}
<div class="col-12">


    @(Html.Akilli()
                    .Grid<Infoline.WorkOfTime.BusinessData.VWINV_PermitSummary>("VWEMP_LeaveSummary")
                    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWINV_PermitSummary", new { area = "INV"})).Sort(a=>a.Add("userId_Title")).PageSize(25))
                    .Columns(x =>
                    {
                        x.Bound(y => y.userId_Title).Title("Çalışan Ad-Soyad").Width(200);
                        x.Bound(y => y.Status_Title).Title("Çalışan Durumu").Width(200).Hidden(true);
                        x.Bound(y => y.employeeJobStartDate).Title("İş Başlangıç Tarihi").Width(180).Format(Extensions.DateFormatShort(true));
                        x.Bound(y => y.Name).Title("İzin Türü").Width(200);
                        x.Bound(y => y.dayCountDeserved).Title("Bu Yıl Hakedilen").Width(200);
                        x.Bound(y => y.dayCountUsed).Title("Kullanılan Onaylanmış").Width(220);
                        x.Bound(y => y.dayCountUsedPending).Title("Onayda Bekleyen").Width(180);
                        x.Bound(y => y.dayCountUsable).Title("Toplam Kalan").Width(150);
                    })
                    .Scrollable(x => x.Height(600))
                    .Selectable(x => x.Mode(GridSelectionMode.Single))
                    .ToolBar(x =>
                    {

                    }))

</div>
<div class="fixedStart">
    <input type="checkbox" id="fixed">
    <label title="" for="fixed" id="fixed"><i class="icon-filter"> </i></label>
    <div class="fix-buttons" style="width: 450px; visibility: hidden; z-index: 3; right: 80px !important;">
        <div class="ibox" style="border:1px double black">
            <div class="ibox-title">
                <h5>Detaylı Filterele</h5>
             
            </div>
            <div class="ibox-content clearfix">
              
                <form class="form-horizontal" style="padding:0px !important">
                    <div class="form-group ">
                        <div class="col-md-12">
                            @(Html.Akilli()
                                     .MultiSelect("type")
                                     .Placeholder("Lütfen İzin Tipi seçiniz..")
                                     .DataTextField("Name")
                                     .DataValueField("id")
                                     .Action(b => b.Action("DataSourceDropDown", "INV_PermitType", new { area = "INV" }))
                                     .Execute()
                                    )
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-12">
                            @(Html.Akilli()
                                     .MultiSelect("userId")
                                     .Placeholder("Lütfen çalışan seçiniz..")
                                     .DataTextField("FullName")
                                     .DataValueField("id")
                                     .Action(b => b.Action("DataSourceDropDown", "VWSH_User", new { area = "SH" }))
                                     .Execute()
                                    )
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-12">
                            @(Html.Akilli()
                                    .MultiSelect("companyId")
                                    .Placeholder("Şirket seçiniz..")
                                    .DataTextField("fullName")
                                    .DataValueField("id")
                                    .TagMode(TagMode.Single)
                                    .Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
                                    .Sort(x => x.Add("name").Ascending())
                                    .Execute())
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-md-12">
                            @(Html.Akilli()
                                    .MultiSelect("departmentId")
                                    .Placeholder("Departman seçiniz..")
                                    .DataTextField("Name")
                                    .DataValueField("id")
                                    .TagMode(TagMode.Single)
                                    .Action(b => b.Action("DataSourceDropDown", "VWINV_CompanyDepartments", new { area = "INV" }))
                                    .Sort(x => x.Add("Name").Ascending())
                                    .Execute())
                        </div>

                    </div>
                    <div class=" pull-right">
                        <button class="btn btn-md btn-block btn-success" onclick="page.filters()" type="button" style="padding: 9px;margin-top: 0px !important;"><i class="icon-search"></i> Sorgula</button>
                    </div>

                </form>
              
            </div>
        </div>
    </div>
</div>
