@model Infoline.WorkOfTime.BusinessData.VWSH_CorrectiveActivity
@{
    ViewBag.Title = "Düzenleyici Önleyici Faaliyet Düzenleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Plugins/ckeditor5.1/ckeditor.js" data-selector="modalContainer"></script>
<script src="~/Content/Custom/js/jquery.googoose.js" data-selector="modalContainer"></script>

<script type="text/javascript" data-selector="modalContainer">
    function modelChange() {
        var template = $("#templateId").data("handler").dataItem();
        var userId = $("#userId").data("handler").dataItem().id;
        var projectId = $("#projectId").data("handler").dataItem().Id;
        var taskId = $("#taskId").data("handler").dataItem().id;
        if (template.id != "" && template.id != null && template.id != undefined) {
            editoDOFUpdate.setData("Yükleniyor..");
            $.ajax({
                url: "/SH/VWSH_WorkAccident/RenderTemplate",
                data: { userId: userId, projectId: projectId, taskId: taskId, templateId: template.id },
                success: function (res) {
                    res = res.replaceAll('color:#ff0001;', '');
                    res = res.replaceAll('color:#ff0001', '');
                    editoDOFUpdate.setData(res);
                }
            })

        } else {
            editoDOFUpdate.setData("");
        }
    }
    function beforeFunc() {
        var tag = $("#keyword").data("tagify");
        if (tag && tag.value) {
            $("#keyword").val(tag.value.map(a => a.value).join(","))
        }
        return true;
    }
    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }
    function setTags() {
        var values = '@Html.Raw(Model.keyword)';
        if (values != "" && values != undefined && values != null) {
            var valArr = values.split(',');
            if (valArr.length > 0) {
                var tags = $("#keyword").data("tagify");
                tags.addTags(valArr, true, true)
            }
        }
    }
    function dofUpateExportWord() {
        $(".googoose-wrapper").remove();
        var content = htmlDecode($("#dofContent").val());

        content = '<div class="googoose-wrapper">' + content;

        var headerStartIndex = content.indexOf("{%Ust_Bilgi_Baslangic%}");
        var headerEndIndex = content.indexOf("{%Ust_Bilgi_Bitis%}");
        var footerStartIndex = content.indexOf("{%Alt_Bilgi_Baslangic%}");
        var footerEndIndex = content.indexOf("{%Alt_Bilgi_Bitis%}");

        if (headerStartIndex > -1 && headerEndIndex > -1 & footerStartIndex > -1 && footerEndIndex > -1) {
            headerEndIndex += "{%Ust_Bilgi_Bitis%}".length;
            var header = content.substring(headerStartIndex, headerEndIndex);

            footerEndIndex += "{%Alt_Bilgi_Bitis%}".length;
            var footer = content.substring(footerStartIndex, footerEndIndex);

            content = content.replace(header, "");
            content = content.replace(footer, "");

            content += header;
            content += footer;
        }

        content += '</div>';

        content += '<style>#googoose-header{margin:0 !important; margin-left:-1000px !important; padding:0 !important;} #googoose-footer{margin:0 !important; margin-left:-500px !important; padding:0 !important;}</style>';

        content = content.replaceAll('{%Ust_Bilgi_Baslangic%}', '<div id="" class="googoose header">');
        content = content.replaceAll('{%Ust_Bilgi_Bitis%}', '</div>');

        content = content.replaceAll('{%Alt_Bilgi_Baslangic%}', '<div id="" class="googoose footer">');
        content = content.replaceAll('{%Alt_Bilgi_Bitis%}', '</div>');

        content = content.replaceAll('{%Sayfa_Sonu%}', '<div class="googoose break"></div>');
        content = content.replaceAll('{%Sayfa_Numarasi%}', '<span class="googoose currentpage"></span>');
        content = content.replaceAll('{%Sayfa_Sayisi%}', '<span class="googoose totalpage"></span>');


        $("#formContentDof").html(content);

        var o = {
            filename: "Döf" + ".doc"
        };
        $(document).googoose(o);

    }

    $(document)
        .on("click", '[data-print="FormPrint2"]', function (e) {

            var content = "<html><body onload=\"window.print()\">" + htmlDecode($('#dofContent').val()) + "</body></html> ";

            content = content.replaceAll('{%Ust_Bilgi_Baslangic%}', '').replaceAll('{%Ust_Bilgi_Bitis%}', '').replaceAll('{%Alt_Bilgi_Bitis%}', '').replaceAll('{%Sayfa_Sonu%}', '');

            var newWin = window.open("", "");
            newWin.document.write(content);
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10);
        })
</script>
<style type="text/css" data-selector="modalContainer">
    .modal-lg {
        width: 80%;
    }
</style>

@using (Html.BeginForm("Update", "VWSH_CorrectiveActivity", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-before", "beforeFunc" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.workAccidentId)


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="code">Kodu</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.code, new Dictionary<string, object>()
             {
                 {"class", "form-control"},
                 {"placeholder", "Lütfen Kodu giriniz.."}
             }).Validate(Validations.TextEverywhere(true, 0, 50))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="accidentDate">Faaliyet Tarihi</label>
        </div>
        <div class="col-md-8">
            @(
                Html.Akilli().
                DateTimePickerFor(model => model.date).
                Placeholder("Başlangıç Tarihi").
                Format(Extensions.DateFormatFull()).
                Value(Model.date.HasValue ? Model.date.Value : DateTime.Now)
            )
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="taskId">Görev Seçiniz</label>
        </div>
        <div class="col-md-8">
            @(
                Html.Akilli().
                DropDownListFor(model => model.taskId).
                OptionLabel("Lütfen Görev Seçiniz..").
                DataTextField("code").
                DataValueField("id").
                //ValueTemplate("#=TemplateEngine('FTM_TaskDropDownTemplate',data)#").
                Template("#=TemplateEngine('taskTemplate',data)#").
                Action(b => b.Action("DataSourceDropDown", "VWFTM_Task", new { area = "FTM" })).
                Sort(x => x.Add("code").Ascending()).
                Readonly(Model.taskId != null).
                Events(a => a.Change("modelChange")).
                Execute()
            )
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="projectId">Proje Seçiniz</label>
        </div>
        <div class="col-md-8">
            @(Html.Akilli()
                .DropDownListFor(model => model.projectId)
                .OptionLabel("Lütfen Proje Seçiniz..")
                //.DataValueField("id")
                .DataTextField("ProjectName")
                .Action(b => b.Action("DataSourceDropDown", "VWPRJ_Project", new { area = "PRJ" }))
                .Events(a => a.Change("modelChange"))
                .Readonly(Model.projectId != null)
                .Sort(x => x.Add("ProjectName").Ascending())
                .Execute()
            )
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="userId">Personel Seçiniz</label>
        </div>
        <div class="col-md-8">
            @(Html.Akilli()
                  .DropDownListFor(model => model.userId)
                  .OptionLabel("Lütfen Personel Seçiniz..")
                  .DataTextField("FullName")
                  .DataValueField("id")
                  .Template("#=TemplateEngine('userTemplate',data)#")
                  .Events(a => a.Change("modelChange"))
                  .Readonly(Model.userId != null)
                  .Filter<VWSH_User>(a => a.type == (int)(EnumSH_UserType.MyPerson))
                  .Action(b => b.Action("DataSourceDropDown", "VWSH_User", new { area = "SH" }))
                  .Sort(x => x.Add("FullName").Ascending())
                  .Execute("id")
                )
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="keyword">Anahtar Kelimeler</label>
        </div>
        <div class="col-md-8">
            <input id="keyword" name="keyword" placeholder="Lütfen Anahtar Kelimeleri Giriniz.." data-item="keyword" data-role="tagify" />
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Dosya">Islak İmzalı Dosyalar</label>
        </div>
        <div class="col-md-8">
            @(
                Html.Akilli().FileUpload()
                .DataTable("SH_CorrectiveActivity")
                .DataId(Model.id)
                .DataKey(x => x.fileGroup == "Islak İmzalı Dosyalar")
            )
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="templateId">Şablon</label>
        </div>
        <div class="col-md-8">
            @(Html.Akilli()
                  .DropDownListFor(model => model.templateId)
                  .OptionLabel("Lütfen Şablon Seçiniz..")
                  .DataTextField("title")
                  .DataValueField("id")
                  .Action(b => b.Action("DataSourceDropDown", "VWUT_Template", new { area = "UT" }))
                  .Filter<VWUT_Template>(f => f.type == (short)EnumUT_TemplateType.dof && f.status == (short)EnumUT_TemplateStatus.active)
                  .Events(a => a.DataBound("setTags").Change("modelChange"))
                  .Sort(x => x.Add("title").Ascending())
                  .Execute("id")
                )
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-12">
            <label class="control-label label-md" for="content">Form</label>
        </div>
        <div class="col-md-12">
            @Html.HiddenFor(a => a.content, new Dictionary<string, object>()
             {
                 {"id", "dofContent"},
             })
            @Html.TextArea("contentDofFakeElement", HttpUtility.HtmlDecode(Model.content))
            <script type="text/javascript" data-selector="modalContainer">
                var editoDOFUpdate = CKEDITOR.replace('contentDofFakeElement', {
                    language: 'tr',
                    height: 320,
                    htmlEncodeOutput: true,
                    removeButtons: 'Save',
                    removePlugins: 'Save'
                });

                editoDOFUpdate.on('instanceReady', function () { $("#dofContent").val(new Option(editoDOFUpdate.getData()).innerHTML); });
                editoDOFUpdate.on('change', function () { $("#dofContent").val(new Option(editoDOFUpdate.getData()).innerHTML); });

            </script>
        </div>
    </div>


    <div id="formContentDof" class="hide">

    </div>


    <div class="buttons">
        <button class="btn btn-md btn-success pull-right" type="submit"> <i class="icon-floppy"></i> Kaydet</button>
        <a class="btn btn-md btn-info pull-right" style="margin-right:10px;" onclick="dofUpateExportWord()"> <i class="icon-download"></i> İndir</a>
        <a href="#" class="btn btn-md btn-warning pull-right" style="margin-right:10px;" id="FormPrint2" data-target="FormPrint" data-print="FormPrint2" data-original-title="Form Yazdır"><i class="icon-print-1" aria-hidden="true"></i> Yazdır</a>

        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>
}



