@model Infoline.WorkOfTime.BusinessData.VWCSM_Stage
@{
    ViewBag.Title = "Aşama Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-selector="modalContainer" class="form-horizontal">

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="code">Aşama Kodu</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.code, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            }).Validate(Validations.TextEverywhere(false))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="name">Aşama Adı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.name, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="status">Durumu</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.status_Title, new Dictionary<string, object>()
             {
                 {"class", "form-control"},
                 {"readonly", "readonly"}
             }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="color">Aşama Rengi</label>
        </div>
        <div class="col-md-8">
            @Html.Kendo().ColorPickerFor(model => model.color).Palette(ColorPickerPalette.None).Buttons(false).Enable(false).Validate(Validations.Required)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="description">Açıklama</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.description, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            }).Validate(Validations.TextEverywhere(false))
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>