@using BotDetect;
@using BotDetect.Web.Mvc;
@using Infoline.WorkOfTime.BusinessAccess
@model VMSH_UserModel
@{
    var loginError = Convert.ToInt32(Session["LoginError"] ?? "0");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(Infoline.WorkOfTime.BusinessAccess.TenantConfig.Tenant.TenantName + " | Müşteri Kayıt Ekranı")</title>
    <link rel="icon" type="image/x-icon" href="@TenantConfig.Tenant.Favicon">
    <!--Default-->
    <!--Default-->
    <link href="~/content/themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Themes/css/plugins/jQueryUI/jquery-ui.css" rel="stylesheet" />
    <link href="~/content/themes/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/content/themes/css/animate.css" rel="stylesheet">
    <link href="~/Content/Themes/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/content/themes/css/style.css" rel="stylesheet">
    <link href="~/Content/Plugins/Loading/css/jquery.loadingModal.min.css" rel="stylesheet" />
    <link href="~/Content/Plugins/Bootstrap-Dialog/dist/css/bootstrap-dialog.min.css" rel="stylesheet" />
    <link href="~/Content/Plugins/sweetAlert/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/Plugins/Fontello/css/fontello.css" rel="stylesheet" />
    <link href="~/Content/Plugins/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/Content/Customers/@TenantConfig.Tenant.TenantCode/css/layout.css" rel="stylesheet" />
    <!--Default-->
 
    <!--Kendo-->
    <link lang="tr" href="~/Content/Kendo/css/kendo.common-material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Kendo/css/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Kendo/css/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Kendo/css/kendo.material.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Kendo/css/kendo.dataviz.material.min.css" rel="stylesheet" type="text/css" />
    <!--Kendo-->

    <link href="~/Content/Custom/fonts/infolineIcon/style.css" rel="stylesheet" />
    <link href="~/Content/Custom/css/_Layout.css" rel="stylesheet" />
    <link href="~/Content/SYS_Files/css/InfolineFileUpload.css" rel="stylesheet" />
    <link href="~/Content/Custom/css/round-button.css" rel="stylesheet" />
    <link href="~/Content/Custom/css/FixedButtons.css?v=@Extensions.NewCode" rel="stylesheet" />



    <!--Default-->
    <script src="~/content/themes/js/jquery-2.1.1.js"></script>
    <script src="~/Content/Themes/js/jquery-ui-1.10.4.min.js"></script>
    <script src="/Content/Plugins/Polyfill/polyfill.min.js"></script>
    <script src="~/content/themes/js/bootstrap.min.js"></script>
    <script src="~/content/themes/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/content/themes/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/Themes/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/content/themes/js/inspinia.js"></script>
    <script src="~/content/themes/js/plugins/pace/pace.min.js"></script>
    <script src="~/Content/Themes/js/plugins/linq/jquery.linq.min.js"></script>
    <script src="~/Content/Themes/js/jquery.livequery.min.js"></script>
    <script src="~/Content/Plugins/Loading/js/jquery.loadingModal.min.js?v=1"></script>
    <script src="~/Content/Plugins/Bootstrap-Dialog/dist/js/bootstrap-dialog.min.js"></script>
    <script src="~/Content/Plugins/Validator/js/Validator.js"></script>
    <script src="~/Content/Plugins/sweetAlert/js/sweetalert.min.js"></script>
    <script src="~/Content/Plugins/Slugit/jquery.slugit.js"></script>
    <script src="~/Content/Plugins/html2canvas/FileSaver.js"></script>
    <script src="~/Content/Plugins/tagify/jQuery.tagify.min.js"></script>
    <script src="~/Content/Plugins/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="~/Content/Harita/js/jsPDF.js"></script>
    <!--Default-->

    <script src="~/Content/Plugins/html2canvas/html2canvas.min.js"></script>
    <script src="~/Content/Plugins/html2canvas/jspdf.debug.js"></script>

    <!--Kendo-->
    <script src="~/Content/Kendo/js/jszip.min.js"></script>
    <script src="~/Content/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Content/Kendo/js/kendo.aspnetmvc.min.js"></script>

    <script src="~/Content/Kendo/js/messages/kendo.messages.en-US.min.js"></script>
    <script src="~/Content/Kendo/js/messages/kendo.messages.tr-TR.min.js"></script>
    <script src="~/Content/Kendo/js/cultures/kendo.culture.tr-TR.min.js"></script>
    <script src="~/Content/Kendo/js/cultures/kendo.culture.en-US.min.js"></script>
    <!--Kendo-->
    <!--Language-->
    <script type="text/javascript" src="~/Content/Custom/js/language.js"></script>
    <!--Language-->
    <!--Custom-->
    <script src="~/Content/Plugins/xlsx/jszip.js"></script>
    <script src="~/Content/Plugins/xlsx/xlsx.js"></script>
    <!--Language-->
    <script type="text/javascript" src="~/Content/Custom/js/language.js"></script>
    <!--Language-->
    <script src="~/Content/Custom/js/master.js?v=5"></script>

    

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script type="text/javascript">
        kendo.culture("tr-TR")
        $(document)

            .on('success', 'form#SignInForm', function (e, i) {

                //  Sadece Feedback mesajlar gösteriliyor.
                if (i.Result == false) {
                    if (i.Object != null && i.Object.RequiredCaptcha) {
                        document.getElementById("error").style.display = 'block';
                        if (typeof (grecaptcha) != 'undefined') {
                            grecaptcha.reset();
                        }
                    }

                    return;

                }

            })

            .on('before:submit', '#SignInForm', function () {

                $('#CapthcaCode').val(grecaptcha.getResponse());

            })

            ;
    </script>

    <script src="~/Content/Customers/@Infoline.WorkOfTime.BusinessAccess.TenantConfig.Tenant.TenantCode/js/custom.js"></script>
    <link href="~/Content/Customers/@Infoline.WorkOfTime.BusinessAccess.TenantConfig.Tenant.TenantCode/css/accountlayout.css" rel="stylesheet" />

    <style type="text/css">
        body {
            position: relative;
            overflow: hidden;
            font-family: 'tt_smb',Tahoma, sans-serif;
            font-size: 13px;
        }

        html, body {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #layout {
            position: fixed;
            height: 100%;
        }

        #login {
            box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
            margin: auto;
            width: 50%;
            position: absolute;
            z-index: 9999;
            background: #ffffff;
            opacity: 0.92;
            border-radius: 15px;
            margin-left: 25%;
            top: 4vh;
        }

            #login .content h3.header {
                font-size: 12pt;
                text-align: center;
                padding-top: 15px;
                line-height: 3vh;
            }

            #login .content .logo {
                width: 100px;
            }

            #login form {
                padding: 0px 40px !important;
                background-color: #ffffff;
            }

        #UserControlCaptcha_ReloadIcon, #UserControlCaptcha_SoundIcon {
            display: none !important;
        }

        input {
            font-size: 11px;
        }

        .input-group-addon {
            border-radius: 1px;
            padding: 6px 12px;
            background-color: #ffffff !important;
        }

        i {
            color: black;
        }

        .copyright {
            color: white;
        }

        .credit {
            width: 17%;
            position: absolute;
            z-index: 99;
            margin-top: 20px;
            margin-left: 35px;
        }

        @@media only screen and (max-width: 768px) {

            .credit {
                display: none !important;
            }

            #layout {
                display: none !important;
            }

            #login {
                box-shadow: none !important;
                width: 100% !important;
                position: absolute !important;
                z-index: 9999 !important;
                background: rgba(255, 255, 255, 0.7) !important;
                opacity: 1 !important;
                border-radius: 0 !important;
                left: 0 !important;
                transform: none !important;
                height: 100% !important;
                top: 0px !important;
                margin-left: 0px !important;
            }

            .copyright {
                color: white;
            }

            #login form {
                padding: 10px 40px !important;
                background: rgba(0, 0, 0, 0) !important;
            }

            #login::before {
                background-image: url(/Content/Custom/img/loginmobilphoto.png);
                opacity: 0.58;
                background-size: cover;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -2;
                opacity: 0.2;
            }

            .content {
                margin-top: 5%;
            }
        }


        .carousel-inner .item {
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-attachment: fixed !important;
            width: 100%;
            height: 100%;
            position: fixed;
        }
    </style>
</head>

<body>
    <div class="container-fluids">

        <div id="layout">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <img class="item active slide1Image" src="/Content/Custom/img/signin/account1.jpg" />
                    <img class="item slide2Image" src="/Content/Custom/img/signin/account2.jpg" />
                    <img class="item slide3Image" src="/Content/Custom/img/signin/account3.jpg" />
                </div>
            </div>
        </div>

        <div id="login" class="animated slideInDown ">
            <div class="content ">
                <h3 class="header">
                    <a href="@Url.Action("Index","Account",new {area="" })">
                        <img style="width: 15vh;" src="@TenantConfig.Tenant.Logo" class="logo" />
                    </a>
                    <br />


                    <br />
                    <strong style="color:black">Müşteri Kayıt Ekranı</strong>
                    <br />
                </h3>


                @using (Html.BeginForm("CustomerSignUp", "Account", FormMethod.Post, new Dictionary<string, object>() {
                     {"id","SignInForm"},
                     { "role", "form" },
                     { "data-formType", "Ajax" },
                     { "data-loadingtitle" , "Bilgileriniz kontrol ediliyor.Lütfen bekleyiniz." },
                 }))
                {
                    @Html.Hidden("returnUrl", ViewData["returnUrl"])
                    @Html.HiddenFor(a => a.CapthcaCode)

                    <div id="loginForm">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label hide">Lütfen E-Posta İle Birlikte Gelen Bayi Kodunuzu Giriniz</label>
                                @Html.TextBoxFor(model => model.CompanyCode, new Dictionary<string, object>() {
                                    {"class","form-control"},
                                    {"autocomplete","off"},
                                    {"tabindex","1"},
                                    {"placeholder", "Lütfen E-Posta İle Birlikte Gelen Bayi Kodunuzu Giriniz" }
                                }).Validate(Validations.Required)
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label hide">Lütfen T.C. kimlik No Giriniz</label>
                                @Html.TextBoxFor(model => model.loginname, new Dictionary<string, object>() {
                                    {"class","form-control"},
                                    {"autocomplete","off"},
                                    {"tabindex","1"},
                                    {"placeholder", "Lütfen T.C. kimlik No Giriniz" }
                                }).Validate(Validations.Required)
                            </div>
                            <div class="form-group">
                                <label class="control-label hide">Lütfen Ünvan Giriniz</label>
                                @Html.TextBoxFor(model => model.title, new Dictionary<string, object>() {
                                    {"class","form-control"},
                                    {"autocomplete","off"},
                                    {"tabindex","1"},
                                    {"placeholder", "Lütfen Ünvan Giriniz" }
                                }).Validate(Validations.Required)
                            </div>
                            <div class="form-group">
                                <label class="control-label hide">Lütfen Adınızı Giriniz</label>
                                @Html.TextBoxFor(model => model.firstname, new Dictionary<string, object>() {
                                    {"class","form-control"},
                                    {"autocomplete","off"},
                                    {"tabindex","1"},
                                    {"placeholder", "Lütfen Adınızı Giriniz" }
                                }).Validate(Validations.Required)
                            </div>
                            <div class="form-group">
                                <label class="control-label hide">Lütfen Soyadınızı Giriniz</label>
                                @Html.TextBoxFor(model => model.lastname, new Dictionary<string, object>() {
                                    {"class","form-control"},
                                    {"autocomplete","off"},
                                    {"tabindex","1"},
                                    {"placeholder", "Lütfen Soyadınızı Giriniz" }
                                }).Validate(Validations.Required)
                            </div>
                            <div class="form-group">
                                <label class="control-label pull-left hide   " style="margin-right:15px">Lütfen Doğum Tarihinizi Girin</label>
                                @(Html.Akilli()
                                    .DatePickerFor(model => model.birthday).Max(DateTime.Now.AddYears(-15))
                                    .Validate(Validations.Required)
                                    .Placeholder("Lütfen Doğum Tarihinizi Giriniz")
                                    )
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label label-md hide" for="cellphone">Şahsi Cep Telefonu</label>
                                </div>
                               
                                    @(Html.Kendo().MaskedTextBoxFor(a => a.cellphone).HtmlAttributes(new Dictionary<string, object>()
                                    {
                                        { "style", "width: 100%"},
                                        {"class", "form-control"},
                                        {"placeholder", "Lütfen Cep Telefonunuzu Giriniz."},
                                    })
                                    .Mask("0 (000) 000 00 00")
                                    .UnmaskOnPost(true))
                                                 
                            </div>


                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xs-12">
                            <div class="form-group">
                            
                                    <label class="control-label label-md hide" for="phone">Sabit Telefonu</label>
                               
                                
                                    @(Html.Kendo().MaskedTextBoxFor(a => a.phone).HtmlAttributes(new Dictionary<string, object>()
                                     {
                                         { "style", "width: 100%"},
                                         {"class", "form-control"},
                                         {"placeholder", "Lütfen Sabit Telefonu Giriniz"},
                                     })
                                     .Mask("0 (000) 000 00 00")
                                     .UnmaskOnPost(true))
                                </div>
                            
                            <div class="form-group">
                                <label class="control-label hide">Lütfen Email Adresiniz Giriniz</label>
                                @Html.TextBoxFor(model => model.email, new Dictionary<string, object>()
                                     {
                                         {"placeholder","Lütfen E Mail Adresi Giriniz(test@test.com)"},
                                         {"class","form-control"},
                                     }).Validate(Validations.EMail(true))
                            </div>
                            <div class="form-group">

                                <label class="control-label label-md hide" for="companyCellPhone">Şirket Cep Telefonu / Kısa Kod</label>
                                <div class="row" style="margin-right:0px;margin-left:0px;">
                                    <div class="col-md-8" style="padding-left:0px!important">
                                        @(Html.Kendo().MaskedTextBoxFor(a => a.companyCellPhone).HtmlAttributes(new Dictionary<string, object>()
                                {
                                    { "style", "width: 100%"},
                                    {"class", "form-control"},
                                    {"placeholder", "Lütfen Şirket Cep Telefonunuzu Giriniz."},
                                })
                                .Mask("0 (000) 000 00 00")
                                .UnmaskOnPost(true)
                                .Validate(Validations.Required)
            )
                                    </div>
                                    <div class="col-md-4" style="padding-right:0px!important">
                                        @Html.TextBoxFor(model => model.companyCellPhoneCode, new Dictionary<string, object>()
                                            {
                                                { "style", "width: 100%"},
                                                {"class", "form-control"},
                                                {"placeholder", "Kısa Kod"},
                                            }).Validate(Validations.NumberOnly(false, 0, 4))
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="control-label label-md hide" for="companyOfficePhone">Şirket Ofis Telefonu / Kısa Kod</label>
                                <div class="row" style="margin-right:0px;margin-left:0px;">
                                    <div class="col-md-8" style="padding-left:0px!important">
                                        @(Html.Kendo().MaskedTextBoxFor(a => a.companyOfficePhone).HtmlAttributes(new Dictionary<string, object>()
                                {
                                    { "style", "width: 100%"},
                                    {"class", "form-control"},
                                    {"placeholder", "Lütfen Şirket Ofis Telefonunuzu Giriniz."},
                                })
                                .Mask("0 (000) 000 00 00")
                                .UnmaskOnPost(true)
            )
                                    </div>
                                    <div class="col-md-4" style="padding-right:0px!important">
                                        @Html.TextBoxFor(model => model.companyOfficePhoneCode, new Dictionary<string, object>()
                                            {
                                                { "style", "width: 100%"},
                                                {"class", "form-control"},
                                                {"placeholder", "Dahili No"},
                                            }).Validate(Validations.NumberOnly(false, 0, 4))
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label label-md hide" for="address">Açık Adres</label>


                                @Html.TextAreaFor(model => model.address, new Dictionary<string, object>()
                                {
                                    {"class", "form-control"},
                                    {"placeholder", "Lütfen adres giriniz.."},
                                })

                            </div>
                        </div>


                        <div class="form-group" style="margin-left: 62px;">
                            <label class="control-label hide">Captcha</label>
                            <div class="input-group m-b-xs">
                                <div class="form-group pull-right" id="error" style="@(loginError >= 3 ? "" : "display:none") ">
                                    <div class="g-recaptcha" data-sitekey="6LfZ8IUbAAAAALAtrjJt_e4Q93nzLEDHUh6o1rYS" style="margin:0 auto; width:300px;"></div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group clearfix">
                            <button type="submit" class="btn btn-success btn-md pull-right btn-block" id="SignIn">Kayıt Ol</button>
                        </div>


                        <div id="example" class="k-content text-center">
                            <div class="qr-wrapper">
                                <div class="demo-section">
                                    <div id="qrUrl" style="width: 100px;margin: 0 auto;" title="Mobil uygulama için QR Kod"></div>
                                    <script src="~/Content/Kendo/js/kendo.all.min.js"></script>
                                    <script type="text/javascript">
                                $("#qrUrl").kendoQRCode({
                                    value: '@ViewBag.ServiceUrl',
                                    errorCorrection: "M",
                                    size: 100,
                                });
                                    </script>
                                </div>
                            </div>

                        </div>

                        <p class="text-center copyright">
                            <br> <span style="color:black">© 2022 Tüm hakları saklıdır.</span>
                        </p>
                    </div>
                }

            </div>
        </div>
    </div>
</body>
</html>
