@using BotDetect;
@using BotDetect.Web.Mvc;
@model Infoline.WorkOfTime.BusinessData.SH_User
@using Infoline.WorkOfTime.BusinessAccess
@{
    Layout = null;
    MvcCaptcha UserControlCaptcha = new MvcCaptcha("UserControlCaptcha");
    UserControlCaptcha.ImageFormat = ImageFormat.Png;
    UserControlCaptcha.ImageStyle = ImageStyle.CaughtInTheNet2;
    UserControlCaptcha.CodeStyle = CodeStyle.Numeric;
    UserControlCaptcha.CodeLength = 5;
    UserControlCaptcha.ImageSize = new System.Drawing.Size(91, 22);
    UserControlCaptcha.ImageStyle = ImageStyle.BlackOverlap;
    UserControlCaptcha.CustomLightColor = System.Drawing.ColorTranslator.FromHtml("#eeeeee");
    UserControlCaptcha.CustomDarkColor = System.Drawing.ColorTranslator.FromHtml("#717171");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(Infoline.WorkOfTime.BusinessAccess.TenantConfig.Tenant.TenantName + " | Şifremi Unuttum")</title>
    <link rel="icon" type="image/x-icon" href="@TenantConfig.Tenant.Favicon">
    <!--Default-->
    <link href="~/content/themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Themes/css/plugins/jQueryUI/jquery-ui.css" rel="stylesheet" />
    <link href="~/content/themes/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/content/themes/css/animate.css" rel="stylesheet">
    <link href="~/Content/Themes/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/content/themes/css/style.css" rel="stylesheet">
    <link href="~/Content/Plugins/Loading/css/jquery.loadingModal.min.css" rel="stylesheet" />
    <link href="~/Content/Custom/css/custom.css" rel="stylesheet" />
    <!--Harita-->
    <!--Default-->
    <script src="~/content/themes/js/jquery-2.1.1.js"></script>
    <script src="~/Content/Themes/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/content/themes/js/bootstrap.min.js"></script>
    <script src="~/content/themes/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/content/themes/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/content/themes/js/plugins/pace/pace.min.js"></script>
    <script src="~/Content/Themes/js/plugins/linq/jquery.linq.min.js"></script>
    <script src="~/Content/Plugins/Loading/js/jquery.loadingModal.min.js"></script>
    <script src="~/Content/Themes/js/jquery.livequery.min.js"></script>
    <script src="~/Content/Themes/js/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/Plugins/Validator/js/Validator.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/language.js"></script>
    <!--Default-->


    <script src="~/Content/Kendo/js/jszip.min.js"></script>
    <script src="~/Content/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Content/Kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/Content/Kendo/js/messages/kendo.messages.en-US.min.js"></script>
    <script src="~/Content/Kendo/js/messages/kendo.messages.tr-TR.min.js"></script>
    <script src="~/Content/Kendo/js/cultures/kendo.culture.tr-TR.min.js"></script>
    <script src="~/Content/Kendo/js/cultures/kendo.culture.en-US.min.js"></script>

    <script src="~/Content/Custom/js/master.js"></script>

    <style type="text/css">
        body {
            position: relative;
            overflow: hidden;
            font-family: 'tt_smb',Tahoma, sans-serif;
            font-size: 13px;
        }

        html, body {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #layout {
            position: fixed;
            height: 100%;
        }

        #login {
            box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
            width: 500px;
            position: absolute;
            z-index: 9999;
            background: #ffffff;
            opacity: 0.92;
            border-radius: 15px;
            left: 50%;
            margin-left: -250px;
            top: 5%;
        }

            #login .content h3.header {
                font-size: 12pt;
                text-align: center;
                padding-top: 15px;
                line-height: 30px;
            }

            #login .content .logo {
                width: 100px;
            }

            #login form {
                padding: 15px 40px !important;
                background-color: #ffffff;
            }

        #UserControlCaptcha_ReloadIcon, #UserControlCaptcha_SoundIcon {
            display: none !important;
        }

        input {
            font-size: 11px;
        }

        .input-group-addon {
            border-radius: 1px;
            padding: 6px 12px;
            background-color: #ffffff !important;
        }

        i {
            color: black;
        }

        .copyright {
            color: white;
        }

        .credit {
            width: 17%;
            position: absolute;
            z-index: 99;
            margin-top: 20px;
            margin-left: 35px;
        }

        @@media only screen and (max-width: 768px) {

            .credit {
                display: none !important;
            }

            #layout {
                display: none !important;
            }

            #login {
                box-shadow: none !important;
                width: 100% !important;
                position: absolute !important;
                z-index: 9999 !important;
                background: rgba(255, 255, 255, 0.7) !important;
                opacity: 1 !important;
                border-radius: 0 !important;
                left: 0 !important;
                transform: none !important;
                height: 100% !important;
                top: 0px !important;
                margin-left: 0px !important;
            }

            .copyright {
                color: white;
            }

            #login form {
                padding: 10px 40px !important;
                background: rgba(0, 0, 0, 0) !important;
            }

            #login::before {
                background-image: url(https://cdn.pixabay.com/photo/2017/08/05/13/06/people-2583442_960_720.jpg);
                opacity: 0.58;
                background-size: cover;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -2;
                opacity: 0.2;
            }

            .content {
                margin-top: 5%;
            }
        }

        .carousel-inner .item {
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-attachment: fixed !important;
            width: 100% !important;
            height: 100% !important;
            position: fixed !important;
        }
    </style>
</head>

<body>

    <div class="container-fluids">
        <div class="credit animated slideInLeft">
            <img src="~/Content/Custom/img/workoftime2.png" style="width:100%;" />
        </div>

        <div id="layout">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <img class="item active slide1Image" src="~/Content/Custom/img/signin/account1.jpg" alt="" />
                    <img class="item slide2Image" src="~/Content/Custom/img/signin/account2.jpg" style="height:100%;" alt="" />
                    <img class="item slide3Image" src="~/Content/Custom/img/signin/account3.jpg" style="height:100%;" alt="" />
                </div>
            </div>
        </div>

        <div id="login" class="animated slideInDown">
            <div class="content">
                <h3 class="header">
                    <a href="@Url.Action("Index","Home",new {area="" })">
                        <img style="width:150px;" src="@TenantConfig.Tenant.Config.Logo" class="logo" />
                    </a>
                    <br /><br />
                    <strong style="color:black"> Şifremi Unuttum </strong>
                    <br />
                </h3>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new Dictionary<string, object>() {
                     { "role", "form" },
                     { "data-formType", "Ajax" },
                     { "data-loadingtitle" , "Bilgileriniz kontrol ediliyor.Lütfen bekleyiniz." },
                     { "data-submit" , "allow" },
                    { "data-selector", "modalContainer" },
                }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)


                    <div class="form-group">
                        <label class="control-label hide" for="FRPloginName">Kimlik No veya Kullanıcı Adı</label>
                        <div class="input-group m-b-xs">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @Html.TextBoxFor(model => model.loginname, new Dictionary<string, object>() {
                                    {"class","input-md form-control"},
                                    {"placeholder","Kimlik No veya Kullanıcı Adınızı Giriniz.."}
                                }).Validate(Validations.UserName(true))
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label hide" for="FRPemail">Email</label>
                        <div class="input-group m-b-xs">
                            <span class="input-group-addon"><i class="fa fa-send"></i></span>
                            @Html.TextBoxFor(model => model.email, new Dictionary<string, object>() {
                                    {"class", "input-md form-control"},
                                    {"placeholder", "Email Adresiniz ( isim@soyisim.com )"}
                                }).Validate(Validations.EMail(true))
                        </div>
                    </div>

                    <div class="form-group clearfix m-t-md">
                        <a href="@Url.Action("SignIn", "Account")" id="SignUp" class="btn btn-danger btn-md">Kullanıcı Girişi</a>
                        <button type="submit" class="btn btn-success btn-md pull-right" id="SignIn">Şifremi Gönder</button>
                    </div>
                }


                <p class="text-center copyright">
                    <img src="~/Content/Customers/@TenantConfig.Tenant.TenantCode/images/logo.png" style="width:15%;" />
                    <br> <span style="color:black">© 2020 Tüm hakları saklıdır.</span>
                </p>
            </div>
        </div>
    </div>

</body>
</html>
