@using BotDetect;
@using BotDetect.Web.Mvc;
@using Infoline.WorkOfTime.BusinessAccess
@model LoginModel
@{
	var loginError = Convert.ToInt32(Session["LoginError"] ?? "0");
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@(Infoline.WorkOfTime.BusinessAccess.TenantConfig.Tenant.TenantName + " | Kullanıcı Girişi")</title>
	<link rel="icon" type="image/x-icon" href="@TenantConfig.Tenant.Favicon">
	<!--Default-->
	<link href="~/content/themes/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/Content/Themes/css/plugins/jQueryUI/jquery-ui.css" rel="stylesheet" />
	<link href="~/content/themes/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="~/content/themes/css/animate.css" rel="stylesheet">
	<link href="~/Content/Themes/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
	<link href="~/content/themes/css/style.css" rel="stylesheet">
	<link href="~/Content/Plugins/Loading/css/jquery.loadingModal.min.css" rel="stylesheet" />
	<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
	<!--Harita-->
	<!--Default-->
	<script src="~/content/themes/js/jquery-2.1.1.js"></script>
	<script src="~/Content/Themes/js/jquery-ui-1.10.4.min.js"></script>
	<script src="~/content/themes/js/bootstrap.min.js"></script>
	<script src="~/content/themes/js/plugins/metisMenu/jquery.metisMenu.js"></script>
	<script src="~/content/themes/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/content/themes/js/plugins/pace/pace.min.js"></script>
	<script src="~/Content/Themes/js/plugins/linq/jquery.linq.min.js"></script>
	<script src="~/Content/Plugins/Loading/js/jquery.loadingModal.min.js"></script>
	<script src="~/Content/Themes/js/jquery.livequery.min.js"></script>
	<script src="~/Content/Themes/js/plugins/toastr/toastr.min.js"></script>
	<script src="~/Content/Plugins/Validator/js/Validator.js"></script>
	<script type="text/javascript" src="~/Content/Custom/js/language.js"></script>
	<!--Default-->

	<script src="~/Content/Kendo/js/jszip.min.js"></script>
	<script src="~/Content/Kendo/js/kendo.all.min.js"></script>
	<script src="~/Content/Kendo/js/kendo.aspnetmvc.min.js"></script>
	<script src="~/Content/Kendo/js/messages/kendo.messages.en-US.min.js"></script>
	<script src="~/Content/Kendo/js/messages/kendo.messages.tr-TR.min.js"></script>
	<script src="~/Content/Kendo/js/cultures/kendo.culture.tr-TR.min.js"></script>
	<script src="~/Content/Kendo/js/cultures/kendo.culture.en-US.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<script src="~/Content/Custom/js/master.js"></script>
	<script type="text/javascript">
		$(document)

			.on('success', 'form#SignInForm', function (e, i) {

				//  Sadece Feedback mesajlar gösteriliyor.
				if (i.Result == false) {
					if (i.Object != null && i.Object.RequiredCaptcha) {
						document.getElementById("error").style.display = 'block';
						if (typeof (grecaptcha) != 'undefined') {
							grecaptcha.reset();
						}
					}

					return;

				}

			})
		
			.on('before:submit', '#SignInForm', function () {

				$('#CapthcaCode').val(grecaptcha.getResponse());

			})

			;
	</script>

	<script src="~/Content/Customers/@Infoline.WorkOfTime.BusinessAccess.TenantConfig.Tenant.TenantCode/js/custom.js"></script>
	<link href="~/Content/Customers/@Infoline.WorkOfTime.BusinessAccess.TenantConfig.Tenant.TenantCode/css/accountlayout.css" rel="stylesheet" />

	<style type="text/css">
		body {
			position: relative;
			overflow: hidden;
			font-family: 'tt_smb',Tahoma, sans-serif;
			font-size: 13px;
		}

		html, body {
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		#layout {
			position: fixed;
			height: 100%;
		}

		#login {
			box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
			width: 500px;
			position: absolute;
			z-index: 9999;
			background: #ffffff;
			opacity: 0.92;
			border-radius: 15px;
			left: 50%;
			margin-left: -250px;
			top: 4vh;
		}

			#login .content h3.header {
				font-size: 12pt;
				text-align: center;
				padding-top: 15px;
				line-height: 3vh;
			}

			#login .content .logo {
				width: 100px;
			}

			#login form {
				padding: 0px 40px !important;
				background-color: #ffffff;
			}

		#UserControlCaptcha_ReloadIcon, #UserControlCaptcha_SoundIcon {
			display: none !important;
		}

		input {
			font-size: 11px;
		}

		.input-group-addon {
			border-radius: 1px;
			padding: 6px 12px;
			background-color: #ffffff !important;
		}

		i {
			color: black;
		}

		.copyright {
			color: white;
		}

		.credit {
			width: 17%;
			position: absolute;
			z-index: 99;
			margin-top: 20px;
			margin-left: 35px;
		}

		@@media only screen and (max-width: 768px) {

			.credit {
				display: none !important;
			}

			#layout {
				display: none !important;
			}

			#login {
				box-shadow: none !important;
				width: 100% !important;
				position: absolute !important;
				z-index: 9999 !important;
				background: rgba(255, 255, 255, 0.7) !important;
				opacity: 1 !important;
				border-radius: 0 !important;
				left: 0 !important;
				transform: none !important;
				height: 100% !important;
				top: 0px !important;
				margin-left: 0px !important;
			}

			.copyright {
				color: white;
			}

			#login form {
				padding: 10px 40px !important;
				background: rgba(0, 0, 0, 0) !important;
			}

			#login::before {
				background-image: url(/Content/Custom/img/loginmobilphoto.png);
				opacity: 0.58;
				background-size: cover;
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -2;
				opacity: 0.2;
			}

			.content {
				margin-top: 5%;
			}
		}


		.carousel-inner .item {
			background-size: cover !important;
			background-repeat: no-repeat !important;
			background-attachment: fixed !important;
			width: 100%;
			height: 100%;
			position: fixed;
		}
	</style>
</head>

<body>
	<div class="container-fluids">
		<div class="credit animated slideInLeft">
			@if (TenantConfig.Tenant.TenantCode != 1145)
			{
				<img src="~/Content/Custom/img/workoftime2.png" style="width:100%;" />
			}
		</div>

		<div id="layout">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					@if (TenantConfig.Tenant.TenantCode == 1145)
					{
						<img class="item active slide1Image" src="~/Content/Customers/1145/images/bg-1.jpg" />
						<img class="item slide2Image" src="/Content/Customers/1145/images/bg-2.jpg" />
						<img class="item slide3Image" src="/Content/Customers/1145/images/bg-3.jpg" />
					}
					else
					{
						<img class="item active slide1Image" src="/Content/Custom/img/signin/account1.jpg" />
						<img class="item slide2Image" src="/Content/Custom/img/signin/account2.jpg" />
						<img class="item slide3Image" src="/Content/Custom/img/signin/account3.jpg" />
					}
				</div>
			</div>
		</div>

		<div id="login" class="animated slideInDown">
			<div class="content">
				<h3 class="header">
					<a href="@Url.Action("Index","Account",new {area="" })">
						<img style="width: 15vh;" src="@TenantConfig.Tenant.Logo" class="logo" />
					</a>
					<br />


					<br />
					<strong style="color:black">Kullanıcı Girişi</strong>
					<br />
				</h3>


				@using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new Dictionary<string, object>() {
					 {"id","SignInForm"},
					 { "role", "form" },
					 { "data-formType", "Ajax" },
					 { "data-loadingtitle" , "Bilgileriniz kontrol ediliyor.Lütfen bekleyiniz." },
					 { "data-submit" , "allow" }
				 }))
				{
					@Html.Hidden("returnUrl", ViewData["returnUrl"])
					@Html.HiddenFor(a => a.CapthcaCode)

					<div id="loginForm">
						<div class="form-group">
							<label class="control-label hide">Kimlik Numarası,Kullanıcı Adı veya Email </label>
							<div class="input-group m-b-xs">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								@Html.TextBoxFor(model => model.loginname, new Dictionary<string, object>() {
									{"class","form-control"},
									{"autocomplete","off"},
									{"tabindex","1"},
									{"placeholder", "Kimlik Numarası,Kullanıcı Adı veya Email" }
								})
							</div>
						</div>

						<div class="form-group">
							<label class="control-label hide">Şifre</label>
							<div class="input-group m-b-xs">
								<span class="input-group-addon"><i class="fa fa-key"></i></span>
								@Html.PasswordFor(model => model.password, new Dictionary<string, object>() {
									{"class","form-control"},
									{"autocomplete","off"},
									 {"tabindex","2"},
									{"placeholder","Şifre" }
								})
							</div>
						</div>

						<div class="form-group" style="margin-left: 62px;">
							<label class="control-label hide">Captcha</label>
							<div class="input-group m-b-xs">
								<div class="form-group pull-right" id="error" style="@(loginError >= 3 ? "" : "display:none") ">
									<div class="g-recaptcha" data-sitekey="6LfZ8IUbAAAAALAtrjJt_e4Q93nzLEDHUh6o1rYS" style="margin:0 auto; width:300px;"></div>
								</div>
							</div>
						</div>


						@if (TenantConfig.Tenant.Config.LdapUrls.Length == 0)
						{
							<div class="form-group clearfix">
								<a href="@Url.Action("ForgotPassword", "Account", new {area=string.Empty })" style="font-weight:900;" class="pull-right">Şifremi Unuttum</a>
							</div>
						}

						<div class="form-group clearfix">
							<button type="submit" class="btn btn-success btn-md pull-right btn-block" id="SignIn">Oturum Aç</button>
						</div>


						<div id="example" class="k-content text-center">
							<div class="qr-wrapper">
								<div class="demo-section">
									<div id="qrUrl" style="width: 150px;margin: 0 auto;" title="Mobil uygulama için QR Kod"></div>
									<script src="~/Content/Kendo/js/kendo.all.min.js"></script>
									<script type="text/javascript">
                                $("#qrUrl").kendoQRCode({
                                    value: '@ViewBag.ServiceUrl',
                                    errorCorrection: "M",
                                    size: 150,
                                });
									</script>
								</div>
							</div>

						</div>

						<p class="text-center copyright">
							<br> <span style="color:black">© 2020 Tüm hakları saklıdır.</span>
						</p>
					</div>
				}

			</div>
			</div>
		</div>
	</body>
</html>
