@using Infoline.WorkOfTime.BusinessAccess
@model Infoline.WorkOfTime.BusinessData.SH_User
@{
    ViewBag.Title = "Şifre Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" data-selector="modalContainer">
    $('#oldPassword').trigger('click');

    $(document)
        .on('change', '#password, #rePassword', function () {
            if (($('#password').val() + $('#rePassword').val()) != '' && ($('#password').val() + $('#rePassword').val()) != null) {
                $('#password, #rePassword').attr('required', 'required');
            } else {
                $('#password, #rePassword').removeAttr('required', 'required');
            }
        });
</script>

<form action="@Url.Action("UpdatePassword","Account")" method="post" class="form-horizontal" id="VWSH_UserInsert" role="form" data-loadingtitle="Kullanıcı düzenleme işleminiz gerçekleştiriliyor.Lütfen Bekleyiniz.."
      data-selector="modalContainer" data-formType="Ajax">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="password">Eski Şifre</label>
        </div>
        <div class="col-md-8">
            @Html.Password("oldPassword", "", new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen eski şifrenizi giriniz.."},
                {"tabIndex" ,"1"}
            }).Validate(Validations.Password(true))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="password">Şifre</label>
        </div>
        <div class="col-md-8">
            @Html.PasswordFor(model => model.password, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen şifrenizi giriniz.."}
            }).Validate(Validations.Password(true))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="password">Şifre Tekrar</label>
        </div>
        <div class="col-md-8">
            @Html.Password("rePassword", "", new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen şifrenizi tekrar giriniz.."},
            }).Validate(Validations.PasswordMatch("#password", true))
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Güncelle</button>
    </div>
</form>





