@model Infoline.WorkOfTime.BusinessData.VWHR_StaffNeedsStatus
@{
    ViewBag.Title = "Personel Talep Durumları Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Update", "VWHR_StaffNeedsStatus", FormMethod.Post, new Dictionary<string, object>() {  
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="staffNeedId">Personel Talebi</label>
        </div>
        <div class="col-md-8">
			  @(
			      Html.Akilli()
			      .DropDownListFor(model => model.staffNeedId)
			      .OptionLabel("Lütfen Personel Talebi seçiniz..")
			      .DataTextField("NeedCode")
			      .DataValueField("id")
			      .Action(b => b.Action("DataSourceDropDown", "VWHR_StaffNeeds", new { area = "HR" }))
			      .Sort(x => x.Add("NeedCode").Ascending())
			      .Validate(Validations.Required)
			      .Execute()
			)
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="description">Açıklama</label>
        </div>
        <div class="col-md-8">
			 @Html.TextBoxFor(model => model.description, new Dictionary<string, object>()
			 {
			     {"class", "form-control"},
			     {"placeholder", "Lütfen Açıklama giriniz.."}
			 }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="status">Durum</label>
        </div>
        <div class="col-md-8">
			 @(
			     Html.Akilli().
			     DropDownListFor(model => model.status).
			     OptionLabel("Lütfen Durum seçiniz..").
			     DataTextField("enumDescription").
			     DataValueField("Id").
			     Action(b => b.Action("GetEnums", "General", new { area = string.Empty })).
			     Filter<Infoline.WorkOfTime.BusinessData.SYS_Enums>(a => a.tableName == "HR_StaffNeedsStatus" && a.fieldName == "status").
			     Sort(x => x.Add("enumDescription").Ascending()).
			     Validate(Validations.Required).
			     Execute("enumKey")
			 )
        </div>
    </div>



    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}
