@model Infoline.WorkOfTime.BusinessData.SYS_TableAdditionalProperty
@{
    ViewBag.Title = "Ek özellik ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Insert", "VWSYS_TableAdditionalProperty", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "id","TableAdditionalPropertyInsert"},
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.dataTable)
    @Html.HiddenFor(model => model.dataId)

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="propertyKey">Özellik İsmi</label>
        </div>
        <div class="col-md-8">
			 @Html.TextBoxFor(model => model.propertyKey, new Dictionary<string, object>()
			 {
			     {"class", "form-control"},
			     {"placeholder", "Lütfen Özellik İsmi giriniz.."}
			 }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="propertyValue">Özellik Değeri</label>
        </div>
        <div class="col-md-8">
			 @Html.TextBoxFor(model => model.propertyValue, new Dictionary<string, object>()
			 {
			     {"class", "form-control"},
			     {"placeholder", "Lütfen Özellik Değeri giriniz.."}
			 }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}
