@model VMPRD_ProductionModel
@{
	Layout = null;
	var userStatus = (PageSecurity)Session["userStatus"];
	//var type = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<Infoline.WorkOfTime.BusinessAccess.EnumFTM_TaskType>().Where(a => Convert.ToInt32(a.Key) == Model.type).FirstOrDefault();


	decimal remainingCal = ((decimal)30 - (decimal)20);
	decimal result = ((remainingCal / (decimal)30) * 100);

}

<div class="ibox ">
	<div class="ibox-title">
		<h5> <i class="fa text-success fa fa-list-alt"></i> Üretim Sonuçları </h5>

	</div>
	<div class="ibox-content clearfix" style="padding-bottom:0px !important; padding-top:10px !important;">
		<div class="col-md-4">
			<img width="400" height="200" src="~/Content/Custom/img/gif/uretimyapiliyor.gif" />
		</div>
		<div class="col-lg-8">
			<dl class="dl-horizontal">
				<dt>Ürün Adı:</dt>
				<dd>@Model.productId_Title</dd>
			</dl>
			@if (Model.lastProductionStage_Title != null)
			{
				<dl class="dl-horizontal">
					<dt>Aktif Aşama:</dt>
					<dd>@Model.lastProductionStage_Title</dd>
				</dl>
			}

			<dl class="dl-horizontal">
				<dt>Üretim Emir Tarihi: </dt>
				<dd> @String.Format("{0:dd.MM.yyyy HH:mm}", Model.productionOrderDate) </dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Üretim Başlama Tarihi: </dt>
				<dd> @String.Format("{0:dd.MM.yyyy HH:mm}", Model.scheduledProductionDate) </dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Son Bitiş Tarihi: </dt>
				<dd> @String.Format("{0:dd.MM.yyyy HH:mm}", Model.lastProductionDate) </dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Üretim Bitiş Tarihi:</dt>
				<dd>@String.Format("{0:dd.MM.yyyy HH:mm}", Model.lastOperationDate)</dd>
			</dl>

			<dl class="dl-horizontal">
				<dt></dt>
				<dd>
					<small class="label label-info" data-toggle="alert" data-original-title="Üretilecek ürün adedi"><i class="fa fa-info-circle"></i> 100</small>
					<small class="label label-danger" data-toggle="alert" data-original-title="Üretilen ürün adedi"><i class="fa fa-info-circle"></i> 200</small>
				</dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Üretim Durumu : %@(Convert.ToInt32(result))</dt>
				<dd>
					<div class="progress progress-striped active m-b-sm" style="width: 424px">
						<div style="width:@(Convert.ToInt32(result))%;" class="progress-bar"></div>
					</div>

				</dd>
			</dl>
		</div>
	</div>
</div>

<div class="ibox">
	<div class="ibox-title">
		<h5>
			<i class="fa text-success fa fa-list-alt"></i> Üretim Detayları
			@if (Model.lastOperationStatus < (int)EnumPRD_ProductionOperationStatus.UretimBasladi)
			{
				<a class="btn btn-xs btn-warning m-l-md" data-task="Insert" data-method="GET" data-modal="true" data-show="single" data-href="@Url.Action("Update","VWPRD_Production",new {area="PRD",id=Model.id })"><i class="fa fa-edit"></i> Düzenle </a>
			}
		</h5>

		<span class="text-muted small pull-right">
			Üretim Emri Oluşturulma Tarihi : @String.Format("{0:dd.MM.yyyy HH:mm}", Model.created)
		</span>
	</div>

	<div class="ibox-content clearfix">
		<div class="col-lg-6" style="border-right: 1px solid #cfcfcf;">
			<dl class="dl-horizontal">
				<dt>Üretim Emri Kodu:</dt>
				<dd>@Model.code</dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Üretilen Ürün:</dt>
				<dd>
					<span style="white-space: pre-wrap;word-break: break-all;"><strong><u>@(Model.productId_Title)</u></strong></span>
					@if (Model.productId.HasValue)
					{
						<a href="/PRD/VWPRD_Product/Detail?id=@Model.productId" target="_blank" class="text-navy "> <i class="fa fa-link"></i> </a>
					}
				</dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Son İşlem Tarihi :</dt>
				<dd> @String.Format("{0:dd.MM.yyyy HH:mm}", Model.lastOperationDate) </dd>
			</dl>
			<dl class="dl-horizontal">
				<dt>Son Operasyon:</dt>
				<dd><span style="white-space: pre-wrap;word-break: break-all;"><strong><u>@(Model.lastOperationStatus_Title)</u></strong></span></dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Üretim Açıklaması:</dt>
				<dd><span style="white-space: pre-wrap;word-break: break-all;">@(!String.IsNullOrEmpty(Model.description) ? Model.description : "-")</span></dd>
			</dl>


		</div>

		<div class="col-lg-6">
			<dl class="dl-horizontal">
				<dt>Merkez İşletme:</dt>
				<dd>
					<span>@Model.centerCompanyId_Title </span>
					@if (Model.centerCompanyId.HasValue)
					{
						<a href="/CMP/VWCMP_Company/Detail?id=@Model.centerCompanyId" target="_blank" class="text-navy "> <i class="fa fa-link"></i> </a>
					}
				</dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Merkez Depo:</dt>
				<dd>
					<span>@Model.centerStorageId_Title </span>

				</dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Üretilecek İşletme:</dt>
				<dd>
					<span>@Model.productionCompanyId_Title </span>
					@if (Model.productionCompanyId.HasValue)
					{
						<a href="/CMP/VWCMP_Company/Detail?id=@Model.productionCompanyId" target="_blank" class="text-navy "> <i class="fa fa-link"></i> </a>
					}
				</dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Üretilecek Depo:</dt>
				<dd>
					<span>@Model.productionStorageId_Title </span>

				</dd>
			</dl>

			<dl class="dl-horizontal">
				<dt>Sorumlu Personeller:</dt>
				<dd class="project-people">
					@if (Model.productionUsers.Count() > 0)
					{
						foreach (var user in Model.productionUsers)
						{
							<a href="#">
								<img alt="image" data-toggle="tooltip" data-placement="top" data-original-title="@user.userId_Title" onerror="ImageError(this,'/Content/Custom/img/na.png')" class="img-circle" src="@(user.photo != null ? user.photo : "/Content/Custom/img/na.png")">
							</a>
						}
					}
					else
					{
						<span>Henüz personel ataması yapılmamış</span>
					}
				</dd>
			</dl>
		</div>
	</div>
</div>
