@model Infoline.WorkOfTime.BusinessAccess.VMPRD_ProductionTransactionModel

@{

    if (Model.type == (int)EnumPRD_TransactionType.HarcamaBildirimi)
    {
        ViewBag.Title = "Harcama Bildirimi";
    }
    else if (Model.type == (int)EnumPRD_TransactionType.UretimBildirimi)
    {
        ViewBag.Title = "Biten Ürün Bildirimi";
    }
    else if (Model.type == (int)EnumPRD_TransactionType.UretimBildirimi || Model.type == (int)EnumPRD_TransactionType.GelenIrsaliye)
    {
        ViewBag.Title = "Biten Ürün Bildirimi";
    }
    else if (Model.type == (int)EnumPRD_TransactionType.UretimBildirimi)
    {
        ViewBag.Title = "Biten Ürün Bildirimi";
    }
    else if (Model.type == (int)EnumPRD_TransactionType.FireFisi)
    {
        ViewBag.Title = "Fire Bildirimi";
    }



    Layout = "~/Views/Shared/_Layout.cshtml";
    var userStatus = (PageSecurity)Session["userStatus"];
    var types = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumPRD_TransactionType>();

    if (ViewBag.Direction == -1)
    {
        types = types.Where(a => Convert.ToInt32(a.Key) >= 10 && Convert.ToInt32(a.Key) < 20);
    }
    else if (ViewBag.Direction == 1)
    {
        types = types.Where(a => Convert.ToInt32(a.Key) >= 0 && Convert.ToInt32(a.Key) < 10);
    }
    var count = types.Count();

}

<link href="~/Content/Custom/css/PRD_transaction.css" rel="stylesheet" data-selector="modalContainer" />

<script type="text/javascript" data-selector="modalContainer">


    var page = {
        Model: @Html.Raw( Json.Encode(Model) ),
        status:'@Model.status',
        stock: [],
        outputId: null,
        outputCompanyId: null,
        inputId: null,
        inputCompanyId: null,
        type: null,
        Counter: 0,
        events: {
            typeChange: function (e) {
                page.type = $("#type").data("kendoDropDownList").value();
                page.inputId = null;
                page.inputCompanyId = null;
                page.outputId = null;
                page.outputCompanyId = null;
                $('[data-type]').each(function (c) {
                    var attrtype = $(this).attr("data-type");

                    var control = attrtype.split(",").indexOf(page.type) > -1;
                    $(this).find(".has-error").removeClass("has-error");
                    $(this).find(".help-block.with-errors").remove();
                    $(this).find('.has-danger').removeClass("has-danger")
                    $(this)[control ? "removeClass" : "addClass"]("hide");

                    $(this).find('[data-role="dropdownlist"],[data-role="datepicker"]').each(function (elem) {
                        var elem = $(this).data("kendoDropDownList") || $(this).data("kendoDatePicker");
                        if (elem) {

                            var cascade = elem.options.cascadeFrom;
                            if (elem.element.parents(".form-group").find(".req").length > 0) {
                                elem.element.prop("required", control);
                            }
                            elem.enable(control);
                            if ($(this).attr("data-role") == "dropdownlist" && control && !cascade) {
                                if (elem._initial != elem.value()) {
                                    elem.value("");
                                }
                                elem.dataSource.read();
                                elem.dataSource.one("requestEnd", function (args) {
                                    elem.trigger("change");
                                });
                            }
                        }
                    });

                    $(this).find('[type="hidden"]').each(function (elem) {
                        $(this).prop("disabled",!control);
                    });
                });

                $('#description').trigger("blur");
                $('[data-button="type"]').removeClass("active");
                $('[data-button="type"][value="' + page.type + '"]').addClass("active");
            },
            typeLoad: function () {
                page.events.typeChange();
            },
            typeButton: function (e) {
                var value = $(e).attr("value");
                $("#type").data("kendoDropDownList").value(value);
                page.events.typeChange();
            },
            removeRow: function (item) {

                if (page.Counter == 1 || page.Counter == 0) {
                    return;
                }

                $(item).parents('tr').remove();

                page.events.ValidateRows();

            },
            ValidateRows: function () {

                var valid = true;
                page.Counter = 0;

                $.each($('#RowContainer tr'), function (i, item) {

                    $(item).find('[data-notify="index"]')
                        .html(page.Counter);

                    $(item).find('[data-notify="id"]')
                        .attr('name', 'items[' + page.Counter + '].id');

                    $(item)
                        .find('[data-notify="unitPrice"]')
                        .attr('name', 'items[' + page.Counter + '].unitPrice');

                    $(item).find('[data-notify="quantity"]')
                        .attr('name', 'items[' + page.Counter + '].quantity');

                    $(item).find('[data-notify="serialCodes"]')
                        .attr('name', 'items[' + page.Counter + '].serialCodes');

                    $(item).find('[data-notify="productId"]')
                        .attr('name', 'items[' + page.Counter + '].productId')


                    var quant = $(item).find('[data-notify="quantity"]').data('kendoNumericTextBox');
                    var prod = $(item).find('[data-notify="productId"]').data('kendoDropDownList');
                    var serials = $(item).find('[data-notify="serialCodes"]').data("tagify");

                    if (prod.value() == null) {
                        MesajWarning("Ürün seçimi yapmadan yeni satır ekleyemessiniz..", "Bilgilendirme");
                        valid = false;
                        return false;
                    }

                    //debugger;
                    //if (quant.value() == 0) {
                    //    MesajWarning("Miktar girmeden yeni satır ekleyemezsiniz.", "Bilgilendirme");
                    //    valid = false;
                    //    return false;
                    //}

                    if (prod.dataItem().stockType == 2 && quant.value() != serials.value.length) {
                        MesajWarning("Girilen miktar ile serinumarası miktarı uyuşmuyor.", "Bilgilendirme");
                        valid = false;
                        return false;
                    }

                    page.Counter++;

                });

                return valid;

            },
            addRow: function (data) {
                if (page.events.ValidateRows() == false) {
                    return false;
                }

                var temp = $($('#RowTemp').html());
                $('#RowContainer').append(temp);

                temp.find('[data-notify="index"]').append(page.Counter);
                temp.find('[data-notify="id"]')
                    .attr('name', 'items[' + page.Counter + '].id')
                    .attr('id', (data != undefined ? data.id : kendo.guid()));

                temp.find('[data-notify="unitPrice"]')
                    .attr('name', 'items[' + page.Counter + '].unitPrice')
                    .kendoNumericTextBox({ "format": "N2", "culture": "tr-TR", "spinners": false, "value": (data != undefined ? data.unitPrice : null) });

                temp.find('[data-notify="quantity"]')
                    .attr('name', 'items[' + page.Counter + '].quantity')
                    .kendoNumericTextBox({ "format": "N0", "culture": "tr-TR", "spinners": false, "value": (data != undefined ? data.quantity : null) });

                temp.find('[data-notify="serialCodes"]')
                    .attr('name', 'items[' + page.Counter + '].serialCodes')
                    .attr('value', data != undefined ? data.serialCodes : '')
                    .tagify({ placeholder: "Seri Numaralı bir takip yapılmıyor." });

                temp.find('[data-notify="productId"]')
                    .attr('name', 'items[' + page.Counter + '].productId')
                    .kendoDropDownList(
                        {
                            "value": '@Model.productId',
                            "change": page.events.productChange,
							"dataBound": page.events.productChange,
                            "dataSource": {
                                "type": "aspnetmvc-ajax",
								"transport": { "read": { "url": "/PRD/VWPRD_Product/DataSourceDropDown" } },
                                "pageSize": 100,
                                "page": 1,
                                "total": 0,
                                "serverPaging": true,
                                "serverSorting": true,
                                "serverFiltering": true,
                                "sort": [
                                    { "field": "id:" + (data != undefined ? data.productId : kendo.guid()).split('-').join('_')  , 'dir': 'asc' },
                                    { "field": "fullName", "dir": "asc" },
                                ],
								"filter": [{ "field": "id", "operator": "eq", "value": '@Model.productId' }]

                            },
                            "dataTextField": "fullName",
                            "delay": 1000,
                            "filter": "contains",
                            "template": '#=TemplateEngine("productCustomTemplate",data)#',
                            "dataValueField": "id",
                            "optionLabel": "Lütfen Ürün Seçiniz.."
                        });

                if (page.status == '1') {
                    temp.find('[data-notify="islendi"]').attr('disabled', 'disabled');
                }

                page.Counter++;

            },
            productChange: function (e) {

                var data = e.sender.dataItem(e.sender.selectedIndex);
                var tr = this.element.parents('tr');
                var serialCodes = tr.find('[data-notify="serialCodes"]');
                var unitPrice = tr.find('[data-notify="unitPrice"]').data("kendoNumericTextBox");
                var quantity = tr.find('[data-notify="quantity"]').data("kendoNumericTextBox");
                var priceProp =  "currentBuyingPrice";

                if (serialCodes.data('tagify')) {
                    serialCodes.data('tagify').destroy();
                    serialCodes.removeData("tagify");
                }

                if (data.id == "") {
                    unitPrice.value(0);
                    unitPrice.enable(false);
                    quantity.value(0);
                    quantity.enable(false);
                    serialCodes.val("");
                    serialCodes.prop("readonly", true);
                    serialCodes.tagify({ placeholder:"Henüz ürün seçimi yapılmadı." });
                } else {
                    var allowCustomSerialCode = ["0", "2", "3", "4", "5"];
                    tr.find('[data-selector="unit"]').text(data.unitId_Title || "Adet");
                    quantity.enable(true);
                    quantity.value((data.id == e.sender._initial ? (quantity.value() || 0) : 0));
                    unitPrice.enable(true);
                    unitPrice.value(data.id == e.sender._initial ? (unitPrice.value() || data[priceProp] || 0) : (data[priceProp] || 0));
                    serialCodes.prop("readonly", data.stockType == 2 ? false : true);
                    serialCodes.val(data.id == e.sender._initial ? (serialCodes.val() || "") : "");

                    if (data.stockType == 2) {

                        var values = data.id == e.sender._initial ? (serialCodes.val() || "") : "";
                        var valuesArr = [];
                        //try {
                        //    valuesArr = JSON.parse(values).map(function (a) { return { value: a.value, readonly: page.status == 1 } });
                        //} catch (e) {
                        //    valuesArr = (values).split(",").map(function (a) { return { value: a, readonly: page.status == 1 } });
                        //}
                        //try {
                        //    serialCodes.val(JSON.stringify(valuesArr));
                        //} catch (e) {

                        //}

                        var whitelist = $.ajax({
                            url: '/PRD/VWPRD_Transaction/DataSourceInventoryCodes',
							data: { productId: data.id, lastActionDataId: page.Model.outputId, lastActionDataCompanyId: page.Model.outputCompanyId },
                            async: false,
                        }).responseJSON || [];

                        whitelist = whitelist.concat(valuesArr.map(a=>a.value));
                        serialCodes
                            .tagify({
                                placeholder:"Seri Numarasını yazın ve Enter'a basınız.",
                                //editTags: false,
                                maxTags: 999,
                                dropdown: {
                                    maxItems: 999,           // <- mixumum allowed rendered suggestions
                                    //classname: "tags-look", // <- custom classname for this dropdown, so it could be targeted
                                    enabled: 0,             // <- show suggestions on focus
                                    closeOnSelect: false    // <- do not hide the suggestions dropdown once an item has been selected
                                }
                            })
                            .off("add removetag invalid")
                            .on("invalid", function () {
                                MesajWarning("Geçersiz serinumarası girişi yaptınız..", "Bilgilendirme");
                            })
                            .on("add removetag", function (e) {
                                quantity.value(serialCodes.val().split("value").length - 1);
                            })

                    } else {
                        serialCodes.tagify({ placeholder:"Seri Numaralı bir takip yapılmıyor." });
                    }

                    //e.sender._initial = null;
                }
            },
            outputCompanyChange: function (e) {
                page.outputCompanyId = e.sender.value() == "" ? null : e.sender.value();
                if (e.sender.element.attr("data-change") == "true") { page.events.openedProduct(page.outputCompanyId) };
            },
            outputChange: function (e) {
                page.outputId = e.sender.value() == "" ? null : e.sender.value();
                if (e.sender.element.attr("data-change") == "true") { page.events.openedProduct(page.outputId) };
            },
            inputCompanyChange: function (e) {
                page.inputCompanyId = e.sender.value() == "" ? null : e.sender.value();
                if (e.sender.element.attr("data-change") == "true") { page.events.openedProduct(page.inputCompanyId) };
            },
            inputChange: function (e) {
                page.inputId = e.sender.value() == "" ? null : e.sender.value();
                if (e.sender.element.attr("data-change") == "true") { page.events.openedProduct(page.inputId) };
            },
            openedProduct: function (value) {
                $("#productTable")[value ? "slideDown" : "slideUp"]();
                //return;
                $("#productTable").find('[data-notify="productId"]').each(function (c) {
                    var product = $(this).data("kendoDropDownList");
                    product.enable(true);
                    product.one("dataBound", function (e) {
                        product.trigger("change");
                        if (page.status == 1) {
                            product.readonly(true);
                        }
                    });
                    product.dataSource.read();
                });

            }
        },
        init: function () {

            $.each(page.Model.items, function (i, item) {
                page.events.addRow(item);
            });

            if (page.Model.items.length == 0) {
                page.events.addRow();
            }

        }
    };

    page.init();
    if (page.Model.tenderIds != null)
    {
        $('[data-notify="islendi"]').addClass('hide');
    }

    $(document)
        .on('before:submit', 'form', function (e) {

            $('[data-notify="serialCodes"]').each(function (c) {
                var data = $(this).data("tagify");
                if (data && data.value) {
                    $(this).val(data.value.map(a => a.value).join(","));
                }
            });
        })
        .on('keydown', function (c) {
            if (c.ctrlKey == true) {
                navigator.clipboard.readText()
                    .then(text => {
                        var textArea = $('<textarea/>').val(text);
                        navigator.clipboard.writeText(textArea.val());
                    })
                    .catch(err => {
                        // MesajWarning("Toplu serinumarası işlemleri için lütfen izin veriniz.","Bilgilendirme")
                    });
            }
        });





</script>


<script type="text/x-kendo-template" id="productCustomTemplate" data-selector="modalContainer">
    <div class="clearfix" style="padding: 8px 0;">
        <img class="img-circle img-responsive pull-left" style="width: 40px;height: 40px;" src="#:(logo ? logo : '/Content/Custom/img/urun-bulunamadi.png')#" onerror="ImageError(this, '/Content/Custom/img/urun-bulunamadi.png' )" />
        <div style=" width: calc(100% - 50px); height: 40px; float: right;">
            <div class="template-item">
                <strong>#:name#</strong>
            </div>
            <div class="template-item">
                <small>
                    #:code !=null ? code+' | ' : ''#
                    #:barcode !=null ? barcode+' | ' : ''#
                    #:brandId_Title !=null ? brandId_Title+' | ' : ''#
                </small>
            </div>
        </div>
    </div>
</script>


<script type="text/template" data-selector="modalContainer" id="RowTemp">

    <tr>
        <td data-notify="index">
        </td>
        <td data-target="">
            <input type="hidden" data-notify="id" />
            <input data-notify="productId" class="form-control" data-refresh="" />
        </td>
        <td hidden>
            <div class="input-group">
                <input data-notify="unitPrice" />
                <span class="input-group-addon"> TL</span>
            </div>
        </td>
        <td>
            <div class="input-group">
                <input data-notify="quantity" />
                <span class="input-group-addon"> Adet</span>
            </div>
        </td>
        <td>
            <input data-notify="serialCodes" data-role="tagify" />
        </td>
        <td>
            <button data-notify="islendi" class="btn btn-md btn-danger" type="button" onclick="page.events.removeRow(this)" style="height: 40px;"><i class="fa fa-close"></i></button>
        </td>
    </tr>

</script>

<script type="text/x-kendo-template" id="typeTemplate" data-selector="modalContainer">
	#var types = @Html.Raw(Infoline.Helper.Json.Serialize(types))#
	<div class="clearfix"><i style="margin-right:15px;" class="#:types.filter(function(a){return a.Key == Id}).map(a=>a.Generic['icon'])#"></i><strong>#=enumDescription#</strong></div>
</script>










@using (Html.BeginForm("Upsert", "VWPRD_Production", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    {"id","VWPRD_ProductionUpsertForm" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id, new { @Value = Model.id })
    @Html.HiddenFor(model => model.invoiceId)
    @Html.HiddenFor(model => model.orderId)
    @Html.HiddenFor(model => model.tenderIds)

    @Html.HiddenFor(m => m.outputId);
    @Html.HiddenFor(m => m.outputCompanyId);
    @Html.HiddenFor(m => m.outputTable);
    @Html.HiddenFor(m => m.totalQuantity);
    @Html.HiddenFor(m => m.inputId);
    @Html.HiddenFor(m => m.inputCompanyId);
    @Html.HiddenFor(m => m.inputTable);

    @Html.HiddenFor(m => m.code);
    @Html.HiddenFor(m => m.date);
    @Html.HiddenFor(m => m.description);
    @Html.HiddenFor(m => m.productionId);
    @Html.HiddenFor(m => m.type);



  


    if (!Model.isExpense)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning text-center">
                    <i class="fa fa-info-circle"></i><b> BİLGİLENDİRME</b>
                    <br>Bu üretim ile ilgili <b>Harcama Bildirimi</b> yapılmamıştır.
                </div>

            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label label-md req" for="type">Üretilecek Adet</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.totalQuantity, new Dictionary<string, object>()
                            {
                                {"class", "form-control"},
                                {"disabled",true }

                            }).Validate(Validations.Number(true))
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix" id="productTable">
        <table class="table table-custom" cellpadding="1" cellspacing="0">
            <thead>
                <tr>
                    <th style="width: 2%">#</th>
                    <th style="width:50%">ÜRÜN</th>
                    <th style="width:10%">ÜRETİLEN MİKTAR<br /> </th>
                    <th style="width:46%">SERİ<br /> NUMARALARI  <i data-original-title="Toplu seri numarası girişleri için excelden kopyalamayı veya seri numaralarını virgüllü bir şekilde kopyalamayı deneyebilirsiniz." class="fa fa-info-circle"></i></th>
                    <th style="width:3%"></th>
                </tr>
            </thead>
            <tbody id="RowContainer">
            </tbody>
        </table>
    </div>
    <div class="col-sm-12">
        <button type="button" id="expenseInsertButtonID" data-target="expenseInsertButton" class="btn btn-info pull-right" data-task="Insert" data-method="GET" data-modal="true" data-show="single" data-href="">Harcama Bildirimi Yap</button>
    </div>

    <div class="buttons">
        <div class="hr-line-dashed"></div>
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" formaction="@Url.Action("FinishedProductNotification","VWPRD_Production",new {area="PRD" })" name="status" value="@((int)EnumPRD_TransactionStatus.islendi)" type="submit">Bildir</button>
    </div>
}

<script data-selector="modalContainer">
    $("#expenseInsertButtonID").bind("mouseenter mouseleave", function () {
        var getInputExpens = $('[data-target="expenseInsertButton"]');
        var getInputAmount = $('[name="items[0].quantity"]').val();
        var getInputHref = getInputExpens.attr("data-href");
        var splited = getInputHref.split('&');
        splited[10] = "amount=" + getInputAmount;
        $('[data-target="expenseInsertButton"]').attr("data-href", splited.join("&"));

    })
</script>