@model Infoline.WorkOfTime.BusinessData.VWUT_LocationConfigUser
@using Infoline.WorkOfTime.BusinessAccess
@{
    ViewBag.Title = "Personel Bilgileri Detayı";

}

<script type="text/javascript">
    function onChangeTracking(e) {
        //Eğer evet seçili ise haritayı luştur
    }
</script>


<form action="@Url.Action("UpdateTracking", "VWUT_LocationConfigUser" ,new { area = "UT" })" method="post" class="form-horizontal" role="form" style="padding: 15px; width: 570px; " data-loadingtitle="Kullanıcı düzenleme işleminiz gerçekleştiriliyor.Lütfen Bekleyiniz.."
      data-selector="modalContainer" data-formType="Ajax">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.userId)


    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md " for="isTrackingActive">Personel Konum Takip</label>
        </div>

        <div class="col-md-8" style="width: 157px ">
            @Html.Akilli().RadioButtonGroupFor(model => model.isTrackingActive).Value(EnumUT_LocationConfigUserisTrackingActive.Evet)

        </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md " for="isTrackingActive">Personel Konum Takip</label>
        </div>

        <div class="col-md-8" style="width: 157px ">
            @(
                            Html.Akilli()
                            .DropDownListFor(model => model.locationConfigId)
                            .OptionLabel("Lütfen Ayar seçiniz..")
                            .DataTextField("configName")
                            .DataValueField("id")
                            .Action(b => b.Action("DataSourceDropDown", "VWUT_LocationConfig", new { area = "UT" }))
                            .Sort(x => x.Add("configName").Ascending())
                            .Execute()
                        )
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-success pull-right" style="margin-top: -85px !important;" type="submit">Kaydet</button>
    </div>

</form>