@model VMUT_LocationConfigUserModel
@{
    ViewBag.Title = "Personel Bilgileri Detayı";

}

<script type="text/javascript">
    function openPage() {
        var checkbox = $('[name="isTrackingActive"]:checked').val()
        if (checkbox == 0) {
            window.open("/UT/VWUT_LocationConfigUser/MapOverView?userId=@Model.userId")
            
        }
        else {
        }
    }
</script>



<form action="@Url.Action("Upsert", "VWUT_LocationConfigUser" ,new { area = "UT" })" method="post" class="form-horizontal" role="form" style="padding: 15px;" data-loadingtitle="Kullanıcı düzenleme işleminiz gerçekleştiriliyor.Lütfen Bekleyiniz.."
      data-selector="modalContainer" data-formType="Ajax">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.userId)


    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md " for="isTrackingActive">Personel Konum Takip</label>
        </div>

        <div class="col-md-8">
            @Html.Akilli().RadioButtonGroupFor(model => model.isTrackingActive).Value(EnumUT_LocationConfigUserisTrackingActive.Evet)
        </div>



    </div>
    <div class="form-group clearfix">
        <div class="dropdown" data-cascade="[name='isTrackingActive']" data-show="0">
            <div class="col-md-4">
                <label class="control-label label-md " for="isTrackingActive">Personel Konum Takip</label>
            </div>

            <div class="col-md-8">
                @(
                            Html.Akilli()
                            .DropDownListFor(model => model.locationConfigId)
                            .OptionLabel("Lütfen Konfig Belirtiniz...")
                            .DataTextField("configName")
                            .DataValueField("id")
                            .Action(b => b.Action("DataSourceDropDown", "VWUT_LocationConfig", new { area = "UT" }))
                .Sort(x => x.Add("configName").Ascending())
                .Execute()
                )
            </div>

            </div>

        </div>
    <div>
        @Html.Partial("~/Areas/UT/Views/VWUT_LocationConfigUser/MapOverView.cshtml", Model)
    </div>
            <div class="buttons">
                <button class="btn btn-md btn-success pull-right" type="submit" onclick="openPage()">Kaydet</button>
            </div>

</form>