@model Infoline.WorkOfTime.BusinessData.VWUT_LocationConfigUser
@{
    ViewBag.Title = "Kayıt Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document)
    .on("change", '[name="NationalityRadio"]', function () {
        var text = $(this).val();
        if ($(this).val() == "True") {
            $('#Nationality').val('T.C.');
            $('#Nationality').attr('readonly', 'readonly');
        } else {
            $('#Nationality').val('');
            $('#Nationality').removeAttr('readonly');

        }
        $('#Religous').val('İslam');

    })

    function onMilitarySelect(e) {
        var dataItem = this.dataItem(e.item).Id;
        $('[data-hiddendurum]').addClass('hide');
        $('[data-hiddendurum="' + dataItem + '"]').removeClass('hide');
    }
</script>

<fieldset>
    <legend>Kişisel Bilgiler</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group clearfix">
        <div class="col-md-6">
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Durumu :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.Military_Title)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Terhis Tarihi :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight:bold;">@Html.Raw(Model.MilitaryDoneDate != null ? Model.MilitaryDoneDate.ToString() : "-")</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Süresi :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight:bold;">@Html.Raw(Model.MilitaryDoneDuration != null ? Model.MilitaryDoneDuration.ToString() : "-")</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Tecil Olduğu Tarih :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight:bold;">@Html.Raw(Model.MilitaryProbationDate != null ? Model.MilitaryProbationDate.Value.ToShortDateString() : "-")</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Muaf Açıklaması :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.MilitaryExemptDetail)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Muaf Sebebi :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.MilitaryProbationDetail)</font>
                </div>
            </div>
        </div>
    </div>
</fieldset>


<div class="buttons">
    <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
</div>

</div>
