@model Infoline.WorkOfTime.BusinessAccess.VMPRD_ProductBountyModel
@{
    ViewBag.Title = "Ürüne Prim Tanımla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" data-selector="modalContainer">
    function onChangeCompany(e) {
        if (e.sender == undefined) {
            return;
        }
        var companyId = e.sender.dataItem().id;
        var companyElem = $('#Companies').data("kendoMultiSelect");
        companyElem.enable(true);
        var filter = ("(pid~eq~'" + companyId + "'~and~(CMPTypes_Title~eq~'Bayi'))");
        var filterJSON = kendo.filterParser(filter);
        companyElem.dataSource.filter(filterJSON);
    }
</script>
<script type="text/javascript" data-selector="modalContainer">
    var page = {
        Counter:0,
        deleteAllRow() {
            $('#RowContainer_company tr').remove();
            page.Counter = 0;
        },
        RowDelete: function (_this) {
            var length = $("#RowContainer_company tr").length
            if (length <= 1) {
                MesajWarning("Kayıt İşleminde en az bir kayıt olmalıdır.", "Silme İşlemi Başarısız");
                return false;
            }
            var row = $(_this).parents("tr");
            $(row).remove();
        },
        addRow: function (data) {
            
            var company = $($('#RowTempForCompany').html());
            $('#RowContainer_company').append(company);
            company.find('[data-company="id"]')
                .attr('name', 'Bounty[' + page.Counter + '].id')
                .attr('value', data.id ?? "")
            company.find('[data-company="month"]')
                .attr('name', 'Bounty[' + page.Counter + '].month')
                .attr('value', data.month ?? "")
                .kendoDropDownList(
                    {
                        "value": (data != null ? data.month : null),
                        "dataSource": {
                            "type": "aspnetmvc-ajax",
                            "transport": { "read": { "url": "/General/GetMonths" } },
                            "pageSize": 100,
                            "page": 1,
                            "total": 0,
                            "serverPaging": true,
                            "serverSorting": true,
                            "serverFiltering": true,
                        },
                        "dataTextField": "title",
                        "delay": 1000,
                        "filter": "contains",
                        "dataValueField": "id",
                        "optionLabel": "Lütfen Ürün Seçiniz..",
                    });
            company.find('[data-company="year"]')
                .attr('name', 'Bounty[' + page.Counter + '].year')
                .attr('value', data.month ?? "")
                .kendoDropDownList(
                    {
                        "value": (data != null ? data.year : null),
                        "dataSource": {
                            "type": "aspnetmvc-ajax",
                            "transport": { "read": { "url": "/General/GetYears" } },
                            "pageSize": 100,
                            "page": 1,
                            "total": 0,
                            "serverPaging": true,
                            "serverSorting": true,
                            "serverFiltering": true,
                        },
                        "dataTextField": "title",
                        "delay": 1000,
                        "filter": "contains",
                        "dataValueField": "id",
                        "optionLabel": "Lütfen Ürün Seçiniz..",
                    });
            company.find('[data-company="amount"]')
                .attr('name', 'Bounty[' + page.Counter + '].amount')
                .attr('value', data.amount ?? "")
                .kendoNumericTextBox({ "format": "N2", "culture": "tr-TR", "spinners": false, "value": (data.amount ?? 0) });
            page.Counter++;
        },
        validateRow: function () {


        }
    }
    page.addRow([]);
</script>
<script type="text/template" data-selector="modalContainer" id="RowTempForCompany">
    <tr>
        <td>
            <input data-company="id" style="display:none" hidden class="k-input form-control" />
            <input data-company="month" class="k-input form-control" />
        </td>
        <td>
            <input data-company="year" class="k-input form-control" />
        </td>
        <td>
            <div class="input-group">
                <input data-company="amount" />
                <span class="input-group-addon">₺</span>
            </div>
        </td>
        <td>
            <button class="btn btn-md btn-danger" onclick="page.RowDelete(this)" type="button"><i class="fa fa-times"></i></button>
        </td>
    </tr>
</script>
@using (Html.BeginForm("Insert", "VWPRD_ProductBounty", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    <style>
            .form-group {
                margin-bottom: 10px;
            }
            .modal-lg {
                width: 95%;
            }
            table.table-custom {
                table-layout: fixed;
            }

            table.table-custom thead {
                    background-color: #d6d5d4;
                    font-size: 11px;
            }

            table.table-custom tr {
                    border-bottom: 1px #d6d5d4 solid;
            }

            table.table-custom tbody tr:last-child {
                    border-bottom: none;
            }
         
            table.table-custom tbody td {
                    padding: 6px !important;
            }

            table.table-custom tbody td > input {
                        width: 100%;
                        height: 100%;
                        padding: 10px 5px !important;
            }

            table.table-custom .k-widget.k-numerictextbox {
                    width: 100% !important;
            }

            table.table-custom .k-widget.k-numerictextbox.k-input {
                        padding: 0px !important;
            }

            table.table-custom .k-numeric-wrap {
                    border: 0px !important;
            }

            table.table-custom .k-numeric-wrap.k-state-focused, table.table-custom .k-numeric-wrap.k-state-hover {
                        box-shadow: none !important;
            }

            table.table-custom .k-numeric-wrap.k-state-focused > input, table.table-custom .k-numeric-wrap.k-state-hover > input {
                            border-color: #1ab394 !important;
            }

            table.table-custom .k-item {
                    font-weight: 400 !important;
            }

            table.table-custom input:read-only {
                    background: #f3f1f0 !important;
            }

            table.table-custom .input-group-addon {
                    padding: 0 5px !important;
                    font-size: 11px;
            }

            table.table-custom .form-control .k-dropdown-wrap, table.table-custom .form-control .k-picker-wrap, table.table-custom .form-control .k-multiselect-wrap {
                    padding: 0px 0px 0px 0px !important
            }

            table.table-custom .form-control.k-widget {
                    padding: 0px !important;
                }

                table.table-custom .k-multiselect.k-state-disabled .k-multiselect-wrap {
                    background: #fcfcfc !important;
                }

                table.table-custom tbody tr td {
                    vertical-align: middle !important;
                }

            .input-group .k-widget {
                margin-top: 1px !important;
            }

            .k-autocomplete.k-state-disabled, .k-picker-wrap.k-state-disabled, .k-numeric-wrap.k-state-disabled, .k-numeric-wrap.k-state-disabled .k-input, .k-numeric-wrap.k-state-disabled .k-select, .k-dropdown-wrap.k-state-disabled, .k-multiselect.k-header.k-state-disabled {
                background-color: #f3f3f3;
            }

            .input-group {
                width: 100%;
            }
    </style>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.fromCompanyBased)
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="productId">Ürün</label>
        </div>
        <div class="col-md-8">
            @(
                  Html.Akilli()
                  .MultiSelectFor(model => model.Products)
                  .Placeholder("Lütfen Ürün seçiniz..")
                  .DataTextField("name")
                  .DataValueField("id")
                  .Action(b => b.Action("DataSourceDropDown", "VWPRD_Product", new { area = "PRD" }))
                  .ItemTemplate("#=TemplateEngine('productTemplate',data)#")
                  .Sort(x => x.Add("name").Ascending())
                  .Validate(Validations.Required)
                  .Execute()
                )
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="companyId">Firma Cari</label>
        </div>
        <div class="col-md-8">
            @(
        Html.Akilli()
        .DropDownListFor(model => model.companyId)
        .OptionLabel("Lütfen Firma Cari seçiniz..")
        .DataValueField("id")
        .DataTextField("fullName")
        .Template("#=TemplateEngine('companyTemplate',data)#")
        .Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
        .Events(e => { e.Change("onChangeCompany"); })
        .Sort(x => x.Add("fullName").Ascending())
        .Filter<VWCMP_Company>(a => a.CMPTypes_Title=="Distribütör")
        .Validate(Validations.Required)
        .Execute()
            )
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="personIds">Bağlı Firmalar</label>
        </div>
        <div class="col-md-8">
            @(
		 Html.Akilli()
		.MultiSelectFor(a => a.Companies)
		.Placeholder("Lütfen Bağlı Firma(ları) seçiniz..")
		.DataValueField("id")
		.DataTextField("fullName")
		.ItemTemplate("#=TemplateEngine('companyTemplate',data)#")
		.Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
		.Sort(x => x.Add("FullName").Ascending())
		.Validate(Validations.Required)
		.Execute()
        .Enable(false)
            )
        </div>
    </div>
    <fieldset id="companyId">
        <legend>Ay-Yıl Primleri</legend>
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <table class="table table-custom" cellpadding="1" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="32%">Ay</th>
                                <th width="32%">Yıl</th>
                                <th width="32%">Prim Oranı</th>
                                <th width="4%"></th>
                            </tr>
                        </thead>
                        <tbody id="RowContainer_company">
                        </tbody>
                    </table>
                    <button type="button" id="newProduct" class="btn btn-md btn-warning pull-right" onclick="page.addRow([])"><i class="fa fa-plus"></i> YENİ KAYIT EKLE </button>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>
}
