@model Infoline.WorkOfTime.BusinessData.VWCRM_MonthlyTargetPerson
@{
    ViewBag.Title = "Kayıt Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="CPeriod">CPeriod</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.CPeriod, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="TargetPoint">TargetPoint</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.TargetPoint, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="TargetPercent">TargetPercent</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.TargetPercent, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="BonusPercentage">BonusPercentage</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.BonusPercentage, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="IsFocus">IsFocus</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.IsFocus, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="createdby_Title">createdby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.createdby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="changedby_Title">changedby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.changedby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="ProductGroup_Title">ProductGroup_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.ProductGroup_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="TargetUser_Title">TargetUser_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.TargetUser_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
