@model Infoline.WorkOfTime.BusinessAccess.VMSH_WorkAccidentModel
@{
    ViewBag.Title = "İş Kazası / Olayı Güncelleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Plugins/ckeditor/ckeditor.js" data-selector="modalContainer"></script>
<script src="~/Content/Custom/js/jquery.googoose.js" data-selector="modalContainer"></script>

<script type="text/javascript">
    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }

    function accidentExportWord() {
        $(".googoose-wrapper").remove();    
        var content = htmlDecode($("#content").val());

        content = '<div class="googoose-wrapper">' + content;

        var headerStartIndex = content.indexOf("{%Ust_Bilgi_Baslangic%}");
        var headerEndIndex = content.indexOf("{%Ust_Bilgi_Bitis%}");
        var footerStartIndex = content.indexOf("{%Alt_Bilgi_Baslangic%}");
        var footerEndIndex = content.indexOf("{%Alt_Bilgi_Bitis%}");

        if (headerStartIndex > -1 && headerEndIndex > -1 & footerStartIndex > -1 && footerEndIndex > -1) {
            headerEndIndex += "{%Ust_Bilgi_Bitis%}".length;
            var header = content.substring(headerStartIndex, headerEndIndex);

            footerEndIndex += "{%Alt_Bilgi_Bitis%}".length;
            var footer = content.substring(footerStartIndex, footerEndIndex);

            content = content.replace(header, "");
            content = content.replace(footer, "");

            content += header;
            content += footer;
        }

        content += '</div>';

        content += '<style>#googoose-header{margin:0 !important; margin-left:-1000px !important; padding:0 !important;} #googoose-footer{margin:0 !important; margin-left:-500px !important; padding:0 !important;}</style>';

        content = content.replaceAll('{%Ust_Bilgi_Baslangic%}', '<div id="" class="googoose header">');
        content = content.replaceAll('{%Ust_Bilgi_Bitis%}', '</div>');

        content = content.replaceAll('{%Alt_Bilgi_Baslangic%}', '<div id="" class="googoose footer">');
        content = content.replaceAll('{%Alt_Bilgi_Bitis%}', '</div>');

        content = content.replaceAll('{%Sayfa_Sonu%}', '<div class="googoose break"></div>');
        content = content.replaceAll('{%Sayfa_Numarasi%}', '<span class="googoose currentpage"></span>');
        content = content.replaceAll('{%Sayfa_Sayisi%}', '<span class="googoose totalpage"></span>');
        

        $("#formContent").html(content);

        var o = {
            filename: "İş Kazası / Olayı Formu" + ".doc"
        };
        $(document).googoose(o);
    }

</script>

<style type="text/css">
    .k-grid-content i {
        font-size: 13px;
    }
</style>


<style type="text/css">
    .list-group.clear-list .list-group-item {
        padding: 5px 0px !important;
    }

    .table {
        border-top: 0px #ddd solid;
    }

    .mywidget {
        border-radius: 10px !important;
        padding: 10px 15px !important;
        margin-bottom: 10px !important;
        margin-top: 0px !important;
        min-height: 70px !important;
    }

    .dl-horizontal dt {
        text-align: left !important;
    }

    .boldText {
        font-weight: 600;
    }

    span.k-icon.k-si-close {
        display: none;
    }
</style>



<div class="row">

    <div class="col-lg-3">
        <div class="ibox ">

            <div class="p-md text-center mypageBg" style="background:url('/Content/Custom/img/MyPageBackground.png');color: #ffffff;padding-bottom:10px !important;">
                <div class="m-b-md">
                    <h3 class="font-bold no-margins">
                        KAZA / OLAY BİLGİLERİ
                    </h3>
                    <small data-original-title="Proje İsmi"> <i class="icon-barcode-1"></i> @Model.code <i class="icon-barcode-1"></i></small>
                </div>

                <div class="img-circle m-t-xs img-responsive" style="border: 2px solid white; padding: 23px; padding-top: 33px; display: inline-flex;">
                    <img src="~/Content/Custom/img/is_kazasi_logo.png" alt="image" class="" style="height: 62px; margin: auto; margin-top: -15px;">
                </div>

                <div style="margin-top: 10px; display:block;">
                    <a class="btn btn-xs btn-warning" data-task="Insert" data-modal="true" data-href="/SH/VWSH_WorkAccident/UpdateInfo?id=@Model.id">  <i class="fa fa-edit"></i> Kaza / Olay Bilgilerini Düzenle  </a>
                </div>

                @*<div style="margin-top: 10px; display:inline-block;">
                    <a class="btn btn-xs btn-info" data-task="Insert" data-modal="true" data-href="@Url.Action("InsertWorkAccident","VWINV_CompanyPersonCalendar",new { area="INV", Type = (int)EnumINV_CompanyPersonCalendarType.Eğitim, workAccidentId = Model.id})">   Eğitim Planla </a>
                </div>*@

                @*<div style="margin-top: 10px; display:inline-block;">
                    <a class="btn btn-xs btn-info" data-task="Insert" data-modal="true" data-href="@Url.Action("InsertWorkAccident","VWSH_PersonCertificate",new { area="SH", workAccidentId = Model.id})"> Gerçekleşmiş Eğitimi Gir </a>
                </div>

                <div style="margin-top: 10px; display:inline-block;">
                    <a class="btn btn-xs btn-info" data-task="Insert" data-modal="true" data-href="">  Düzeltici Faaliyet Oluştur </a>
                </div>*@

            </div>
        </div>
        <div class="ibox ">
            <div class="ibox-title">
                <h5>GENEL BİLGİLER</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content no-padding clearfix">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">Oluşturulma Tarihi :</div>
                            <div class="col-md-6"><span class="badge badge-info pull-right boldText">@(Model.created != null ? string.Format("{0:dd.MM.yyyy HH:mm}",Model.created) : "-")</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-5">Oluşturan Kişi :</div>
                            <div class="col-md-7">
                                <span class="pull-right boldText">@(Model.createdby_Title != null ? Model.createdby_Title : "-")</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">Kaza / Olay Tarihi :</div>
                            <div class="col-md-6"><span class="badge badge-info pull-right boldText">@(Model.accidentDate != null ? string.Format("{0:dd.MM.yyyy HH:mm}",Model.accidentDate) : "-")</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">Kaza Geçiren Personel :</div>
                            <div class="col-md-8">
                                <span class="pull-right boldText">@(Model.userId_Title != null ? Model.userId_Title : "-")</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-5">Proje :</div>
                            <div class="col-md-7">
                                <span class="pull-right boldText">
                                    @if (Model.projectId.HasValue)
                                    {
                                        <a class="" target="_blank" href="/PRJ/VWPRJ_Project/Detail?id=@Model.projectId">
                                            @(Model.projectId_Title != null ? Model.projectId_Title : "-")
                                        </a>
                                    }
                                    else
                                    {
                                        @(Model.projectId_Title != null ? Model.projectId_Title : "-")
                                    }
                                </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">Kaza / Olayın Gerçekleştiği Görev :</div>
                            <div class="col-md-6">
                                <span class="pull-right boldText">
                                    @if (Model.taskId.HasValue)
                                    {
                                        <a class="" target="_blank" href="/FTM/VWFTM_Task/Detail?id=@Model.taskId">
                                            @(Model.taskCode != null ? Model.taskCode : "-")
                                        </a>
                                    }
                                    else
                                    {
                                        @(Model.taskCode != null ? Model.taskCode : "-")
                                    }
                                </span>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>


    <div class="col-lg-9">

        <section style="margin-bottom: 20px;">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active" data-toggle="tooltip" data-href="" data-placement="top" title="Form İçeriği">
                        <a data-toggle="tab" href="#icerik" aria-expanded="true">
                            <i class="icon-wpforms text-success fa-2x"></i>
                        </a>
                    </li>

                    <li data-toggle="tooltip" data-placement="top" title="Eğitimler" data-href="@Url.Action("DataSource", "VWSH_WorkAccidentCalendar", new {area="SH" })">
                        <a data-toggle="tab" href="#educations" aria-expanded="true">
                            <i class="icon-calendar-1 text-success fa-2x"></i>
                        </a>
                    </li>


                    <li data-toggle="tooltip" data-placement="top" title="Sertifikalar" data-href="@Url.Action("DataSource", "VWSH_WorkAccidentCertificate", new {area="SH" })">
                        <a data-toggle="tab" href="#certificates" aria-expanded="true">
                            <i class="icon-doc-text-inv text-success fa-2x"></i>
                        </a>
                    </li>

                    <li data-toggle="tooltip" data-placement="top" title="Düzenleyici / Önleyici Faaliyetler" data-href="@Url.Action("DataSource", "VWSH_CorrectiveActivity", new {area="SH" })">
                        <a data-toggle="tab" href="#dof" aria-expanded="true">
                            <i class="icon-briefcase text-success fa-2x"></i>
                        </a>
                    </li>

                    <li data-toggle="tooltip" data-placement="top" title="Islak İmzalı Dosyalar" data-href="">
                        <a data-toggle="tab" href="#files" aria-expanded="true">
                            <i class="icon-docs  text-success fa-2x"></i>
                        </a>
                    </li>


                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" data-href="" id="icerik">
                        <h4><i class="icon-wpforms text-success"></i> FORM İÇERİĞİ </h4>

                        @using (Html.BeginForm("SaveContent", "VWSH_WorkAccident", FormMethod.Post, new Dictionary<string, object>() {
                            { "class", "form-horizontal" },
                            { "data-formType", "Ajax" },
                            { "style", "padding:0" }
                        }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.id)
                            @Html.HiddenFor(a => a.content)
                            @Html.TextArea("contentHTMLFakeElement", HttpUtility.HtmlDecode(Model.content))
                            <script type="text/javascript">
                                var editor = CKEDITOR.replace('contentHTMLFakeElement', {
                                    language: 'tr',
                                    height: 450,
                                    removeButtons: 'Save',
                                    removePlugins: 'Save',
                                });

                                editor.on('instanceReady', function () { $("#content").val(new Option(editor.getData()).innerHTML); });
                                editor.on('change', function () { $("#content").val(new Option(editor.getData()).innerHTML); });
                            </script>
                            <div class="buttons" style=" padding: 0; padding-top: 25px; ">
                                <a class="btn btn-md btn-warning"> <i class="icon-print-1"></i> Yazdır</a>
                                <button class="btn btn-md btn-success pull-right" type="submit"> <i class="icon-floppy"></i> Kaydet</button>
                                <a class="btn btn-md btn-info pull-right" style="margin-right:30px;" onclick="accidentExportWord()"> <i class="icon-download"></i> İndir</a>
                            </div>
                        }

                    </div>

                    <div class="tab-pane" data-href="@Url.Action("DataSource", "VWSH_WorkAccidentCalendar", new {area="SH" })" id="educations">
                        <h4><i class="icon-calendar-1 text-success"></i> KAZA / OLAYA BAĞLI EĞİTİMLER </h4>
                        @(Html.Akilli()
                            .Grid<Infoline.WorkOfTime.BusinessData.VWSH_WorkAccidentCalendar>("VWSH_WorkAccidentCalendar")
                            .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSH_WorkAccidentCalendar", new { area = "SH" }))
                            .Filter(a => a.workAccidentId == Model.id)
                            .PageSize(25))
                            .Columns(x =>
                            {
                                x.Bound(y => y.id).Hidden();
                                x.Bound(y => y.createdby_Title).Title("Oluşturan").Width(100);
                                x.Bound(y => y.created).Title("İşlem Tarihi").Format("{0:dd.MM.yyyy HH:mm}").Width(90);
                                x.Bound(y => y.title).Title("Eğitim Başlığı").Width(120);
                                x.Bound(y => y.startDate).Title("Başlangıç Tarihi").Format("{0:dd.MM.yyyy HH:mm}").Width(90);
                                x.Bound(y => y.endDate).Title("Bitiş Tarihi").Format("{0:dd.MM.yyyy HH:mm}").Width(90);
                                x.Bound(y => y.people_Title).Title("Eğitime Katılacaklar").Format("{0:dd.MM.yyyy HH:mm}").Width(150);

                            })
                            .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                            .Scrollable(s => s.Height(450))
                            .ToolBar(x =>
                            {
                                x.Custom().Text("<i data-original-title='Eğitim Planla' class='icon-plus-circled'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("InsertWorkAccident", "VWINV_CompanyPersonCalendar", new { area = "INV", Type = (int)EnumINV_CompanyPersonCalendarType.Eğitim, workAccidentId = Model.id }));
                                x.Custom().Text("<i data-original-title='Eğitimi Düzenle' class='icon-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("UpdateWorkAccident", "VWINV_CompanyPersonCalendar", new { area = "INV" }));
                                x.Custom().Text("<i data-original-title='Eğitim Detayı' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("DetailWorkAccident", "VWINV_CompanyPersonCalendar", new { area = "INV" }));
                                x.Custom().Text("<i data-original-title='Eğitimi Sil' class='icon-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWSH_WorkAccidentCalendar", new { area = "SH" }));
                            }))
                    </div>


                    <div class="tab-pane" data-href="@Url.Action("DataSource", "VWSH_WorkAccidentCertificate", new {area="SH" })" id="certificates">
                        <h4><i class="icon-doc-text-inv  text-success"></i> KAZA / OLAY ÜZERİNE ALINMIŞ SERTİFİKALAR </h4>
                        @(Html.Akilli()
                            .Grid<Infoline.WorkOfTime.BusinessData.VWSH_WorkAccidentCertificate>("VWSH_WorkAccidentCertificate")
                            .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSH_WorkAccidentCertificate", new { area = "SH" }))
                            .Filter(a => a.workAccidentId == Model.id)
                            .PageSize(25))
                            .Columns(x =>
                            {
                                x.Bound(y => y.id).Hidden();
                                x.Bound(y => y.userId_Title).Title("Personel").Width(150);
                                x.Bound(y => y.certificateName).Title("Alındığı Kurum").Width(150);
                                x.Bound(y => y.startDate).Title("Eğitim Başlangıç Tarihi").Format("{0:dd.MM.yyyy}").Width(120);
                                x.Bound(y => y.endDate).Title("Eğitim Bitiş Tarihi").Format("{0:dd.MM.yyyy}").Width(120);
                                x.Bound(y => y.expirationDate).Title("Geçerlilik Tarihi").Format("{0:dd.MM.yyyy}").Width(90);
                            })
                            .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                            .Scrollable(s => s.Height(450))
                            .ToolBar(x =>
                            {
                                x.Custom().Text("<i data-original-title='Sertifika Ekle' class='icon-plus-circled'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(@Url.Action("InsertWorkAccident", "VWSH_PersonCertificate", new { area = "SH", workAccidentId = Model.id }));
                                x.Custom().Text("<i data-original-title='Sertifikayı Düzenle' class='icon-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("UpdateWorkAccident", "VWSH_PersonCertificate", new { area = "SH" }));
                                x.Custom().Text("<i data-original-title='Sertifika Detayı' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("DetailWorkAccident", "VWSH_PersonCertificate", new { area = "SH" }));
                                x.Custom().Text("<i data-original-title='Sertifikayı Sil' class='icon-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWSH_WorkAccidentCertificate", new { area = "SH" }));
                            }))
                    </div>

                    <div class="tab-pane" data-href="@Url.Action("DataSource", "VWSH_CorrectiveActivity", new {area="SH" })" id="dof">
                        <h4><i class="icon-briefcase text-success"></i>  KAZA / OLAYA BAĞLI DÜZENLEYİCİ ÖNLEYİCİ FAALİYETLER </h4>
                        @(Html.Akilli()
                            .Grid<Infoline.WorkOfTime.BusinessData.VWSH_CorrectiveActivity>("VWSH_CorrectiveActivity")
                            .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSH_CorrectiveActivity", new { area = "SH" }))
                            .Filter(a => a.workAccidentId == Model.id)
                            .PageSize(25))
                            .Columns(x =>
                            {
                                x.Bound(y => y.id).Hidden();
                                x.Bound(y => y.keyword).Hidden();
                                x.Bound(y => y.createdby_Title).Title("Oluşturan").Width(180);
                                x.Bound(y => y.created).Title("İşlem Tarihi").Width(120).Format("{0:dd.MM.yyyy HH:mm}");
                                x.Bound(y => y.userId_Title).Title("Personel").Width(180).Format("{0:dd.MM.yyyy HH:mm}");
                                x.Bound(y => y.projectId_Title).Title("Proje").Width(180).Format(Extensions.DateFormatShort(true));
                                x.Bound(y => y.date).Title("Tarih").Format("{0:dd.MM.yyyy}").Width(120);
                            })
                            .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                            .Scrollable(s => s.Height(450))
                            .ToolBar(x =>
                            {
                                x.Custom().Text("<i data-original-title='Düzenleyici / Önleyici Faaliyet Ekle' class='icon-plus-circled'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("Insert", "VWSH_CorrectiveActivity", new { area = "SH", taskId = Model.taskId, workAccidentId = Model.id, projectId = Model.projectId, userId = Model.userId }));
                                x.Custom().Text("<i data-original-title='Düzenleyici / Önleyici Faaliyeti Düzenle' class='icon-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWSH_CorrectiveActivity", new { area = "SH" }));
                                x.Custom().Text("<i data-original-title='Düzenleyici / Önleyici Faaliyet Detayı' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWSH_CorrectiveActivity", new { area = "SH" }));
                                x.Custom().Text("<i data-original-title='Düzenleyici / Önleyici Faaliyeti Sil' class='icon-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWSH_CorrectiveActivity", new { area = "SH" }));
                            })
                            )
                    </div>

                    <div class="tab-pane" data-href="" id="files">
                        <h4><i class="icon-file text-success"></i>  ISLAK İMZALI DOSYALAR </h4>
                        @Html.Action("Index", "Files", new { area = "", DataId = Model.id, DataTable = "SH_WorkAccident", FileGroup = "Islak İmzalı Dosyalar" })
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>


<div id="formContent" class="hide">

</div>

