@model Infoline.WorkOfTime.BusinessAccess.VMPRD_ProductProgressPaymentImportModel
@{
    ViewBag.Title = "Temlik Güncelleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "VWPRD_ProductProgressPaymentImport", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="companyId">Bayi Kodu Giriniz</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.companyCode, new Dictionary<string, object>()
             {
                 {"class", "form-control"},
                 {"placeholder", "Lütfen Bayi Kodu Giriniz.."},
             }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="productId">Bayi Adı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.companyName, new Dictionary<string, object>()
               {
                   {"class", "form-control"},
                   {"placeholder", "Lütfen Bayi Adı Giriniz.."},
               }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="date">Satış Tarihi</label>
        </div>
        <div class="col-md-8">
            @(Html.Kendo().DatePickerFor(model => model.date).HtmlAttributes(new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen date Girin.."},
            })
            .Format(Extensions.DateFormatShort())
            .Validate(Validations.Required)
            )
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="imei">Imei</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.imei, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen imei Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Dosya">Fatura Dosyası</label>
        </div>
        <div class="col-md-8">
            @(
                Html.Akilli().FileUpload()
                .DataTable("PRD_ProductProgressPaymentImport")
                .DataId(Model.id)
                .DataKey(x => x.fileGroup == "Fatura Dosyası")
            )
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}
