@model Infoline.WorkOfTime.BusinessData.VWSH_PersonInformation
@{
    ViewBag.Title = "Personel Bilgileri Detayı";

}

<script type="text/javascript">
    $(document)
    .on("change", '[name="NationalityRadio"]', function () {
        var text = $(this).val();
        if ($(this).val() == "True") {
            $('#Nationality').val('T.C.');
            $('#Nationality').attr('readonly', 'readonly');
        } else {
            $('#Nationality').val('');
            $('#Nationality').removeAttr('readonly');

        }
        $('#Religous').val('İslam');

    })

    function onMilitarySelect(e) {
        var dataItem = this.dataItem(e.item).Id;
        $('[data-hiddendurum]').addClass('hide');
        $('[data-hiddendurum="' + dataItem + '"]').removeClass('hide');
    }
</script>

<fieldset>
    <legend>Kişisel Bilgiler</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Uyruk :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.Nationality)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>T.C. :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IdentificationNumber)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Cinsiyet :</label></font>
                </div>  
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.Gender_Title)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Medeni Durumu :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.MaritalStatus_Title)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Kişisel Mail :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.PersonalMail)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Sicil No :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.InsuranceIdentityNumber)</font>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Durumu :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.Military_Title)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Terhis Tarihi :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight:bold;">@Html.Raw(Model.MilitaryDoneDate != null ? Model.MilitaryDoneDate.ToString() : "-")</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Süresi :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight:bold;">@Html.Raw(Model.MilitaryDoneDuration != null ? Model.MilitaryDoneDuration.ToString() : "-")</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Tecil Olduğu Tarih :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight:bold;">@Html.Raw(Model.MilitaryProbationDate != null ? Model.MilitaryProbationDate.Value.ToShortDateString() : "-")</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Muaf Açıklaması :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.MilitaryExemptDetail)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Askerlik Muaf Sebebi :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.MilitaryProbationDetail)</font>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Kimlik Bilgileri</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Seri No :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDSerialNumber)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Baba Adı :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDFatherName)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Ana Adı :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDMotherName)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Doğum Yeri(İl) :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDBornLocation_Title)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Doğum Yeri :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDBornTownLocation)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Dini :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.Religious)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Kan Grubu :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDBloodGroup_Title)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>İl :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDCity_Title)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>İlçe :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDTown_Title)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Mahalle :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDDistrict)</font>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Köy :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDVillage)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Cilt No :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDVolumeNumber)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Aile Sıra No :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDFamilyNumber)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Sıra Numarası :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDRowNumber)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Verildiği Yer :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDDeliveryLocation)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Veriliş Nedeni :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDDeliveryDetail)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Kayıt No :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDRecordNumber)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Veriliş Tarihi :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight:bold;">@Html.Raw(Model.IDDeliveryDate != null ? Model.IDDeliveryDate.Value.ToShortDateString() : "-")</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Önceki Soyadı :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.IDPreviousSurname)</font>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Acil Durumda Bağlantı Kurulacak Kişi Bilgileri</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Adı soyadı :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.EmergencyName)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Telefonu :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.EmergencyPhone)</font>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Email :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.EmergencyMail)</font>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-4">
                    <font size="2" color="#000000"><label>Yakınlık Derecesi :</label></font>
                </div>
                <div class="col-md-8">
                    <font size="2" style="font-weight: bold;">@Html.Label("-", Model.EmergencyProximity)</font>
                </div>
            </div>
        </div>
    </div>
</fieldset>
