@model Infoline.WorkOfTime.BusinessData.CMP_Types
@{
	ViewBag.Title = "Firma&Cari Tipi Güncelle";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "CMP_Types", FormMethod.Post, new Dictionary<string, object>() {
	{ "class", "form-horizontal" },
	{ "role", "form" },
	{ "data-selector", "modalContainer" },
	{ "data-formType", "Ajax" }
}))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.id)
	@Html.HiddenFor(model => model.created)
	@Html.HiddenFor(model => model.createdby)


	<div class="form-group">
		<div class="col-md-4">
			<label class="control-label label-md" for="Name">Tip Adı</label>
		</div>
		<div class="col-md-8">
			@Html.TextBoxFor(model => model.typeName, new Dictionary<string, object>()
			{
				{"class", "form-control"},
				{"placeholder", "Lütfen Firma&Cari Tip Adı Girin.."},
			}).Validate(Validations.Required)
		</div>
	</div>


	<div class="buttons">
		<button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
		<button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
	</div>

}
