@model Infoline.WorkOfTime.BusinessData.VWSH_ShiftTrackingDevice
@{
    ViewBag.Title = "Kayıt Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceName">DeviceName</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceName, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceCode">DeviceCode</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceCode, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceBrand">DeviceBrand</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceBrand, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceModel">DeviceModel</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceModel, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceSerialNo">DeviceSerialNo</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceSerialNo, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Location">Location</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Location, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="IPAddress">IPAddress</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.IPAddress, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="SubnetAddress">SubnetAddress</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.SubnetAddress, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Gateway">Gateway</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Gateway, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Port">Port</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Port, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="MachineNumber">MachineNumber</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.MachineNumber, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="createdby_Title">createdby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.createdby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="changedby_Title">changedby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.changedby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
