@model Infoline.WorkOfTime.BusinessData.VWSH_ShiftTrackingDevice
@{
    ViewBag.Title = "Cihaz Ekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using(Html.BeginForm("Insert", "VWSH_ShiftTrackingDevice", FormMethod.Post, new Dictionary<string, object>() {  
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceName">Cihaz İsmi</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceName, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz İsmi Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceCode">Cihaz Kodu</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceCode, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz Kodu Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceBrand">Cihaz Markası</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceBrand, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz Markası Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceModel">Cihaz Modeli</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceModel, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz Modeli Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="DeviceSerialNo">Cihaz Seri Numarası</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.DeviceSerialNo, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz Seri Numarası Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Location">Cihaz Konumu</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Location, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz Konumu Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="IPAddress">Cihaz IP Addresi</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.IPAddress, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz IP Addresi Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="SubnetAddress">Cihaz Alt Ağ Adresi</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.SubnetAddress, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz Alt Ağ Adresi Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Gateway">Cihaz Geçiş Adresi</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Gateway, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz Geçiş Adresi Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="Port">Cihaz Portu</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Port, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Cihaz Portu Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="MachineNumber">Makine Numarası</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.MachineNumber, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen Makine Numarası Girin.."},
            }).Validate(Validations.Required)
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>

}
