@model Infoline.WorkOfTime.BusinessData.CSM_Stage[]
@{
    ViewBag.Title = "Aday Öğrenciler";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var now = DateTime.Now;
    var startOfWeek = now.AddDays(((int)(now.DayOfWeek) * -1) + 1).Date;
    var endOfWeek = startOfWeek.AddDays(7).Date;
    var startOfMonth = new DateTime(now.Year, now.Month, 1).Date;
    var endOfMonth = startOfMonth.AddMonths(1).Date;
    var startOfLastMonth = new DateTime(now.Year, now.Month, 1).AddMonths(-1).Date;
}


<script type="text/javascript">
    function DateTimeFilter(control) {
        $(control).kendoDateTimePicker();
    }


    $(document)
        .on("ready", function () {
            var url = new URL(location.href);
            var telno = url.searchParams.get("telno");
            var dialId = url.searchParams.get("DialId");
            if (telno!=null && dialId!=null) {
                var button = $('[data-href="/CSM/VWCSM_Student/Insert"]').clone();
                var href = button.attr("data-href");
                var insertUrl = new URL(location.origin + href);
                insertUrl.searchParams.append("phone", telno);
                insertUrl.searchParams.append("Activity.type", '@((int)EnumCSM_ActivityType.Cagri)');
                button.attr("data-href", insertUrl.toString());
                button.hide();
                button.appendTo($("body"))
                button.trigger("click");
                button.remove();
            }
        })
        .on("selected:grid", "#VWCSM_Student", function (e, data) {
            var grid = $('#VWCSM_Student').data("kendoGrid");
            var _selectedRows = $.Enumerable.From(grid.select().map(function (i, elem) { return grid.dataItem(elem)["id"]; }).toArray()).GroupBy(a => a).Select(a => a.Key());
            $('[data-selector="SendCallCenter"]')
                .attr("data-href", "/CSM/VWCSM_Student/SendCallCenter?ids=" + _selectedRows.ToArray().join(","));
        })
        .on("load:grid", "#VWCSM_Student", function (e, data) {
            var grid = $("#VWCSM_Student").data("kendoGrid");
            var _selectedRows = $.Enumerable.From(grid.select().map(function (i, elem) { return grid.dataItem(elem)["id"]; }).toArray()).GroupBy(a => a).Select(a => a.Key()).ToArray().join(",");
            var filter = grid.dataSource.transport.parameterMap({ filter: grid.dataSource.filter() }).filter;

            $('[data-selector="SendCallCenter"]')
                .attr("data-href", "/CSM/VWCSM_Student/SendCallCenter?filter=" + filter + "&ids=" + _selectedRows);
        })

    function colorFunction(data) {
        return '<i class="fa fa-certificate" style="color:' + data.LastStageId_Color + '"></i>';
    }

    function LastStageFilter(element) {
        element.kendoDropDownList({
            filter: "contains",
            dataTextField: "Name",
            dataValueField: "Name",
            dataSource: {
                transport: {
                    read: "@Url.Action("GetCSM_StageName", "General", new {area = string.Empty})"
                }
            },
            optionLabel: "--Aşama Seçiniz--"
        });
    }

    function LastStageTemplate(data) {
        var dataStateColor = data.LastStageId_Color == "#ffffff" ? "#000000" : data.LastStageId_Color;
        var template = '<button type="button" data-task="Insert" data-method="GET" data-show="single" data-href="/CSM/VWCSM_Activity/UpdateStage?id=' + data.lastActivity_Id + '"' +
                        '        class="btn btn-outline" style="box-shadow:inset 0 0 0 ' + data.LastStageId_Color + ', 0 5px 0 0  ' + data.LastStageId_Color + ', 0 10px 5px #999999;color:' + dataStateColor + ';border-color:' + data.LastStageId_Color + '">' +
                        '    <i class="fa fa-check"></i>' +
                         data.LastStageId_Title +
                        '</button>';
        return template;
    }


    var gridBase = {
        items: {
            DropDown1: null,
            DropDown2: null
        }
    };

    function filterMenuInit(e) {
                    if (e.field == "lastActivity_Date") {

                        var $container = e.container;

                        e.container.find('[type="reset"]').hide();
                        e.container.find(".k-filter-help-text").remove();
                        e.container.find('[type="submit"]').addClass('filterSubmitBtn').attr('disabled', 'disabled');
                        e.container.find('[data-role="datetpicker"]').attr('required', 'required');

                        gridBase.items.DropDown1 = e.container.find("select:eq(0)");
                        gridBase.items.DropDown1.data("kendoDropDownList").value("gte");
                        gridBase.items.DropDown1.data("kendoDropDownList").trigger("change");

                        var logicDropDown = e.container.find("select:eq(1)");
                        logicDropDown.data("kendoDropDownList").value("and");
                        logicDropDown.data("kendoDropDownList").trigger("change");

                        gridBase.items.DropDown2 = e.container.find("select:eq(2)");
                        gridBase.items.DropDown2.data("kendoDropDownList").value("lte");
                        gridBase.items.DropDown2.data("kendoDropDownList").trigger("change");

                        //  firstValueDropDown.parents('.k-dropdown').hide();
                        logicDropDown.parents('.k-dropdown').hide();
                        //  secondValueDropDown.parents('.k-dropdown').hide();

                        gridBase.items.DropDown1.data('kendoDropDownList').readonly(true);
                        gridBase.items.DropDown2.data('kendoDropDownList').readonly(true);

                        $($('.k-header')[18]).html("Başlangıç Tarihi");
                        $($('.k-header')[21]).html("Bitiş Tarihi");

                        $container.find('[data-role="datepicker"]').on('change', function (e) {

                            var dt1 = $container.find('[data-role="datepicker"]').eq(0);
                            var dt2 = $container.find('[data-role="datepicker"]').eq(1);

                            if (dt1.data('kendoDatePicker').value() != null && dt2.data('kendoDatePicker').value() != null) {
                                dt2.data('kendoDatePicker').value().addHours(23);
                                dt2.data('kendoDatePicker').value().addMinutes(59);
                                dt2.data('kendoDatePicker').value().addSeconds(59);

                                $container.find('[type="submit"]').removeAttr('disabled');

                            }

                        });

                        $('[role="columnheader"][data-field="ReadTime"] .k-grid-filter').on('click', function (a) {

                            $container.find('[data-role="datepicker"]').trigger('change');

                        });

                    }
                }

</script>

<script type="text/x-kendo-template" id="studentTemplate" data-selector="modalContainer">
    <div class="chat-element">
        <a class="pull-left">
            <img alt="image" style="margin-top: 10px;height: 40px;width: 40px;" class="img-circle" src="/Content/Custom/img/na.png">
        </a>
        <div class="media-body">
            <strong class="pull-right text-right">
                #:(isAllowContact_Title != null ? isAllowContact_Title : "Bulunamadı")# - <i class="fa fa-question-circle" data-original-title="İletişim İzni" data-placement="left"></i><br />
                #:(phone != null ? phone : "Bulunamadı")# - <i class="fa fa-phone text-success" data-original-title="Telefon" data-placement="left"></i><br>
                #:(email != null ? email : "Bulunamadı")# - <i class="fa fa-envelope text-success" data-original-title="Email"></i><br>
            </strong>
            <strong style="font-size:15px;">#:name#</strong>
            <p class="m-b-none"> <strong>Verinin Geldiği Yer : </strong> #:(source_Title != null ? source_Title : "-")#</p>
            <p class="m-b-none">
                <span data-original-title="Okul" class="badge badge-success">#:schoolId_Title#</span>
                <span data-original-title="Sınıf" class="badge badge-success">#:grade_Title#</span>
            </p>
        </div>
    </div>
</script>

<div class="row">
    <div class="col-md-2">
        <div class="ibox ">
            <div class="ibox-content mailbox-content">
                <div class="file-manager">
                    <a class="btn btn-block btn-success" data-task="Insert" data-href="/CSM/VWCSM_Student/Insert" data-modal="true" data-method="get"> <i class="fa fa-plus-circle"></i> Yeni Öğrenci Ekle</a>
                    <a href="#" data-task="Insert" data-import="Excel" data-modal="true" title="Excel'den Aday Öğrenci Ekle" class="btn btn-block btn-primary"
                       data-properties="@ExcelHelper.GetSchema(typeof(CSM_StudentExcel), "CSM_Student")" data-gridRefresh="VWCSM_Student"
                       data-post="@Url.Action("Import","VWCSM_Student",new { area="CSM"})">
                        <i class="fa fa-file-excel-o"></i> Excel'den Aday Öğrenci Ekle
                    </a>

                    <div class="space-25"></div>
                    <h5>SON AŞAMA </h5>
                    <ul class="folder-list  m-b-md" style="padding: 0;">
                        <li class="clearfix">
                            <a class="pull-left active" href="#" data-grid="VWCSM_Student"  data-category="0" data-query="">
                                <i class="fa fa-align-justify" style="color:black;"></i>  Tümü
                            </a>
                            <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:black;" data-counturl="/CSM/VWCSM_Student/DataSourceCount">0</span>
                        </li>
                        @foreach (var item in Model.OrderBy(x => x.created))
                        {
                            <li class="clearfix">
                                <a class="pull-left" href="#" data-grid="VWCSM_Student"  data-category="0" data-query="(lastActivity_StageId~eq~'@item.id')">
                                    <i class="fa text-danger fa-certificate" style="color:@item.color"></i>  @item.name
                                </a>
                                <span class="badge badge-danger pull-right m-l-md  m-t-xs" style="background-color:@item.color" data-counturl="/CSM/VWCSM_Student/DataSourceCount?filter=lastActivity_StageId~eq~'@item.id'">0</span>
                            </li>
                        }
                    </ul>

                    <h5>SON GÖRÜŞME TARİHİ </h5>
                    <ul class="folder-list m-b-md" style="padding: 0">
                        <li class="clearfix">
                            <a class="pull-left active" href="#" data-grid="VWCSM_Student" data-switch="radio" data-category="1" data-query="">
                                <i class="fa text-success fa-align-justify"></i>  Tümü
                            </a>
                            <span class="badge badge-success pull-right m-l-md m-t-xs" data-counturl="/CSM/VWCSM_Student/DataSourceCount">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCSM_Student" data-switch="radio" data-category="1" data-query="(lastActivity_Date~gte~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~lastActivity_Date~lt~datetime'@now.AddDays(1).ToString("yyyy-MM-ddT00-00-00")')">
                                <i class="fa text-success fa-clock-o"></i> Bugün
                            </a>
                            <span class="badge badge-success pull-right m-l-md  m-t-xs" data-counturl="/CSM/VWCSM_Student/DataSourceCount?filter=(lastActivity_Date~gte~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~lastActivity_Date~lt~datetime'@now.AddDays(1).ToString("yyyy-MM-ddT00-00-00")')">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCSM_Student" data-switch="radio" data-category="1" data-query="(lastActivity_Date~gte~datetime'@now.AddDays(-1).ToString("yyyy-MM-ddT00-00-00")'~and~lastActivity_Date~lt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")')">
                                <i class="fa text-success fa-clock-o"></i>  Dün
                            </a>
                            <span class="badge badge-success pull-right m-l-md  m-t-xs" data-counturl="/CSM/VWCSM_Student/DataSourceCount?filter=(lastActivity_Date~gte~datetime'@now.AddDays(-1).ToString("yyyy-MM-ddT00-00-00")'~and~lastActivity_Date~lt~datetime'@now.ToString("yyyy-MM-ddT00-00-00")')">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCSM_Student" data-switch="radio" data-category="1" data-query="(lastActivity_Date~gte~datetime'@startOfWeek.AddDays(-7).ToString("yyyy-MM-ddT00-00-00")'~and~lastActivity_Date~lt~datetime'@startOfWeek.ToString("yyyy-MM-ddT00-00-00")')">
                                <i class="fa text-success fa-clock-o"></i>  Geçen Hafta
                            </a>
                            <span class="badge badge-success pull-right m-l-md  m-t-xs" data-counturl="/CSM/VWCSM_Student/DataSourceCount?filter=(lastActivity_Date~gte~datetime'@startOfWeek.AddDays(-7).ToString("yyyy-MM-ddT00-00-00")'~and~lastActivity_Date~lt~datetime'@startOfWeek.ToString("yyyy-MM-ddT00-00-00")')">0</span>
                        </li>
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWCSM_Student" data-switch="radio" data-category="1" data-query="(lastActivity_Date~gte~datetime'@startOfLastMonth.ToString("yyyy-MM-ddT00-00-00")'~and~lastActivity_Date~lt~datetime'@startOfMonth.ToString("yyyy-MM-ddT00-00-00")')">
                                <i class="fa text-success fa-clock-o"></i>  Geçen Ay
                            </a>
                            <span class="badge badge-success pull-right m-l-md  m-t-xs" data-counturl="/CSM/VWCSM_Student/DataSourceCount?filter=(lastActivity_Date~gte~datetime'@startOfLastMonth.ToString("yyyy-MM-ddT00-00-00")'~and~lastActivity_Date~lt~datetime'@startOfMonth.ToString("yyyy-MM-ddT00-00-00")')">0</span>
                        </li>
                    </ul>

                    <h5> ÖĞRENCİ SINIFI </h5>
                    <ul class="folder-list m-b-md" style="padding: 0">
                        @foreach (var item in Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumCSM_StudentGrade>().OrderBy(a=>a.Generic["sort"]))
                        {
                            <li class="clearfix">
                                <a class="pull-left" href="#" data-grid="VWCSM_Student" data-category="2" data-query="(grade~eq~'@item.Key')">
                                    <i class="fa fa-circle text-success"></i>  @item.Value
                                </a>
                                <span class="badge badge-success pull-right m-l-md  m-t-xs" data-counturl="/CSM/VWCSM_Student/DataSourceCount?filter=(grade~eq~'@item.Key')">0</span>
                            </li>
                        }
                    </ul>

                    <h5> VERİ KAYNAĞI TİPİ </h5>
                    <ul class="tag-list m-b-md" style="padding: 0;max-height:350px;overflow:auto;">
                        @foreach (var item in Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumCSM_StudentSource>())
                        {
                            <li class="clearfix">
                                <a class="pull-left" href="#" data-grid="VWCSM_Student" data-category="0" data-query="(source~eq~'@item.Key')">
                                    @item.Value
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Aday Öğrenci Listesi</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                @(Html.Akilli()
                    .Grid<Infoline.WorkOfTime.BusinessData.VWCSM_Student>("VWCSM_Student")
                    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWCSM_Student", new { area = "CSM" })).Sort(a => a.Add(c => c.created).Descending()).PageSize(25))
                    .Columns(x =>
                    {
                        x.Bound(y => y.id).Locked(true).Title("").Width(40).ClientTemplate("#=colorFunction(data)#").Filterable(false);
                        x.Bound(y => y.name).Locked(true).Title("Öğrenci Ad Soyad").Width(160);
                        x.Bound(y => y.phone).Locked(true).Title("Telefon").Width(130);
                        x.Bound(y => y.source_Title).Locked(true).Title("Kaynak").Width(90);
                        x.Bound(y => y.sourceDescription).Locked(true).Title("Kaynak Detayı").Width(200);
                        x.Bound(y => y.LastStageId_Title).Locked(true).Title("Son Aşama").Width(180).Filterable(filterable => filterable.UI("LastStageFilter")).ClientTemplate("#=LastStageTemplate(data)#");

                        x.Bound(y => y.lastActivity_Date).Title("Son Görüşme Tarihi").Width(180).Format(Extensions.DateFormatShort(true));
                        x.Bound(y => y.lastActivity_userIdTitle).Title("Son Görüşen").Width(180);
                        x.Bound(y => y.lastActivity_Description).Title("Son Görüşme Notu").Width(180);
                        x.Bound(y => y.activityCount).Title("Görüşme Adedi").Width(180);
                        x.Bound(y => y.schoolId_Title).Title("Okul").Width(180);
                        x.Bound(y => y.grade_Title).Title("Sınıf").Width(100);
                        x.Bound(y => y.deparmentCurrent).Title("Bölüm").Width(100);
                        x.Bound(y => y.isAllowContact_Title).Title("İletişim İzni").Width(130);
                        x.Bound(y => y.created).Title("Oluşturulma Tarihi").Width(180).Format(Extensions.DateFormatFull(true)).Filterable(f => f.UI("DateTimeFilter"));
                        x.Bound(y => y.createdby_Title).Title("Oluşturan").Width(180);
                        x.Bound(y => y.department_Titles).Title("İlgilendiği Bölümler").Width(180);
                    })
                    .Events(ev => ev.FilterMenuInit("filterMenuInit"))
                    .Scrollable(x => x.Height(650))
                    .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                    .ToolBar(x =>
                    {
                        x.Custom().Text("<i data-original-title='Öğrenci Düzenle' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" } }).Url(Url.Action("Update", "VWCSM_Student", new { area = "CSM" }));
                        x.Custom().Text("<i data-original-title='Görüşme Oluştur' class='fa fa-calendar'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" }, { "data-idColumnKey", "studentId" } }).Url(Url.Action("Insert", "VWCSM_Activity", new { area = "CSM" }));
                        x.Custom().Text("<i data-original-title='Öğrenci Detayı' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-modal", "false" }, { "data-blank", "" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWCSM_Student", new { area = "CSM" }));
                        x.Custom().Text("<i data-original-title='Kayıtları Servise Gönder' class='fa fa-send'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-selector", "SendCallCenter" }, { "data-show", "always" }, { "data-method", "GET" } }).Url(Url.Action("SendCallCenter", "VWCSM_Student", new { area = "CSM" }));
                        x.Custom().Text("<i data-original-title='Öğrenci Sil' class='fa fa-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" }, { "data-show", "single" } }).Url(Url.Action("Delete", "VWCSM_Student", new { area = "CSM" }));
                    }))

            </div>
        </div>
    </div>
</div>



