@model Infoline.WorkOfTime.BusinessAccess.VMCMP_TenderModels
@{
	ViewBag.Title = Model.Customer_Title + " İşletmesine Verilen Satış Teklifi Detayı";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var userStatus = (PageSecurity)Session["userStatus"];
	var EnumProperties = ((IEnumerable<Item>)ViewBag.EnumProperties).ToArray();
	var createdTender = Model.InvoiceActions.Where(a => a.type == (int)EnumCMP_InvoiceActionType.YeniTeklif).FirstOrDefault();
	var approveTender = Model.InvoiceActions.Where(a => a.type == (int)EnumCMP_InvoiceActionType.TeklifYoneticiOnay).FirstOrDefault();
	var customerApprove = Model.InvoiceActions.Where(a => a.type == (int)EnumCMP_InvoiceActionType.TeklifMusteriOnay).FirstOrDefault();
	var rejectTender = Model.InvoiceActions.Where(a => a.type == (int)EnumCMP_InvoiceActionType.TeklifRed).FirstOrDefault();
	var invoiceTender = Model.InvoiceActions.Where(a => a.type == (int)EnumCMP_InvoiceActionType.TeklifFatura).FirstOrDefault();
	var orderTender = Model.InvoiceActions.Where(a => a.type == (int)EnumCMP_InvoiceActionType.TeklifSiparis).FirstOrDefault();
}
<style type="text/css" data-selector="modalContainer">
	#VWCMP_InvoiceItem .k-grid-toolbar {
		display: none;
	}

	#calendar .party {
		color: #ff4081;
		font-weight: bold;
	}

	#VWCMP_InvoiceItem .fileupload-container {
		background: #fff !important;
	}

	#detailInvoice .list-group {
		margin-bottom: 0px !important;
	}

	.photoWidth img {
		width: 100%;
		height: auto;
	}

	.heightMin {
		min-height: 42px !important;
	}

	#timeline-wrap {
		margin: 10% 10%;
		position: relative;
	}

	#timeline {
		height: 1px;
		width: 100%;
		background-color: #aabbc4;
		position: relative;
	}

	.marker {
		color: #fff;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
		text-align: center;
		position: absolute;
		margin-left: -25px;
		background-color: #999999;
		border-radius: 50%;
	}

		.marker:hover {
			-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-o-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
			-webkit-transition: all 300ms ease;
			-moz-transition: all 300ms ease;
			-ms-transition: all 300ms ease;
			-o-transition: all 300ms ease;
			transition: all 300ms ease;
		}

	.mfirst {
		top: -25px;
	}

	.m2 {
		top: -25px;
		left: 32.5%
	}

	.m3 {
		top: -25px;
		left: 66%
	}

	.mlast {
		top: -25px;
		left: 100%
	}

	.timeline-panel {
		margin-top: 20%;
		width: 500px;
		height: 200px;
		background-color: #cbd0df;
		border-radius: 2px;
		position: relative;
		text-align: left;
		padding: 10px;
		font-size: 20px;
		font-weight: bold;
		line-height: 20px;
		float: left;
	}

		.timeline-panel:after {
			content: '';
			position: absolute;
			margin-top: -12%;
			left: 10%;
			width: 0;
			height: 0;
			border: 12px solid transparent;
			border-bottom: 15px solid #cbd0df;
		}

	.pulseicon {
		display: inline-block;
		-moz-animation: pulse 2s infinite linear;
		-o-animation: pulse 2s infinite linear;
		-webkit-animation: pulse 2s infinite linear;
		animation: pulse 2s infinite linear;
	}

	@@-webkit-keyframes pulse {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@@-moz-keyframes pulse {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@@-o-keyframes pulse {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@@-ms-keyframes pulse {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@@keyframes pulse {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
</style>
<script type="text/javascript" data-selector="modalContainer">
    var tenderDetail = {
        dfn: {
            model: @(Html.Raw(Infoline.Helper.Json.Serialize(Model))),
            exchangeRates: $.ajax({
                url: '/General/GetExchangeRatesByDate',
                data: { date: new Date().toLocaleString() },
                type: "POST",
                dataType: "JSON",
                async: false
            }).responseJSON,
        },
        events: {
            addNote: function (_this) {
                var note = $('#note').val();
                if (!note || note == null || note == "") {
                    MesajWarning("Lütfen önce not giriniz.");
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: '/CMP/VWCMP_Tender/InsertNote',
                    data: { tenderId: tenderDetail.dfn.model.id, note: note },
                    success: function (response) {
                        if (response.result) {
                            var html = tenderDetail.fnc.getNoteHtml(response.objects);
                            $('#vertical-timeline').prepend(html);
                            $('#note').val("");
                        }
                    }
                });
            },
            updateStatus: function (_this) {
                _this.type = "button";
                var type = $(_this).attr("data-type");
                $.ajax({
                    type: "POST",
                    url: '/CMP/VWCMP_Tender/UpdateStatus',
                    data: { tenderId: tenderDetail.dfn.model.id, type: type },
                    success: function (response) {
                        if (response.Result) {
                            location.reload();
                        }
                    },
                    beforeSend: function () {
                        $('body').loadingModal({ text: "İşlem gerçekleştiriliyor, lütfen bekleyiniz.", animation: 'rotatingPlane', backgroundColor: "black" });
                    },
                    complete: function () {
                        $('body').loadingModal('destroy');
                    },
                });
            }
        },
        fnc: {
            getNoteHtml: function (note) {
                return `<div class="vertical-timeline-block">
                            <div class="vertical-timeline-icon gray-bg">
                                <i class="fa fa-bolt"></i>
                            </div>
                            <div class="vertical-timeline-content">
                                <p style="margin:0 !important;"> ${ note.description} </p>
                                <span class="vertical-date small text-muted"> ${ new Date(note.created).toLocaleString() } </span>
                                <span class="vertical-date small text-muted"> İşlemi Yapan : ${ note.createdby_Title} </span>
                            </div>
                        </div>`;
            },
            showCurrency: function () {
                var curEx = tenderDetail.dfn.exchangeRates[tenderDetail.dfn.model.Currency_Code].BanknoteSelling;
                var title = '<p>Teklif Oluşturulduğundaki Kur : ' + kendo.toString(tenderDetail.dfn.model.rateExchange, "N2") + ' ₺</p>'+
                    '<p>Şu Anki Kur : ' + kendo.toString(curEx, "N2") + ' ₺</p>';
                $('#contentTooltip').append('<span class="fa fa-info-circle" rel="tooltip" data-original-title="' + title + '"></span>');
                $("[rel=tooltip]").tooltip({
                    html:true
                });
            }
        },
        templates: {
            quantityTemp: function (item) {
                var unit = !item.Unit_Title ? "" : item.Unit_Title;
                if(unit == "ADET"){
                    return kendo.toString(item.quantity, "N0") + " " + unit;
                }
                return kendo.toString(item.quantity, "N2") + " " + unit;
            },
            descriptionTemp: function (data) {
                if (data.description != null) {
                    return '<i class="fa fa-info-circle" data-original-title="' + data.description + '" data-placement="bottom"></i>';
                }
                return "";
            },
            currencyTemp: function (item, data, isTotal) {
                if (data != null) {
                    return isTotal ? '<span style="color:#ff6a00">' + kendo.toString(data, "N2") + " " + item.Currency_Symbol + '</span>' :
                        kendo.toString(data, "N2") + " " + item.Currency_Symbol;
                }
                return "-";
            },
            discountTemp: function (data) {
                if (data.discountType == '@((int)EnumCMP_InvoiceItemDiscountType.Tutar)') {
                    return kendo.toString(data.discount, "N2") + ' ' + data.Currency_Symbol;
                }
                var price = data.quantity * data.price;
                var subTotal = ((price * data.discount) / 100);
                return kendo.toString(subTotal, "N2") + " " + data.Currency_Symbol;
            },
            discountRateTemp: function (data) {
                  if (data.discountType == '@((int)EnumCMP_InvoiceItemDiscountType.Tutar)') {
                      var a = data.price * data.quantity;
                      var b = data.discount;
                      var result =100-(((a-b)/a)*100)
                      return result + "%"
                }
                return data.discount+"%"
            },
            stockTemp: function (data) {
                if (data.stockType!=0) {
                    if (data.stockCount && data.stockCount != null) {
                        return data.stockCount + " Adet";
                    }
                    else {
                        return "Stokta Yok"
                    }
                }
                return "Stoksuz Ürün/Hizmet";
            },
            otvTemp: function (data) {
                if (data.OTVType==0) {
                    return data.OTV + "%"
                }
                else {
                    return data.OTV + "₺"
                }
            },
            oivTemp: function (data) {
                if (data.OIVType == 0) {
                    return data.OIV + "%"
                }
                else {
                    return data.OIV + "₺"
                }
            },
            kdvTemp: function (data) {
                if (data.KDVType == 0) {
                    return data.KDV + "%"
                }
                else {
                    return data.KDV + "₺"
                }
            },
        }
    }
    tenderDetail.templates.stockTemp
    $(document)
        .on("ready", function () {
            if (tenderDetail.dfn.model.Currency_Code != "TL") {
                tenderDetail.fnc.showCurrency();
            }
        })
        .on("success", "#VWCMP_OrderInsertForm", function (e, res) {
            if (res && res != null && res.Result) {
                location.reload();
            }
        })
        .on("load:grid", '#VWCMP_InvoiceItem', function (e) {
            $(this).find('table').toggleClass("k-selectable");
            var productIds = tenderDetail.dfn.model.InvoiceItems.map(a => a.productId).join(",");
            $('[data-button="stock"]').attr("data-href", "/PRD/VWPRD_StockSummary/StockDetailProducts?productIds=" + productIds);
            $('[data-button="stock"]').removeClass("hide");
        })
</script>
<div class="row" id="detailInvoice">
	<div class="col-lg-12">
		<div class="wrapper wrapper-content">
			<div class="col-lg-9">
				<div class="row">
					<div class="col-lg-6">
						<div class="ibox ">
							<div class="ibox-title">
								<h5> <i class="fa fa-hand-o-right"></i> Teklif Veren İşletmem </h5>
								<div class="ibox-tools">
									<span class=""> @(Model.supplierTitle)</span>
									<span class="pull-right">
										<a href="/CMP/VWCMP_Company/Detail?id=@(Model.supplierId)" target="_blank" class="text-navy"> <i class="fa fa-link"></i> </a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="ibox ">
							<div class="ibox-title ">
								<h5> <i class="fa fa-hand-o-right"></i> Müşteri </h5>
								<div class="ibox-tools">
									<span class=""> @(Model.Customer_Title)</span>
									<span class="pull-right">
										<a href="/CMP/VWCMP_Company/Detail?id=@(Model.customerId)" target="_blank" class="text-navy"> <i class="fa fa-link"></i> </a>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="ibox ">
							<div class="ibox-title heightMin">
								<h5> <i class="fa fa-code"></i> Teklif Kodu </h5>
								<div class="ibox-tools">
									@(Model.rowNumber != null ? Model.rowNumber : "")
								</div>
							</div>
							<div class="ibox-title heightMin">
								<h5> <i class="fa fa-user"></i> Düzenleyen </h5>
								<div class="ibox-tools">
									@(Model.createdby_Title)
								</div>
							</div>
							<div class="ibox-title heightMin">
								<h5> <i class="fa fa-calendar"></i> Düzenlenme Tarihi </h5>
								<div class="ibox-tools">
									@String.Format("{0:dd.MM.yyyy HH:mm}", Model.issueDate)
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="ibox ">
							<div class="ibox-title heightMin">
								<h5> <i class="fa fa-check-square-o"></i> Teklif Geçerlilik Tarihi </h5>
								<div class="ibox-tools">
									@String.Format("{0:dd.MM.yyyy}", Model.validityDate)
								</div>
							</div>
							<div class="ibox-title heightMin">
								<h5> <i class="fa fa-credit-card"></i> Ödeme Tipi </h5>
								<div class="ibox-tools">
									<strong>
										@Model.paymentType_Title @(Model.paymentType == (int)EnumCMP_InvoicePaymentType.Taksitli ? "(" + Model.installmentCount.ToString() + " Taksit)" :
Model.paymentType == (int)EnumCMP_InvoicePaymentType.Vadeli ? "(" + String.Format("{0:dd.MM.yyyy}", Model.expiryDate) + ")" : "")
									</strong>
								</div>
							</div>
							<div class="ibox-title heightMin">
								<h5> <i class="fa fa-warning"></i> Teklif Durumu </h5>
								<div class="ibox-tools">
									@if (Model.status == (int)EnumCMP_TenderStatus.CevapBekleniyor)
									{
										<strong class="text-warning">
											<i class="fa fa-spinner"></i> @(Model.status_Title)
										</strong>
									}
									else if (Model.status == (int)EnumCMP_TenderStatus.YoneticiOnay)
									{
										<strong class="text-warning">
											<i class="fa fa-hand-o-right"></i> @(Model.status_Title), Müşteri Onayı Bekleniyor.
										</strong>
									}
									else if (Model.status == (int)EnumCMP_TenderStatus.MusteriOnay)
									{
										<strong class="text-success">
											<i class="fa fa-check"></i> @(Model.status_Title)
										</strong>
									}
									else if (Model.status == (int)EnumCMP_TenderStatus.TeklifSiparis)
									{
										<strong class="text-success">
											<i class="fa fa-shopping-cart"></i> @(Model.status_Title)
										</strong>
									}
									else if (Model.status == (int)EnumCMP_TenderStatus.TeklifFatura)
									{
										<strong class="text-primary">
											<i class="fa fa-check-square-o"></i> @(Model.status_Title)
										</strong>
									}
									else
									{
										<strong class="text-danger">
											<i class="fa fa-times-circle"></i> @(Model.status_Title)
										</strong>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ibox ">
					<div class="ibox-title">
						<h5> <i class="fa fa-puzzle-piece"></i> Teklife Eklenen Ürün Kalemleri</h5>
						<div class="ibox-tools">
							<a class="btn btn-xs btn-success hide" style="color:white;" data-button="stock" data-modal="true" data-task="Insert" data-method="GET" data-show="single" data-href="/PRD/VWPRD_StockSummary/StockDetailProducts">
								<i class="fa fa-align-justify"></i> Ürün Stok Özeti
							</a>
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content no-padding">
						@(Html.Akilli()
                           .Grid<Infoline.WorkOfTime.BusinessData.VWCMP_InvoiceItem>("VWCMP_InvoiceItem")
                           .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWCMP_InvoiceItem", new { area = "CMP" })).Sort(s => s.Add(a => a.itemOrder).Descending())
                           .Filter(a => a.invoiceId == Model.id).PageSize(999))
                           .Columns(x =>
                           {
                               x.Bound(y => y.Product_Title).Title("Ürün/Hizmet").Width(250).Filterable(false);
                               x.Bound(y => y.price).Title("Birim Fiyat").Width(100).Filterable(false).ClientTemplate("#=tenderDetail.templates.currencyTemp(data, data.price)#")
                               .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });
                               x.Bound(y => y.quantity).Title("Miktar").Width(120).Filterable(false).ClientTemplate("#=tenderDetail.templates.quantityTemp(data)#")
                                   .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });
                               x.Bound(y => y.Unit_Title).Title("Birim").Hidden(true);
                               x.Bound(y => y.discount).Title("İndirim").Width(120).Filterable(false).ClientTemplate("#=tenderDetail.templates.discountTemp(data)#")
                                   .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });
                               x.Bound(y => y.discount).Title("İndirim Oranı").Width(80).Filterable(false).ClientTemplate("#=tenderDetail.templates.discountRateTemp(data) #")
                           .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                               .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });
                               x.Bound(y => y.OIV).Title("KDV").Width(120).Filterable(false).ClientTemplate("#=tenderDetail.templates.kdvTemp(data)#")
                   .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });
                               x.Bound(y => y.OTV).Title("ÖTV").Width(120).Filterable(false).ClientTemplate("#=tenderDetail.templates.otvTemp(data)#")
                                   .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });
                               x.Bound(y => y.OIV).Title("ÖİV").Width(120).Filterable(false).ClientTemplate("#=tenderDetail.templates.oivTemp(data)#")
                    .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                    .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });
                               x.Bound(y => y.totalTax).Title("Toplam Vergi").Width(120).Filterable(false).ClientTemplate("#=tenderDetail.templates.currencyTemp(data, data.totalTax)#")
                                   .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });
                               x.Bound(y => y.totalAmount).Title("Toplam Fiyat").Width(100).Filterable(false).ClientTemplate("#=tenderDetail.templates.currencyTemp(data, data.totalAmount)#")
                               .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });
                               x.Bound(y => y.Currency_Symbol).Title("Para Birimi").Hidden(true);
                               x.Bound(y => y.id).Title("").Width(30).Filterable(false).ClientTemplate("#=tenderDetail.templates.descriptionTemp(data)#");
                           })
                           .Selectable(x => x.Mode(GridSelectionMode.Single))
                           .Scrollable(s => s.Height(200))
                        )
					</div>
				</div>
				<div class="ibox " data-href="@Url.Action("DataSourceReport","VWCMP_InvoiceItem", new { area = "CMP" })">
					<div class="ibox-title">
						<h5> <i class="fa fa-line-chart"></i> Ürün Kalemleri Raporu</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content no-padding">
						@(Html.Akilli()
                           .Grid<Infoline.WorkOfTime.BusinessData.VWCMP_InvoiceItemReport>("VWCMP_InvoiceItemReport")
                           .DataSource(x => x.Ajax().Read(r => r.Action("DataSourceReport", "VWCMP_InvoiceItem", new { area = "CMP" }))
                           .Filter(a => a.invoiceId == Model.id).PageSize(999))
                           .Columns(x =>
                           {
                               x.Bound(y => y.quantity).Title("Miktar").Width(60).Filterable(false).ClientTemplate("#=tenderDetail.templates.quantityTemp(data)#")
                                   .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:center" } });
                               x.Bound(y => y.Unit_Title).Title("Birim").Hidden(true);
                               x.Bound(y => y.Product_Title).Title("Ürün/Hizmet").Width(150).Filterable(false);
                               x.Bound(y => y.price).Title("Birim Fiyatı").Width(70).Filterable(false).ClientTemplate("#=tenderDetail.templates.currencyTemp(data, data.price)#")
                               .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });
                               x.Bound(y => y.discountTotal).Title("İndirim").Width(70).Filterable(false).ClientTemplate("#=tenderDetail.templates.currencyTemp(data, data.discountTotal)#")
                               .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });
                               x.Bound(y => y.discount).Title("İndirim Oranı").Width(80).Filterable(false).ClientTemplate("#=tenderDetail.templates.discountRateTemp(data) #")
                         .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                             .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });
                               x.Bound(y => y.totalSubAmount).Title("Ara Toplam").Width(80).Filterable(false).ClientTemplate("#=tenderDetail.templates.currencyTemp(data, data.totalSubAmount)#")
                               .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });
                               x.Bound(y => y.totalTax).Title("Toplam Vergi").Width(80).Filterable(false).ClientTemplate("#=tenderDetail.templates.currencyTemp(data, data.totalTax)#")
                               .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });
                               x.Bound(y => y.totalAmount).Title("Toplam Satış Fiyatı").Width(90).Filterable(false).ClientTemplate("#=tenderDetail.templates.currencyTemp(data, data.totalAmount, true)#")
                               .HeaderHtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } })
                                   .HtmlAttributes(new Dictionary<string, object>() { { "style", "text-align:right" } });
                               x.Bound(y => y.Currency_Symbol).Title("Para Birimi").Hidden(true);
                               x.Bound(y => y.Unit_Title).Title("Birim").Hidden(true);
                           })
                           .Selectable(x => x.Mode(GridSelectionMode.Single))
                           .Scrollable(s => s.Height(200))
                        )
					</div>
				</div>
				<div class="ibox  collapsed">
					<div class="ibox-title">
						<h5> <i class="fa fa-file-text"></i> Teklif Koşulları</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content photoWidth">
						<span>@Html.Raw(Model.invoiceDocumentTemplate.tenderConditions)</span>
					</div>
				</div>
				<div class="ibox  collapsed">
					<div class="ibox-title">
						<h5> <i class="fa fa-comments"></i> Teklif Açıklaması</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content photoWidth">
						<span>@Html.Raw(Model.invoiceDocumentTemplate.description)</span>
					</div>
				</div>
				<div class="ibox  collapsed">
					<div class="ibox-title">
						<h5> <i class="fa fa-folder-open"></i> Teklif Dosyası</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content photoWidth">
						@Html.Action("Index", "Files", new { area = "", DataId = Model.id, DataTable = "CMP_Invoice", FileGroup = "Teklif Dosyası" })
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="ibox ">
					<div class="ibox-title">
						<div style="font-size: 18px;" class="text-center @(Model.status == (int)EnumCMP_TenderStatus.CevapBekleniyor ? "text-warning" :
                                                               Model.status == (int)EnumCMP_TenderStatus.YoneticiOnay ? "text-navy" :
                                                               Model.status == (int)EnumCMP_TenderStatus.Red ? "text-danger" :
                                                               Model.status == (int)EnumCMP_TenderStatus.TeklifFatura || Model.status == (int)EnumCMP_TenderStatus.TeklifSiparis ? "text-navy" : "")">
							<i class="fa pulseicon @(Model.status == (int)EnumCMP_TenderStatus.CevapBekleniyor ? "fa-spinner text-warning" :
                                                               Model.status == (int)EnumCMP_TenderStatus.YoneticiOnay ? "fa-thumbs-up text-navy" :
                                                               Model.status == (int)EnumCMP_TenderStatus.Red ? "fa-times-circle text-danger" :
                                                               Model.status == (int)EnumCMP_TenderStatus.TeklifFatura || Model.status == (int)EnumCMP_TenderStatus.TeklifSiparis ? "fa-check-circle text-navy" : "")">
								@if (userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.MuhasebeSatis)) || userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.SatisFatura)))
								{
									@(Model.status == (int)EnumCMP_TenderStatus.CevapBekleniyor ? "Teklifin onaylanması bekleniyor." :
                                      Model.status == (int)EnumCMP_TenderStatus.YoneticiOnay ? "Teklif onaylandı. Teklifin siparişe dönüştürülmesi bekleniyor." :
                                      Model.status == (int)EnumCMP_TenderStatus.Red ? "Teklif Reddedildi." :
                                      Model.status == (int)EnumCMP_TenderStatus.TeklifFatura || Model.status == (int)EnumCMP_TenderStatus.TeklifSiparis ? "Teklif süreci tamamlandı." : "")
								}
								else
								{
									@(Model.status == (int)EnumCMP_TenderStatus.CevapBekleniyor ? "Teklifin onaylanması bekleniyor." :
                                      Model.status == (int)EnumCMP_TenderStatus.YoneticiOnay ? "Teklif onaylandı. Teklifin faturasının girilmesi bekleniyor." :
                                      Model.status == (int)EnumCMP_TenderStatus.Red ? "Teklif Reddedildi." :
                                      Model.status == (int)EnumCMP_TenderStatus.TeklifFatura || Model.status == (int)EnumCMP_TenderStatus.TeklifSiparis ? "Teklif süreci tamamlandı." : "")
								}
							</i>
						</div>
						<div id="timeline-wrap">
							<div id="timeline"></div>
							<div class="marker mfirst" data-html="true" data-original-title="@(createdTender != null ? string.Format("Teklif oluşturuldu.  <br/> İşlem Yapan : {0}   <br/>  {1:dd.MM.yyyy HH:mm}", createdTender.createdby_Title, createdTender.created) : "İşlem yapılmadı.")" style="background-color:#1ab394;">
								<i class="fa fa-pencil"></i>
							</div>
							@if (rejectTender != null)
							{
								<div class="marker m2" style="background-color:#ed5565;" data-html="true"
									 data-original-title="@(string.Format("Teklif reddedildi.  <br/> İşlem Yapan : {0}   <br/>  {1:dd.MM.yyyy HH:mm}", rejectTender.createdby_Title, rejectTender.created))">
									<i class="fa fa-thumbs-up"></i>
								</div>
							}
							else
							{
								<div class="marker m2" style="background-color:@(Model.status == (int)EnumCMP_TenderStatus.CevapBekleniyor ? "" : "#1ab394");" data-html="true"
									 data-original-title="@(approveTender != null ? string.Format("Teklif onaylandı.  <br/> İşlem Yapan : {0}   <br/>  {1:dd.MM.yyyy HH:mm}", approveTender.createdby_Title, approveTender.created) : "Teklifin onaylanması bekleniyor.")">
									<i class="fa fa-thumbs-up"></i>
								</div>
							}
							@if (userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.MuhasebeSatis)) || userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.SatisFatura)))
							{
								<div class="marker m3" style="background-color:@(invoiceTender != null || orderTender != null ? "#1ab394" : "");" data-html="true"
									 data-original-title="@(invoiceTender != null ? string.Format("Teklifin faturası kesildi.  <br/> İşlem Yapan : {0}   <br/>  {1:dd.MM.yyyy HH:mm}", invoiceTender.createdby_Title, invoiceTender.created) :
                                                        orderTender != null ? string.Format("Teklifin siparişi girildi.  <br/> İşlem Yapan : {0}   <br/>  {1:dd.MM.yyyy HH:mm}", orderTender.createdby_Title, orderTender.created) : "Teklifin faturasının girilmesi bekleniyor.")">
									<i class="fa fa-file-text"></i>
								</div>
								<div class="marker mlast" style="background-color:@(invoiceTender != null || orderTender != null ? "#1ab394" : "");" data-html="true"
									 data-original-title="@(invoiceTender != null ? "Teklifin faturası girildi." : orderTender != null ? "Teklif siparişe dönüştürüldü." : "İşlem yapılmadı.")">
									<i class="fa fa-check"></i>
								</div>
							}
							else
							{
								<div class="marker m3" style="background-color:@(invoiceTender != null || orderTender != null ? "#1ab394" : "");" data-html="true"
									 data-original-title="@(invoiceTender != null ? string.Format("Teklifin faturası kesildi.  <br/> İşlem Yapan : {0}   <br/>  {1:dd.MM.yyyy HH:mm}", invoiceTender.createdby_Title, invoiceTender.created) :
                                                        orderTender != null ? string.Format("Teklifin siparişi girildi.  <br/> İşlem Yapan : {0}   <br/>  {1:dd.MM.yyyy HH:mm}", orderTender.createdby_Title, orderTender.created) : "Teklifin siparişinin girilmesi bekleniyor.")">
									<i class="fa fa-file-text"></i>
								</div>
								<div class="marker mlast" style="background-color:@(invoiceTender != null || orderTender != null ? "#1ab394" : "");" data-html="true"
									 data-original-title="@(invoiceTender != null ? "Teklifin faturası girildi." : orderTender != null ? "Teklif siparişi girildi, süreç tamamlandı." : "Teklifin sipariş ve fatura süreçlerinin tamamlanması bekleniyor.")">
									<i class="fa fa-check"></i>
								</div>
							}
						</div>
					</div>
				</div>
				@if (Model.status != (int)EnumCMP_TenderStatus.CevapBekleniyor && Model.status != (int)EnumCMP_TenderStatus.Red)
				{
					<div class="ibox ">
						<div class="ibox-title" style="text-align:center;">
							<a style="color: #ffffff;" class="btn btn-md btn-danger"
							   data-modal="true" data-task="Insert" data-method="GET" data-show="single" data-href="/CMP/VWCMP_Tender/InsertSelling?&id=@Model.id&IsCopy=true" data-original-title="Teklif Formunu Kopyalayarak Yeni Bir Teklif Oluştur">
								<i class="fa fa-edit"></i> Kopyala
							</a>
							<button class="btn btn-md btn-warning" data-selector="share" data-formUrl="/CMP/VWCMP_Tender/Print?id=@Model.id" data-formElemId="page1" data-hastemplate="true"
									data-formMessage="@Model.supplierTitle işletmesinden @Model.customerTitle işletmesine gönderilen teklif detayı ekte sunulmuştur." data-formEmail="" data-formSubject="Teklif Özeti"
									data-original-title="Teklif Formunu Paylaş">
								<i class="fa fa-send"></i> Paylaş
							</button>
							<a data-method="GET" data-show="single" data-task="Insert" data-blank="true" data-modal="false" data-href="/CMP/VWCMP_Tender/Print?id=@Model.id&type=0"
							   class="btn btn-md btn-info" data-original-title="Teklif Formunu İndir">
								<i class="fa fa-download"></i> İndir
							</a>
							<a data-method="GET" data-show="single" data-task="Insert" data-blank="true" data-modal="false" data-href="/CMP/VWCMP_Tender/Print?id=@Model.id&type=1"
							   class="btn btn-md btn-primary" data-original-title="Teklif Formunu Yazdır">
								<i class="fa fa-print"></i> Yazdır
							</a>
						</div>
					</div>
				}
				<div class="ibox ">
					<div class="ibox-title">
						<h5>Özet</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content no-padding clearfix">
						<table class="table" style="margin-bottom: 0px !important;">
							<tbody>
								@if (Model.discount > 0)
								{
									<tr>
										<td>
											<div class="col-md-6"><h4>Ara Toplam İndirimi</h4></div>
											<div class="col-md-6">
												<h3 class="font-bold text-right">
													@(string.Format("{0:N2}", Model.discount))   @(Model.discountType_Title)
												</h3>
											</div>
										</td>
									</tr>
								}
								<tr>
									<td>
										<div class="col-md-6"><h4>Brüt Toplam</h4></div>
										<div class="col-md-6">
											<h3 class="font-bold text-right">
												@(string.Format("{0:N2}", Model.totalSubAmount))   @(Model.Currency_Symbol)
											</h3>
										</div>
									</td>
								</tr>
								@if (Model.stopaj > 0)
								{
									<tr>
										<td>
											<div class="col-md-6"><h4>Stopaj</h4></div>
											<div class="col-md-6">
												<h3 class="font-bold text-right">
													@(string.Format("{0:N0}", Model.stopaj))   %
												</h3>
											</div>
										</td>
									</tr>
								}
								<tr>
									<td>
										<div id="totalOTVDiv">
											<div class="col-md-6"><h4>Toplam Vergi</h4></div>
											<div class="col-md-6">
												<h3 class="font-bold text-right">
													@(string.Format("{0:N2}", Model.totalTax))   @(Model.Currency_Symbol)
												</h3>
											</div>
										</div>
									</td>
								</tr>
								@if (Model.tevkifat > 0)
								{
									<tr>
										<td>
											<div class="col-md-6"><h4>KDV Tevkifat</h4></div>
											<div class="col-md-6">
												<h3 class="font-bold text-right">
													@(string.Format("{0:N0}", Model.tevkifat)) / 10
												</h3>
											</div>
										</td>
									</tr>
								}
								<tr>
									<td>
										<div class="col-md-6"><h4>Genel Toplam</h4></div>
										<div class="col-md-6">
											<h2 class="font-bold text-right" style="color:#ff6a00;">
												@(string.Format("{0:N2}", Model.totalAmount))   @(Model.Currency_Symbol)
											</h2>
										</div>
									</td>
								</tr>
								@if (Model.Currency_Symbol != "₺")
								{
									<tr>
										<td>
											<div class="col-md-6"><h4>TL Karşılığı <span id="contentTooltip"></span></h4></div>
											<div class="col-md-6" data-result="TLequality">
												<h3 class="font-bold text-right" style="color:#ff6a00;">@(string.Format("{0:N2}", Model.totalAmountAsTL) + " ₺")</h3>
											</div>
										</td>
									</tr>
								}
								@if (Model.status == (int)EnumCMP_TenderStatus.CevapBekleniyor && userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.SatisOnaylayici)))
								{
									<tr>
										<td style="padding-top: 20px;">
											<div class="col-md-6" style="text-align:center;">
												<button onclick="tenderDetail.events.updateStatus(this)" data-type="@((int)EnumCMP_TenderStatus.YoneticiOnay)" class="btn btn-md btn-primary">
													<i class="fa fa-check"></i> Onayla
												</button>
											</div>
											<div class="col-md-6" style="text-align:center;">
												<button onclick="tenderDetail.events.updateStatus(this)" data-type="@((int)EnumCMP_TenderStatus.Red)" class="btn btn-md btn-danger">
													<i class="fa fa-times"></i> Reddet
												</button>
											</div>
										</td>
									</tr>
								}
								@if (Model.status == (int)EnumCMP_TenderStatus.YoneticiOnay && (userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.SatisPersoneli))
									|| userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.CRMYonetici)) || userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.SatisPersoneli)) || userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.BayiPersoneli))))
								{

									if (Model.pid.HasValue && Model.status != (int)EnumCMP_TenderStatus.MusteriOnay)
									{
										<tr>
											<td style="text-align:center;">
												<a data-modal="true" data-task="Insert" data-method="GET" data-show="single" data-href="/CMP/VWCMP_Order/InsertSelling?id=@Model.id&transform=true" class="btn btn-md btn-success">
													<i class="fa fa-refresh"></i> Müşteri Onayladı
												</a>
											</td>
										</tr>
									}
									else
									{
										<tr>
											<td style="text-align:center;">
												<a data-modal="true" data-task="Insert" data-method="GET" data-show="single" data-href="/CMP/VWCMP_Order/InsertSelling?id=@Model.id&transform=true" class="btn btn-md btn-success">
													<i class="fa fa-refresh"></i> Müşteri Onayladı (Siparişe Dönüştür)
												</a>
											</td>
										</tr>
									}

									<tr>
										<td style="text-align:center;">
											<button onclick="tenderDetail.events.updateStatus(this)" data-type="@((int)EnumCMP_TenderStatus.Red)" class="btn btn-md btn-danger">
												<i class="fa fa-times"></i> Müşteri Reddetti
											</button>
										</td>
									</tr>
								}
								<tr>
									<td style="padding-top: 20px;">
										@if (Model.status == (int)EnumCMP_TenderStatus.MusteriOnay && userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.MuhasebeSatis)))
										{
											<div class="col-md-6" style="text-align:center;">
												<a href="/CMP/VWCMP_Invoice/InsertSelling?id=@Model.id&transform=true" target="_blank" class="btn btn-md btn-success">
													<i class="fa fa-refresh"></i> Faturaya Dönüştür
												</a>
											</div>
										}
										@if (Model.status == (int)EnumCMP_TenderStatus.MusteriOnay && userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.SatisPersoneli)))
										{
											<div class="col-md-6" style="text-align:center;">
												<a href="/CMP/VWCMP_Order/InsertSelling?id=@Model.id&transform=true" target="_blank" class="btn btn-md btn-success">
													<i class="fa fa-refresh"></i> Siparişe Dönüştür
												</a>
											</div>
										}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="ibox ">
					<div class="ibox-title">
						<h5>Teklife Not Ekleme</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content clearfix">
						<div class="form-group">
							<input type="text" id="note" class="form-control" />
						</div>
						<button type="button" onclick="tenderDetail.events.addNote(this)" class="btn btn-md btn-primary pull-right">Ekle</button>
					</div>
				</div>
				<div class="ibox ">
					<div class="ibox-title">
						<h5>Teklif Geçmişi</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<div id="vertical-timeline" class="vertical-container dark-timeline">
							@foreach (var item in Model.InvoiceActions.OrderByDescending(a => a.created))
							{
								var statusProps = EnumProperties.Where(a => Convert.ToInt32(a.Key) == item.type.Value).FirstOrDefault();
								<div class="vertical-timeline-block">
									<div class="vertical-timeline-icon gray-bg">
										<i class="fa fa-bolt"></i>
									</div>
									<div class="vertical-timeline-content" style="background-color: @statusProps.Generic["color"];">
										<p style="margin:0 !important;word-break: break-word;">
											@(item.description)
										</p>
										<span class="vertical-date small text-muted"> @String.Format("{0:dd.MM.yyyy HH:mm}", item.created) </span> <br />
										<span class="vertical-date small text-muted"> İşlem Yapan : @String.Format("{0:dd.MM.yyyy HH:mm}", item.createdby_Title) </span>
										@if (item.transformInvoiceId != null)
										{
											if (item.type == (int)EnumCMP_InvoiceActionType.TeklifSiparis)
											{
												<a href="/CMP/VWCMP_Order/DetailSelling?id=@item.transformInvoiceId" target="_blank" style="background-color: #1c84c6;color: #ffffff;" class="btn btn-xs" data-original-title="Siparişe Git">
													<i class="fa fa-arrow-right"></i>
												</a>
											}
											if (item.type == (int)EnumCMP_InvoiceActionType.TeklifFatura)
											{
												<a href="/CMP/VWCMP_Invoice/DetailSelling?id=@item.transformInvoiceId" target="_blank" style="background-color: #1c84c6;color: #ffffff;" class="btn btn-xs" data-original-title="Faturaya Git">
													<i class="fa fa-arrow-right"></i>
												</a>
											}
										}
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>