@model Infoline.WorkOfTime.BusinessData.VWSH_PartialAssigment
@{
    ViewBag.Title = "DSÜ Görevlendirilme Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="userId">Akademisyen</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.staffName, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"placeholder", "Lütfen akademisyen adı seçiniz veya giriniz.."},
                {"readonly","readonly" }
            }).Validate(Validations.Required)
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="startDate">Görev Başlangıç Tarihi</label>
        </div>
        <div class="col-md-8">
            @(
                Html.Akilli()
                .DateTimePickerFor(model => model.startDate)
                .Placeholder("Lütfen Görev Başlangıç Tarihi girin..")
                .Interval(15)
                .Enable(false)
              )
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="endDate">Görev Bitiş Tarihi</label>
        </div>
        <div class="col-md-8">
            @(
                Html.Akilli()
                .DateTimePickerFor(model => model.endDate)
                .Placeholder("Lütfen Görev Bitiş Tarihi girin..")
                .Interval(15)
                .Enable(false)
                .MinDateElement("startDate")
            )
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md req" for="courseHours">Girdiği Ders Saati</label>
        </div>
        <div class="col-md-8">
            <div class="input-group">
                @Html.TextBoxFor(model => model.courseHours, new Dictionary<string, object>()
                 {
                    {"class", "form-control"},
                    {"readonly", "readonly"},
                    {"style", "text-align:right"}
                  }).Validate(Validations.TextEverywhere(true))


                <span class="input-group-addon">Saat</span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="schoolDepartment">Bölüm Adı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.schoolDepartment, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="lesson">Ders Adı</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.lesson, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            }).Validate(Validations.TextEverywhere(true))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="hourlyWage">Saatlik Ücreti</label>
        </div>
        <div class="col-md-8">
            <div class="input-group">
            @Html.TextBoxFor(model => model.hourlyWage, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"},
                {"style", "text-align:right"}
            }).Validate(Validations.TextEverywhere(true))


                <span class="input-group-addon">₺</span>      
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>
</div>
