@model IEnumerable<Infoline.WorkOfTime.BusinessData.VWPRD_Inventory>
@{
    Layout = null;
    Layout = null;
    var i = 0;
    var type = (int)ViewBag.type;
    var isLogo = (int)ViewBag.logo;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>&nbsp;</title>
    <link href="~/content/themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Themes/css/plugins/jQueryUI/jquery-ui.css" rel="stylesheet" />
    <script src="~/content/themes/js/jquery-2.1.1.js"></script>
    <script src="~/Content/Themes/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Content/Kendo/js/kendo.all.min.js"></script>
    <script src="~/Content/Kendo/js/kendo.aspnetmvc.min.js"></script>

    <script src="~/Content/Kendo/js/messages/kendo.messages.en-US.min.js"></script>
    <script src="~/Content/Kendo/js/messages/kendo.messages.tr-TR.min.js"></script>
    <script src="~/Content/Kendo/js/cultures/kendo.culture.tr-TR.min.js"></script>
    <script src="~/Content/Kendo/js/cultures/kendo.culture.en-US.min.js"></script>
    <style type="text/css">
        @@page {
            margin-top: 75px
        }


        .log {
            width: 54px;
            margin-top: -53px;
            margin-left: 144px;
        }

        .qrcode-text {
            font-size: 5px;
            text-align: center;
            margin-top: 1px;
        }

        .k-qrcode {
            margin-left: 48px;
            margin-top: 18px;
        }

        .smallTxtTable {
            font-size: 6px;
            margin-left: -6px;
        }
    </style>

    <script type="text/javascript">
        $(document)
            .on("ready", function () {
                print();
            })
    </script>

</head>

<body lang="tr-TR" link="#000080" vlink="#800000" dir="ltr">
    <table width="709" cellpadding="1" cellspacing="0" style="page-break-before: always">
        @{
            var arr = Model.OrderBy(c => c.serialcode).ToArray();
        }
        @for (int n = 0; n < Model.Count(); n++)
        {
            <tr valign="top">
                <td width="235" height="123" style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0in 0.01in">
                    <p style="margin-left: 0.06in; margin-right: 0.06in">
                        <div style="font-family:Calibri;">
                            <div>
                                @(Html.Kendo().QRCode().Name("qrCode_" + n).Value(arr[n].code).Size(65))
                            </div>
                            <img class="log" src="@TenantConfig.Tenant.Logo" />
                            @if (isLogo == 1)
                            {
                                <div class="qrcode-text" style="">@arr[n].productId_Title.Split('|')[0] @arr[n].fullName</div>
                            }
                            else
                            {
                                <div class="qrcode-text" style="">@Html.Raw(arr[n].code + " | " + arr[n].serialcode)</div>
                            }
                        </div>
                    </p>
                </td>
                <td width="2" style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0in 0.01in">
                    <p style="margin-left: 0.06in; margin-right: 0.06in">
                        <br />
                        @{ if ((n + 1) >= Model.Count())
                            {
                                continue;
                            }
                            else
                            {
                                n++;
                            }
                        }
                    </p>
                </td>


                <td width="235" style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0in 0.01in">
                    <p style="margin-left: 0.06in; margin-right: 0.06in">
                        <div style="font-family:Calibri;">
                            <div>
                                @(Html.Kendo().QRCode().Name("qrCode_" + n).Value(arr[n].code).Size(65))
                            </div>
                            <img class="log" src="@TenantConfig.Tenant.Logo" />
                            @if (isLogo == 1)
                            {
                                <div class="qrcode-text" style="">@arr[n].productId_Title.Split('|')[0] @arr[n].fullName</div>
                            }
                            else
                            {
                                <div class="qrcode-text" style="">@Html.Raw(arr[n].code + " | " + arr[n].serialcode)</div>
                            }
                        </div>
                    </p>
                </td>
                <td width="2" style="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: 1px solid #ffffff; padding: 0in 0.01in">
                    <p style="margin-left: 0.06in; margin-right: 0.06in">
                        <br />
                        @{ if ((n + 1) >= Model.Count())
                            {
                                continue;
                            }
                            else
                            {
                                n++;
                            }
                        }
                    </p>
                </td>
                <td width="235" style="		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		border-left: 1px solid #ffffff;
		border-right: 1px solid #ffffff;
		padding: 0in 0.01in">
                    <p style="margin-left: 0.06in; margin-right: 0.06in">
                        <div style="font-family:Calibri;">
                            <div>
                                @(Html.Kendo().QRCode().Name("qrCode_" + n).Value(arr[n].code).Size(65))
                            </div>
                            <img class="log" src="@TenantConfig.Tenant.Logo" />
                            @if (isLogo == 1)
                            {
                                <div class="qrcode-text" style="">@arr[n].productId_Title.Split('|')[0] @arr[n].fullName</div>
                            }
                            else
                            {
                                <div class="qrcode-text" style="">@Html.Raw(arr[n].code + " | " + arr[n].serialcode)</div>
                            }
                        </div>
                    </p>
                </td>
            </tr>
        }

    </table>
</body>
</html>
