@using Infoline.WorkOfTime.BusinessAccess
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Mülakatlar";
    var userStatus = (PageSecurity)Session["userStatus"];
    var now = DateTime.Now;
    var startOfWeek = now.AddDays(((int)(now.DayOfWeek) * -1) + 1).Date;
    var endOfWeek = startOfWeek.AddDays(7).Date;
    var startOfMonth = new DateTime(now.Year, now.Month, 1).Date;
    var endOfMonth = startOfMonth.AddMonths(1).Date;
    var startOfLastMonth = new DateTime(now.Year, now.Month, 1).AddMonths(-1).Date;
}

<script type="text/javascript">
    $(document)
        .on('selected:grid', '#VWHR_PlanPerson', function (e, item) {
            if ($(this).data('kendoGrid').dataSource.filter().filters.length > 0) {
                var control = $.Enumerable.From($(this).data('kendoGrid').dataSource.filter().filters).Where(x => x.field == "Result" && x.operator == "eq" && x.value == "4").Count();
                if (control > 0) {
                    $('[data-go=""]').addClass('hide');
                    $('[data-goInsert=""]').addClass('hide')
                } else {
                    $('[data-go=""]').removeClass('hide')
                    $('[data-goInsert=""]').removeClass('hide')
                }
            }
            $('[data-go=""]').attr("data-href", '/HR/VWHR_PlanPerson/Update?id=' + item.id);
            $('[data-goInsert=""]').attr("data-href", '/HR/VWHR_Person/ManagerInsertToDetail?id=' + item.HrPersonId);
        })
</script>

<div class="row">
    <div class="col-md-2">
        <div class="ibox ">
            <div class="ibox-content mailbox-content">
                <div class="file-manager">
                    <a class="btn btn-sm btn-block btn-info" data-task="Insert" data-modal="true" data-href="/HR/VWHR_Person/ManagerInsert"><i class="fa fa-plus-circle"></i> Mülakat Yap </a>
                    <div class="space-25"></div>

                    <h5> DURUMUNA GÖRE </h5>

                    <ul class="folder-list m-b-md" style="padding: 0">
                        @if (userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.IKYonetici)))
                        {
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="">
                                    <i class="fa fa-list" style="color:black;"></i>   Tümü
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:black;" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount">1</span>
                            </li>

                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result~eq~'0')">
                                    <i class="fa text-success fa-check" style="color:#1ab394"></i>   Olumlu
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#1ab394" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result~eq~'0'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result~eq~'1')">
                                    <i class="fa text-danger fa-close" style="color:#ed5565"></i>   Olumsuz
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#ed5565" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result~eq~'1'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result~eq~'2')">
                                    <i class="fa text-primary fa-backward" style="color:#1c84c6"></i>   Tekrar Mülakat
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#1c84c6" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result~eq~'2'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result~eq~'3')">
                                    <i class="fa text-primary fa-question" style="color:#79a7d5"></i>   Diğer
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#79a7d5" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result~eq~'3'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result_Title~contains~'Henüz Görüşülmedi')">
                                    <i class="fa fa-bell"></i>   Henüz Görüşülmedi
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:gray" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result_Title~contains~'Henüz Görüşülmedi'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result_Title~contains~'Daha Sonra Karar Ver')">
                                    <i class="fa text-warning fa-spinner"></i>   Daha Sonra Karar Ver
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#f8ac59" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result_Title~contains~'Daha Sonra Karar Ver'">0</span>
                            </li>

                        }

                        else
                        {

                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(UserId~eq~'@userStatus.user.id')">
                                    <i class="fa fa-list" style="color:black;"></i>   Tümü
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:black;" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=UserId~eq~'@userStatus.user.id'">0</span>
                            </li>

                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result~eq~'0'~and~UserId~eq~'@userStatus.user.id')">
                                    <i class="fa text-success fa-check" style="color:#1ab394"></i>   Olumlu
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#1ab394" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result~eq~'0'~and~UserId~eq~'@userStatus.user.id'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result~eq~'1'~and~UserId~eq~'@userStatus.user.id')">
                                    <i class="fa text-danger fa-close" style="color:#ed5565"></i>   Olumsuz
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#ed5565" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result~eq~'1'~and~UserId~eq~'@userStatus.user.id'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result~eq~'2'~and~UserId~eq~'@userStatus.user.id')">
                                    <i class="fa text-primary fa-backward" style="color:#1c84c6"></i>   Tekrar Mülakat
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#1c84c6" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result~eq~'2'~and~UserId~eq~'@userStatus.user.id'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result~eq~'3'~and~UserId~eq~'@userStatus.user.id')">
                                    <i class="fa text-primary fa-question" style="color:#79a7d5"></i>   Diğer
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#79a7d5" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result~eq~'3'~and~UserId~eq~'@userStatus.user.id'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result_Title~contains~'Henüz Görüşülmedi'~and~UserId~eq~'@userStatus.user.id')">
                                    <i class="fa fa-bell"></i>   Henüz Görüşülmedi
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:gray" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result_Title~contains~'Henüz Görüşülmedi'~and~UserId~eq~'@userStatus.user.id'">0</span>
                            </li>
                            <li class="clearfix">
                                <a class="pull-left " href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="0" data-query="(Result_Title~contains~'Daha Sonra Karar Ver'~and~UserId~eq~'@userStatus.user.id')">
                                    <i class="fa text-warning fa-spinner"></i>   Daha Sonra Karar Ver
                                </a>
                                <span class="badge badge-warning pull-right m-l-md  m-t-xs" style="background:#f8ac59" data-counturl="/HR/VWHR_PlanPerson/DataSourceCount?filter=Result_Title~contains~'Daha Sonra Karar Ver'~and~UserId~eq~'@userStatus.user.id'">0</span>
                            </li>
                        }
                    </ul>

                    <div class="space-25"></div>
                    <h5> MÜLAKAT TARİHİNE GÖRE </h5>
                    <ul class="category-list" style="padding: 0">
                        <li><a href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="2" data-query="(UserId~eq~'@userStatus.user.id')"> <i class="fa fa-clock-o text-success"></i> Tümü </a></li>
                        <li><a href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="2" data-query="((PlanDate~gte~datetime'@now.ToString("yyyy-MM-ddT00-00-00")'~and~PlanDate~lte~datetime'@now.AddDays(1).ToString("yyyy-MM-ddT00-00-00")')~and~(UserId~eq~'@userStatus.user.id'))"> <i class="fa fa-clock-o text-navy"></i> Bugün </a></li>
                        <li><a href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="2" data-query="((PlanDate~gte~datetime'@now.AddDays(-1).ToString("yyyy-MM-ddT00-00-00")'~and~PlanDate~lte~datetime'@now.ToString("yyyy-MM-ddT00-00-00")')~and~(UserId~eq~'@userStatus.user.id'))"> <i class="fa fa-clock-o text-warning"></i> Dün </a></li>
                        <li><a href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="2" data-query="((PlanDate~gte~datetime'@startOfWeek.ToString("yyyy-MM-ddT00-00-00")'~and~PlanDate~lte~datetime'@endOfWeek.ToString("yyyy-MM-ddT00-00-00")')~and~(UserId~eq~'@userStatus.user.id'))"> <i class="fa fa-clock-o text-success"></i> Bu Hafta </a></li>
                        <li><a href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="2" data-query="((PlanDate~gte~datetime'@startOfWeek.AddDays(-7).ToString("yyyy-MM-ddT00-00-00")'~and~PlanDate~lte~datetime'@startOfWeek.ToString("yyyy-MM-ddT00-00-00")')~and~(UserId~eq~'@userStatus.user.id'))"> <i class="fa fa-clock-o text-danger"></i> Geçen Hafta </a></li>
                        <li><a href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="2" data-query="((PlanDate~gte~datetime'@startOfMonth.ToString("yyyy-MM-ddT00-00-00")'~and~PlanDate~lte~datetime'@endOfMonth.ToString("yyyy-MM-ddT00-00-00")')~and~(UserId~eq~'@userStatus.user.id'))"> <i class="fa fa-clock-o text-info"></i> Bu Ay</a></li>
                        <li><a href="#" data-grid="VWHR_PlanPerson" data-switch="radio" data-category="2" data-query="((PlanDate~gte~datetime'@startOfLastMonth.ToString("yyyy-MM-ddT00-00-00")'~and~PlanDate~lte~datetime'@startOfMonth.ToString("yyyy-MM-ddT00-00-00")')~and~(UserId~eq~'@userStatus.user.id'))"> <i class="fa fa-clock-o text-navy"></i> Geçen Ay </a></li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Mülakatlarım</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                @if (userStatus.AuthorizedRoles.Contains(new Guid(SHRoles.IKYonetici)))
                {
                    @(Html.Akilli()
                    .Grid<Infoline.WorkOfTime.BusinessData.VWHR_PlanPerson>("VWHR_PlanPerson").HtmlAttributes(new Dictionary<string, object>() { { "data-selection", "HrPlanId" } })
                    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWHR_PlanPerson", new { area = "HR" })).PageSize(25))
                    .Columns(x =>
                    {
                        x.Bound(y => y.Result_Title).Title("").ClientTemplate("#=TemplateEngine('planpersongrid',data)#").Filterable(false).Width(55);
                        x.Bound(y => y.PlanDate).Title("Mülakat Tarihi").Format(Extensions.DateFormatFull(true)).Width(170);
                        x.Bound(y => y.HRPerson_Title).Title("Mülakat Gerçekleştirilecek Kişi").Width(250);
                        x.Bound(y => y.UserId_Titles).Title("Mülakata Katılacaklar").Width(420);
                        x.Bound(y => y.Description).Title("Açıklama");
                        x.Bound(y => y.HrPlanId).Visible(false);
                    })
                    .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                    .Scrollable(x => x.Height(650))
                    .ToolBar(x =>
                    {
                        x.Custom().Text("<i class='fa fa-plus-circle' data-original-title='Yeni Mülakat Yap'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-modal", "true" },{ "data-goInsert", "" }, { "data-method", "GET" }, { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("ManagerInsertToDetail", "VWHR_PlanPerson", new { area = "HR" }));
                        x.Custom().Text("<i class='fa fa-info-circle' data-original-title='Mülakat Detayı'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" }, { "data-modal", "true" } }).Url(Url.Action("Detail", "VWHR_Plan", new { area = "HR" }));
                    }))
                }
                else
                {
                    @(Html.Akilli()
                         .Grid<Infoline.WorkOfTime.BusinessData.VWHR_PlanPerson>("VWHR_PlanPerson").HtmlAttributes(new Dictionary<string, object>() { { "data-selection", "HrPlanId" } })
                         .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWHR_PlanPerson", new { area = "HR" })).PageSize(25).Filter(c => c.UserId == userStatus.user.id))
                         .Columns(x =>
                         {
                             x.Bound(y => y.Result_Title).Title("").ClientTemplate("#=TemplateEngine('planpersongrid',data)#").Width(55).Filterable(false);
                             x.Bound(y => y.PlanDate).Title("Randevu Tarihi").Format(Extensions.DateFormatFull(true)).Width(160);
                             x.Bound(y => y.HRPerson_Title).Title("Mülakat Gerçekleştirilecek Kişi").Width(300);
                             x.Bound(y => y.UserId_Title).Title("Mülakat Gerçekleştiren Kişi").Width(300);
                             x.Bound(y => y.Description).Title("Açıklama");
                             x.Bound(y => y.HrPlanId).Visible(false).Hidden(true);
                         })
                         .Selectable(x => x.Mode(GridSelectionMode.Multiple))
                         .Scrollable(x => x.Height(650))
                         .ToolBar(x =>
                         {
                             x.Custom().Text("<i data-original-title='Yeni Mülakat Yap' class='fa fa-plus-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-modal", "true" }, { "data-method", "GET" }, { "data-show", "single" }, { "data-default", "" },{ "data-goInsert", "" } }).Url(Url.Action("ManagerInsertToDetail", "VWHR_PlanPerson", new { area = "HR" }));
                             x.Custom().Text("<i data-original-title='Devam Et' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" }, { "data-modal", "true" }, { "data-go", "" } }).Url(Url.Action("Update", "VWHR_PlanPerson", new { area = "HR" }));
                             x.Custom().Text("<i data-original-title='Mülakat Detayı' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" }, { "data-modal", "true" } }).Url(Url.Action("Detail", "VWHR_Plan", new { area = "HR" }));
                         }))
                }
            </div>
        </div>
    </div>
</div>
