@model Infoline.WorkOfTime.BusinessAccess.VMSV_ServiceModel
@using System.Globalization
@using Infoline.WorkOfTime.BusinessAccess
@{

    Layout = null;


}

<html>
<head>
    <title>&nbsp;&nbsp;</title>
    <script src="~/Content/2048-master/js/jquery.min.js"></script>
    <script src="~/Content/Kendo/js/kendo.all.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#detail").kendoQRCode({
                value: "@Model.code " + "\n" + "@Model.serialCode"+"\n"+ "@Model.Customer.fullName" +"\n"+ "@Model.Customer.phoneNumber ",
                size: 120,
                color: "#000000",
                background: "transparent"
            });
        });
        window.print();
    </script>
</head>
<body>
    <center>
        <span id="detail"></span>
        <div style="text-align:center;margin-top:10px">
            @Model.code<br />
            @Model.serialCode<br />
            @Model.Customer.fullName<br />
            @Model.Customer.phoneNumber
        </div>
    </center>
</body>
</html>