@model VMSV_ServiceModel
@{
    ViewBag.Title = Model.code + " Kodlu Servis Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stages = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<Infoline.WorkOfTime.BusinessAccess.EnumSV_ServiceStages>();
    var buttons = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<Infoline.WorkOfTime.BusinessAccess.EnumSV_ServiceActions>();
    var operationEnums = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumSV_ServiceOperation>().ToArray();
    var activeStage = "";
    var activeStageKey = 0;
    var activeStageIcon = "";
    var deliveryInfo = new VWSV_ServiceOperation();
    if (Model.ServiceOperations.Where(x => x.status == (short)EnumSV_ServiceOperation.Done).Count() > 0)
    {
        deliveryInfo = Model.ServiceOperations.Where(x => x.status == (short)EnumSV_ServiceOperation.Done).FirstOrDefault();
    }
    var hizmetTutari=(Model.ServiceOperations.Where(x => x.status == (short)EnumSV_ServiceOperation.ServicePriceAdded && x.dataTable == "PRD_Product").Sum(x => x.description.Length > 0 ? Convert.ToDouble(x.description) : 0));
    var harcamaTutari = Model.TotalSpended;
    var wasted = Model.TotalWasted;
    var tespit = Model.Problems.Where(x => x.type == (short)EnumSV_DeviceProblemType.Service).Sum(x => x.price.HasValue ? x.price.Value : 0);
}
<link href="~/Content/Custom/MyPage/css/General.css" rel="stylesheet" />
<style type="text/css">
    li {
        list-style: none;
    }

    .table-text {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #detailProduction .main-timeline2 .timeline2 {
        width: 16.6666% !important;
    }

    .tab-pane {
        padding: 0px !important;
    }

    #left .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 5s !important;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 100;
    }
    .table-mine{
        width:100%;
        align-content:center;
        height:90px;

    }
    .table-mine >tbody{
        width:90%;
       
    }
    
    .table-mine >tbody >tr>td{
        padding:2px;
        
    }
    .table-mine >tbody>tr>td:first-child{
        text-align:left;
        margin-right:25px;
    }
        .table-mine > tbody > tr > td:last-child {
            font-weight:bold;
            text-align:right;
            float:right;
        }
    .table-mine>tbody>tr:last-child{
        border-top:solid 1px black;
    }


</style>
<div class="animated slideInRight">
    <div id="detailProduction">
        <div class="clearfix " style="padding: 25px 30px 5px 30px;border: 1px solid rgba(202, 201, 201, 0.4);background: #fff;margin-bottom: 10px;">
            <div class="main-timeline2">
                @foreach (var stage in stages)
                {

                    if (Model.stage + 1 == Convert.ToInt32(stage.Key))
                    {
                        activeStage = stage.Value;
                        activeStageKey = Convert.ToInt32(stage.Key);
                        activeStageIcon = stage.Generic["icon"];
                    }
                    <div class="timeline2 @Html.Raw(Model.stage >= Convert.ToInt32(stage.Key) ? "green2" : "")">
                        <a href="#" style="cursor:default" class="timeline-content2" data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="@stage.Generic["description"]">
                            <div class=" @Html.Raw(Model.stage >= Convert.ToInt32(stage.Key) ? "timeline-yeargreen" : "timeline-year2")">
                                <span class="fa @stage.Generic["icon"] fa-2x"></span>
                            </div>
                            <div class="inner-content2">
                                <h3 class="title2"> @stage.Value</h3>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <i class="fa text-success fa fa-list-alt"></i> Servis Bilgileri
                    </h5>
                </div>
                <div class="ibox-content clearfix">
                    <div id="deviceInfo">
                        <div class="col-lg-4">
                            <dl class="dl-horizontal">
                                <dt>Form No</dt>
                                <dd>@Model.code</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Garanti Bitiş Tarihi: </dt>
                                <dd>@Model.WarrantyEnd  </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Aktivasyon Tarihi: </dt>
                                <dd> @Model.WarrantyStart </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Üretim Tarihi: </dt>
                                <dd> @Model.ProducedDate </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Başlama Tarihi</dt>
                                <dd>@(Model.ServiceOperations.Where(x => x.status == (short)EnumSV_ServiceOperation.Started&&x.created.HasValue).Count()>0? Model.ServiceOperations.Where(x => x.status == (short)EnumSV_ServiceOperation.Started && x.created.HasValue).FirstOrDefault().created.Value.ToShortDateString():"")</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Tamamlanma Tarihi</dt>
                                <dd>@(Model.ServiceOperations.Where(x => x.status == (short)EnumSV_ServiceOperation.Done&&x.created.HasValue).Count()>0? Model.ServiceOperations.Where(x => x.status == (short)EnumSV_ServiceOperation.Done && x.created.HasValue).FirstOrDefault().created.Value.ToShortDateString():"")</dd>
                            </dl>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-sm-9">
                                    <dl class="dl-horizontal">
                                        <dt>Tam Cihaz Adı: </dt>
                                        <dd>
                                            <span style="white-space: pre-wrap;word-break: break-all;"><strong><u>@Model.product_Title</u></strong></span>
                                            <a href="/PRD/VWPRD_Product/Detail?id=@Model.productId" target="_blank" class="text-navy " id="deviceId"> <i class="fa fa-link"></i> </a>
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Distribütör: </dt>
                                        <dd>
                                            @(Model.pRD_EntegrationAction.DistributorName)
                                        </dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Bayi: </dt>
                                        <dd>   @Model.pRD_EntegrationAction.CustomerOperatorName</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Satın Alınma Tarihi:</dt>
                                        <dd>@(Model.pRD_EntegrationAction.created.HasValue ? Model.pRD_EntegrationAction.created.Value.ToShortDateString() : "")</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>IMEI/Seri Numarası</dt>
                                        <dd>
                                            <b>@Model.VWPRD_Inventory.serialcode</b>
                                            <a href="/PRD/VWPRD_Inventory/Detail?id=@Model.VWPRD_Inventory.id" target="_blank" class="text-navy "> <i class="fa fa-link"></i> </a>
                                        </dd>
                                    </dl>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active" data-toggle="tooltip" data-placement="top" title="Cihaz Problemleri(Müşteri Beyanı)">
                        <a data-toggle="tab" href="#musteri" aria-expanded="true"><i class="fa fa-sliders text-success"></i></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Cihaz Problemleri(Teknik Servis Bulguları)">
                        <a data-toggle="tab" href="#tecnic" aria-expanded="true"><i class="  fa fa-cogs  text-success"></i></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Cihazın Yanında Gelenler">
                        <a data-toggle="tab" href="#uretimBildirimleri" aria-expanded="false"><i class="fa fa-inbox text-success" aria-hidden="true"></i></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Fire Bildirimi Yapılmış Ürünler">
                        <a data-toggle="tab" href="#fireBildirimleri" aria-expanded="false"><i class="icon-trash-1 text-success" aria-hidden="true"></i></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Harcama Bildirimi Yapılmış Ürünler">
                        <a data-toggle="tab" href="#harcanaBildirimleri" aria-expanded="false"><i class="icon-box-1 text-success" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="musteri">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Cihaz Problemleri(Müşteri Beyanı) </h5>
                            </div>
                            <div class="ibox-content clearfix">
                                @(Html.Akilli()
.Grid<Infoline.WorkOfTime.BusinessData.VWSV_DeviceProblem>("VWSV_DeviceProblem")
.DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSV_DeviceProblem", new { area = "SV" })).PageSize(25).Filter(b => b.serviceId == Model.id && b.type == (int)EnumSV_DeviceProblemType.Customer))
.Columns(x =>
{
    x.Bound(y => y.problemTypeId_Title).Title("Problem Tipi").Width(180);
    x.Bound(y => y.productId_Title).Title("Ürünü").Width(180);
    x.Bound(y => y.description).Title("Açıklama").Width(180);
})
.Selectable(x => x.Mode(GridSelectionMode.Multiple))
.ToolBar(x =>
{
}))
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tecnic">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Cihaz Problemleri(Teknik Servis Bulguları) </h5>
                            </div>
                            <div class="ibox-content clearfix">
                                @(Html.Akilli()
.Grid<Infoline.WorkOfTime.BusinessData.VWSV_DeviceProblem>("VWSV_DeviceProblemTecnical")
.DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSV_DeviceProblem", new { area = "SV" })).PageSize(25).Filter(b => b.serviceId == Model.id && b.type == (int)EnumSV_DeviceProblemType.Service))
.Columns(x =>
{
    x.Bound(y => y.warrantyTitle).Title("Garantiye Dahil Mi?").Width(180);
    x.Bound(y => y.problemTypeId_Title).Title("Problem Tipi").Width(180);
    x.Bound(y => y.productId_Title).Title("Ürünü").Width(180);
    x.Bound(y => y.price).Title("Fiyat").Width(100).ClientTemplate("#:kendo.toString(price,'N2')# ₺");
    x.Bound(y => y.description).Title("Açıklama").Width(180);
})
.Selectable(x => x.Mode(GridSelectionMode.Multiple))
.ToolBar(x =>
{
    x.Custom().Text("<i class='fa fa-plus-circle' data-original-title='Cihaz Problemi Ekle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" },{"id","deviceProblemAdd" }, { "data-method", "GET" }, { "data-modal", "true" }, { "data-blank", "" } }).Url(Url.Action("AddMultipleDeviceProblem", "VWSV_DeviceProblem", new { area = "SV",serviceId=Model.id , inventoryId=Model.inventoryId,productId=Model.productId }));
    x.Custom().Text("<i class='fa fa-trash' data-original-title='Tespit Edilen Cihaz Problemini Sil'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" },{ "id", "deviceProblemRemove" } }).Url(Url.Action("Delete", "VWSV_DeviceProblem", new { area = "SV" }));
}))
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="uretimBildirimleri">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Cihazın Yanında Gelenler</h5>
                            </div>
                            <div class="ibox-content clearfix">
                                @(Html.Akilli()
.Grid<Infoline.WorkOfTime.BusinessData.VWSV_DeviceCameWith>("VWSV_DeviceCameWith")
.DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSV_DeviceCameWith", new { area = "SV" })).PageSize(25).Filter(b => b.serviceId == Model.id))
.Columns(x =>
{
    x.Bound(y => y.productId_Title).Title("Ürün").Width(250);
    x.Bound(y => y.amount).Title("Miktar").Width(180);
    x.Bound(y => y.description).Title("Açıklama").Width(180);
})
.Selectable(x => x.Mode(GridSelectionMode.Multiple))
.ToolBar(x =>
{
    x.Custom().Text("<i class='fa fa-info-circle' data-original-title='Detay'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWSV_DeviceCameWith", new { area = "SV" }));
}))
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="fireBildirimleri">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Fire Bildirimleri</h5>
                            </div>
                            <div class="ibox-content clearfix" style="height:600px">
                                @(Html.Akilli()
.Grid<Infoline.WorkOfTime.BusinessData.VWPRD_TransactionItem>("Wasted")
.DataSource(x => x.Ajax().Read(r => r.Action("GetWastedProducts", "VWSV_Service", new { area = "SV",serviceId = Model.id })).PageSize(25))
.Columns(x =>
{
    x.Bound(y => y.productId_Title).Title("Ürün").Width(250);
    x.Bound(y => y.quantity).Title("Miktar").ClientTemplate("#:kendo.toString(quantity,'n2') #").Width(180);
    x.Bound(y => y.unitId_Title).Title("Birim").Width(180);
    x.Bound(y => y.createdby_Title).Title("İşlemi Yapan").Width(180);
})
.Selectable(x => x.Mode(GridSelectionMode.Single))
.ToolBar(x =>
{
    x.Custom().Text("<i class='fa fa-info-circle' data-original-title='Detay'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWPRD_Transaction", new { area = "PRD" }));
}))
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="harcanaBildirimleri">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Harcama Bildirimleri</h5>
                            </div>
                            <div class="ibox-content clearfix" style="height:600px">
                                @(Html.Akilli()
.Grid<Infoline.WorkOfTime.BusinessData.VWPRD_TransactionItem>("spended")
.DataSource(x => x.Ajax().Read(r => r.Action("GetSpendedProducts", "VWSV_Service", new { area = "SV",serviceId=Model.id })).PageSize(25))
.Columns(x =>
{
    x.Bound(y => y.productId_Title).Title("Ürün").Width(250);
    x.Bound(y => y.quantity).Title("Miktar").Width(180).ClientTemplate("#:kendo.toString(quantity,'n2') #").Width(180);
    x.Bound(y => y.unitId_Title).Title("Birim").Width(180);
    x.Bound(y => y.createdby_Title).Title("İşlemi Yapan").Width(180);
})
.Selectable(x => x.Mode(GridSelectionMode.Single))
.ToolBar(x =>
{
    x.Custom().Text("<i class='fa fa-info-circle' data-original-title='Detay'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWPRD_Transaction", new { area = "PRD" }));
}))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="left">
            <div class="col-sm-12" style="padding-left:0px">
                <div class="col-sm-6" style="padding:0px">
                    <div class="alert alert-warning " style="height:142px"  role="alert">
                        <table class="table-mine"  >
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="fa fa-cubes"></i>
                                    </td>
                                    <td>Harcama Bildirim Tutarı</td>
                                    <td>@harcamaTutari.ToString("N2") ₺</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-trash"></i>
                                    </td>
                                    <td>Fire Bildirim Tutarı</td>
                                    <td>@wasted.ToString("N2") ₺</td>
                                </tr>
                                <tr>
                                    <td><i class=" fa fa-wrench"></i></td>
                                    <td>Hizmet Bildirim Tutarı</td>
                                    <td>@hizmetTutari.ToString("N2") ₺</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-cogs"></i></td>
                                    <td>Tespit Tutarı</td>
                                    <td>@tespit.ToString("N2") ₺</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-plus"></i></td>
                                    <td></td>
                                    <td>@((harcamaTutari+ wasted+ hizmetTutari+ tespit).ToString("N2")) ₺</td>
                                </tr>
                            </tbody>
                        </table>



                        @*<span data-toggle="tooltip" data-placement="left" data-original-title="Toplam Hizmet Tutarı" style="margin-top: 8px; min-width: 100px; cursor: default " class="btn btn-info m-r-sm"><b> @(Model.ServiceOperations.Where(x=>x.status==(short)EnumSV_ServiceOperation.ServicePriceAdded&&x.dataTable=="PRD_Product").Sum(x=>x.description.Length>0? Convert.ToDouble(x.description):0).ToString("N2")) ₺ </b></span>
                        <span data-placement="left" data-original-title="Toplam Harcama Tutarı" style="margin-top: 8px; min-width: 100px; cursor: default" class="btn btn-primary m-r-sm"><b>@Model.TotalSpended.ToString("N2") ₺</b> </span>
                        <span data-placement="left" data-original-title="Toplam Fire Miktarı" style="margin-top: 8px; min-width: 100px; cursor: default" class="btn btn-warning"><b>@Model.TotalWasted.ToString("N2") ₺</b> </span>
                        <span data-placement="left" data-original-title="Toplam Teknik Servis Bulguları Ücreti" style="margin-top: 8px; min-width: 100px; cursor: default" class="btn btn-success"><b>@Model.Problems.Where(x => x.type == (short)EnumSV_DeviceProblemType.Service).Sum(x => x.price.HasValue ? x.price.Value : 0).ToString("N2") ₺</b> </span>*@
                    </div>
                 


                </div>
                <div class="col-sm-6"  style="padding-right:0px">
                    <div class="alert  @(Model.WarrantyStatus=="Garanti Dışı"?"alert-danger":"alert-success") " role="alert">
                        <h3 class="text-center   @(Model.WarrantyStatus=="Garanti Dışı"?"infinite animated text-danger flash ":"") "><i class="fa  @(Model.WarrantyStatus=="Garanti Dışı"?"fa-exclamation-triangle":"fa-check")  fa-4x "></i></h3>
                        <h3 class="text-center"><b>@Model.WarrantyStatus</b></h3>
                    </div>
                </div>
            </div>

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active" data-toggle="tooltip" data-placement="top" title="Müşteri Bilgileri">
                        <a data-toggle="tab" href="#musteriBilgileri" aria-expanded="true"><i class="fa fa-user text-success"></i></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Teslim Alma Bilgileri">
                        <a data-toggle="tab" href="#teslimBilgileri" aria-expanded="true"><i class="  fa fa-truck text-success"></i></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Teslim Etme Bilgileri ">
                        <a data-toggle="tab" href="#teslimEtmeBilgileri" aria-expanded="true"><i class=" fa-flip-horizontal  fa fa-truck text-success"></i></a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-bottom:20px">
                    <div class="tab-pane active" id="musteriBilgileri">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Müşteri Bilgileri</h5>
                            </div>
                            <div class="ibox-content clearfix">
                                <dl class="dl-horizontal">
                                    <dt>Müşteri Adı Soyadı</dt>
                                    <dd>@Model.Customer.fullName</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Telefon Numarası</dt>
                                    <dd>@Model.Customer.phoneNumber</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Telefon Numarası (Diğer)</dt>
                                    <dd>@Model.Customer.otherPhoneNumber</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>E-Posta Adresi</dt>
                                    <dd>@Model.Customer.email</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Adres</dt>
                                    <dd>@Model.Customer.Address</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="teslimBilgileri">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Teslim Alma Bilgileri</h5>
                            </div>
                            <div class="ibox-content clearfix">
                                <dl class="dl-horizontal">
                                    <dt>Teslim Eden Tipi</dt>
                                    <dd>@(Model.companyId.HasValue?"Bayi":"Müşteri")</dd>
                                </dl>
                                @if (Model.companyId.HasValue)
                                {
                                    <dl class="dl-horizontal">
                                        <dt>Teslim Eden Bayi</dt>
                                        <dd>@Model.companyId_Title</dd>
                                    </dl>
                                }
                                <dl class="dl-horizontal">
                                    <dt>Teslim Eden Açıklaması</dt>
                                    <dd>@Model.deliveryTypeDescription</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Teslim Tipi</dt>
                                    <dd>@Model.delivery_Title</dd>
                                </dl>
                                @if (Model.deliveryType == (short)EnumSV_ServiceDeliveryType.Cargo)
                                {
                                    <dl class="dl-horizontal">
                                        <dt>Kargo Firması</dt>
                                        <dd>@Model.cargoId_Title</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Kargo Takip Numarası</dt>
                                        <dd>@Model.cargoNo</dd>
                                    </dl>
                                }
                                <dl class="dl-horizontal">
                                    <dt>Teslim Açılaması</dt>
                                    <dd>@Model.deliveryTypeDescription</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="teslimEtmeBilgileri">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Teslim Etme Bilgileri</h5>
                            </div>
                            <div class="ibox-content clearfix">
                                <dl class="dl-horizontal">
                                    <dt>Teslim Alan Tipi</dt>
                                    <dd>@(deliveryInfo.CompanyId.HasValue?"Bayi":"Müşteri")</dd>
                                </dl>
                                @if (Model.companyId.HasValue)
                                {
                                    <dl class="dl-horizontal">
                                        <dt>Teslim Alan Bayi</dt>
                                        <dd>@deliveryInfo.companyId_Title</dd>
                                    </dl>
                                }

                                <dl class="dl-horizontal">
                                    <dt>Teslim Alma Tipi</dt>
                                    <dd>@deliveryInfo.delivery_Title</dd>
                                </dl>
                                @if (deliveryInfo.deliveryType == (short)EnumSV_ServiceDeliveryType.Cargo)
                                {
                                    <dl class="dl-horizontal">
                                        <dt>Kargo Firması</dt>
                                        <dd>@deliveryInfo.cargoId_Title</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Kargo Takip Numarası</dt>
                                        <dd>@deliveryInfo.CargoNo</dd>
                                    </dl>
                                }
                                <dl class="dl-horizontal">
                                    <dt>Teslim Açıklaması</dt>
                                    <dd>@deliveryInfo.description</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="tab-content" style="max-height: 700px;overflow: scroll;">
                    <div class="client-detail">
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            @foreach (var operation in Model.ServiceOperations.OrderByDescending(x => x.created))
                            {
                                var OpsEnum = operationEnums.Where(a => Convert.ToInt32(a.Key) == operation.status.Value).FirstOrDefault();
                                if (operation.status.Value != (short)EnumSV_ServiceOperation.ServicePriceAdded)
                                {
                                    <div class="vertical-timeline-block" data-select="@operation.status">
                                        <div class="vertical-timeline-icon" style="background-color:#@OpsEnum.Generic["color"];color: white;">
                                            <i class="@OpsEnum.Generic["icon"]"></i>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h5 class="text-left">@OpsEnum.Generic["description"]</h5>
                                            <p class="clearfix ">
                                                @Html.Raw(operation.description)
                                                <small style="font-size:9px;padding-top:2px;" class="pull-right"> @string.Format("{0:dd.MM.yyyy HH:mm}", operation.created)</small>
                                            </p>
                                            <div class="small text-muted m-t-sm"> İşlem Yapan :  @operation.createdby_Title </div>
                                            <div class="btnns m-t-xs">
                                                <a data-original-title="Detay" class="btn btn-xs btn-warning m-l-xs" data-href="@Url.Action("Detail", "VWSV_ServiceOperation", new { area = "SV", id=operation.id})" data-task="Insert" data-method="GET" data-modal="true" data-show="single"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.lastOperationStatus == (short)EnumSV_ServiceOperation.Canceled)
{
}
else
{
    <div class="fixedStart">
        <input type="checkbox" checked id="fixed">
        <label title="" for="fixed" id="fixed"><i class="fa-2x fa fa-plus"> </i></label>
        <div class="fix-buttons" id="buttons">
            @foreach (var button in buttons)
            {
                if (Model.ButtonPermission.Contains((EnumSV_ServiceActions)Convert.ToInt32(button.Key)))
                {
                    <a data-original-title="@button.Generic["description"]" style="background-color:#@button.Generic["color"]" @button.Generic["attr"]>
                        <i id="icon" class="@button.Generic["icon"]"></i>
                    </a>
                }
            }
        </div>
    </div>
}
<script type="text/javascript">
    var page = {
        stage:'@Html.Raw(activeStage)',
        stageKey: '@Html.Raw(activeStageKey)',
        stageIcon:'@Html.Raw(activeStageIcon)',
        methods: {
            setButtonServiceId: function() {
                $("#buttons [data-href]").each(function (i, item) {
                    var href = $(item).attr("data-href").replace("{{}}", "@Model.id");
                    $(item).attr("data-href", href);
                    var dataEnum = parseInt($(item).attr("data-enum"));
                    if (dataEnum==4) {
                        $(item).attr("data-ask", "Transfer Sürecinin Bitirmek İstediğinze Emin Misiniz?");
                    }
                    else if (dataEnum == 5) {
                        if (@Model.stage==1) {
                              var isHaveWarranty = '@(Model.Problems.Where(x => x.type == (short)EnumSV_DeviceProblemType.Service && x.warranty == false).Count()>0)';
                         if (isHaveWarranty == "False") {
                            $(item).attr("data-ask", "Tüm Değiştirilecek parçalar garantiye dahil olduğu için otomatik olarak tamir aşamasına geçilecektir.");
                            }
                        }

                        var stage = $(item).attr("data-original-title").replace("{{stage}}", page.stage + " Aşamasına Geç");
                        $(item).attr("data-original-title", stage);
                    }
                    else if (dataEnum == 108) {
                        var productId = $(item).attr("data-href").replace("{}", "@Model.productId");
                        $(item).attr("data-href", productId);
                        var inventoryId = $(item).attr("data-href").replace("[]", "@Model.inventoryId");
                        $(item).attr("data-href", inventoryId);
                    }
                    else if (dataEnum == 102) {
                        var inventoryId = $(item).attr("data-href").replace("%%", "@Model.inventoryId");
                        $(item).attr("data-href", inventoryId)
                    }
                });
            }
        }
                }
                if (page.stageKey==2) {
                    $('#deviceProblemAdd').show();
                    $('#deviceProblemRemove').show();

                }
                else {
                    $('#deviceProblemAdd').hide();
                    $('#deviceProblemRemove').hide();
                }
                page.methods.setButtonServiceId();
</script>
