@model Infoline.WorkOfTime.BusinessData.VWSV_Service
@{
    ViewBag.Title = "Kayıt Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="code">code</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.code, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="description">description</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.description, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="realStatus">realStatus</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.realStatus, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="deliveryType">deliveryType</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.deliveryType, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="deliveryDescription">deliveryDescription</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.deliveryDescription, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="cargoNo">cargoNo</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.cargoNo, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="didComeFromCompany">didComeFromCompany</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.didComeFromCompany, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="createdby_Title">createdby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.createdby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="changedby_Title">changedby_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.changedby_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="inventoryCode_Title">inventoryCode_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.inventoryCode_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="cargoId_Title">cargoId_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.cargoId_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="companyId_Title">companyId_Title</label>
        </div>
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.companyId_Title, new Dictionary<string, object>() 
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
        </div>
    </div>


    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
