@model VMSV_ServiceModel
@{
    ViewBag.Title = Model.code + " Kodlu Servis Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stages = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<Infoline.WorkOfTime.BusinessAccess.EnumSV_ServiceStages>();
    var buttons = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<Infoline.WorkOfTime.BusinessAccess.EnumSV_ServiceActions>();
    var operationEnums = Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumSV_ServiceOperation>().ToArray();
}
<link href="~/Content/Custom/MyPage/css/General.css" rel="stylesheet" />
<link href="css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
<script src="js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<style type="text/css">
    li {
        list-style: none;
    }

    .table-text {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #detailProduction .main-timeline2 .timeline2 {
        width: 16.66% !important;
    }

    .tab-pane {
        padding: 0px !important;
    }
</style>
<div class="animated slideInRight">
    <div id="detailProduction">
        <div class="clearfix " style="padding: 25px 30px 5px 30px;border: 1px solid rgba(202, 201, 201, 0.4);background: #fff;margin-bottom: 10px;">
            <div class="main-timeline2">
                @foreach (var stage in stages)
                {
                    <div class="timeline2 @Html.Raw(Model.stage>=Convert.ToInt32(stage.Key)?"green2":"")">
                        <a href="#" style="cursor:default" class="timeline-content2" data-toggle="tooltip" data-html="true" data-placement="top" data-original-title="@stage.Generic["description"]">
                            <div class=" @Html.Raw(Model.stage>=Convert.ToInt32(stage.Key)?"timeline-yeargreen":"timeline-year2")">
                                <span class="fa @stage.Generic["icon"] fa-2x"></span>
                            </div>
                            <div class="inner-content2">
                                <h3 class="title2"> @stage.Value</h3>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        <i class="fa text-success fa fa-list-alt"></i> Cihaz Bilgileri
                    </h5>
                </div>
                <div class="ibox-content clearfix">
                    <div id="deviceInfo">
                        <div class="col-lg-4">
                            <dl class="dl-horizontal">
                                <dt>Form No</dt>
                                <dd>@Model.code</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Garanti Durumu</dt>
                                <dd>@Model.WarrantyStatus</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Garanti Bitiş Tarihi: </dt>
                                <dd>@Model.WarrantyEnd  </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Aktivasyon Tarihi: </dt>
                                <dd> @Model.WarrantyStart </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Üretim Tarihi: </dt>
                                <dd> @Model.ProducedDate </dd>
                            </dl>
                        </div>
                        <div class="col-lg-8">
                            <dl class="dl-horizontal">
                                <dt>Tam Cihaz Adı: </dt>
                                <dd>
                                    <span style="white-space: pre-wrap;word-break: break-all;"><strong><u>@Model.product_Title</u></strong></span>
                                    <a href="/PRD/VWPRD_Product/Detail?id=@Model.ProductId" target="_blank" class="text-navy " id="deviceId"> <i class="fa fa-link"></i> </a>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Distribütör: </dt>
                                <dd>
                                    @Model.EntegrationAction.DistributorName
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Bayi: </dt>
                                <dd>   @Model.EntegrationImport.company_Name</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Satın Alınma Tarihi:</dt>
                                <dd>@(Model.EntegrationImport.contractStartDate.HasValue?Model.EntegrationImport.contractStartDate.Value.ToShortDateString():"")</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>IMEI/Seri Numarası</dt>
                                <dd>
                                    <b>@Model.VWPRD_Inventory.serialcode</b>
                                    <a href="/PRD/VWPRD_Inventory/Detail?id=@Model.VWPRD_Inventory.id" target="_blank" class="text-navy "> <i class="fa fa-link"></i> </a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active" data-toggle="tooltip" data-placement="top" title="Cihaz Problemleri">
                        <a data-toggle="tab" href="#kullanilanUrunler" aria-expanded="true"><i class="icon-box-1 text-success"></i></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Cihazın Yanında Gelenler">
                        <a data-toggle="tab" href="#uretimBildirimleri" aria-expanded="false"><i class="fa fa-inbox text-success" aria-hidden="true"></i></a>
                    </li>
                    <li data-toggle="tooltip" data-placement="top" title="Fire Bildirimi Yapılmış Ürünler">
                        <a data-toggle="tab" href="#fireBildirimleri" aria-expanded="false"><i class="icon-trash-1 text-success" aria-hidden="true"></i></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="kullanilanUrunler">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Cihaz Problemleri </h5>
                            </div>
                            <div class="ibox-content clearfix">
                                @(Html.Akilli()
    .Grid<Infoline.WorkOfTime.BusinessData.VWSV_DeviceProblem>("VWSV_DeviceProblem")
    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSV_DeviceProblem", new { area = "SV" })).PageSize(25).Filter(b=>b.serviceId==Model.id))
    .Columns(x =>
    {
        x.Bound(y => y.problemTypeId_Title).Title("Problem Tipi").Width(180);
        x.Bound(y => y.productId_Title).Title("Ürünü").Width(180);
        x.Bound(y => y.description).Title("description").Width(180);
    })
    .Selectable(x => x.Mode(GridSelectionMode.Multiple))
    .ToolBar(x =>
    {
    }))
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="uretimBildirimleri">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Cihazın Yanında Gelenler</h5>
                            </div>
                            <div class="ibox-content clearfix">
                                @(Html.Akilli()
    .Grid<Infoline.WorkOfTime.BusinessData.VWSV_DeviceCameWith>("VWSV_DeviceCameWith")
    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSV_DeviceCameWith", new { area = "SV" })).PageSize(25).Filter(b=>b.serviceId==Model.id))
    .Columns(x =>
    {
        x.Bound(y => y.productId_Title).Title("Ürün").Width(250);
        x.Bound(y => y.amount).Title("Miktar").Width(180);
        x.Bound(y => y.description).Title("Açıklama").Width(180);
    })
    .Selectable(x => x.Mode(GridSelectionMode.Multiple))
    .ToolBar(x =>
    {
        x.Custom().Text("Detay").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" } }).Url(Url.Action("Detail", "VWSV_DeviceCameWith", new { area = "SV" }));
    }))
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="fireBildirimleri">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Fire Bildirimleri</h5>
                            </div>
                            <div class="ibox-content clearfix" style="height:600px">
                                <div id="wastageProductsGrid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox-content">
                <div class="tab-content" style="max-height: 700px;overflow: scroll;">
                    <div class="client-detail">
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            @foreach (var operation in Model.ServiceOperations.OrderByDescending(x => x.created))
                            {
                                var OpsEnum = operationEnums.Where(a => Convert.ToInt32(a.Key) == operation.status.Value).FirstOrDefault();
                                <div class="vertical-timeline-block" data-select="@operation.status">
                                    <div class="vertical-timeline-icon" style="background-color:#@OpsEnum.Generic["color"];color: white;">
                                        <i class="@OpsEnum.Generic["icon"]"></i>
                                    </div>
                                    <div class="vertical-timeline-content">
                                        <h5 class="text-left">@OpsEnum.Generic["description"]</h5>
                                        <p class="clearfix ">
                                            @Html.Raw(operation.description)
                                            <small style="font-size:9px;padding-top:2px;" class="pull-right"> @string.Format("{0:dd.MM.yyyy HH:mm}", operation.created)</small>
                                        </p>
                                        <div class="small text-muted m-t-sm"> İşlem Yapan :  @operation.createdby_Title </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixedStart">
    <input type="checkbox" checked id="fixed">
    <label title="" for="fixed" id="fixed"><i class="fa-2x fa fa-plus"> </i></label>
    <div class="fix-buttons" id="buttons">
        @foreach (var button in buttons)
        {
            if (Model.ButtonPermission.Contains((EnumSV_ServiceActions)Convert.ToInt32(button.Key)))
            {
        <a data-original-title="@button.Generic["description"]" style="background-color:#@button.Generic["color"]" @button.Generic["attr"]>
            <i class="@button.Generic["icon"]"></i>
        </a>
            }
        }
    </div>
</div>
<script type="text/javascript">
    var page = {
        methods: {
            setButtonServiceId: function() {
                $("#buttons [data-href]").each(function (i, item) {
                    var href = $(item).attr("data-href").replace("{{}}", "@Model.id");
                    $(item).attr("data-href", href);
                    var dataEnum = $(item).attr("data-enum");
                    if (dataEnum==4) {
                        $(item).attr("data-ask", "Transfer Sürecinin Bitirmek İstediğinze Emin Misiniz?");
                    }
                  });
            }
        }
    }
    page.methods.setButtonServiceId();
</script>
