@{
    ViewBag.Title = "Teknik Servis Kayıtları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var now = DateTime.Now;
}
<style>
    .theme-config {
      
        top: 125px!important;

    }
</style>
<script>
    page = {
        load: function (e) {
        
            GetJsonDataFromUrl("/SV/VWSV_Service/GetIndexData", "", function (data) {
                data = data.objects;
                    $("#total").text(data.total);
                    $("#solved").text(data.fixeds);
                    $("#customer").text(data.waiting);
                    $("#device").text(data.diff);
            });
            


        }

    }
    $(document).on("ready", function (a) {
        var grid = $("#VWSV_Service").data("kendoGrid");
        grid.bind("dataBound", function (i) { page.load(); });});
   

   
</script>
<div class="row">
    <div class="col-sm-3">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa icon-tools fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>Toplam Servis Kaydı</span>
                    <h2 class="font-bold" id="total">0</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-check fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>Çözülmüş Servis Kaydı</span>
                    <h2 class="font-bold" id="solved">0</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>Fiyat Onayı Bekleyen Servis Kaydı</span>
                    <h2 class="font-bold" id="customer">0</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="widget style1 blue-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-mobile-phone fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>Teknik Servise Gelmiş Farkı Cihazlar</span>
                    <h2 class="font-bold" id="device">0</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@(Html.Akilli()
    .Grid<Infoline.WorkOfTime.BusinessData.VWSV_Service>("VWSV_Service")
    .DataSource(x => x.Ajax().Read(r => r.Action("DataSource", "VWSV_Service", new { area = "SV" })).PageSize(25))
    .Columns(x =>
    {
        x.Bound(y => y.id).Title("").ClientTemplate("#=TemplateEngine('serviceTemplate',data)#").Width(180).Sortable(false).Filterable(false);
        x.Bound(y => y.code).Title("Form Kodu").Width(100);
        x.Bound(y => y.Imei).Title("IMEI").Width(100);
        x.Bound(y => y.customerFullName).Title("Müşteri Adı").Width(100);
        x.Bound(y => y.customerPhoneNumber).Title("Telofon Numarası").Width(100);
        x.Bound(y => y.lastOperationStatus_Title).Title("Son Durum").Width(120);
        x.Bound(y => y.customerType_Title).Title("Teslim Eden Müşteri Tipi").Width(120);
        x.Bound(y => y.delivery_Title).Title("Teslim Edilme Tipi").Width(120);
        x.Bound(y => y.created).Title("Oluşturulma Tarihi").Width(100).Format(Extensions.DateFormatShort(true));
        x.Bound(y => y.createdby_Title).Title("Oluşturan").Width(100);

    })
    .Selectable(x => x.Mode(GridSelectionMode.Single))
    .Scrollable(x=>x.Height(600))
    .ToolBar(x =>
    {
        x.Custom().Text("<i data-original-title='Yeni Teknik Servis Kaydı Ekle' class='fa fa-plus-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "always" }, { "data-method", "GET" } ,{ "data-modal","false"},{ "data-blank",""} }).Url(Url.Action("Insert", "VWSV_Service", new { area = "SV" }));
        x.Custom().Text("<i data-original-title='Teknik Servis Kaydı Teslim Alma Formu' class='fa fa-print'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" }, { "data-modal", "false" }, { "data-blank", "" } }).Url(Url.Action("Print", "VWSV_Service", new { area = "SV" }));
        x.Custom().Text("<i data-original-title='Teknik Servis Kaydı Teslim Etme Formu' class='fa icon-print-2'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" }, { "data-modal", "false" }, { "id", "printEnd" },{ "data-blank", "" } }).Url(Url.Action("PrintEnd", "VWSV_Service", new { area = "SV" }));
        x.Custom().Text("<i data-original-title='Teknik Servis Kaydı QRCode' class='fa fa-qrcode'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-method", "GET" }, { "data-modal", "false" }, { "data-blank", "" } }).Url(Url.Action("Barcode", "VWSV_Service", new { area = "SV" }));
        x.Custom().Text("<i data-original-title='Teknik Servis Kaydı Düzenle' class='fa fa-edit'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" },{"id","edit"}, { "data-method", "GET" }, { "data-modal", "false" }, { "data-blank", "" } }).Url(Url.Action("Update", "VWSV_Service", new { area = "SV" }));
        x.Custom().Text("<i data-original-title='Teknik Servis Detayları' class='fa fa-info-circle'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-show", "single" }, { "data-default", "" },{ "data-modal", "false" }, { "data-blank", "" } }).Url(Url.Action("Detail", "VWSV_Service", new { area = "SV" }));
        x.Custom().Text("<i data-original-title='Teknik Servis Kaydını Sil' class='fa fa-trash'></i>").HtmlAttributes(new Dictionary<string, object>() { { "data-ask", "" } }).Url(Url.Action("Delete", "VWSV_Service", new { area = "SV" }));
    }))
<div class="theme-config">
    <div class="theme-config-box">
        <div class="spin-icon">
            <i class="fa fa-filter"></i>
        </div>
        <div class="skin-setttings">
            <div class="title">FİLTRELEME</div>
            <div class="file-manager">
                <h5>Aşamalar</h5>
                <ul class="category-list" style="padding:0px">
                    @foreach (var item in Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumSV_ServiceStages>())
                    {
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWSV_Service" data-switch="radio" data-category="0" data-query="(stage~eq~@item.Key')">
                                <i style="color:#@item.Generic["color"]" class="@item.Generic["icon"]"></i>  @item.Value
                            </a>
                        </li>
                    }

                </ul>
                <div class="space-25"></div>
                <h5> Son Durum </h5>
                <ul class="folder-list" style="padding: 0">

                    @foreach (var item in Infoline.Helper.EnumsProperties.EnumToArrayGeneric<EnumSV_ServiceOperation>().OrderBy(x => Convert.ToInt32(x.Generic["order"])))
                    {
                        <li class="clearfix">
                            <a class="pull-left" href="#" data-grid="VWSV_Service" data-switch="radio" data-category="0" data-query="(lastOperationStatus~eq~@item.Key')">
                                <i style="color:#@item.Generic["color"]" class="@item.Generic["icon"]"></i>  @item.Value
                            </a>
                        </li>
                    }




                </ul>




            </div>
        </div>
    </div>
</div>


<link href="~/Content/Custom/css/filter.css" rel="stylesheet" />
<script src="~/Content/Custom/js/filter.js"></script>
<script>
    $("#VWSV_Service").on("selected:grid", function (i) {
        var grid = $("#VWSV_Service").data("kendoGrid");
        var data=grid.dataItem(grid.select());
        if (data!=null) {
            if (data.stage >= 4) {
                $("#edit").hide();
                $("#printEnd").show();
            }
            else {
                $("#edit").show();
                $("#printEnd").hide();
            }
        }
    });
</script>