@model Infoline.WorkOfTime.BusinessAccess.VMSV_ServiceModel
@{
    var userStatus = (PageSecurity)Session["userStatus"];
    ViewBag.Title = "Yeni Servis Kaydı Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var page = {
        inputs: {
            deliveryType: function (e) {
                var data = e.sender.dataItem();
                if (data.Id == null) {
                    return;
                }
                if (data.Id == 2) {
                    page.inputs.showCargo();
                }
                else {
                    $("#DeliveryTpeActual").data("handler").value(null);
                    page.inputs.hideCargo();
                }
            },
            deliveryActual: function (e) {
                var data = e.sender.dataItem();
                if (data.Id == null) {
                    return;
                }
                if (data.Id == 2) {
                    page.inputs.showCargo();
                }
                else {
                    page.inputs.hideCargo();
                }
            },
            metarial: function () {
                var productId = $("#inventoryId").data("kendoDropDownList").dataItem().productId;
                if (productId == null) {
                    return;
                }
                $("#RowContainer_Problem").find('[data-problem="productId"]').each(function (i, item) {
                    $(item).removeAttr("disabled");
                    var kendo = $(item).data("kendoDropDownList");
                    if (kendo != undefined) {
                        kendo.destroy();
                    }
                    $(item).kendoDropDownList({
                        optionLabel: "Cihaz Parçası Seçiniz...",
                        dataTextField: "materialId_Title",
                        dataValueField: "materialId",
                        dataSource: {
                            transport: {
                                read: "/SV/VWSV_Service/ProductMaterielDataSource?productId=" + productId,
                            }
                        }
                    }).data("kendoDropDownList");
                });
            },
            cargoId: function () {
                $("#cargoNo").removeAttr("disabled");
                $("#cargoId").removeAttr("disabled");
                $("#cargoId").removeAttr("data-disabled");

            }
        },
        methods: {
            getDeviceInformation: function (e) {
                $("#deviceInfo").slideUp("fast");
                var data = e.sender.dataItem();
                if (data.id == null) {
                    return;
                }
                GetJsonDataFromUrl('/VWSV_Service/DeviceInformation', { inventoryId: data.id }, function (resp) {
                    if (resp == null) {
                        return;
                    }
                    if (resp.result == false) {
                        swal("Seri Numarasına Ait Ürün Yoktur", "Bu seri numarasına ait envanterde kayıtlı cihaz yoktur!", "warning");
                        return;
                    }
                    $("#inventoryLink").attr("href", "/PRD/VWPRD_Inventory/Detail?id=" + data.id);
                    page.inputs.metarial(e);
                    if (resp.objects == null) {
                        return;
                    }
                    $("#warranty").text(resp.objects.warranty);
                    $("#activation").text(resp.objects.activation);
                    $("#deviceName").text(resp.objects.deviceName);
                    $("#dist").text(resp.objects.dist);
                    $("#company").text(resp.objects.company);
                    $("#dateofMani").text(resp.objects.manifacturDate);
                    $("#dateofSell").text(resp.objects.sellingDate);
                    $("#warrantyStatus").text(resp.objects.warrantyStatus);
                    $("#deviceInfo").slideDown("fast");
                    $("#deviceId").attr("href", "/PRD/VWPRD_Product/Detail?id=" + resp.objects.deviceId ?? "");
                });
            }
        },
        productProblem: {
            counter: 0,
            RowDelete: function (_this) {
                var length = $("#RowContainer_Problem tr").length
                if (length <= 1) {
                    MesajWarning("En az bir cihaz sorunu olmalıdır.", "Silme İşlemi Başarısız");
                    return false;
                }
                var row = $(_this).parents("tr");
                $(row).remove();
            },
            AddRow: function () {
                var problems = $($('#rowForProductProblem').html());
                $('#RowContainer_Problem').append(problems);
                problems.find('[data-problem="id"]')
                    .attr('name', 'Problems[' + page.productProblem.counter + '].id')
                problems.find('[data-problem="problemTypeId"]')
                    .attr('name', 'Problems[' + page.productProblem.counter + '].problemTypeId')
                    .attr('data-insertUrl', '/SV/VWSV_Problem/Insert')
                    .attr('data-insertField', 'name')
                    .attr('data-modal', 'false')
                    .attr('data-refresh', 'true')
                    .kendoDropDownList(
                        {
                            "dataSource": {
                                "type": "aspnetmvc-ajax",
                                "transport": { "read": { "url": "/SV/VWSV_Problem/DataSourceDropDown" } },
                                "pageSize": 100,
                                "page": 1,
                                "total": 0
                            },
                            "dataTextField": "fullName",
                            "delay": 1000,
                            "filter": "contains",
                            "dataValueField": "id",
                            "optionLabel": "Lütfen Problem Tipini Seçiniz..",
                        });
                problems.find('[data-problem="productId"]')
                    .attr('name', 'Problems[' + page.productProblem.counter + '].productId')
                problems.find('[data-problem="description"]')
                    .attr('name', 'Problems[' + page.productProblem.counter + '].description')
                page.productProblem.counter++;
                setTimeout(function () {
                    var updateInput = $('#ServiceForm').data('bs.validator');
                    if (updateInput != null) {
                        updateInput.update();
                    }
                }, 250)
                page.inputs.metarial();
            }
        },
        cameWith: {
            counter: 0,
            RowDelete: function (_this) {
                var row = $(_this).parents("tr");
                $(row).remove();
                setTimeout(function () {
                    var updateInput = $('#ServiceForm').data('bs.validator');
                    if (updateInput != null) {
                        updateInput.update();
                    }
                }, 250)
            },
            AddRow: function () {
                var cameWith = $($('#rowForProductCameWith').html());
                $('#RowContainer_CameWith').append(cameWith);
                cameWith.find('[data-cameWith="id"]')
                    .attr('name', 'CameWith[' + page.cameWith.counter + '].id')
                cameWith.find('[data-cameWith="productId"]')
                    .attr('name', 'CameWith[' + page.cameWith.counter + '].productId')
                    .kendoDropDownList(
                        {
                            "dataSource": {
                                "type": "aspnetmvc-ajax",
                                "transport": { "read": { "url": "/PRD/VWPRD_Product/DataSourceDropDown" } },
                                "pageSize": 100,
                                "page": 1,
                                "total": 0
                            },
                            "dataTextField": "fullName",
                            "delay": 1000,
                            "filter": "contains",
                            "dataValueField": "id",
                            "optionLabel": "Lütfen Ürün Seçiniz Seçiniz..",
                        });
                cameWith.find('[data-cameWith="amount"]')
                    .attr('name', 'CameWith[' + page.cameWith.counter + '].amount')
                    .kendoNumericTextBox({ "format": "N0", "culture": "tr-TR", "spinners": false });
                cameWith.find('[data-cameWith="description"]')
                    .attr('name', 'CameWith[' + page.cameWith.counter + '].description')
                page.cameWith.counter++;
                setTimeout(function () {
                    var updateInput = $('#ServiceForm').data('bs.validator');
                    if (updateInput != null) {
                        updateInput.update();
                    }
                }, 250)
            }
        },
        validators: {
            nullChecker: function () {
                var errorList = [];
                $("table tr").each(function (i, item) {
                    $(item).find("input").each(function (a, input) {
                        var val = $(input).val();
                        if (val == '' || val == null) {
                            var index = $(input).parents("td:first")[0].cellIndex;
                            var head = $($(input).parents("table:first").find("th")[index]).text();
                            var tableName = $($(input).parents("fieldset").find("legend")).text();
                            var rowIndex = $(input).parents("tr:first")[0].rowIndex
                            if (head != "Ürün") {
                                errorList.push(tableName + " tablosunun " + rowIndex + " satırında " + head + " alanı boş olamaz!");
                            }
                        }
                    });
                });
                return errorList;
            }
        }
    }
    $(document)
        .on('change', '#location', function () {
            var location = $('#location').val()
            if (location != "") {
                GetJsonDataFromUrl('/General/GetVWUT_LocationByLocationInterSect', { location: location }, function (resp) {
                    if (resp) {
                        DropDownSetValue($("#openLocationId").data("kendoDropDownList"), resp.id);
                        $('#Customer_Address').val(resp.pid_Title);
                    }
                })
            }
        }).on("change", "#Customer_phoneNumber", function () {
            var val = $(this).val();
            GetJsonDataFromUrl("/SV/VWSV_Customer/GetByPhoneNumber", { phoneNumber: val }, function (data) {
                data = JSON.parse(data);
                if (data.objects != null) {
                    swal({
                        title: "Bu Telefon Numarasına Bağlı Müşteri Bulundu",
                        text: "Sistemde kayıtlı telefon numarası bulundu.\nMüşteri bilgiler doldurulsun mu?",
                        type: "warning",
                        content: "input",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Evet",
                        cancelButtonText: "Hayır",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $("#Customer_name").val(data.objects.name ?? "");
                            $("#Customer_lastName").val(data.objects.lastName ?? "");
                            $("#Customer_otherPhoneNumber").val(data.objects.otherPhoneNumber ?? "");
                            $("#openLocationId").data("handler").value(data.objects.openLocationId ?? "");
                            $("#Customer_Address").val(data.objects.Address ?? "");
                            $("#Customer_id").val(data.objects.id ?? "");
                            $("#Customer_email").val(data.objects.email ?? "");
                            $("#location").val(data.objects.location);
                            haritalar['location'].feature.remove('DrawLayer', 'DrawFeature');
                            haritalar['location'].feature.add('DrawLayer', 'DrawFeature', data.objects.location);
                            $("#location").trigger("change");
                            swal.close();
                        } else { }
                        swal.close();
                    });
                } else {
                    $('#sendData').attr('type', 'submit');
                    $('#sendData').trigger('click');
                }
            });
        }).on("ready", function () {
            page.cameWith.AddRow();
            page.productProblem.AddRow();
        }).on("change", "form", function () {
            setTimeout(function () {
                var updateInput = $('#ServiceForm').data('bs.validator');
                if (updateInput != null) {
                    updateInput.update();
                }
            }, 150)
        })
   
</script>
<script type="text/template" id="rowForProductProblem">
    <tr>
        <td>
            <div class="form-group">
                <input data-problem="problemTypeId" required class="k-input form-control" />
            </div>
        </td>
        <td>
            <div class="form-group">
                <input data-problem="productId" disabled class="k-input form-control" />
            </div>
        </td>
        <td>
            <div class="form-group">
                <input data-problem="description" required class="k-input form-control" placeholder="Açıklama Giriniz" />
            </div>
        </td>
        <td>
            <button class="btn btn-md btn-danger" data-original-title="Kaldır" onclick="page.productProblem.RowDelete(this)" type="button"><i class="fa fa-times"></i></button>
        </td>
    </tr>
</script>
<script type="text/template" id="rowForProductCameWith">
    <tr>
        <td>
            <div class="form-group">
                <input data-cameWith="productId" class="k-input form-control" />
            </div>
        </td>
        <td>
            <div class="input-group">
                <input data-cameWith="amount" class="k-input form-control" />
            </div>
        </td>
        <td>
            <div class="form-group">
                <input data-cameWith="description" required class="k-input form-control" placeholder="Açıklama Giriniz" />
            </div>
        </td>
        <td>
            <button class="btn btn-md btn-danger" data-original-title="Kaldır" onclick="page.cameWith.RowDelete(this)" type="button"><i class="fa fa-times"></i></button>
        </td>
    </tr>
</script>
@using (Html.BeginForm("Insert", "VWSV_Service", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal width90" },
    { "role", "form" },
    { "data-formType", "Ajax" },
    {"id","ServiceForm" }
}))
{
    <style>
        .col-8 {
            flex-grow: 1;
            transition: all 400ms ease;
        }

        .col-4 {
            width: 0;
            flex-shrink: 1;
            transition: all 400ms ease;
        }

        .ibox-content {
            padding-bottom: 9px !important;
        }

        form {
            background: none !important;
            padding: 5px !important;
        }

        #productProblem .form-group {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        #productCameWith .form-group {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .modal-lg {
            width: 95%;
        }

        .k-numerictextbox {
            width: 100% !important;
        }

        table.table-custom {
            table-layout: fixed;
        }

            table.table-custom thead {
                background-color: #d6d5d4;
                font-size: 11px;
            }

            table.table-custom tr {
                border-bottom: 1px #d6d5d4 solid;
            }

            table.table-custom tbody tr:last-child {
                border-bottom: none;
            }

            table.table-custom tbody td {
                padding: 6px !important;
            }

                table.table-custom tbody td > input {
                    width: 100%;
                    height: 100%;
                    padding: 10px 5px !important;
                }

            table.table-custom .k-widget.k-numerictextbox {
                width: 100% !important;
            }

                table.table-custom .k-widget.k-numerictextbox.k-input {
                    padding: 0px !important;
                }

            table.table-custom .k-numeric-wrap {
                border: 0px !important;
            }

                table.table-custom .k-numeric-wrap.k-state-focused, table.table-custom .k-numeric-wrap.k-state-hover {
                    box-shadow: none !important;
                }

                    table.table-custom .k-numeric-wrap.k-state-focused > input, table.table-custom .k-numeric-wrap.k-state-hover > input {
                        border-color: #1ab394 !important;
                    }

            table.table-custom .k-item {
                font-weight: 400 !important;
            }

            table.table-custom input:read-only {
                background: #f3f1f0 !important;
            }

            table.table-custom .input-group-addon {
                padding: 0 5px !important;
                font-size: 11px;
            }

            table.table-custom .form-control.k-widget {
                padding: 0px !important;
            }

            table.table-custom .k-multiselect.k-state-disabled .k-multiselect-wrap {
                background: #fcfcfc !important;
            }

            table.table-custom tbody tr td {
                vertical-align: middle !important;
            }

        .input-group .k-widget {
            margin-top: 1px !important;
        }

        .k-autocomplete.k-state-disabled, .k-picker-wrap.k-state-disabled, .k-numeric-wrap.k-state-disabled, .k-numeric-wrap.k-state-disabled .k-input, .k-numeric-wrap.k-state-disabled .k-select, .k-dropdown-wrap.k-state-disabled, .k-multiselect.k-header.k-state-disabled {
            background-color: #f3f3f3;
        }

        .input-group {
            width: 100%;
        }

        .width100 {
            width: 100% !important;
        }
    </style>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.Customer.id)
    @Html.HiddenFor(model => model.code)
    <div class="row">
        <div class="col-sm-4" id="col4">
            <div class="ibox">
                <div class="ibox-content clearfix">
                    <fieldset>
                        <legend><i class="fa ii-ambarmevcudu"/> Cihazın Gireceği Depo</legend>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md req" for="customerType">Cihazın Gireceği Depo</label>
                                @(Html.Akilli()
          .DropDownListFor(x => x.storageId)
          .OptionLabel("Cihazın Gireceği Depo Seçiniz")
          .DataTextField("fullName")
          .DataValueField("id")
          .Template("#=TemplateEngine('storageTemplate',data)#")
          .Action(b => b.Action("DataSourceDropDown", "VWCMP_Storage", new { area = "CMP" }))
          .Sort(x => x.Add("name").Ascending())
          .Filter<CMP_Storage>(x=>x.companyId==(userStatus.user.CompanyId.HasValue?userStatus.user.CompanyId.Value:Guid.Empty))
          .Validate(Validations.Required)
          .Execute("id"))
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content clearfix">
                    <fieldset>
                        <legend><i class="fa ii-hareketler" /> Teslim Eden Bilgileri</legend>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md req" for="customerType">Teslim Eden Tipi</label>
                                @(Html.Akilli()
        .DropDownListFor(model => model.customerType)
        .OptionLabel("Lütfen Teslim Eden Tipini Seçiniz Seçiniz..")
        .DataValueField("Id")
        .DataTextField("enumDescription")
        .Action(b => b.Action("GetEnums", "General", new { area = string.Empty }))
        .Sort(x => x.Add("enumKey").Ascending())
        .Filter<Infoline.WorkOfTime.BusinessData.SYS_Enums>(a => a.tableName == "SV_Service" && a.fieldName == "CustomerType")
        .Execute("enumKey")
          .Validate(Validations.Required)
                            )
                            </div>
                        </div>
                        <div class="form-group" data-cascade="#customerType" data-show="1" data-animation="fast">
                            <div class="col-sm-12">
                                <label class="control-label label-md" for="companyId">Teslim Eden Bayi</label>
                                @(Html.Akilli()
          .DropDownListFor(x => x.companyId)
          .OptionLabel("Bayi Seçiniz..")
          .DataTextField("fullName")
          .DataValueField("id")
          .Template("#=TemplateEngine('companyTemplate',data)#")
          .Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
          .Filter<VWCMP_Company>(x=>x.CMPTypes_Title.Contains("Bayi")|| x.CMPTypes_Title.Contains("bayi"))
          .Sort(x => x.Add("name").Ascending())
          .Execute("id"))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md " for="deliveryTypeDescription">Teslim Eden Açıklaması</label>
                                @Html.TextAreaFor(x => x.customerTypeDescription, new Dictionary<string, object>() {
                               { "class","from-control width100"},
                               {"placeholder","Teslim Açıklaması Girin.." },
                               })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="ibox" data-cascade="#customerType" data-show="1,2" data-animation="fast">
                <div class="ibox-content clearfix">
                    <fieldset>
                        <legend><i class="fa fa-exchange" /> Teslim Bilgileri</legend>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md req" for="deliveryType">Teslim Tipi</label>
                                @(Html.Akilli()
        .DropDownListFor(model => model.deliveryType)
        .OptionLabel("Lütfen Teslim Tipini Seçiniz Seçiniz..")
        .DataValueField("Id")
        .DataTextField("enumDescription")
        .Action(b => b.Action("GetEnums", "General", new { area = string.Empty }))
        .Sort(x => x.Add("enumKey").Ascending())
        .Filter<Infoline.WorkOfTime.BusinessData.SYS_Enums>(a => a.tableName == "SV_Service" && a.fieldName == "DeliveryType")
        .Execute("enumKey")
          .Validate(Validations.Required)
                            )
                            </div>
                        </div>
                        <div class="form-group" data-cascade="#deliveryType" data-show="2" data-animation="fast">
                            <div class="col-sm-12">
                                <label class="control-label label-md " for="cargoId">Kargo Firması</label>
                                @(Html.Akilli()
          .DropDownListFor(x => x.cargoId)
          .OptionLabel("Kargo Firması Seçiniz..")
          .DataTextField("fullName")
          .DataValueField("id")
          .Template("#=TemplateEngine('companyTemplate',data)#")
          .Action(b => b.Action("DataSourceDropDown", "VWCMP_Company", new { area = "CMP" }))
          .Sort(x => x.Add("name").Ascending())
           .Filter<VWCMP_Company>(x => x.CMPTypes_Title.Contains("kargo") || x.CMPTypes_Title.Contains("Kargo"))
          .Events(x=>x.Change("page.inputs.cargoId"))
          .Execute("id"))
                            </div>
                        </div>
                        <div class="form-group" data-cascade="#deliveryType" data-show="2" data-animation="fast">
                            <div class="col-sm-12">
                                <label class="control-label label-md " for="cargoNo">Kargo Takip Numarası</label>
                                @Html.TextBoxFor(model => model.cargoNo, new Dictionary<string, object>()
                                 {
                                     {"class", "form-control"},
                                     {"placeholder", "Lütfen Kargo Takip Numarası Girin.."},
                                 })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md" for="deliveryTypeDescription">Teslim Açıklaması</label>
                                @Html.TextAreaFor(x => x.deliveryTypeDescription, new Dictionary<string, object>() {
                               { "class","from-control width100"},
                               {"placeholder","Teslim Açıklaması Girin.." }
                               })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content clearfix">
                    <fieldset>
                        <legend><i class="fa fa-user" />  Müşteri Bilgileri</legend>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md req" for="phoneNumber">Telefon Numarası</label>
                                @Html.TextBoxFor(model => model.Customer.phoneNumber, new Dictionary<string, object>()
                    {
                        {"class", "form-control"},
                        {"placeholder", "Lütfen Müşterinin Telefonunu Girin.."},
                    }).Validate(Validations.TelefonNo(true))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md req" for="name">Ad</label>
                                @Html.TextBoxFor(model => model.Customer.name, new Dictionary<string, object>()
                    {
                        {"class", "form-control"},
                        {"placeholder", "Lütfen Müşteri Ad Girin.."},
                    }).Validate(Validations.TextName(true, 2, 50))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md req" for="Customer_lastName">Soyad</label>
                                @Html.TextBoxFor(model => model.Customer.lastName, new Dictionary<string, object>()
                    {
                        {"class", "form-control"},
                        {"placeholder", "Lütfen Müşteri Soyad Girin.."},
                    }).Validate(Validations.TextName(true, 2, 50))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md " for="lastName">Diğer Telefon Numarası</label>
                                @Html.TextBoxFor(model => model.Customer.otherPhoneNumber, new Dictionary<string, object>()
                    {
                        {"class", "form-control"},
                        {"placeholder", "Lütfen Müşterinin Diğer Telefonunu Girin.."},
                    }).Validate(Validations.TelefonNo(false))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label label-md req" for="Customer_otherPhoneNumber">E-Posta Adresi</label>
                                @Html.TextBoxFor(model => model.Customer.email, new Dictionary<string, object>()
                    {
                        {"class", "form-control"},
                        {"placeholder", "Lütfen Müşterinin E-Posta Adresini Girin.."},
                    }).Validate(Validations.EMail(true))
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label req label-md" for="location">Lokasyon</label>
                                @(
Html.Akilli().MapInputFor(x=>x.Customer.location).
HelpText("Lütfen Lokasyon seçiniz.").
HtmlAttributes(new Dictionary<string, object>()
                {
                    {"class", "form-control"},
                    {"placeholder", "Lütfen Lokasyon Seçiniz.."}
                }).
DrawMode(MapInput.DrawMode.Point).
ZoomLevel(5).
Navigation(true).
Opened(true).
Searchable(true)
            )
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label label-md" for="locationId">Ülke,İl,İlçe</label>
                                @(
Html.Akilli()
.DropDownListFor(model => model.Customer.openLocationId)
.OptionLabel("Lütfen Ülke,İl,İlçe seçiniz..")
.DataTextField("pid_Title")
.DataValueField("id")
.Action(b => b.Action("DataSourceDropDown", "VWUT_Location", new { area = "UT" }))
.Filter<VWUT_Location>(a => (a.code == "TR" && (a.type == (int)EnumUT_LocationType.İlce)) || (a.code != "TR" && a.type == (int)EnumUT_LocationType.Sehir))
.Sort(x => x.Add("pid_Title").Ascending())
.Execute()
            )
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label label-md " for="address">Adres</label>
                                @Html.TextAreaFor(model => model.Customer.Address, new Dictionary<string, object>()
                                 {
                                     {"class", "form-control"},
                                     {"placeholder", "Lütfen Adres giriniz.."}
                                 }).Validate(Validations.TextEverywhere(false, 0, 1000))
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="ibox">
                <div class="ibox-content clearfix">
                    <fieldset>
                        <legend><i class="fa flaticon-robot" />  Cihaz Bilgileri</legend>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="control-label label-md req " for="inventoryId">IMEI/Seri No Giriniz</label>
                                <div class="input-group">
                                    @(Html.Akilli()
          .DropDownListFor(x => x.inventoryId)
          .OptionLabel("Cihaz Seçiniz..")
          .DataTextField("fullNameProduct")
          .DataValueField("id")
          .Action(b => b.Action("DataSourceDropDown", "VWPRD_Inventory", new { area = "PRD" }))
          .Sort(x => x.Add("serialcode").Ascending())
          .Filter<VWPRD_Inventory>(x => x.lastActionType != (int)EnumPRD_InventoryActionType.Harcandi)
          .Events(x => x.Change("page.methods.getDeviceInformation"))
          .Validate(Validations.Required)
          .Execute("id"))
                                    <span class="input-group-addon">
                                        <a href="" id="inventoryLink" target="_blank"><i class="fa fa-link text-white"></i></a>
                                    </span>
                                </div>
                                <div class=""></div>
                            </div>
                        </div>
                        <div id="deviceInfo" style="display:none">
                            <div class="col-lg-4">
                                <dl class="dl-horizontal">
                                    <dt>Form No</dt>
                                    <dd>@Model.code</dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Garanti Durumu</dt>
                                    <dd id="warrantyStatus"></dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Garanti Bitiş Tarihi: </dt>
                                    <dd id="warranty">  </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Aktivasyon Tarihi: </dt>
                                    <dd id="activation">  </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Üretim Tarihi: </dt>
                                    <dd id="dateofMani">  </dd>
                                </dl>
                            </div>
                            <div class="col-lg-8">
                                <dl class="dl-horizontal">
                                    <dt>Tam Cihaz Adı: </dt>
                                    <dd>
                                        <span style="white-space: pre-wrap;word-break: break-all;"><strong><u id="deviceName"></u></strong></span>
                                        <a href="/PRD/VWPRD_Product/Detail?id=" target="_blank" class="text-navy " id="deviceId"> <i class="fa fa-link"></i> </a>
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Distribütör: </dt>
                                    <dd id="dist">
                                    </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Bayi: </dt>
                                    <dd id="company">  </dd>
                                </dl>
                                <dl class="dl-horizontal">
                                    <dt>Satın Alınma Tarihi:</dt>
                                    <dd id="dateofSell"></dd>
                                </dl>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content clearfix">
                    <fieldset>
                        <legend><i class="fa fa-exclamation-triangle" /> Cihaz Sorunları</legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="clearfix" id="productProblem">
                                    <table class="table table-bordered" cellpadding="1" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="33%">Sorun Tipi</th>
                                                <th width="33%">Ürün</th>
                                                <th width="30%">Açıklama</th>
                                                <th width="4%">  <button data-original-title="Yeni Cihaz Problemi Ekle" type="button" id="newProduct" class="btn btn-md btn-primary" onclick="page.productProblem.AddRow()"><i class="fa fa-plus"></i> </button></th>
                                            </tr>
                                        </thead>
                                        <tbody id="RowContainer_Problem">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content clearfix">
                    <fieldset>
                        <legend><i class="fa fa-hand-o-right" />  Cihazın Yanında Teslim Edilenler</legend>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="clearfix" id="productCameWith">
                                    <table class="table table-bordered" cellpadding="1" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th width="40%">Ürün</th>
                                                <th width="15%">Adet</th>
                                                <th width="40%">Açıklama</th>
                                                <th width="5%">  <button data-original-title="Cihazın Yanında Teslim Edilen Ürün Ekle" type="button" class="btn btn-md btn-primary" onclick="page.cameWith.AddRow()"><i class="fa fa-plus"></i> </button></th>
                                            </tr>
                                        </thead>
                                        <tbody id="RowContainer_CameWith">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox">
                    <div class="ibox-content clearfix">
                        <fieldset>
                            <legend><i class="fa fa-photo" /> Cihaz Fotoğrafları</legend>
                            @(Html.Akilli().FileUpload()
                                      .DataTable("SV_Service")
                                      .DataId(Model.id)
                                      .DataKey(x => x.fileGroup == "Cihaz Fotoğrafları").AutoSend(false))
                        </fieldset>
                    </div>
                </div>
                <div class="ibox-content clearfix">
                    <fieldset>
                        <legend><i class="fa fa-file-photo-o" />  Dosyalar</legend>
                        @(Html.Akilli().FileUpload()
                                      .DataTable("SV_Service")
                                      .DataId(Model.id)
                                      .DataKey(x => x.fileGroup == "Servis Dosyası").AutoSend(false))
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
    </div>
}
