@model Infoline.WorkOfTime.BusinessData.VWINV_CompanyPersonDepartments
@{
    ViewBag.Title = "Şirket Personel Pozisyonları Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .checkbox label, .radio label {
        min-height: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }
</style>

<div class="form-horizontal" data-selector="modalContainer">


    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="PersonId">Personel</label>
        </div>
        <div class="col-md-8">
            : @Html.Label("-", Model.Person_Title)
        </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md" for="Title">Ünvanı</label>
        </div>
        <div class="col-md-8">
            : @Html.Label("-", Model.Title)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="StartDate">Başlangıç Tarihi</label>
        </div>
        <div class="col-md-8">
            : @Html.Label("-", Model.EndDate != null ? Model.StartDate.Value.ToShortDateString() : "-")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <label class="control-label label-md" for="EndDate">Bitiş Tarihi</label>
        </div>
        <div class="col-md-8">
            : @Html.Label("-", Model.EndDate != null ? Model.EndDate.Value.ToShortDateString() : "-")
        </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md" for="IsBasePosition">Asli Görev mi?</label>
        </div>
        <div class="btn-group col-md-8 radio">
            : @Html.Label("-", Model.IsBasePosition.Value ? "Evet" : "Hayır")
        </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md" for="Department_Title">Departmanı</label>
        </div>
        <div class="col-md-8">
            : @Html.Label("-", Model.Department_Title)
        </div>
    </div>


    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md" for="Manager1_Title">1. Yönetici</label>
        </div>
        <div class="col-md-8">
            : @Html.Label("-", Model.Manager1_Title)
        </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-md-4">
            <label class="control-label label-md" for="Manager2_Title">2. Yönetici</label>
        </div>
        <div class="col-md-8">
            : @Html.Label("-", Model.Manager2_Title)
        </div>
    </div>






    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
