@model Infoline.WorkOfTime.BusinessData.VWSH_PersonWorkExperience
@{
    ViewBag.Title = "İş Deneyimi Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal" data-selector="modalContainer">
        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="User_Title">Kullanıcı Adı</label>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.User_Title, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="CompanyName">Şirket Adı</label>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.CompanyName, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="WorkingPosition">Çalışma Pozisyonu</label>
            </div>
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.WorkingPosition, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="JobStartDate">İş Başlangıç Tarihi</label>
            </div>
            <div class="col-md-8">
                
                @Html.TextBox("JobStartDate", Model != null && Model.JobStartDate != null ? Model.JobStartDate.Value.ToShortDateString() : "", new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="JobEndDate">İş Bitiş Tarihi</label>
            </div>
            <div class="col-md-8">
                @Html.TextBox("JobEndDate", Model != null && Model.JobEndDate != null ? Model.JobEndDate.Value.ToShortDateString() : "", new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label class="control-label label-md" for="JobDescription">İş Tanımı</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.JobDescription, new Dictionary<string, object>()
            {
                {"class", "form-control"},
                {"readonly", "readonly"}
            })
            </div>
        </div>

    <div class="buttons">
        <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
    </div>

</div>
