@using Infoline.WorkOfTime.BusinessAccess
@model Infoline.WorkOfTime.BusinessData.VWINV_Commissions
@{

    ViewBag.Title = "Islak İmzalı Görevlendirme Formunu Yükle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ApprovalFile", "VWINV_Commissions", FormMethod.Post, new Dictionary<string, object>() {
    { "class", "form-horizontal" },
    { "role", "form" },
    { "data-selector", "modalContainer" },
    { "data-formType", "Ajax" }
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.created)

    <fieldset>
        <legend>Proje Çalışma Oranları</legend>
        @foreach (var proje in ViewBag.projects)
        {
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md " for="projesi"> @proje.Project_Title projesi :</label>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.TextBox("yuzdelik___" + (Guid)proje.IdProject, (double)proje.Percentile, new Dictionary<string, object>()
                     {
                         {"class", "text-right form-control"},
                         {"placeholder", ""},
                     }).Validate(Validations.Number(true, maxLength: 4))
                        <span class="input-group-addon" id="yuzde" data-format="PermitTypeId">%</span>
                    </div>
                </div>
            </div>
                <div style="display:none;">
                    @Html.TextBox("commisId", (Guid)proje.IdCommissions, new Dictionary<string, object>() { })
                </div>
        }
    </fieldset>
        <fieldset>
            <legend>Formu Yükle</legend>
            <div class="form-group">
                <div class="col-md-4">
                    <label class="control-label label-md " for="Dosya">Islak İmzalı Görevlendirme Formu</label>
                </div>
                <div class="col-md-8">
                    @(
                    Html.Akilli().FileUpload()
                    .DataTable("INV_Commissions")
                    .DataId(Model.id)
                    .DataKey(x => x.fileGroup == "Islak İmzalı Görev Dosyası")
                    .Validate(true)
                    )
                </div>
            </div>
        </fieldset>

        <div class="buttons">
            <button class="btn btn-md btn-danger pull-left" data-task="modalClose">Geri</button>
            <button class="btn btn-md btn-success pull-right" type="submit">Kaydet</button>
        </div>
}